[2022-03-07 12:01] bundfussr commented on #939
`derive_param_tte()` behaves differently than the other functions. The new parameter is not based on existing parameters of the input dataset. Thus you can not use the `by_vars` parameter to retain variables. If you need to retain information from the source datasets like imputation flag or visit, you can use the `set_values_to` field of the `event_source()` or `censor_source()` class. See https:/

[2022-03-07 12:06] sophie-gem commented on #939
Many thanks @bundfussr , this makes sense. I have altered the above list and will bare this in mind.

[2022-03-07 13:15] amsmith214 commented on #622
i think i would vote to close this. i checked with alice, who said she thought this was resolved in the latest release. unless anyone has a specific reproducible example, i have not been able to get this behavior in my own testing.

[2022-03-07 15:56] bundfussr opened #1000 "Documentation: Add example to filter_extreme for pre-filtering the input dataset"
### Please select a category the issue is focused on?

Function Documentation

### Let us know where something needs a refresh or put your idea here!

Add example to filter_extreme for pre-filtering the input dataset

[2022-03-07 16:33] bundfussr opened #1001 "Documentation: Add more details to min_dates and max_dates parameter"
### Please select a category the issue is focused on?

Function Documentation

### Let us know where something needs a refresh or put your idea here!

Add more details to min_dates and max_dates parameter. Explain why
[code]
results in `"2020-07-06T12:12:12"`.

[2022-03-08 14:46] #995 closed

[2022-03-08 15:10] raqpau commented on #1000
Hi, is this request require adding example of the ex dataset before filtering first/last?

[2022-03-08 15:44] bms63 opened #1003 "Documentation: Typo in derive_vars_suppqual()"
### Please select a category the issue is focused on?

Function Documentation

### Let us know where something needs a refresh or put your idea here!

![image](https://user-images.githubusercontent.com/10111024/157272729-c0f7e340-3b89-4a43-b5da-cb3eb63eb6d6.png)

Remove the So and need spacing between two character and domain

[2022-03-08 15:46] bundfussr commented on #1000
The issue was created to address the following tester feedback.

The admiral team decided not to add a `filter` parameter as the input dataset can be easily restricted by calling `filter()` before `filter_extreme()`. An example should be added to demonstrate it. Something like
[code]

[2022-03-08 21:12] bms63 opened #1004 "Documentation: Incorrect TRTs in ADSL Template"
### Please select a category the issue is focused on?

User Guides

### Let us know where something needs a refresh or put your idea here!

![image](https://user-images.githubusercontent.com/10111024/157325809-1ccc5ce5-66a7-46e3-9195-690e2a7d4f65.png)

[2022-03-08 21:12] bms63 commented on #1004
They should be ARM and ACTARM like in the ADSL Vignette

[2022-03-08 21:36] bms63 commented on #1004
![image](https://user-images.githubusercontent.com/10111024/157329297-aa3ea4f6-3ee5-4d06-a4fb-49d4c307d2c0.png)

Using deprecated function

[2022-03-08 22:51] bms63 opened #1005 "Documentation: Get Started has incorrect trt variables in mutate"
### Please select a category the issue is focused on?

User Guides

### Let us know where something needs a refresh or put your idea here!

![image](https://user-images.githubusercontent.com/10111024/157339179-c4b6565b-5da4-46d4-8de3-be9ac4cf9d74.png)

Treatment variables are not correct.  Should be TRT01P = ARM and TRT01A = ACTARM

[2022-03-08 23:27] teckla-gsk opened #1006 "Documentation: ADSL Vignette, typo in derive_var_disposition_reason and template script doesn't match sample code"
### Please select a category the issue is focused on?

User Guides

### Let us know where something needs a refresh or put your idea here!

The function derive_var_disposition_reason should be derive_VARS_disposition reason. Also, the script within the vignette does not match the example script ad_adsl.R

![image](https://user-images.githubusercontent.com/82049812/157342892-f6ab7c93-885f-458b-8339

[2022-03-09 08:46] thomas-neitmann commented on #1005
@makropoa This would be a nice little issue to get started with.

[2022-03-09 08:46] thomas-neitmann commented on #1005
The `vignettes/adsl.Rmd` file would need to be updated.

[2022-03-09 08:47] thomas-neitmann commented on #1004
@makropoa Maybe another one for you to pick up?

[2022-03-09 09:01] bundfussr commented on #1005
Both options `TRT01P = ARM, TRT01A = ACTARM` and `TRT01P = ARMCD, TRT01A = ACTARMCD` are valid (for parallel studies).

Thus I am wondering if it is worth updating the vignette.

[2022-03-09 09:35] thomas-neitmann commented on #1005
While both might be valid I would preder the long-form `ARM` and `ACTARM` text over just the short tern `--CD` variables. Plus it's a nice first issue for some of our contributors to pick up.

[2022-03-09 13:32] aehmann-gsk commented on #977
@thomas-neitmann I have time today/tomorrow.  Is it ok if I create a pull request and draft this function with an associated derive_param?

[2022-03-09 15:07] kabis-ops commented on #622
Hi @amsmith214 , i have tried to reproduce the issue this with some study data but actually it seems everything works fine now. So, I guess we could close this issue?

[2022-03-09 16:00] bms63 commented on #622
Yes lets close!  We can reopen or start another if it comes up again.

[2022-03-09 16:26] #622 closed

[2022-03-10 13:21] rossfarrugia commented on #1004
i can work on this one, i just took another ADSL template issue, so can work through both

[2022-03-10 13:23] rossfarrugia commented on #1003
@bms63 dont worry with fixing this one as this function needs to be deprecated, as will move to metatools. see https://github.com/pharmaverse/admiral/issues/950

[2022-03-10 13:23] #1003 closed

[2022-03-10 13:47] rossfarrugia commented on #1006
@teckla-gsk i found this has already been fixed by Rena in https://github.com/pharmaverse/admiral/issues/969. Also I don't think the vignettes do always 100% match the templates. The vignettes show more detailed possibilities, but the templates are focused on more the things which are most generic and likely to be needed by all, e.g. vars like DCSREAS are likely quite protocol-specific so the vign

[2022-03-10 13:47] #1006 closed

[2022-03-10 14:03] rossfarrugia commented on #935
@bundfussr i'll try this update and will ask you to review when ready. i understand it as you're asking for a comment to be added to explain the option, but not to update the template code itself with this - as currently it doesn't have this option set:

[code]

Correct me if I'm wrong and you're asking for the code itself to make this the default option too though.

[2022-03-10 14:18] rossfarrugia commented on #935
@bundfussr also i noticed in https://pharmaverse.github.io/admiral/reference/derive_var_ontrtfl.html, the following should be ref_start_date:
![image](https://user-images.githubusercontent.com/82581364/157680710-ab83e34d-a7af-4361-a7ae-63ce5ceb6ed2.png)

As per this section:
![image](https://user-images.githubusercontent.com/82581364/157680659-e3619e54-b02c-4e9c-8d74-ed7303898924.png)

Will update

[2022-03-10 14:44] bundfussr commented on #935
@rossfarrugia , Yes, you are right.

The issue is related to the following tester feedback.

1/ ONTRTFL : suggest to update template call to derive_var_ontrtfl : have a comment about the option span_period = "Y"/NULL. In my experience, for CM, also medications that started prior drug intake are being considered as on-treatment (but non treatment emergent). It can vary accross organizations, at the

[2022-03-10 19:12] bms63 commented on #943
Hi @konstantinakoukR  is it okay if I work on this??

[2022-03-10 19:14] bms63 commented on #943
Since this is deriving potential 3 variables - should it be derive_vars_analysis_ratio()

[2022-03-10 19:47] bms63 commented on #996
I'm fine with adding a General Issue Template.  You can also just create a regular issue using

![image](https://user-images.githubusercontent.com/10111024/157742821-1d5d9e93-1871-4c8f-aa81-8f285133ab95.png)

@pharmaverse/admiral Any thoughts?

[2022-03-11 08:45] #873 closed

[2022-03-11 13:13] rossfarrugia commented on #968
Also impacts ADaM templates that use admiral.test, and whoever takes on please also make an issue here https://github.com/pharmaverse/admiral.test/issues and update for this package which is a dependency of admiral. let's sync the updates before next releases and then update on CRAN also.

[2022-03-11 22:16] traceyxw commented on #690
I think the help page for call_derivation() is quite clear but the example used in the help page for params() is outdated. I just added the same example from call_derivation() to params() which I think would help understand the use of the two together.

[2022-03-14 15:54] bundfussr opened #1013 "Documentation: Clarify difference between compute_duration and derive_duration"
### Please select a category the issue is focused on?

Function Documentation

### Let us know where something needs a refresh or put your idea here!

Title and description of `compute_duration()` and `derive_duration()` is the same. It should be updated to clarify the difference.

[2022-03-15 15:01] duniek opened #1014 "create a bot reminder on slack"
### Details
Create a bot that would remind people about the monthly contributor onboarding session

### Definition of done
- [ ] bot set up and tested

[2022-03-15 15:32] duniek opened #1015 "create a backbone for PM presentation"

[2022-03-15 15:57] rossfarrugia opened #1016 "Documentation: add DTHCAUS extra example"
### Please select a category the issue is focused on?

Function Documentation

### Let us know where something needs a refresh or put your idea here!

https://pharmaverse.github.io/admiral/reference/derive_var_dthcaus.html - could benefit from a non-standard and bit more complex example with 3 different sources and using DS twice with different filters. I had to figure this out when comparing it a

[2022-03-15 16:06] rossfarrugia opened #1017 "Documentation: Update default filter_ex shown in documentation for derive_var_trtsdtm / derive_var_trtedtm"
### Please select a category the issue is focused on?

Function Documentation

### Let us know where something needs a refresh or put your idea here!

https://pharmaverse.github.io/admiral/reference/derive_var_trtsdtm.html - at top says:
``filter_ex = (EXDOSE > 0 | (EXDOSE == 0 & str_detect(EXTRT, "PLACEBO"))) &
    nchar(EXSTDTC) >= 10,``

But instruction in the Arguments section below says:
``De

[2022-03-15 16:48] bms63 opened #1018 "Feature Request: Investigate Hy's Law function for ADLB"
### Feature Idea

Investigate Hays Law function for ADLB

### Relevant Input

N/A

### Relevant Output

N/A

### Reproducible Example/Pseudo Code

N/A

[2022-03-16 09:53] millerg23 commented on #1018
Initial investigation found this: https://www.fda.gov/media/116737/download
In particular:
**4. Assessment of Hy’s Law Cases in the Clinical Trials Database**
_NDA and BLA submissions should include a listing of possible Hy’s Law cases identified by
treatment group (e.g., subjects with any elevated AT of >3xULN, ALP <2xULN, and associated
with an increase in bilirubin ≥2xULN)._

[2022-03-16 14:57] millerg23 opened #1019 "Documentation: ADSL Vignette and template script updates"
### Please select a category the issue is focused on?

User Guides

### Let us know where something needs a refresh or put your idea here!

ADSL vignette needs updated to replace function `derive_agegrp_fda` with `derive_var_agegrp_fda`.
Also make use of new function `derive_var_merged_exist_flag()` for population flags.
Review anywhere else the new `derive_var_merged_xxxxx` functions may be used.

[2022-03-16 15:24] rossfarrugia commented on #856
Adding an example function call of how this could look that Gordon shared with me for whoever picks this up:

derive_var_agegr(
  sourve_var = AAGE,
  new_var = AGEGR1,
  grouping_map = get_map(
    0 - 64 := "<65",
    65 - inf := ">=65")
)

Reminder would need same updates then in ADSL template and vignette

[2022-03-17 11:37] bundfussr opened #1020 "Feature Request: Enable imputing day only"
### Feature Idea

The imputation functions should allow to impute the day only, i.e., if only the day is missing, it is imputed, if month and day are missing, `NA` is returned.

### Relevant Input

[code]

### Relevant Output

[code]

### Reproducible Example/Pseudo Code

We love example code and it will speed up the process! REMINDER: no patient level data or company sensitive information should

[2022-03-17 11:48] bundfussr commented on #1020
Other imputation related issues: #1001, #907, #879, #761, #727

[2022-03-17 12:14] rossfarrugia commented on #856
Question for the core team to consider: is this really worth it when the user could just create a simple user function for their needs using case_when like in our ADSL vignette example: https://pharmaverse.github.io/admiral/articles/adsl.html?search-input=ADAE#derive-groupings-and-populations. Would we just be creating our own admiral version of case_when by creating get_map() ?

Plus in our prog

[2022-03-17 12:14] bundfussr opened #1021 "Feature Request: Implement a map class similar to SAS formats"
### Feature Idea

A `get_map()` function should be implemented which returns a function. This could be used to define mapping of character values to numeric values of grouping.

### Relevant Input

What should the input look like? REMINDER: no patient level data or company sensitive information should be shared via this open public issue

### Relevant Output

What should the output look like? REMI

[2022-03-17 12:30] bundfussr commented on #856
The `derive_var_agegr()` function should also take different units of the age variable into account (like `derive_ver_agegr_ema()` does).

The intention of `get_map()` is to improve the readability of the definition and and include the definition in the object. I.e., a map object does not require additional documentation as it is contained in the object (see https://github.com/pharmaverse/admiral/

[2022-03-17 13:01] bundfussr opened #1022 "Feature Request: Implement `derive_param_merged()`"
### Feature Idea

Implement
[code]
The derive_param_merged function:

1. calls `derive_vars_merged()` with `dataset = dataset_base`,
2.  adds the variables specified by `set_values_to` (ideally `set_value_to` should accept expression on the right hand side),
3.  adds the observations to `dataset`

### Relevant Input

What should the input look like? REMINDER: no patient level data or company sensi

[2022-03-17 13:03] rossfarrugia commented on #684
I've not been part of all these background discussions here but as you tagged me @bms63 i'll do my best to comment with my understanding. i think the history here comes from the fact we tried to start with the principle of making admiral as flat as possible so each function would create a dedicated variable/parameter. but then i think we got external testing feedback saying we had redundant or ver

[2022-03-17 16:11] bundfussr opened #1023 "Feature Request: Implement `filter_relative()` function"
### Feature Idea

The `filter_relative()` function select all observations before or after a certain event, e.g., all observations before disease progression.

### Relevant Input

What should the input look like? REMINDER: no patient level data or company sensitive information should be shared via this open public issue

### Relevant Output

What should the output look like? REMINDER: no patient l

[2022-03-17 16:42] bundfussr opened #1024 "Feature Request: Implement `derive_param_extreme_dt()`"
### Feature Idea

Implement
[code]
The `derive_param_extreme_dt` function:
1. calls `derive_var_extreme_dt()` with `dataset = dataset_base`,
2. adds the variables specified by `set_values_to`,
3. adds the observations to `dataset`

### Relevant Input

What should the input look like? REMINDER: no patient level data or company sensitive information should be shared via this open public issue

### R

[2022-03-17 17:03] bundfussr opened #1025 "Feature Request: Implement `derive_param_merged_dt()`"
### Feature Idea

Implement
[code]
The `derive_param_merged_dt()` function:
1. calls `derive_vars_merged_dt()` with `dataset = dataset_base`,
2.  adds the variables specified by `set_values_to`,
3.  adds the observations to `dataset`

### Relevant Input

What should the input look like? REMINDER: no patient level data or company sensitive information should be shared via this open public issue

##

[2022-03-17 17:11] teckla-gsk opened #1026 "Onboarding: New GSK contributors"
### Onboarding tasks for Core (Roche-GSK) Team Members

- [x] Given a tour of Github from a Core member
- [x] Understand how to Create Issues and do a Pull Request
- [x] Understand the Programming Strategy
- [x] Read and understand [Developer Guides Articles](https://pharmaverse.github.io/admiral/index.html)
- [x] Invited to all relevant meetings - Stand Ups, Retrospective, Sprint Planning, Questi

[2022-03-17 17:27] bms63 commented on #684
Thanks Ross.  I have had this issue tagged to me for a while.  I just wanted to make sure it was still relevant.  This takes time to do, but hopefully we can make some more headway on it.

[2022-03-18 09:54] koegerr commented on #856
I am not sure if it is a good idea to create more helper functions that sit in other functions if it is purely about conditioning (case when ...).
One of the problems about this is usually that we create too many layers and code becomes difficult to read or understand.

basic joins, or if then else conditions should not be wrapped up too much. Simplicity is the key benefit of admiral. Creating too

[2022-03-18 10:10] koegerr commented on #607
Hi,

I can see the usefulness of these functions. And sorry for coming to this with a delay. But could we have a look at this to which degree we would like to use them because they are very general and would allow to some degree the derivation of variables which should have their own function.

[2022-03-18 10:44] bundfussr commented on #607
@koegerr , could you provide some examples where you would prefer a own function instead of calling one of the more general ones?

[2022-03-18 10:55] koegerr commented on #1021
Can we have a look why this is needed? Please see my comment in https://github.com/pharmaverse/admiral/issues/856#issuecomment-1070863229

would be good if Thomas is there as well.

[2022-03-18 11:11] rossfarrugia commented on #684
hi @bms63 , I’ve reflected on this one and I would suggest to help new developers and users understand our strategy, we should add an extra bullet to the Usage section of our homepage (so that it’s one of the first things people see) that says something like:

- In our effort to create simple modular functions, we sometimes group similar derivations under one “analysis concept” that can be achieve

[2022-03-18 12:05] bundfussr commented on #856
The intention is not to implement more helper functions or create additional layers. The intention is to simplify the creation of user specific helper functions which act like SAS formats.

For example if users need to define an age grouping, they could define a function like the following.
[code]

The idea of `get_map()` is that technicalities like name of the argument, checking input values, ret

[2022-03-18 12:07] bms63 commented on #1026
I can't find Vishnu, Ramesh or Mary yet on GitHub

[2022-03-18 12:08] bundfussr commented on #1021
It is already on the agenda of the Monday meeting.

Please also see my comment in #856 regarding the intention of `get_map()`.

[2022-03-18 12:11] teckla-gsk opened #1027 "Feature Request: test 1"
### Feature Idea

`derive_var_dtm` should do x, y and z

### Relevant Input

What should the input look like? REMINDER: no patient level data or company sensitive information should be shared via this open public issue

### Relevant Output

What should the output look like? REMINDER: no patient level data or company sensitive information should be shared via this open public issue

### Reproducibl

[2022-03-18 12:36] bms63 opened #1028 "Documentation: Remove Sprint Planning and Retrospective form Onboarding Tasks"
### Please select a category the issue is focused on?

Other

### Let us know where something needs a refresh or put your idea here!

Onboarding Issue Template still talks about Sprint Planning which is no longer being used.

These Issue Templates are in the `.github` folder and this phrasing needs to be removed from the template.

[2022-03-18 12:43] #1027 closed

[2022-03-18 13:13] bms63 commented on #1026
Vishnu is added, but I think Mary needs to accept invite

[2022-03-18 13:28] bundfussr opened #1030 "Feature Request: Implement `derive_param_merged_multi()`"
### Feature Idea

Implement
[code]
The `derive_param_merged_multi()` function:
1. calls `derive_vars_merged()` with `dataset = dataset_base` for each source (only observations are considered for which no match was found before, e.g., patients where CR was found are not considered for PR),
2. adds the variables specified by `set_values_to`,
3. adds the observations to `dataset`

### Relevant Input

[2022-03-18 13:52] bundfussr opened #1031 "Feature Request: Implement `derive_param_joined_multi()`"
### Feature Idea

Implement
[code]
The `derive_param_joined_multi()` function is intended for parameters which take more than one observation of the input dataset into account, e.g., confirmed response, where the response has to be confirmed by a second response result fulfilling certain conditions like 30 days apart.

The function:
1. joins `dataset_add` with itself and groups it  by a unique key

[2022-03-20 14:58] sophie-gem commented on #939
Template scripts that need this:
- [ ] ad_adeg.R
- [ ] ad_adex.R
- [ ] ad_advs.R

Vignettes that need this:
- [ ] bds_finding.Rmd
- [ ] bds_exposure.Rmd

[2022-03-20 15:50] sophie-gem commented on #939
Hi @thomas-neitmann

In the `bds_finding.Rmd` vignette, there is a typo in the following code block (lines 345-351):
[code]

There is no function called `derive_param_qtcf` and I am assuming that this should be `derive_param_qtc`. Are you happy for me to alter this here or should I open a new issue?

[2022-03-20 16:41] sophie-gem commented on #939
@bundfussr / @thomas-neitmann

With regards to making the documentation clear, I have currently inserted (yellow highlighted text):

![image](https://user-images.githubusercontent.com/90790226/159172709-e0fc9fd1-d2cd-4e31-88dd-ec655cf52907.png)

However, I was wondering whether a note should also be made in the 'Details' or 'Value' sections of the documentation, or whether that would be overkill?

[2022-03-20 19:00] bms63 opened #1032 "Documentation: adeg template has outdated flag_imputation settings"
### Please select a category the issue is focused on?

Other

### Let us know where something needs a refresh or put your idea here!

The template needs to be udpated to use the correct values for flag_imputation

![image](https://user-images.githubusercontent.com/10111024/159178183-7d896dc0-fbbc-4edf-b517-0d8f084bc8b4.png)

The template currently uses `time` as value
![image](https://user-images.

[2022-03-21 09:35] bundfussr commented on #939
I would add a note to the values section because not all `derive_paam_*` function have a "Details" section.

[2022-03-21 09:41] rossfarrugia commented on #954
FYI @bundfussr i'm working through a draft of this to share. I see its really important to agree as we start to move on with package extensions and bringing lots of new developers to the table.

[2022-03-21 09:44] bundfussr opened #1033 "Feature Request: Update Placeholder for Issue Templates"
### Feature Idea

The values of the `value:` attribute should be moved to the `placeholder:` attribute and the `value:` attribute should be removed (like in [admirlaonco](https://github.com/pharmaverse/admiralonco/tree/main/.github/ISSUE_TEMPLATE) This has the advantage that you do not need to remove the content of the textarea if you want to enter something. And if nothing is entered, "No respons

[2022-03-21 10:15] bundfussr commented on #684
@rossfarrugia , the --DY suffix is a nice example but I wonder if it can be generalized. As you have already pointed out it does not work for the --FL suffix. Do you have other examples where the suffix approach works?

Furthermore, variable derivations are just one half of the derivations. The other one are the parameter derivations. But CDISC does not define any standard parameter codes. Thus we

[2022-03-21 10:27] rossfarrugia commented on #684
@bundfussr i've drafted something for #954 this morning and shared with @koegerr for a quick sanity check. if he agrees then will add to our box tomorrow for the core team to check over.

my personal thinking is we shouldn't go overboard with grouping our existing functions (beyond the obvious examples like DY) as it just makes it that one step harder for users to find what they're looking for - a

[2022-03-21 16:39] JMcGavigan32 commented on #1017
Have updated the documentation on **derive_var_trtsdtm.R** and pushed it to the 1017 Update branch. Will message somebody about it tomorrow morning and confirm whether everything looks okay and can go from there! If I have done everything alright happy to make similar change for **derive_var_trtedtm.R**!

[2022-03-21 18:08] bms63 commented on #1017
Hi Jack.  You can just do a Pull Request and that will alert folks to any issues in the code.  You can assign me as a reviewer.

[2022-03-21 20:37] bms63 opened #1034 "Documentation: Create a BDS news section (news.md) to capture new functions for ADLB dataset"
### Please select a category the issue is focused on?

Other

### Let us know where something needs a refresh or put your idea here!

This is for News.md and pertains to ADLB dataset functions that are being developed.

[2022-03-21 21:29] JMcGavigan32 commented on #1017
Great. I will do that tomorrow morning, thanks Ben.
________________________________
From: Ben Straub ***@***.***>
Sent: Monday, March 21, 2022 6:09:40 PM
To: pharmaverse/admiral ***@***.***>
Cc: Jack McGavigan ***@***.***>; Assign ***@***.***>
Subject: Re: [pharmaverse/admiral] Documentation: Update default filter_ex shown in documentation for derive_var_trtsdtm / derive_var_trtedtm (Issue #1017)

[2022-03-22 14:22] bms63 opened #1037 "Documentation: Contact section should have downloaded .ics for admiral community meetings"
### Please select a category the issue is focused on?

Other

### Let us know where something needs a refresh or put your idea here!

Contact on Home page of website/Readme section should have downloadable `.ics` file for admiral community meetings.  Make it easy for new people to grab calendar invite and place into their calendars..

[2022-03-22 14:44] bundfussr commented on #676
@teckla-gsk , yes, I think it is a good idea to add it to the agenda together with https://github.com/pharmaverse/admiral/issues/701.

[2022-03-22 14:52] bundfussr commented on #157
@koegerr , what was the outcome? Should it not be covered by admiral core but implemented in company specific admiral extension packages?

[2022-03-22 15:04] teckla-gsk commented on #911
@bms63 what name would you suggested other than 'x' , maybe 'disposition_var' since a disposition variable is expected for that format function. That said, is this still necessary? It looks like the function `derive_var_disposition_status`  which uses this format utility is depreciated as of last month. @amsmith214

[2022-03-22 19:50] bms63 commented on #735
@JMcGavigan32 This might be a good one to get familiar with unit tests and how they are used in the function.    You can use `devtools::test_coverage()` to get a nice lookup of where the coverage is lacking for the `assertions.R`.  We can use this issue to track which functions we might need be able to add more coverage to.  Some might just be too difficult

![image](https://user-images.githubuser

[2022-03-22 19:53] JMcGavigan32 commented on #735
Nice one. Thanks @bms63!

[2022-03-22 20:05] bms63 opened #1040 "Documentation: Search function on the Website does not work"
### Please select a category the issue is focused on?

Other

### Let us know where something needs a refresh or put your idea here!

Look into the [pkgdown documentation](https://pkgdown.r-lib.org/articles/pkgdown.html) on how to get the Search function working.  Currently does not work.  Reportedly worked a few cycles ago, but had limited search capabilities.

![image](https://user-images.github

[2022-03-22 20:06] bms63 commented on #1040
Does not work on Chrome or on Edge.

[2022-03-23 10:12] bundfussr opened #1041 "Discuss Hy's Law Implementation in admiral"
Discuss if and how Hy's Law derivations should be implemented in admiral.

For Roche's implementation see ADHY tab in https://exbpbox.box.com/s/np6azqgyjewa2zzlwdt7ehykjxpvyfze

FDA document regarding Hy's Law:  https://www.fda.gov/media/116737/download
(thanks Gordon for finding it)

In particular:
4. Assessment of Hy’s Law Cases in the Clinical Trials Database
NDA and BLA submissions should incl

[2022-03-23 18:42] bms63 commented on #1041
#824

[2022-03-24 08:20] koegerr commented on #157
@bundfussr : we still discussion the model within Orchid. Overall the thinking is that it is too protocol specific. But maybe when we have a timing model we can have a look if pieces of it can be used to create some utility functions. Probably more Roche specific

[2022-03-24 08:34] bundfussr commented on #157
@koegerr , maybe we should split it into two parts. The first part is the the creation of the phase and period variables in ADSL. I agree that this is very study-specific. We could provide an interface like the [Input Data Sets to Pass Phase, Period or Subperiod Information to ADSL VAD Macro](https://pages.github.roche.com/MDIS/stream_doc/um/vad_concept_atx_dataset.html) in STREAM but the creation

[2022-03-24 10:15] thomas-neitmann commented on #939
Please go ahead and alter this directly here.

[2022-03-24 11:23] bundfussr opened #1042 "Feature Request: Implement `derive_extreme_records()`"
### Feature Idea

[code]
add the first or last record for each by group as new observations to the input dataset. This is useful for deriving observations for `DTYPE = "MINIMUM"`, `DTYPE = "MAXIMUM"`, or `DTYPE = "LOV"` in BDS datasets.

Function flow:
1. filter input dataset
2. call `filter_extreme()` for the filtered input dataset
3. create/update the variables specified by `set_values_to` in th

[2022-03-24 11:25] bundfussr commented on #1042
@rossfarrugia and I discussed this and we think we need the function for deriving `DTYPE` in ADVS (and other BDS finding datasets).

[2022-03-24 13:36] rossfarrugia commented on #1042
thanks @bundfussr - few more notes to add for whoever picks this one up:
- BDS Finding ADaM vignette should be updated to include one such example, as it would be easy to assume derive_summary_records() is best to use unless you see a prompt
- In the documentation make sure the difference is clear here as well. As Stefan explained to me: I would not try to cover MINIMUM and MAXIMUM by derive_summa

[2022-03-24 15:18] bundfussr commented on #1042
@koegerr , @thomas-neitmann , @bms63 , do you have any objections implementing this function?

[2022-03-25 10:07] rossfarrugia commented on #701
Just to add a note to say i'm fully supportive of this function - i think documentation will be key though with lots of examples and sharing different possible use cases. when this gets discussed, i'd be interested to hear if the core team think it warrants it's own vignette, or maybe we just add some usage examples into the ADaM vignettes / templates so that people become more familiar with this

[2022-03-25 11:02] rossfarrugia commented on #743
Example i found: see https://pharmaverse.github.io/admiral/reference/derive_vars_dtm.html min_dates and max_dates arguments. DTM can be used here as well as DT but its not clear from the documentation

[2022-03-25 11:07] koegerr opened #1043 "Documentation: How to create an admiral function 2h"
### Please select a category the issue is focused on?

_No response_

### Let us know where something needs a refresh or put your idea here!

goal: vignette that explains how to create a new admiral function

explain: readability, findability and simplicity principasl
technical: quoting and unquoting - how to use tidy within functions (i.e. !! vs. !!!)
example: building blocks

[2022-03-25 12:56] rossfarrugia commented on #743
as a good example here i like https://pharmaverse.github.io/admiral/reference/derive_vars_duration.html which says for start_date / end_date: "A date or date-time object is expected.". We could just copy this over to any doc pages that doesn't have it clearly shown for date arguments.

[2022-03-25 16:50] rossfarrugia opened #1045 "Bug: Replace admiral-devs with admiral"
### What happened?

We deleted the github team `@pharmaverse/admiral-devs` as we have `@pharmaverse/admiral`, so please replace any mentions of this on the site, e.g. see https://pharmaverse.github.io/admiral/articles/development_process.html. You'll need to search the repo to find any other scenarios where this is mentioned and update.

### Session Information

N/A

### Reproducible Example

N/A

[2022-03-25 18:12] billdenney commented on #602
Hi everyone, I'm new to `admiral`, but I have relevant experience for this as the author of the PKNCA R package (https://github.com/billdenney/pknca).  The PKNCA package computes NCA parameters from datasets that mirrors something close to an SDTM.EX, SDTM.PC and creating something close to an SDTM.PP result.  All of these say "something close" because the package is designed around the intent of

[2022-03-25 19:27] VD766 commented on #743
@rossfarrugia - I am new to this, I will take a look at the derive_vars_dtm for updating the documentation. I'll take a look at other functions that may have this issue and update the documentation.

[2022-03-25 20:07] bms63 commented on #1026
Does anyone else have questions, concerns comments about any of the above items?  Let us know if you want us to help pick out an issue for you.  Definitely want something easy as the process is a little overwhelming - even if you are an R expert!

If no questions I would like to close this issue.

[2022-03-25 20:10] rossfarrugia commented on #743
thanks @VD766 - much appreciate your contribution!

also if you get chance can you update the below on github to help us keep track of all our contributors:

![image](https://user-images.githubusercontent.com/82581364/160194034-1a2980a7-7285-4138-b5bb-ef948a3d0f59.png)

[2022-03-25 20:18] bms63 commented on #417
Can we close this discussion?

[2022-03-25 20:21] bms63 commented on #952
This seems like in good order.  Going to close out.

[2022-03-25 20:21] #952 closed

[2022-03-26 19:03] MichaelRimler commented on #602
@billdenney Perhaps you and I could discuss your package and its features, relative to what I had implemented in SAS. Many groups rely on WinNonLin for NCA (blood and urine), but I think there's a real opportunity to deliver both the engine of parameter calculation, as well as a shiny interface on top (which could enable terminal phase determination).

[2022-03-26 19:29] billdenney commented on #602
I'm happy to chat (here, in a PKNCA issue, or one-on-one).  I also think that more cross-validation of algorithms is helpful for confirming accuracy.

WinNonlin is definitely the most used, but there are a growing number of alternatives (mostly open source).  For the half-life, usually the calculations are done by a curve stripping algorithm and followed up with manual confirmation; PKNCA implemen

[2022-03-27 16:34] bms63 commented on #1042
I cant think of any objections.  @millerg23 @yangc71 Do you think we should implement this in the adlb template script?

[2022-03-28 08:14] rossfarrugia commented on #950
@bms63 - it's there now https://pharmaverse.github.io/metatools/reference/combine_supp.html and i have someone from Roche that has done some user testing and fed back to @statasaurus & @mstackhouse.

Christina could comment as to whether now is a good time to get this out of admiral. The pharmaverse e2e vignette will then help to explain where to get this utility from.

[2022-03-28 09:29] koegerr commented on #1042
Hi,

I am a bit unsure since we basically combining multiple steps into one. Also we pass in whole conditions as arguments if I understand the following example correct:

filter(EOTFL == "Y") %>%
mutate(
    AVISIT = "End of Treatment",
    AVISITN = 99

becomes :

set_value_to = vars(
      AVISIT = "End of Treatment",
      AVISITN = 99)

While it might be simple to have one function I feel we l

[2022-03-28 10:14] rossfarrugia commented on #1042
i see your point Robin but its only for those newly created records you're updating those values and we already do same for https://pharmaverse.github.io/admiral/reference/derive_summary_records.html. for me i think it's quite clear here as the modular step in this case is building the new record, and everything is nicely contained in the one call that does all you need for that new record.

[2022-03-28 10:31] thomas-neitmann commented on #1042
I'm in favor of implementing this function.

[2022-03-28 10:39] thomas-neitmann commented on #417
I think so, yes.

[2022-03-28 10:39] #417 closed

[2022-03-28 11:43] #913 closed

[2022-03-28 11:55] #552 closed

[2022-03-28 12:09] koegerr commented on #602
@RealSlimMahdi : do you have an update on this. We are wondering where we at with this. Maybe reach out to Thomas to quickly catch up.

[2022-03-28 12:12] #1026 closed

[2022-03-28 12:16] koegerr commented on #796
we close since this seems to exist now under pharmaverse

[2022-03-28 12:16] #796 closed

[2022-03-28 12:18] koegerr commented on #729
question @millerg23 : is that a good issue that is achievable?

[2022-03-28 12:19] koegerr commented on #617
@duniek can we close this out?

[2022-03-28 12:20] #843 closed

[2022-03-28 12:21] #923 closed

[2022-03-28 12:22] #969 closed

[2022-03-28 12:24] koegerr commented on #671
@esimms999-gsk could this have a quick follow up in a stand up. thanks.

[2022-03-28 12:27] #745 closed

[2022-03-28 12:31] koegerr commented on #841
closing according to Gordons new : TRTEMFL derivation https://github.com/pharmaverse/admiral/issues/989

[2022-03-28 12:31] #841 closed

[2022-03-28 12:37] koegerr commented on #1016
@rossfarrugia do you think this needs to go into the next release?

[2022-03-28 12:39] koegerr commented on #939
@sophie-gem is this still ongoing? Ben will check in with you in the next stand up.

[2022-03-28 12:46] sophie-gem commented on #939
Hi @koegerr ,

Apologies, yes this is still ongoing. I have been very busy with project work recently but I will aim to get this finished on Friday (I have a full day set aside for pharmaverse contribution). Is this okay or is it required sooner?

Many thanks.

[2022-03-28 12:48] rossfarrugia commented on #1016
@koegerr can't harm - i'll try and make a PR for it this week

[2022-03-28 12:55] thomas-neitmann commented on #939
No rush @sophie-gem, we just wanted to check whether you're still on track. Having it by Friday would be great 🙂

[2022-03-28 14:16] RealSlimMahdi commented on #602
@[koegerr](https://github.com/koegerr) Sorry I had to deal with other high-priority matters, I think I should be able to allow more time this week or the week after. I'll try to chat with @thomas-neitmann later this week

[2022-03-28 14:51] RealSlimMahdi commented on #602
Actually, I had a quick look and I still need the branch in admiral.test to be merged. This is blocking one of your tests and I cannot build the doc.

[2022-03-28 15:31] rossfarrugia commented on #1045
thanks @ClaudiaCarlucci - agree this is a good one to start with after you attend the admiral onboarding call this week. no further info i can think of for this one, but feel free to put me down as PR reviewer and shout if you get stuck.

[2022-03-28 17:39] bms63 commented on #1032
The default should be "auto"

[2022-03-28 18:23] bms63 commented on #950
This will be interesting as we have only deprecated functions that are replaced by other functions within admiral.  Now we are deprecating for something outside admiral, i.e. metatools.  I imagine this will happen some more as more packages come online and we shuffle stuff around.

Does this become `metatools::derive_vars_suppqual` ?
![image](https://user-images.githubusercontent.com/10111024/1604

[2022-03-29 08:13] statasaurus commented on #950
Yes you can! I was waiting on the art for metacore. But that is done. So I am probably push to CRAN for that today and metatools by the end of the week or so

[2022-03-29 10:17] bundfussr commented on #701
Hi @koegerr , we have discussed the `slice_derivation()` function yesterday and agreed on the implementation (see description of the issue).

Please let us know if you have any objections.

[2022-03-29 10:20] bundfussr commented on #676
Closing this issue in favor of #701.

[2022-03-29 10:20] #676 closed

[2022-03-29 10:45] kabis-ops opened #1047 "Documentation: Create a vignette for call_derivation(), restrict_derivation() and slice_derivation()"
### Please select a category the issue is focused on?

Function Documentation

### Let us know where something needs a refresh or put your idea here!

Create a vignette to showcase the use of the functions mentioned above. See also discussion in #701.

[2022-03-29 11:16] rossfarrugia commented on #950
@bms63 for the `metatools::derive_vars_suppqual` point, we wouldn’t want to tie in metatools as a package dependency - it should be optional to us alongside admiral. So my thinking would be just to retire the function completely, remove mention from the vignettes and explain this in the changelog. Then in the pharmaverse e2e vignette we would cover this step. Does that sound ok or shout if I'm mis

[2022-03-29 12:28] bms63 commented on #950
Umm...I would think some sort of messaging would be nice - beyond just the changelog.  Does anyone actually check that besides developers :) ?

Also, thinking of users....for example I'm using it in my code for datasets at GSK and if I installed 0.7.0 and the update crashed my code with no messaging then I would be a bit clueless.

[2022-03-29 12:35] rossfarrugia commented on #950
Fair, makes sense - agree to give a user message but i'd say no need to then automatically route the code to the metatools function - that was more my point here. a user would need to make that call whether they want to use this new package (and if using on a validated container they'd need to get validated as per their company requirements etc).

[2022-03-29 12:39] rossfarrugia commented on #950
i see now you were suggesting to show metatools in the documentation/roxygen2 section rather than the code itself - i'm fine with that.

i was saying i dont think we need it in the usual code section we add:

[code]

[2022-03-29 14:30] esimms999-gsk commented on #856
I have been doing some digging on the age ranges. It looks to me that this is all over the place and the GSK specs state that this is "study-specific". One study I looked at has age categorized as "<35", "35 - <50", ">=50". We often use "<18", "18 - <65", ">=65" but I have not found a standard anywhere for CDISC except the following, which is fuzzy about where 65 lands:

![NCI_Age_Groups](https://

[2022-03-29 14:31] duniek commented on #617
Closing the issue and will share the GitHub for project management training once done.

[2022-03-29 14:31] #617 closed

[2022-03-29 15:48] bms63 commented on #246
Can we add this to list for #725 and close this one out?

[2022-03-29 15:53] esimms999-gsk commented on #213
This is from feedback collected on 10Jun2021 in https://exbpbox.box.com/s/2c8wp5wb93kkq53e9tuhwca2el38c4je

- Q: Which features are you missing in admiral?
- A: more meaningful error messages (`exprs` vs `expr`)

This is very general and is something which needs constant attention in the same manner as "Ensure vignettes make sense." I recommend that we close this issue.

[2022-03-29 15:54] #213 closed

[2022-03-29 16:02] bms63 commented on #1015
What is PM presentation?

[2022-03-30 10:27] kabis-ops commented on #1019
@rossfarrugia - just noticed also that the argument `filter` in  `derive_var_disposition_xxx()`  should be replaced by `filter_ds`

[2022-03-30 11:03] rossfarrugia commented on #1019
thanks @kabis-ops - hoping to get to this one this week so will make that update too

[2022-03-30 12:42] duniek commented on #1015
This is a test issue I created for the GitHub beta version of GH Project. Please disregard.

[2022-03-30 12:50] thomas-neitmann opened #1049 "Remove workarounds for R v3.5 compatibility"
Now that we no longer test {admiral} on R v3.5 let's remove the workarounds we had to introduce to be compatible with this R version (and the old package versions).

- [x] Identify all workaround
- [ ] Remove the workarounds

[2022-03-31 09:57] bundfussr commented on #701
I have implemented a draft of `restrict_derivation()`.

We get the warning issue discussed on Monday.
[code]
I thought I could catch the warnings within `restrict_derivation()`. But this does not work because I do not know if it is the first or the second call.

We could add a `suppress_warnings` parameter but I would consider this as not user friendly.

@thomas-neitmann , @teckla-gsk , @millerg23

[2022-03-31 10:35] millerg23 commented on #701
Hi @bundfussr ,
If you added a `suppress_warnings` parameter, this would suppress all possible warnings, not just the warning about variable(s) already existing?

[2022-03-31 10:53] koegerr commented on #701
I discussed this quickly with Thomas. No objections as long as this gets its own documentation (vignette).

[2022-03-31 12:14] rossfarrugia commented on #1019
Also i noticed ADSL template needs updating for deprecated lstalvdt function as per #753 - will update this too (the ADSL vignette was updated already in devel)

[2022-03-31 12:18] bundfussr commented on #701
@koegerr , maybe we could add it to the `call_derivation()` vignette (https://github.com/pharmaverse/admiral/issues/1047).

What do you think?

[2022-03-31 12:45] thomas-neitmann commented on #1049
- `deprecate_warn()` and `deprecated()` in `R/lifecycle.R`
- `as_hms()` in `R/hms.R`
- Usage of `tidyr::spread()` and `tidyr::gather()`

[2022-03-31 12:59] bundfussr commented on #701
Maybe we should implement both `restrict_derivation()` and `slice_derivation()`. This would solve the issue with the warnings and we would not need to change the programming strategy.

We could also simplify the `slice_derivation()` calls by using the dot-dot-dot parameter instead of `slices`:
[code]
@thomas-neitmann , @teckla-gsk , @millerg23 , @esimms999-gsk , what do you think?

[2022-03-31 13:20] millerg23 commented on #701
So use `restrict_derivation` for the simple filter, like populating BASE or CHG/PCHG. And have `slice_derivation` for multiple filters, like the example above calling `derive_vars_dtm` ? The `slice_derivation` call above looks simpler, to what we saw before, I would be in favour of just having `slice_derivation`, btu could live with having both restrict and slice fuinctions.

[2022-03-31 17:46] bms63 commented on #1041
I believe this is going to be made into a separate programming workflow as both Roche and GSK create adlbhy datasets.  I'm working on getting adlbhy specs from GSK.

@millerg23  or @upadhyor anything to add?  I was going to close this issue and open as a **_Create Programming Workflow_** once we secure the GSK specs.

[2022-03-31 17:55] upadhyor commented on #1041
I agree with above, Ben.

[2022-03-31 18:05] bms63 opened #1053 "Documentation: list out options for use_ad_template for adam_name"
### Please select a category the issue is focused on?

Function Documentation

### Let us know where something needs a refresh or put your idea here!

I was messing around with the `use_ad_template`.

First thing I noticed is if I run the `use_ad_template` without any input it auto generates the adsl template.  I like that, but maybe that should be declared in the documentation, i.e. running witho

[2022-04-01 12:48] rossfarrugia commented on #1045
you can leave it Claudia thanks and we close them all when we make the next release in main branch - as for now its useful that people spot this instead of raising a new one if they find this issue in our site. we're going to add something in our PR templates in future that includes the key word "closes" and then you add the issue number, and this way they'll all get automatically closed when they

[2022-04-01 13:02] bms63 opened #1055 "Increase Testing Coverage to 90% for 0.7.0 Release"
Goal is to get that coveted green code coverage badge!

This is coverage goal currently in devel branch on April 1st.

![image](https://user-images.githubusercontent.com/10111024/161268475-492d379d-8f8d-4030-a0f4-3c6188118dd5.png)

Increasing coverage for any of the above 15 files could help bump us up to 90%.

[2022-04-01 16:06] sophie-gem commented on #939
Just fyi - I'm now close to opening a PR. There just seem to be a few issues which I need to figure out how to resolve:

- [ ] `pkgdown::build_site()`  warning message "Deprecated: markdown_github. Use gfm instead."
- [ ] "Warning message:
Topics missing from index:
* +,iso_dtm,Period-method
* adeg
* assert_db_requirements
* ex_single
* get_terms_from_db
* print.tte_source
* queries
* validate_que

[2022-04-01 16:14] sophie-gem commented on #939
Will get this done asap either at the weekend or next week.

[2022-04-03 23:52] bms63 opened #1056 "Documentation: Remove previously deprecated functions"
### Please select a category the issue is focused on?

Function Documentation

### Let us know where something needs a refresh or put your idea here!

Should we remove 0.6.3 functions that have the deprecated messaged?  Only 3 month since we released package with this messaging.  Keep around for a little longer or remove them in 0.7.0 release?

Not sure which functions these are - but maybe we sho

[2022-04-04 07:00] rossfarrugia commented on #1056
@bms63 think you meant to tag @pharmaverse/admiral (rather than the pharmaverse council reps here). i was thinking similar about doing a deprecated function clean-up soon, as in the summer we have the first Roche teams using this for real so i'd rather them not have to even see lots of listed functions on the Reference page which no longer should be used. i think it confuses new people.

[2022-04-04 09:04] thomas-neitmann commented on #1055
I would focus on our efforts first and foremost to the `derive_*()` function. Once these have 100% coverage we can move on to the other functions.

[2022-04-04 09:21] thomas-neitmann commented on #701
I'm in favor of implementing **both** `restrict_derivation()` and `slice_derivation()`. The former can be used for the simple case where you have to apply a derivation just to a **single** subset of your data. The latter on the other hand is reserved for the case where you need to call the same derivation on **multiple** subsets of the data with different arguments.

As far as documentation goes I

[2022-04-04 09:30] bundfussr commented on #701
@thomas-neitmann , thanks for the feedback.

For `slice_derivation()` we do not need to catch any warnings. This was only necessary for subsequent `restrict_derivation()` calls.

[2022-04-04 09:34] thomas-neitmann commented on #701
Even better 👍

[2022-04-05 09:28] rossfarrugia commented on #1030
@bundfussr reminder to go through these onco issues later once we agree the ADRS workflow and close any issues for things we'd no longer need to implement in admiral core

[2022-04-05 14:51] #951 closed

[2022-04-05 18:00] esimms999-gsk opened #1057 "Onboarding of new USERS (as opposed to new DEVELOPERS)"
@pharmaverse/admiral

We have recordings and a slack channel for onboarding new developers, but do we have this for new users? A user should not need to know there is a thing called github or anything about developing packages ... they only need to know how to use admiral to take SDTM data and create ADSL, ADAE, etc.

Perhaps the slack channel I am looking for is the "admiral" channel? And there a

[2022-04-05 18:22] bms63 commented on #1057
I would tag the @pharmaverse/admiral  team and see if there is any interest from folks in creating additional materials for new users.  Maybe @rossfarrugia has an opinion on creating videos and such for the https://[pharmaverse.org](https://pharmaverse.org/)/ for new users.

I feel like our vignettes are pretty thorough for a new user and should form the backbone of any recordings.  No need to re-

[2022-04-05 18:37] esimms999-gsk commented on #1057
No need for you or Thomas to create anything such as a recording. I did want your view on if this was necessary or not.

[2022-04-06 07:53] rossfarrugia commented on #1057
@esimms999-gsk @bms63 good timing - have been discussing similar with the folks here working on admiralroche. i do personally feel like some bitesize recordings would help people quickly intro and grasp the admiral strategy. we just have to be careful to do this in a way that won't become out-dated quickly. as we were thinking of something similar to go on our internal Roche training catalog i'm h

[2022-04-06 07:55] rossfarrugia commented on #1057
p.s. on the point around pharmaverse i would like to cover this connection in one of the recordings and show the slack channel and the e2e ADaM vignette but focus would be on admiral context.

[2022-04-06 08:19] rossfarrugia commented on #968
Added the good first issue to hopefully attract a contributor to take this on, as would be good to have this and the corresponding admiraltest issue (https://github.com/pharmaverse/admiral.test/issues/25) updated ready for next release end of April.

[2022-04-06 09:34] rossfarrugia opened #1059 "Documentation: Add a simpler example for derive_var_basetype"
### Please select a category the issue is focused on?

Function Documentation

### Let us know where something needs a refresh or put your idea here!

Add a simpler example for derive_var_basetype using a real-life common example.

[2022-04-06 13:09] bundfussr opened #1063 "Feature Request: Implement `derive_param_first_event()`"
### Feature Idea

[code]
adds a new parameter to the input dataset. `AVALC` is set to `"Y"` if an observations exists in the input dataset where `PARAMCD == source_param` and `cond == TRUE`. Otherwise `AVALC` is set to `"N"`. `AVAL` is set to `1` or `0`. `ADT` is set to the first date where the condition is fulfilled.

### Relevant Input

What should the input look like? REMINDER: no patient level

[2022-04-06 13:51] bundfussr opened #1064 "Feature Request: Implement `derive_param_merged_exist_flag()`"
### Feature Idea

[code]
adds a new parameter to the input dataset. An observation for each subject in `dataset_adsl` is added. `AVALC` is set to `true_value` if the condition is fulfilled for any observation in `dataset_add`. Otherwise it is set to `false_value`. For subject without an observation in `dataset_add` it is set to `missing_value`. `AVAL` is set to `1`, `0`, or `NA`.

### Relevant Inp

[2022-04-06 14:53] rossfarrugia commented on #1064
Thanks @bundfussr - i just updated a copy/paste typo of var -> param in the top call above.

[2022-04-06 18:38] aehmann-gsk commented on #829
@thomas-neitmann @millerg23 @bms63 @bundfussr @tomratford
This function is not correct for GSK.  When results are disclosed, they must align with the guidance provided here:
https://prsinfo.clinicaltrials.gov/results_definitions.html
The link provided is relevant and correct.

(Note:  you can see trial results for the FDA disclosed here by searching for studies, it is kind of cool - you can search

[2022-04-06 19:59] rjzollinger commented on #788
Hi @bundfussr, I'd be happy to pick up this issue.

[2022-04-06 20:15] bms63 commented on #829
@rossfarrugia Do you have any thoughts or remember on how we arrived at this decision?  I think Gordon is out of town, but it looks like he created the original issue.

[2022-04-07 07:39] bundfussr commented on #788
That's great.

If you have any questions, please let me know.

[2022-04-07 07:55] bundfussr commented on #829
The topic is on the agenda of the next Questions and Comments meeting. See also https://github.com/pharmaverse/admiral/issues/856.

[2022-04-07 08:25] rossfarrugia commented on #829
I was talking to @millerg23  about this the other week as we found Roche actually uses "<18", "18 - 65", ">65", so everyone seems to be in some way doing it slightly differently. Our consensus was just maybe better to deprecate the FDA and EMA versions in admiral, and just give people a more generic agegr function where they can easily provide their own required groupings. Either would be using ca

[2022-04-07 13:02] aehmann-gsk commented on #856
@esimms999-gsk The EMA and FDA functions support study disclosure requirements.  These particular age groups will more than likely never be used in analysis.  For the US disclosure requirements, please see:
https://prsinfo.clinicaltrials.gov/results_definitions.html

In particular:
![image](https://user-images.githubusercontent.com/82041175/162201015-f0596d79-2840-46a4-9605-4c2dbc3b5c9b.png)

@sta

[2022-04-07 13:26] esimms999-gsk commented on #671
I think this is creating more headaches than it would solve. I suggest we do not create functions to check or remove temporary variables. My view:
Programming practice for developers: clean up after your code, i.e. remove any temporary/working variables you created.
Having temporary variables on interim dataframes is not a problem; we just need to ensure any undesired variables (of any name) are n

[2022-04-07 13:27] aehmann-gsk commented on #856
I think it is a bit of duplication.  The CT should align for the AGEGR* variables and for the define.  All of these things are linked. I am not sure why we would treat age groups differently than other groupings such as a BMI baseline group.

This is a CT list:
[code]

[2022-04-07 13:40] statasaurus commented on #856
Given the pharmaverse is ideally a cohesive group of packages, I am a bit worried about confusing the end user if they are too close. I am not 100% sure of what the best way to check for units is. But, I think it is fair to want that and we can look at adding that into the metatools functions

[2022-04-07 13:52] aehmann-gsk commented on #856
Why can't the unit checking be part of a specific age function in admiral? Unit check first, then use metacore to apply mappings and code/decodes?  I feel like there are 2 functions to calculating age groups.  In theory, the unit checking could be applicable to other things as well such as dosing, lab values, etc..

[2022-04-07 14:29] rossfarrugia commented on #1017
Thanks @JMcGavigan32 for your contribution! Just a heads up that we usually have convention to keep the issues open until the update gets merged into main for a release - this way users are less likely to re-raise issues already fixed in devel. You can add "closes then # and issue number" in your PR and this gets done automatically when merged with main later.

[2022-04-07 14:29] bms63 commented on #1017
Hi Jack,

The Issues will automatically close once we pull the `dev `branch into `main` - fingers crossed.  No need to close them yourself.  :)

[2022-04-07 14:30] rossfarrugia commented on #1017
great minds @bms63 ...

[2022-04-07 14:32] bms63 commented on #1017
This process better work or I am going to riot!

[2022-04-07 14:34] rossfarrugia commented on #1017
:D "...and breathe"

[2022-04-07 14:49] rossfarrugia commented on #1001
@bundfussr could this issue be suitable for good first issue label if you add a bit more detail to help a new contributor?

[2022-04-07 14:50] rossfarrugia commented on #972
@bundfussr could this issue be suitable for good first issue label if you add a bit more detail to help a new contributor?

[2022-04-07 14:53] rossfarrugia commented on #936
@bundfussr @thomas-neitmann - bit confused with this one whether the PR #938 was only for the onboarding session or the whole issue was too? it probably puts people off picking this issue up if they see a PR already attached. if it was just a test then recommend to close. otherwise, if needed add more details and maybe add the good first issue label

[2022-04-07 14:56] rossfarrugia commented on #904
agree! @konstantinakoukR can you take a look and update this issue accordingly please? no updates needed for deprecated functions, but for the others if you clean up this issue then maybe could even add "good first issue" label for a new contributor to possibly pick up.

[2022-04-07 14:56] rossfarrugia commented on #889
@bundfussr could this issue be suitable for good first issue label if you add a bit more detail to help a new contributor?

[2022-04-07 15:44] bms63 commented on #671
Hi Eric,

Some of this information is already in the [developer guide](https://pharmaverse.github.io/admiral/articles/programming_strategy.html)

Perhaps tweaking vignette this can help resolve this issue quickly.

[2022-04-07 15:55] statasaurus commented on #856
Metacore would work of a spec document. So yes most the time you won't be building from a define. Also there are a couple of layers that to do this. At the lowest level users can use [`create_subgrps` ](https://pharmaverse.github.io/metatools/reference/create_subgrps.html)
which will work inside a mutate statement so the workflow would more or less be
` adsl %>%
mutate(AGEGR1 = create_subgrps(AAGE

[2022-04-07 16:10] bundfussr commented on #856
I would move `create_subgrps()` to admiral and rename it to `compute_subgrps()`. Otherwise, users who do not use a metacore object would need to use metatools. This could be confusing.

[2022-04-07 17:13] statasaurus commented on #856
Because of the size of the packages I think it is better to leave the function where it is. At the moment meta tools is a very small package with very dependancies. It would be better to just have admiral export the function. That way the user still be able to call the function through admiral, like how you can use the pipe in dplyr

[2022-04-08 07:34] rossfarrugia commented on #856
hi all, i asked Robin to take a look when he gets chance too and comment, but my recommendation would be leave the feature in both. It's inevitable with such closely connected packages that at times there'll be some overlap and they'll never be seen as in competition - it just provides the users a choice dependent on which selection of packages they're using.

My rationale for this is as follows:

[2022-04-08 13:05] rossfarrugia commented on #697
@bundfussr did you ever get any feedback on this one? happy to leave it in admiral core if no objections and close this issue. even if companies have their own specific ways to do this then at least this code gives them a starting point to copy and update for their needs.

[2022-04-08 13:31] bundfussr commented on #697
We haven't discussed this issue so far.

I would not close it without discussion.

[2022-04-08 13:41] rossfarrugia commented on #697
ok thanks - let me know what gets decided. please raise my preference as above. my perspective on it is if i'm a new company adopting admiral then i rather have something in place to work from here as a guide even if my company rules vary.

[2022-04-08 13:59] bundfussr commented on #697
@rossfarrugia , I have set it on the agenda for next Monday but the agenda is already quite long. So I am not sure if we will manage to discuss it.

By the way, should I invite you to the meeting?

[2022-04-08 15:11] rossfarrugia commented on #697
sure @bundfussr - i got added to a sprint meeting (not sure if thats same thing?), but feel free to add me to anything as useful, especially to cover Robin whilst he's away.

[2022-04-11 08:48] rossfarrugia opened #1069 "Documentation: Add to programming strategy more examples on how we design a function"
### Please select a category the issue is focused on?

Developer Guides

### Let us know where something needs a refresh or put your idea here!

Add to programming strategy: More of the good, the bad and the ugly examples of what we are aiming for with new functions in relation to all the guidance added for #954. Examples will help people to better visualize the points.

@bms63 @thomas-neitmann -

[2022-04-11 10:20] millerg23 commented on #829
yes agree with @rossfarrugia . There doesn't seem to be a standard age grouping defined by FDA. If we want to keep the original function, maybe it needs renamed to something else, something like `derive_agegrp_ctgov` and include the original link?
A generic age group function is required also.

[2022-04-11 13:24] rossfarrugia commented on #822
thanks @tamarasenior for the efforts so far on this. once you're happy with the updates make a PR to merge into devel and then the PR checklist will pop up to talk you through the checks needed, e.g. maybe need to add something to the corresponding unit test program to cover the update. you could ask Annie to review then as she drafted the original issue.

[2022-04-11 15:26] rossfarrugia commented on #856
FYI all we discussed in admiral team meeting today and agreed no need to add a general age group function in admiral. People can either use case_when as in our ADSL vignette examples or use the options from metatools. Rationale: we discussed in depth and came to conclusion this grouping can be achieved so simply it doesn't really warrant an admiral function anyway.
I take back my comment above!

[2022-04-11 16:47] bms63 commented on #1053
Hey Andrew.  Were you going to take this on or is this from a demo session?

[2022-04-12 07:11] rossfarrugia commented on #949
I will take this on later after PHUSE US - i'll compile all the learnings do far and anything from slide decks for admiralonco, and will get this all set up in a couple of months ready for the next package extension to start, e.g. virology or ophtha, when the timing is right.

[2022-04-12 09:14] bundfussr commented on #701
@rossfarrugia , I agree that we should add this example but I am not sure if the `slice_derivation()` documentation is the best place. I think users who need to implement this would rather look at the OCCDS vignette or the imputation vignette than the `slice_derivation()` documentation.

[2022-04-12 09:55] rossfarrugia commented on #907
Adding extra requests to this issue from #727 :
- We also need to add an example to the date and time imputation vignette where date_imputation=”06-15” is used.
- Include an example using new slice_derivation function, e.g. when AE onset partial date/time before first dose, it will impute last day of year or month. when AE onset partial date/time after first dose, it will impute first day of year

[2022-04-12 10:03] rossfarrugia commented on #761
Make sense, so convert_date_to_dtm and convert_dtc_to_dtm will have time_imputation = "00:00:00" as default now. In the Arguments section of the documentation for both it does actually say "Default is "00:00:00".", so looks like a typo that these were never set this way from the start.

@alanaharris22 - please also double check any other places where these functions get called just to be sure nowh

[2022-04-12 10:10] rossfarrugia commented on #761
@alanaharris22 also whilst you're updating please can you make 2 more updates related to feedback we received in #727:

- https://pharmaverse.github.io/admiral/reference/derive_vars_dtm.html needs updating in the documentation to show that for time_imputation argument “time” and “none” are also options.
- we should update derive_vars_dt to make the default flag_imputation = FALSE, given default da

[2022-04-12 10:15] bundfussr commented on #907
The third item is covered by #701

[2022-04-12 10:23] alanaharris22 commented on #761
Thanks @rossfarrugia, yes of course will make those updates too.

[2022-04-12 10:54] statasaurus commented on #1069
One thing I have noticed about admiral (and I don't know if this was intentional or not), is that it often wraps the tidyverse. So rather than call functions within mutate statements you will have a new_parm parameter. If this is intentional then, it should be added to the guidance, if it isn't intentional then we should probably discuss it. {metatools} does have some function like create_var_from

[2022-04-12 10:57] amsmith214 commented on #1053
demo session, i think. apologies

[2022-04-12 11:13] bundfussr commented on #1001
@rossfarrugia , I think this should be included in the update of the imputation functions, which is of course no good first issue.

[2022-04-12 11:14] rossfarrugia commented on #907
great - thanks @bundfussr! one less job

[2022-04-12 11:16] thomas-neitmann commented on #701
I think it's worth adding this example to the documentation page of `derive_vars_dt()` and `derive_vars_dtm()` directly.

[2022-04-12 12:05] rossfarrugia commented on #701
I wouldn't personally @thomas-neitmann or otherwise the date and time imputation vignette starts to lose benefit if it just repeats all the same info.

[2022-04-12 12:21] bms63 opened #1073 "Onboaring: Gayatri from GSK"
### Onboarding tasks for Core (Roche-GSK) Team Members

- [x] Given a tour of Github from a Core member
- [x] Understand how to Create Issues and do a Pull Request
- [x] Understand the Programming Strategy
- [x] Read and understand [Developer Guides Articles](https://pharmaverse.github.io/admiral/index.html)
- [x] Invited to all relevant meetings - Stand Ups, Retrospective, Sprint Planning, Questi

[2022-04-12 12:23] rossfarrugia commented on #1020
@bundfussr I personally feel like this request is getting way too specific and rare to warrant being covered by admiral. it would just make the function code even more difficult to maintain. i would prefer a user just uses restrict_derivation here and checks the DTC variable to see that this only gets applied for case when missing day. if you agree please close this one.

[2022-04-12 12:37] rossfarrugia commented on #879
Adding all the other derivation code updates needed from #727 here so all together for one person to update:

- we need to allow for YEAR missing imputation rules also - should only be used with first/last rules _(as otherwise what would we set for mid?!)_ and requires min_dates/max_dates to be used respectively as if "first" set to min_date YEAR and if "last" set to max_date YEAR
- when date_impu

[2022-04-12 14:17] thomas-neitmann commented on #1040
Let's switch to native search functionality using okgdown, explained here: https://pkgdown.r-lib.org/articles/search.html

[2022-04-12 14:47] rossfarrugia commented on #829
To close this out: see https://github.com/pharmaverse/admiral/issues/856 where we will now deprecate these and instead of having a generic age group function we'll use case_when as in ADSL vignette example currently.

[2022-04-12 14:52] rossfarrugia commented on #727
As all the above now have resulted in actions in other issues, I'll close this issue, but anyone feel free to comment and tag me if disagreeing with any of the above replies.

[2022-04-12 14:52] #727 closed

[2022-04-12 14:56] rossfarrugia commented on #1047
See example that should be referenced here: https://github.com/pharmaverse/admiral/issues/699

[2022-04-12 14:57] rossfarrugia commented on #699
Agree the new general functions and vignette tagged above will cover this case so I'll close this issue.

[2022-04-12 14:57] #699 closed

[2022-04-12 15:03] rossfarrugia commented on #246
i have some other examples of using this for AE data that i can add.

[2022-04-12 15:06] rossfarrugia commented on #725
I don't personally find N's that interesting in these cases and at Roche we would usually leave null. If anyone wanted N then they could easily add an extra step at the end using dplyr, so I'm happy to close out this one given how many other issues and updates we're working through. if anyone disagrees and has a strong passion to add this then feel free to re-open.

[2022-04-12 15:06] #725 closed

[2022-04-12 15:12] millerg23 commented on #1021
I am wondering if this could be used in the creation of the ADLB grades?
ie for simple criteria where grade is based on a value.
For Anemia, we could have:
[code]
And also, possibly for criteria like lab test ALT:
[code]
Is this possible, with the functionality of get_map function?

Also, from the examples you posted above, its not clear to me the use of '~'?
[code]
In the 2 cases above, we have `

[2022-04-12 15:20] rossfarrugia commented on #726
1 & 2a) Couldn't this be achieved using `ref_end_date` argument @bundfussr? Maybe you'd just need a step before to take minimum of NACTDT and TRTEDT as a temp variable and feed this in. Or is it worth allowing multiple variables to be included here in the argument?

2b) Yes that's my understanding. If an event started pre-treatment, then it doesn't get flagged as on-treatment, even if ended after

[2022-04-12 15:22] rossfarrugia commented on #728
@bundfussr I'd be interested to hear more on this idea when you get back after holiday. I think you're talking about some kind of inheritance where you could define admiral calls at a higher level than reporting event, such as company or molecule level. If so I think that is more a company-specific discussion rather than something for the admiral package.

[2022-04-12 15:31] rossfarrugia opened #1074 "derive_var_ontrtfl - issue with example"
### What happened?

https://pharmaverse.github.io/admiral/reference/derive_var_ontrtfl.html shows in the examples:

![image](https://user-images.githubusercontent.com/82581364/162998709-aa3a72ed-7fc2-41b5-8a37-2e2016463cb6.png)

My best guess is `ymd("2020-01-02T12:00")` should be replaced with `ymd_hm("2020-01-02T12:00")`

### Session Information

NA

### Reproducible Example

NA

[2022-04-12 15:47] bms63 opened #1075 "Documentation: Contribution to Admiral and being listed as Developer, Contributor, Alumni,"
### Please select a category the issue is focused on?

Other

### Let us know where something needs a refresh or put your idea here!

@pharmaverse/admiral

The list of contributors is ever-increasing!  A good thing!  However, some folks contributed in April-May 2021 and have since left the admiral project, others make tons of contributions monthly and others contributes in small amounts over the l

[2022-04-12 16:18] bundfussr commented on #972
@rossfarrugia , I have added some details. However, I have implemented the function. So it is hard for me to identify what is missing in the description of the parameters. Most likely this is easier for a new contributor.

[2022-04-12 16:25] bundfussr commented on #936
I think the PR is not related to the issue.

However, I would not add the good first issue label because the function has the questioning label.

Should we decide before the next release if we deprecate the functions with the questioning label? @rossfarrugia , @thomas-neitmann , @bms63 , @koegerr , what do you think?

[2022-04-12 16:31] bundfussr commented on #889
@rossfarrugia , yes, added.

[2022-04-12 16:32] bms63 commented on #940
Hey @konstantinakoukR just checking on where you are at with this issue.  We have till May 13th to get this one done :)

[2022-04-12 16:47] bundfussr commented on #1020
@rossfarrugia , I would not close the issue. On the contrary, I would extend at in the way that the specification of the imputation should be more granular. There are more use cases, e.g., for ADAE.ASDTM year should be imputed (taking `min_dates` into account) while for ADAE.AENDTM year should not be imputed but `max_dates` should be considered for imputing months and days. I think it is also reas

[2022-04-12 18:15] bundfussr commented on #879
Regarding the second item I personally agree that we should not change raw data. However, the ADaMIG explicitly mentions this option. Thus we should keep it but we could change the default of the `preserve` parameter to `TRUE`.

Regarding the last item I completely agree that we have an issue due to the imputation parameters we have in so many functions. But I do not like the proposed solution. I

[2022-04-13 06:28] rossfarrugia commented on #879
Thanks for the input Stefan! On the last point, we're not changing the programming strategy to allow embedding expressions within arguments as this one has been extensively discussed before with the leads.

@bms63 @thomas-neitmann @duniek - once we get the next release out, i think one of the dev team catch-ups could be dedicated to the date/time imputation discussion and all of the points above a

[2022-04-13 06:45] rossfarrugia opened #1076 "Decision on which "questioning" functions to deprecate?"
### Feature Idea

See Stefan's comment in #936. We have lots of questioning badge functions that it might be nice to clean up for this release and decide to either keep or deprecate. Here's a proposal from my perspective and @bms63 & @thomas-neitmann feel free to make the final call:

- derive_var_ady - we should deprecate in favour of derive_vars_dy as we mention this simple example even in our n

[2022-04-13 06:46] rossfarrugia commented on #936
agree @bundfussr - issue created to help push along a decision on these questioning functions for the next release.

[2022-04-13 09:28] rossfarrugia commented on #1075
my only 2 cents is that i dont personally mind having a long list of "contributors" in my mind (even if that is just for fixing typos) - i'd rather show openly how admiral is supported by a community not only a small core of Roche/GSK folks, and if having your name on a description file is a driver for more individuals to want to contribute to open source then i'm ok with that too.

[2022-04-13 19:08] amsmith214 opened #1079 "Feature Request: export `enumerate`, `quo_c`, ..."
### Feature Idea

Use `enumerate`, `quo_c`, and `extract_vars` explicitly within `{admiralonco}` functions

### Relevant Input

_No response_

### Relevant Output

_No response_

### Reproducible Example/Pseudo Code

I think this can be accomplished with an `@export` statement in the header to `enumerate`, `quo_c`, and `extract_vars` but may also require unit tests to be developed.

[2022-04-14 06:36] rossfarrugia commented on #1057
agree Eric! we do have some pharmaverse level slides for this level of audience covering admiral and more, e.g. we'll present the day after PHUSE US to the programming head council. we can consider over time whether we need to record such a presentation and also make available, but usually if a new company VP reaches out to any of the pharmaverse council reps with interest to get involved with ope

[2022-04-14 09:30] rossfarrugia opened #1081 "Bug: date imputation new preserve option not quite working as expected"
### What happened?

@bms63 i was working on the imputation vignette updates for #592 and i see the updates to the code weren't made quite how Stefan suggested. When `date_imputation = "mid"` and `preserve = FALSE`, "2019---01" gets imputed as "2019-06-15" when it should be "2019-06-**30**" as discussed in that closed issue thread.

Hopefully this is a quick fix so could be included in this release

[2022-04-14 12:26] bms63 commented on #1081
Oh...bummer.  Okay I will try and fix that one.  I think there is a test for that exact scenario too!

[2022-04-14 15:25] bms63 commented on #940
My understanding is it would be a function with a user-defined table.  A user would have their PARAMCD/PARAM mappings and then using the function join it onto the dataset.  If things are not mapped correctly or missing params then you get a warning message and results to review.  @millerg23 is that correct?

[2022-04-14 15:45] millerg23 commented on #940
Yes, thats correct, so function would have the following inputs as a minimum:
input data set (ie ADLB)
LOOK-UP table
BY_VARS for merging ADLB and LOOK-UP table

The function would return the dataframe with the variables in the look-up table added.
If there were observations in the new dataframe where PARAMCD missing then a WARNING would be triggered with the unique entries for the variables (from

[2022-04-14 16:01] bms63 opened #1085 "Polls in Discussions"
Does this link to the poll #1084

[2022-04-14 16:02] bms63 commented on #1085
@pharmaverse/admiral Maybe these polls are helpful?  #1084

[2022-04-14 20:12] bms63 commented on #1075
Awesome!  I will make some updates for the description file before the release.  I'll put active contributors at the top and anyone who has done work with us (no matter the issue) towards the bottom.  @duniek that means you get put at the top with active contributors as you are super instrumental in making this whole thing go!

[2022-04-15 17:30] mstackhouse opened #1088 "Suggestion: Rename {admiral} packaged ADaM Dataset"
You've package ADaM data within {admiral}, which is great - but I have some concerns about keeping standard ADaM dataset names for these dataset within the package. For example - this is the issue that I've just run into:

- Reviewing code from someone else
- Dataset named advs_temp is created and read from external source
- Subsequent code references advs, not advs_temp
- All code runs without er

[2022-04-18 19:35] wqrena commented on #886
`derive_disposition_rerason()` is deprecated and replaced by `derive_vars_disposition_reason()`. So I will update `derive_vars_disposition_reason()` instead.

Based on ADaMIG_v1.3, ADSL.DCSREASP is defined as Additional detail regarding subject's discontinuation from study (e.g., description of "other"). Therefore, let's update to only populate DSREASP when DSDEOD='OTHER'.  Here is the planned upd

[2022-04-18 20:57] wqrena commented on #886
@bundfussr Hi Stefan, I will work on this issue. Thanks!

[2022-04-19 07:23] rossfarrugia commented on #1088
makes sense to me! @thomas-neitmann & @bms63 do you agree? maybe an "admiral_" prefix would make these more obviously dummy data? would the same be needed for {admiraltest} SDTMs?

[2022-04-19 07:25] rossfarrugia commented on #1085
@bms63 couldn't we just do that directly in Slack? like Christina did before around the package naming convention

[2022-04-19 11:55] tamarasenior commented on #822
Hi @bundfussr, I have written the code for the second part of the requested update (handling duplicates), however I wanted to check before I push the updates that the date imputation should happen before the checking for duplicates? For example if the dates 2021-01 and 2021-01-01 are in the data and date imputation is set to FIRST, should this flag as a duplicate?

[2022-04-19 12:43] rossfarrugia commented on #822
@tamarasenior i think thats still fine to flag as a duplicate. in this case the most logical thing in my mind would be to take the non-imputed date as occurring first, as that's likely the most reliable death cause as we have a full date entered by the site. Stefan will comment I'm sure when back and may correct me, but I just wanted to share my 2 cents in case useful whilst he's away.

[2022-04-19 13:03] bms63 commented on #1085
yes i was just having fun with github - it is easier to link the poll but slack is more visible to us

[2022-04-19 13:07] bms63 commented on #1088
I'm in favor of renaming the datasets - this happened to me as well while doing ADaM programming at GSK lol.  I guess we should get this into the next release?

[2022-04-19 15:26] bms63 opened #1090 "Bug: renv.lock file using the ref=main rather than ref=devel"
### What happened?

Check Templates are falling over in Github Actions

### Session Information

Place the console output here

### Reproducible Example

Please give us as many details as you can! The faster we can recreate the bug, the faster we can get a fix in the works.  Warning, Error Messages and Screenshots are also great.

[2022-04-19 18:43] bms63 opened #1093 "Documentation: Clarify why we convert missings to NAs in templates"
### Please select a category the issue is focused on?

Other

### Let us know where something needs a refresh or put your idea here!

Some of our template scripts use `convert_blanks_to_nas`, but we don't really say why we are doing this in our comments.  I think we should point to the vignette that discusses this [issue](https://pharmaverse.github.io/admiral/articles/admiral.html#handling-of-miss

[2022-04-19 18:48] wqrena commented on #886
@bundfussr @bms63, I have completed all the 5 updates (programming and documentation) as listed above. Can you please help to review?  Thanks!

[2022-04-19 21:48] wqrena commented on #1053
@bms63 Hi Ben, I will work on this issue. Thanks!

[2022-04-21 05:38] PoojaKumari05 commented on #724
@slamao @shimenghuang @bms63 - I picked up this issue seeing the "documentation" tag, but I believe there is more input required from the developer's perspective before we update the documentation. Can someone help me understand this in details. In my experience at GSK I have not worked on this type of "query" dataset, so any small input will be appreciated. Thanks.

[2022-04-21 10:30] bundfussr commented on #822
@tamarasenior , I agree with @rossfarrugia .

[2022-04-21 11:26] bundfussr commented on #1021
@millerg23 , I would not use variables in the definition of the map as it would make the definition and usage less intuitive. For example the result of `atoxgr(AVAL)` would depend on the context where it is called. It may result in an error if `ANRLO` is not available. These type of functions I would define in the usual way with arguments for all required parameter, e.g., `atoxgr(AVAL, ANRLO)`.

I

[2022-04-21 12:09] konstantinakoukR commented on #940
Hi @bms63 , @millerg23 and @yangc71 ! I think I got an initial draft ready. Just a couple of things:
- where should we store the function? In the `R` folder?
- how the function should be called? What about `derive_adlb_lookup`?

[2022-04-21 12:11] bundfussr commented on #726
@rossfarrugia , yes, for 1 & 2a) you could create a temporary variable in a pre-processing step (you would need to take `ref_end_window` into account in the pre-processing step). I would not accept multiple variables for `ref_end_date` because then it is not clear to which one `ref_end_window` applies. We could add a separate parameter like `max_ref_end_date = NACTDT`. But most likely the temporar

[2022-04-21 12:19] bms63 commented on #940
Yes R folder for sure.

 I would take a look at the https://pharmaverse.github.io/admiral/articles/programming_strategy.html to make that call and see if there are other lookup tables already available?

![image](https://user-images.githubusercontent.com/10111024/164456395-6fad4e0f-4f25-4a6b-8a8f-64bf70cb6278.png)

[2022-04-21 12:26] bundfussr commented on #879
If we do not want to accept expression, I would prefer that the user creates temporary numeric date variables. I think this is more readable and easier to use, document, and maintain.

[2022-04-21 12:26] konstantinakoukR commented on #940
Thank you @bms63 ! Based on Programming Strategy I proposed the `derive_adlb_lookup`, since `derive_` takes a dataset as input and returns a new dataset as output. I don't think there are any other lookup tables available already but maybe I'm missing something.

[2022-04-21 12:30] bms63 commented on #940
Ummm...thinking if this is only for adlb or can it be generalize for other datasets?  adeg?

[2022-04-21 13:12] konstantinakoukR commented on #940
Good point! Maybe we can have a more general name like `derive_lookup_table` but for now we can have it limited to ADLB as first PR/testing?

[2022-04-21 13:15] bundfussr commented on #940
Shouldn't we use the `vars` fragment as it adds variables to the input dataset?

[2022-04-21 13:18] bms63 commented on #1090
It appears the renv.lock file is not the issue but how `admiraltest `is retrieved inside the `check_templates.yml` file

[2022-04-21 13:21] bms63 commented on #940
So `derive_vars_lookup_table`  ?

[2022-04-21 13:23] konstantinakoukR commented on #940
But it doesn't derive any new variable really :/ It merges the two datasets together and gives a new dataset with the records that PARAMCD is empty. Happy to use `derive_vars_lookup_table` though! :)

[2022-04-21 13:27] millerg23 commented on #940
To me, this is similar to other `derive_vars_merge_xxxx` functions we have, that all call `derive_vars_merged` function.
Maybe, `derive_vars_merge_lookup` or `derive_vars_merge_lookup_table` (maybe too long a name!)?

[2022-04-21 15:12] PoojaKumari05 commented on #1040
@thomas-neitmann @bms63 - I think, the reason SEARCH was working before and not working now is because earlier the website url was - "https://roche-gsk.github.io/admiral/news/index.html" and now its updated to "https://pharmaverse.github.io/admiral/index.html". As per the documentation we would need to submit the url to Docsearch and get the api_key, the renaming would not have reflected in Docsea

[2022-04-21 15:29] bundfussr commented on #720
@thomas-neitmann , @bms63 , @millerg23 , at the moment the ATC variables are not derived in the ADCM template. I assume that is due to not having FACM in admiraltest. Should we change this, either by adding FACM to admiraltest or adding commented out calls to the template?

What do you think?

[2022-04-21 18:49] amsmith214 commented on #1056
here's the list from running `grep -rn -e 'deprecate\_warn'` in the R folder:

[code]

does stuff elsewhere get deprecated? if this list looks good i can start mopping up

[2022-04-22 06:33] wqrena commented on #888
Hi Stefan, here is the steps that I am planning to do:
- find all the functions containing a parameter expecting a date object.
- In the header, For "@param [date]" ...,  add  "Refer to `derive_var_dt()` to impute and derive a date from a date character vector to a date object".

Please confirm if this will address the issue? Thanks

[2022-04-22 09:46] bundfussr commented on #724
@PoojaKumari05 , the function is intended for deriving the CDISC variables `SMQzzNAM`, `SMQzzCD`, `SMQzzSC`, `SMQzzSCN`, and `CQzzNAM` in ADAE. It can also be used to derive similar variables for standardized drug grouping (SDGs) in ADCM.

The "query" dataset defines which variables should be derived and how they should be derived. See the "Queries Dataset Documentation" vignette for a description

[2022-04-22 10:33] justineFRANCE opened #1095 "derive_vars_dtm() doen't give a time imputation when there is no observations with a time"
### What happened?

A bug happened!
I tried to use derive_vars_dtm to get a datetime from a date character. It appears that when in the dataset, at least one observation have a time, the time_imputation works fine. But, there is no time in the date character; it doesn't work.

### Session Information

R version 4.1.2 (2021-11-01)
Platform: x86_64-w64-mingw32/x64 (64-bit)
Running under: Windows 10

[2022-04-22 10:47] bundfussr commented on #888
I would add the sentence rather to the description of the parameter than the "Details" section.

[2022-04-22 12:05] bms63 commented on #1095
So this might be an R issue rather than a function issue?

It gives time output in the console but in dataframe it does not.

![image](https://user-images.githubusercontent.com/10111024/164710780-80082146-67cc-4f2c-b87c-2d37dbe40156.png)

[2022-04-22 12:12] #1085 closed

[2022-04-22 12:26] bms63 commented on #1040
Hi @PoojaKumari05 .  If we use the other method do we still need to apply for the request or do anything extra?  I think we want to avoid having to apply for stuff as it makes the issue dependent on the admins, which we want to avoid.  If we can't use the other method, then we can apply.  Let me know if I need to clarify anything.  Thanks!!

[2022-04-22 12:27] bms63 commented on #1095
Also thanks for reporting this issue and filling out the bug report!!

[2022-04-22 12:36] justineFRANCE commented on #1095
probably...we have to get around it by using 00:00:01 instead of 00:00:00

[2022-04-22 13:09] bms63 commented on #1056
These are just the functions that will be removed from admiral for the May 13th release?

[2022-04-22 16:06] bundfussr commented on #1076
I would deprecate `derive_var_trtsdtm()` and `derive_var_trtedtm()`. Especially the default for `filter_ex` seems dangerous to me because it hides that doses with incomplete date are excluded. I think it should be a conscious decision of the programmer which exposure observations are excluded. For example, in an interim analysis EXENDTC may be missing because the treatment is ongoing. With the cur

[2022-04-22 18:26] wqrena commented on #888
If would be repetitive if we add the sentence to each of the parameter description. For example, `compute_duration()` has 2 date parameter (eg. start_date, end_date).  How about adding the sentence to the "Description" section as a general guidance to the user?

[2022-04-22 19:42] teckla-gsk commented on #741
@rossfarrugia I have given this some thought and yes, I agree, anything I come up with that is generic is a bit too simple to include in admiral and the other stuff would be too protocol specific. Happy to close and put document this decision or see what other team members think?

[2022-04-25 06:51] justineFRANCE opened #1097 "derive_vars_dtm_to_tm() doesn't work after the usage of derive_vars_dtm()"
### What happened?

I try to use the function derive_vars_dtm_to_tm after using derive_vars_dtm. But there an error message.
Here it is an example of code I tried :
mhdt <- tibble::tribble(
  ~MHSTDTC,
  "2019-07-18T15:25:40",
  "2019-07-18T15:25",
  "2019-07-18",
  "2019-02",
  "2019",
  "2019---07",
  ""
)%>%
derive_vars_dtm(
  new_vars_prefix = "AST",
  dtc = MHSTDTC,
  date_imputation = "FIRST

[2022-04-25 08:59] bundfussr commented on #949
Outcome of discussion regarding package versions in extension packages:

admiral extension packages must use the same versions of packages that admiral core uses. Additionally packages can be used but they must not depend on newer versions of other packages (always reply “no” if updates are suggested during installation.)

[2022-04-25 09:10] bundfussr commented on #741
I think a function for creating dummy treatment groups fits rather into a test data generation package than into admiral.

[2022-04-25 09:55] otts5 commented on #989
@rossfarrugia Sorry, for the delay. It's a little busy for me right now. I will try to look into this. Could you please send me the recording for the onboarding? Thanks!

[2022-04-25 10:41] bundfussr commented on #888
I would repeat the sentence if a function has more than one date parameter because then it is more likely that the users find the information.

[2022-04-25 11:43] #723 closed

[2022-04-25 12:36] #1015 closed

[2022-04-25 14:16] bundfussr commented on #1097
@thomas-neitmann , @bms63 , should this bug be fixed for the next release?

[2022-04-25 14:22] bms63 commented on #1097
I would think that would be ideal

[2022-04-25 16:17] tamarasenior commented on #822
@bundfussr I want to check what the desired outcome is here - currently the derive_var_dthcaus() function is programmed so that if multiple records exist in different sources then the record is kept from the first source domain listed, regardless of how they are each is sorted. Do you want this functionality rewritten so that there is the option to either impute partial dates/select non-imputed da

[2022-04-25 20:23] bms63 commented on #374
@pharmaverse/admiral HI everyone.

I would like to start thinking about making the workflow for this ADQS in our next cycle after the upcoming CRAN release (May 13th) and if needed develop functions and a template script.

Like ADLB, I have never had the opportunity to build an ADQS dataset, but I look forward to this opportunity.  If we go forward with this - are their others interested?  I misse

[2022-04-25 21:20] bms63 commented on #1073
Hi @gg106046 I sent you slack invite.  Please sign up (this is how we communicate for general announcements and issues and such)  Recommend the other slack channels in the pharmaverse.

[2022-04-25 21:20] bms63 commented on #1073
Send me your username for slack once you sign up and I will add you to admiral_dev channel

[2022-04-25 23:16] wqrena commented on #888
That makes sense. I will update as suggested.

[2022-04-26 10:03] bundfussr commented on #374
@bms63 , I am interested in contributing to this issue. I am not sure if it possible to create a workflow or template script because there are so many questionnaires and so many endpoints. In the Roche standard no ADQS dataset covering all questionnaires is defined but separate datasets for each questionnaire, e.g., ADCSSRS and ADQLQC. Thus the development process and the result may be different c

[2022-04-26 11:04] bundfussr commented on #822
I would update the `dthcaus_source()` function such that the imputation parameters like `date_imputation`, `time_imputation`, ... can be specified. In `derive_var_dthcaus()` the imputation should be done before the first/last observation is selected.

[2022-04-26 15:28] bundfussr commented on #727
5e) We have implemented the `ignore_seconds` parameter. If set to `TRUE` and seconds were not collected, `TMF = NA` is set if only seconds are missing. However, suppressing the seconds for the DTM variable is not possible as the numeric datetime variables always include seconds.
5f) and 11) For `flag_imputation` parameter in `derive_vars_dt()` I would prefer permitted values `"auto"`, `"date"`, `"

[2022-04-26 20:30] bms63 commented on #1075
I'll do this right before we release to CRAN

[2022-04-27 00:19] wqrena commented on #888
Here is the steps:
- Find all .R files that contains a date parameter using grep "@param" *.R| grep "date".
- Go through the functions and add the sentence below to the date parameter expecting a date object.

"Refer to `derive_var_dt()` to impute and derive a date from a date character vector to a date object."

[2022-04-27 10:51] bundfussr commented on #1076
@bms63 , @thomas-neitmann , how should we proceed with this issue? Should we set it on the agenda for next Monday, have a separate meeting, or something else?

[2022-04-27 11:48] amsmith214 commented on #1056
yes

[2022-04-27 12:10] bms63 commented on #1076
#1056 I think Andrew is also tackling this.  I'm happy to do a separate meeting so we can get us all on the same page.  I can not make Q/C Meetings as I have a study meeting at that time.

[2022-04-27 12:13] bms63 commented on #1075
@upadhyor

[2022-04-27 14:19] thomas-neitmann commented on #1095
If all observations have `00:00:00` as the imputed time after conversion than R does not print the time. **However**, the object is still a datetime object which you can verify by checking the `class()`, e.g.

[code]

`POSIXct` is R's datetime class.

[2022-04-28 07:17] alanaharris22 commented on #761
Hi @rossfarrugia,
I saw there have been a couple of comments on #727 point 11 (changing default to `"auto"` rather than `"none"` in `derive_vars_dt()`), let me know what gets decided and whether you'd like these changes made in this issue (I have just submitted a PR).
Thanks!
Alana

[2022-04-28 08:07] rossfarrugia commented on #1081
thanks @bms63 for the updates and @bundfussr for the review!

[2022-04-28 08:16] rossfarrugia commented on #741
yes agree - thanks both, will close this issue.

[2022-04-28 08:16] #741 closed

[2022-04-28 08:25] rossfarrugia commented on #1076
@bms63 i think these are 2 separate issues. 1056 as i understood it talks about completely removing functions that have long been deprecated in previous releases, so that no need to even show them in our documentation or code anymore. whereas this issue talks of functions to potentially deprecate as part of this next release, which in time then likely get completely removed as part of a later rele

[2022-04-28 09:15] thomas-neitmann commented on #374
I certanly do not know much about questionnaire type datasets but I certainly know that there are a lot of different questionnaire out there with different ratings and scales and each questionnaire would most likely need specific functions. Would it make sense to start tackling a couple of commonly used questionnaire (e.g. EORTC, SF-36 QOL) in an admiral extension package?

[2022-04-28 10:15] rossfarrugia commented on #726
@bundfussr i agree - i'll close this issue as i don't deem any updates needed to the function for these comments.

[2022-04-28 10:15] #726 closed

[2022-04-28 11:18] bundfussr commented on #1095
It seems that no update of admiral is required. Should we close the issue?

[2022-04-28 11:24] PoojaKumari05 commented on #1040
Hi @bms63 @thomas-neitmann - I tried to install the latest "pkgdown" version which has the built-in feature in it, but I am having trouble in getting it installed because of the dependencies. Below is the snapshot of dependent packages. Kindly let me know if I can go ahead and install these 1 by 1 if there wont be any cascading issues upon updating these packages.
![Capture](https://user-images.gi

[2022-04-28 12:23] bms63 commented on #1040
I think you should keep going forward.  It looks like you will need fastmap package installed as well??  I don't think any of these packages are used in the admiral functions.

[2022-04-28 13:05] bms63 commented on #374
I've seen a lot of sf-36 on the the studies I've worked on, but never developed the datasets just the associated displays.

Be cool to see an `admiralqs` package.

I would think we should first develop some functions and a template within admiral and then if the number of associated functions grows too big, then move it out into its own specific package.

[2022-04-28 14:24] bundfussr commented on #374
@rossfarrugia , should we share the Roche Analysis Dataset Standard Specification 2? It provides a lot more questionnaires ADaMs specifications.

[2022-04-28 15:32] millerg23 commented on #374
@bms63 happy to get involved in this if required. I worked on implementing questionnaires in Roche with Stefan, agree with sentiments of focussing on particular questionnaires and build up the set of tools required.

[2022-04-28 16:13] rossfarrugia commented on #1074
thanks @jtvrdon!

[2022-04-28 17:34] rossfarrugia commented on #761
thanks @alanaharris22 - can you also add the following that @bundfussr rightly called out please:

_For flag_imputation parameter in derive_vars_dt() I would prefer permitted values "auto", "date", "none" with "auto" as default. Then we have consistency and the default implements the CDISC standard._

Having auto still works the same as your update above then, as if no imputation requested then no

[2022-04-29 07:30] sophie-gem commented on #939
Hi @thomas-neitmann / @bundfussr , I was wondering if either of you have come across the issues above before? Do you have any recommendation on how I attempt to resolve this?

[2022-04-29 11:35] thomas-neitmann commented on #1095
Yes, closing.

[2022-04-29 11:35] #1095 closed

[2022-04-29 13:20] billdenney commented on #727
In case it's helpful, I have written a very general ISO8601 parser that could likely be modified to create objects with partially-missing date-times: https://github.com/billdenney/ISO8601.parser

I have also written a (horrendous) regexp generator that can handle most ISO8601 formats, if that is helpful.  But, the parser is more robust.

The parser handles the full ISO8601 standard (as described o

[2022-04-29 13:29] bms63 opened #1103 "Post Release Clean Up Task"
After CRAN release:

- [ ] Delete branches that are stale or abandoned
- [ ] Delete branches from merged Pull Requests that made it into `devel`
- [ ] Triage and close issues that were not closed properly via PRs that made it into release
- [ ] Close Pull Requests that are stale
- [ ] Set up 0.8.0 News/Changelog Skeleton
- [ ] Remove unused Labels
- [ ] Retire labels specific to Release if no long

[2022-04-29 14:26] #1031 closed

[2022-04-29 14:27] #1025 closed, assigned to nobody

[2022-04-29 14:27] #1024 closed

[2022-04-29 14:54] bms63 commented on #374
Thanks Stefan!  @lucyhoch and @upadhyor do know which specs we can share that are related to our questionnaire ADaMs?

[2022-04-29 15:06] bms63 commented on #1069
I started working on a package template for pharmaverse packages.  Just a skeleton!  Nothign set in stone.   Maybe this issue should be moved over there https://github.com/pharmaverse/pharmaverse_templates

[2022-04-29 15:09] millerg23 commented on #1088
I can pick it up, but I am off on Monday, so Tuesday would be earliest I would look at this. Just to clarify, the following changes are required:
1) Rename all ADaM data sets in admiral/data area to have prefix of `admiral_`.
2) for each template script that creates an ADaM dataset, update final data set outputted to have prefix of `admiral_`, and make sure any ADaM data sets read in, have prefix

[2022-04-29 15:48] bms63 commented on #1088
Those steps make sense to me and timeline seems good to me!

Maybe we should rename data in the `admiraltest `package as well.  @bundfussr @thomas-neitmann @rossfarrugia what do you all think??

...
`admiral_dm`
`admiral_vs`
...

[2022-05-01 08:31] rossfarrugia commented on #1088
@bms63 i guess the same argument holds for admiraltest too and would be safer to just rename in both. can't harm and if it makes things clearer for users and less potential risk of accidentally inputting test data instead of the required real data then makes sense to me.

[2022-05-01 08:34] rossfarrugia commented on #879
Whoever picks this one up after our next release and after team discussion to plan best strategy for the re-factoring, check out Bill's comment at https://github.com/pharmaverse/admiral/issues/727 for any potential re-use.

[2022-05-01 08:35] rossfarrugia commented on #727
Appreciated @billdenney! We're going to come back to the imputation code after our upcoming release as it needs a re-factor, so we'll make sure whoever picks this up checks the above out for potential re-use.

[2022-05-01 08:40] rossfarrugia commented on #1069
@bms63 i think your comment relates more to https://github.com/pharmaverse/admiral/issues/949 doesn't it? and for that i would suggest we make it more admiral specific (rather than pharmaverse) as we want to add in our specific pieces like our PR checklist and common package dependencies etc. happy to work with you on that one after the upcoming release, as i had it on my list to come back to this

[2022-05-02 07:05] thomas-neitmann commented on #727
@billdenney Some very interesting work you've done there! After a quick glance at the package I can certainly see this as a viable improvment of handling partial dates in admiral. Would you be interested in making a proposal of how to integrate this into admiral?

[2022-05-02 07:09] thomas-neitmann commented on #1088
I agree that we should rename the datasets in both packages. `admiral_` sounds like a reasonable prefix for both packages to me.

[2022-05-02 07:10] thomas-neitmann commented on #1088
I created a [issue](https://github.com/pharmaverse/admiraltest/issues/30) for this in {admiraltest}.

[2022-05-02 10:41] billdenney commented on #727
@thomas-neitmann , I'm still learning the ins and outs of admiral.  So, if what I suggest doesn't align with the architecture of the package or what makes sense, please let me know.

I think that a general date-time handling function with missingness for some or most parts of the date-time can be of general usefulness.  I also think that date-time handling is a moderately complex topic with lots o

[2022-05-02 15:35] thomas-neitmann opened #1104 "Documentation: Add section on handling of function argument default values to Programing Strategy"
### Please select a category the issue is focused on?

Developer Guides

### Let us know where something needs a refresh or put your idea here!

 In general, no default values should be set if the expected value is study specific. If in doubt do not set a default value.

[2022-05-02 15:39] bundfussr commented on #671
Implement:
[code]
The `get_temp_var()` function returns a variable name which does not exist in the dataset. The `remove_temp_vars()` removes all temporary variables which were created in the calling function.
For example
[code]

[2022-05-02 15:44] bundfussr opened #1105 "Documentation: Restructure Reference Page"
### Please select a category the issue is focused on?

Other

### Let us know where something needs a refresh or put your idea here!

The reference page should be restructured:
- Remove “Other Keywords”, move “Timing”, “Sources” to User Utilities, move TTE sources and Metadata to top level
- Add subsection for User Utilities and Developer Utilities/ Various, User Utilities should contain functions

[2022-05-02 21:55] bms63 commented on #1105
Do you think we could do this one before the release?  @PoojaKumari05 do you think you could do this one as you are familiar with  the pkgdown dramework now?

[2022-05-03 09:45] koegerr commented on #856
Thomas and myself discussed and will close this issue with the rational given in the comment from Ross.

[2022-05-03 09:45] #856 closed

[2022-05-03 09:46] #829 closed

[2022-05-03 10:05] alanaharris22 commented on #525
@bundfussr @bms63 @rossfarrugia  - happy to pick this issue up.
Just to check my understanding, a new function is needed based on `derive_summary_records()` without the steps where new observations are added. This will replace the current code in derive_exposure_params.R and derive_summary_records.R.
What should the new function be called?
All the best,
Alana

[2022-05-03 10:14] bundfussr commented on #525
@alanaharris22 , I would propose `get_summary_records()`. See also [my comment in the old PR](https://github.com/pharmaverse/admiral/pull/610#pullrequestreview-791600555).

[2022-05-03 10:20] alanaharris22 commented on #525
Thanks @bundfussr, will take a look through the old PR..

[2022-05-03 11:49] amsmith214 commented on #1056
@bms63 i'm planning on working on this today, and will remove everything from the above list, barring objections.

[2022-05-03 17:38] sophie-gem opened #1108 "Update all references to {admiraltest} data with prefix `admiral_`."
As discussed in this [issue](https://github.com/pharmaverse/admiral/issues/1088) and subsequently in this [issue and associated PR](https://github.com/pharmaverse/admiraltest/issues/30):

- Data in {admiraltest} has been updated to `admiral_xx` and therefore any reference to data from {admiraltest} in vignettes, example scripts, etc. will need to be updated accordingly.
For example, `data('ae')` w

[2022-05-03 17:39] sophie-gem commented on #1108
(Apologies for not using one of the pre-defined issue templates - I didn't know which one this suited best - but hopefully this is clear)

[2022-05-03 17:39] sophie-gem commented on #1108
I will get started on this tomorrow.

[2022-05-03 17:43] sophie-gem commented on #1088
I have created an [issue](https://github.com/pharmaverse/admiral/issues/1108) to update {admiraltest} references and will work on this tomorrow.

I was wondering if I should also update the names of data within the {admiral} package within that issue also or whether it would be best to do this separately?

[2022-05-04 08:32] sophie-gem commented on #1108
Files that need altering (found by searching for the string `admiraltest`):

- [ ] tests/testthat/test-assertions.R
- [ ] tests/testthat/test-call_derivation.R
- [ ] tests/testthat/test-warnings.R
- [ ] inst/templates/ad_adae.R
- [ ] inst/templates/ad_adcm.R
- [ ] inst/templates/ad_adeg.R
- [ ] inst/templates/ad_adex.R
- [ ] inst/templates/ad_adsl.R
- [ ] inst/templates/ad_advs.R
- [ ] R/assertion

[2022-05-04 10:21] rossfarrugia commented on #1088
@sophie-gem thanks for picking this up! as it's all closely connected i'd be happy for you to self-assign to this issue as well and just do 1 admiral PR for both these. that probably contravenes our best practice but in this case it makes sense to me.

[2022-05-04 10:48] sophie-gem commented on #1088
Right ok, I'll do it all in one then - thanks @rossfarrugia!

(I'll make the changes as part of the 1108_update_references_to_admiraltest_data branch and then link both these issues to the subsequent PR).

[2022-05-04 12:52] sophie-gem commented on #1088
Can I just confirm, for the example_scripts, is the following ok

[code]

Or would you prefer me to also change the variable names throughout the program?

[2022-05-04 12:56] bundfussr commented on #1088
@sophie-gem , I would not change the variable names throughout the program because then the users would need to change them back when they copy the code.

[2022-05-04 12:59] sophie-gem commented on #1088
Makes sense, I shall just do as above then - many thanks @bundfussr.

[2022-05-04 13:07] thomas-neitmann commented on #1088
I'm not quite sure about that. Wasn't part of the motivation for renaming the datasets to not have the same names as "real" datasets. @bms63 Can you comment?

[2022-05-04 13:14] bms63 commented on #1088
What was the original problem?  #1088

Is the template causing the issue or how we have these datasets in the package??

[2022-05-04 13:18] bundfussr commented on #1088
I think the problem was that if a user used the dataset name `adsl` but did not have such dataset in the study, the ADSL dataset from admiral was used silently. As we have renamed the datasets in admiral, this should no longer happen.

[2022-05-04 13:29] thomas-neitmann commented on #1088
Ah, I see so that was the original problem. In that case I think it's fine to leave the variable names as is in the template programs.

[2022-05-04 13:51] sophie-gem commented on #1088
I'll go with that then - thanks all!

[2022-05-05 10:34] sophie-gem commented on #1108
Hi @thomas-neitmann , before I go on to change the ADaM dataset names I was planning on running `devtools::check()` to make sure it doesn't all fall apart with the new references - but obviously I get errors because it can't find `admiral_dm` (as it's in the devel branch of admiraltest) - any ideas on what I should do?

[2022-05-05 10:36] thomas-neitmann commented on #1108
You could install the old version of admiraltest where the names are not changed, yet, by running `remotes::install_github("pharmaverse/admiraltest@main", upgrade = "never")`.

[2022-05-05 13:19] thomas-neitmann commented on #1076
@bms63 and I decided to deprecate **all** function listed by @rossfarrugia above.

[2022-05-05 16:46] bms63 commented on #967
Hi Eric.  I installed downlit and using pkgdown 2.0.3 I see the link is no longer rendered @PoojaKumari05.  We should include this package in our list for the updated search function and link this in the PR to close this out.

![image](https://user-images.githubusercontent.com/10111024/166972418-6fd90ea7-b657-46ba-b979-44cfa6680627.png)

[2022-05-05 17:52] bms63 opened #1113 "Documentation: Update Description with minimum Package Version"
### Please select a category the issue is focused on?

Other

### Let us know where something needs a refresh or put your idea here!

Description file should be updated to say pkg (>= x.x) for all package which have a minimum required version

![image](https://user-images.githubusercontent.com/10111024/166983000-c404c426-149e-4ec5-8871-3293d063c66c.png)

Do we need to update any packages in the De

[2022-05-05 17:56] bms63 commented on #1103
@pharmaverse/admiral Hi developers.  Can you think of any additional items we should do for post-CRAN release?

[2022-05-05 18:33] bms63 commented on #1069
I was thinking that the functions that are used in all pharmaverse packages try to adhere to the similar design philosophy.  So the template would be a great spot to have these example functions.  A template within a template.  :)  This could still live inside our development guides in the admiral site or other guides with pharmaverse universe.

[2022-05-06 06:16] duniek commented on #1104
@thomas-neitmann is this "Good first issue" maybe?

[2022-05-06 06:23] wqrena commented on #933
@bundfussr, I would like to pick up this issue.
Let's add the clarification sentence such as "This computation function can not be used with `%>%` ". Can you clarify where is the best place to put this clarification sentence, in the manual description, or in the manual details?

[2022-05-06 09:36] bundfussr commented on #933
@wqrena , thanks for picking this up.

I would put the sentence into the details section. Maybe it should say "Usually this computation function can not be used with `%>%`." because technically you could use `%>%` but in most cases it does not make sense.

Could you also add a sentence to the "Computations" section on the "Get started" page?

[2022-05-06 09:41] rossfarrugia commented on #1069
I'd say let's focus on the admiral family of packages for this bit and then we can always pick the best bits towards new pharmaverse collabs in future. we're trying not to influence too much around package design decisions etc via pharmaverse as the dev leads should feel still in control, but we can point to good examples like admiral to help.

[2022-05-06 09:55] rossfarrugia commented on #1076
thanks @thomas-neitmann & @bms63  - happy if you want to close this issue and make a new issue with the required steps to do the deprecations like reminding to update the ADaM templates and vignettes etc, or use this issue and get someone new signed up to it. if we include enough detail i'm sure a non-core contributor could help pick up this action

[2022-05-06 12:31] duniek opened #1116 "Bug: test"
### What happened?

A bug happened!

### Session Information

Place the console output here

### Reproducible Example

Please give us as many details as you can! The faster we can recreate the bug, the faster we can get a fix in the works.  Warning, Error Messages and Screenshots are also great.

[2022-05-06 13:06] bms63 commented on #1108
Hey Sophie.  Will you be able to finish this soon?  Unfortunately, this update to admiraltest is causing everything to fall over again.  I can help if needed.

[2022-05-06 13:12] sophie-gem commented on #1108
Hey Ben, I am almost done with the updates of the {admiraltest} references. I was going to do the ADAM dataset renaming in here also, however if it would be easier (so that everything doesn't fall over) I can do the ADAM updates in a separate issue? [Apologies, some project work has come up which meant that this fell behind a little...]. I am in the process of running devtools::check() to make sur

[2022-05-06 13:19] bms63 commented on #1108
It makes sense to do the ADaM renames in this branch.  Thanks!!  I can review when completed.

[2022-05-06 15:12] sophie-gem commented on #1108
Right, as of the commit above [378d477](https://github.com/pharmaverse/admiral/commit/378d4771573073ac8c71e92cc6177fd1af49b95d), all references to `admiraltest` data within `admiral` have been updated and `devtools::check()` runs with no errors. Moving forward, I'll now do exactly the same for the ADaM data within `admiral` . That is, prefix the dataset names with `admiral_` and then identify and

[2022-05-06 15:25] sophie-gem commented on #1108
datasets to update:
- [ ] adae
- [ ] adcm
- [ ] adeg
- [ ] adex
- [ ] adsl
- [ ] advs

What is the consensus - do I also update `ex_single.rda` and `queries.rda`? Or as these are not 'standard' ADaM names are these ok as is?

[2022-05-06 17:35] sophie-gem commented on #1108
Files that need altering (found by searching for the string of each of the above data sets) [second pass - admiral ADaM data]:
- [ ] inst/example_scripts/example_query_source.R
- [ ] inst/templates/ad_adae.R
- [ ] inst/templates/ad_adcm.R
- [ ] inst/templates/ad_adeg.R
- [ ] inst/templates/ad_adex.R
- [ ] inst/templates/ad_adsl.R
- [ ] inst/templates/ad_advs.R
- [ ] R/assertions.R
- [ ] R/call_der

[2022-05-06 17:48] sophie-gem commented on #1108
Given the volume of scripts etc. that need editing (see above checklist) - I may need an extra hand, as I don't think it will be possible for me to achieve this by next Friday (as it would have to be outside of work hours...) otherwise. @thomas-neitmann / @bms63 - do you think that'll be possible? (I'll keep the remote branch up-to-date with my local branch and tick off those I have managed to do.

[2022-05-06 17:51] bms63 commented on #1108
I wonder if there is a way to use grep in the terminal to find and replace these datasets in the entire admiral codebase?

[2022-05-06 17:52] bms63 commented on #1108
https://stackoverflow.com/questions/15402770/how-to-grep-and-replace

`grep -rl matchstring somedir/ | xargs sed -i 's/string1/string2/g'`

[2022-05-06 17:54] sophie-gem commented on #1108
That's a fair point - I didn't think of doing it that way (was literally going to go in and do it by hand). Will take a look into that (will have to be Sunday evening / early Monday now). Thanks @bms63 !

[2022-05-06 17:55] bms63 commented on #1108
ill test it out looks fun!

[2022-05-06 17:57] sophie-gem commented on #1108
Let me know how it goes - I'm really interested to find out! (Love learning new ways to code!)

[2022-05-06 21:10] bms63 commented on #1108
Made some headway, but having problems with building some of the rmd file, e.g ‘bds_exposure.Rmd’ ‘bds_finding.Rmd’ ‘bds_tte.Rmd’

I used this code to go through the different folders and change from data(xxxx) to data(admiral_xxxx) as well as the calls to data("xxxx") to data("admiral_xxxx")

Just need to figure out the three Rmd files and how those functions use the package data.  I couldn't fig

[2022-05-09 08:59] rossfarrugia commented on #1081
See comment at https://github.com/pharmaverse/admiral/pull/1080 - i don't think this update worked excatly as was required.

[2022-05-09 11:01] bundfussr commented on #1108
Shouldn't we replace
[code]
with
[code]
?
Or did I misunderstand the issue?

[2022-05-09 11:05] sophie-gem commented on #1108
Yes, I believe that should do the job. Many thanks @bundfussr! Unless anyone else gets chance to do this before hand, I'll take a look at this after work this evening.

[2022-05-09 12:15] bms63 commented on #1108
@bundfussr Do you know how to correct this error?   This is from `bds_tte_Rmd`
![image](https://user-images.githubusercontent.com/10111024/167407760-b072713d-bfc1-414d-97ac-a388cc72dd1a.png)

[2022-05-09 12:26] bms63 commented on #1081
Okay.  I think I misunderstood what was being asked for the update.  Apologies.  @bundfussr fix solves the issue in #1080.

[2022-05-09 12:32] bundfussr commented on #1108
@bms63 , why did you change the name in the derivations? If users copy the code, they need to change it back. And if they forget it somewhere, they'll use the admiral data instead of their study data.

I think renaming the admiral data where it is read in, e.g.,
[code]
is less error prone.

The TTE vignette is failing because you renamed the dataset name in the definition of `death` and `lstalv` t

[2022-05-09 12:38] bms63 commented on #1108
That makes sense for the users copying code.  I will update

[2022-05-09 13:50] bms63 commented on #1108
I have the devel version installed in my RStudio.  I would think it would work when doing a Check?  I will investigate later.

[2022-05-10 09:54] bundfussr opened #1120 "Feature Request: Add `value_var` parameter to `derive_vars_atc()`"
### Feature Idea

Add `value_var` parameter to `derive_vars_atc()`

### Relevant Input

What should the input look like? REMINDER: no patient level data or company sensitive information should be shared via this open public issue

### Relevant Output

What should the output look like? REMINDER: no patient level data or company sensitive information should be shared via this open public issue

###

[2022-05-10 10:46] tamarasenior commented on #822
@bundfussr thanks for the instruction, if you have time to review the updates that'd be great

[2022-05-10 10:51] rossfarrugia commented on #822
@tamarasenior thanks for the efforts! if you're happy with the code you could make a pull request to devel as per https://pharmaverse.github.io/admiral/articles/development_process.html and add Stefan as reviewer once you run through all the suggested checks there.

[2022-05-10 12:23] bms63 commented on #1073
Hi @gg106046 HAve you had time to go through all the above tasks.  Do we need to clarify any of them?

[2022-05-10 12:37] gg106046 commented on #1073
Hi @bms63! I have gone through the 'Programming strategy' and 'Developer guide articles'. I've marked them complete above. And I have been invited to the stand ups and sprint backlog meetings - should I mark "invited to all relevant meetings" as check?
And I'm not aware of what the "Box and relevant documents" contain.
Is the "Teams way of working" the same as what I followed for the Issue #972 ?

[2022-05-10 15:59] bms63 commented on #1073
@duniek Can we give access to Gayatri the box files?

[2022-05-11 02:13] yangc71 opened #1122 "Documentation: Update BDS Finding Vignette to include new functions"
### Please select a category the issue is focused on?

User Guides

### Let us know where something needs a refresh or put your idea here!

Add new functions created as part of the ADLB workflow to the BDS finding vignette.

[2022-05-11 08:07] rossfarrugia opened #1123 "Bug: README link for conference points to pharmaverse repo now"
### What happened?

Explain the US connect 2022 workshop in the readme, which also contains admiral slides from EU 2021.

### Session Information

NA

### Reproducible Example

NA

[2022-05-11 08:17] bundfussr commented on #1076
I'll start the implementation of deprecating the functions now.

[2022-05-11 08:45] rossfarrugia commented on #1076
thanks @bundfussr - sure you'd spot it, but i noticed even pages like the get started https://pharmaverse.github.io/admiral/articles/admiral.html will be impacted as it includes:
[code]

[2022-05-11 09:45] duniek commented on #1073
Done. @gg106046 pleas confirm

[2022-05-11 10:26] gg106046 commented on #1073
@duniek @bms63 I have access to box files now. Thanks!

[2022-05-11 10:27] rossfarrugia opened #1126 "Feature Request: Add RANDDT to ADSL template and vignette"
### Feature Idea

Once we have https://github.com/pharmaverse/admiraltest/issues/35 added to admiraltest, we need to update the admiral ADSL template and vignette for the disposition date sections to add a RANDDT (randomization date) variable. This is needed for admiralonco.

The adsl dataset at https://github.com/pharmaverse/admiral/tree/main/data would also need to be updated with the new versio

[2022-05-11 10:37] rossfarrugia commented on #1126
Once this is updated please also update https://pharmaverse.github.io/admiral/articles/bds_tte.html as part of this change where it says:
`Note that in practice for efficacy parameters you might use randomization date as the time to event origin date, but this variable is not in the CDISC Pilot ADSL dataset so we used TRTSDT for these examples.`

This can be shortened to:
`Note that in practice fo

[2022-05-11 11:28] bms63 commented on #1073
Thanks all!  Going to close this one down.

[2022-05-11 11:28] #1073 closed

[2022-05-11 13:19] koegerr commented on #374
Hi,

I am currently working with the Neuroscience POD ADS Leads to collect all neuro endpoints (mainly questionnaires). The goal is to see how we can harmonize the approaches as much as possible. Not just the programming but also what metadata to generate and what documents to store and how to document the analysis.

@bundfussr and @millerg23 I will reach out to you when we have all the content to

[2022-05-11 13:26] duniek commented on #379
@bms63 is checking within GSK: specificity (potentially move to GSK package or metatools)

[2022-05-11 13:54] #1018 closed

[2022-05-11 13:59] #982 closed

[2022-05-11 15:48] aehmann-gsk commented on #379
Hi @duniek - @bms63  and I discussed this.

I think the CO function is worthwhile for GSK and are detailed in the SDTM IG.
This join should not be dependent on RELREC.  This join is detailed in section 8.5 of the SDTM IG.  I would see this function aligning with what is described in section 8.5.  I would see this particular function having similarities with the derive_vars_suppqual function.  You

[2022-05-11 16:37] duniek opened #1128 "Documentation: e2e ADaM pharmaverse vignette"
### Please select a category the issue is focused on?

User Guides, Other

### Let us know where something needs a refresh or put your idea here!

Need admiral support for the e2e ADaM pharmaverse vignette with Christina

[2022-05-12 07:50] bundfussr opened #1129 "Fix styler findings"
Fix styler findings to pass check.

[2022-05-12 09:43] bundfussr commented on #1129
@thomas-neitmann , @bms63 , I noticed that the current version of `styler` (1.3.2) removes the alignment within `tribble()`. This was fixed in version 1.5.1.

Do you have any concerns moving to version 1.5.1 for `styler` and to version 2.0.3 of `magrittr` (required by `styler`)?

[2022-05-12 09:45] thomas-neitmann commented on #1129
I think it's fine to upgrade 👍

[2022-05-12 10:31] rossfarrugia commented on #1063
@bundfussr given how we recently updated the {admiralonco} functions shouldn't we replace `source_param` and `condition` with a single `filter_source` argument?

e.g. in the example above you'd have `filter_source = PARAMCD == "OVR" & AVALC == "PD" & ANL01FL=”Y”`

[2022-05-12 13:53] bundfussr commented on #1022
Sorry, I missed the DEATH parameter.

However, we can not implement the function as it is proposed in this issue because the `set_values_to` parameter accept expressions. We could add a `date_var` parameter to `derive_param_first_event()`. Then we could use it for deriving DEATH.

What do you think?

[2022-05-12 14:59] bundfussr commented on #1022
If we set `AVALC = "Y"` in `set_values_to`, it is set for *all* observations. We could use a `mutate()` call after the `derive_param_merged()` call to rederive `AVALC`. But this would not look nice.

I would prefer a function which derives the parameter completely.

[2022-05-12 15:04] bundfussr commented on #1063
@rossfarrugia , yes, makes sense.

[2022-05-12 16:32] bundfussr commented on #1022
`DTHFL` is `"Y"` or null, i.e., we can not use it directly for `AVALC`.

If we add `date_var` and `dataset_source` parameter to `derive_param_first_event()` and use `DTHDT` instead of `DTHDTC`, the following call should work.
[code]
`AVALC` is set to `"Y"` for all subjects with an observation in `dataset_source` fulfilling `filter_source` condition. For all other subjects it is set to `"N"`.

[2022-05-13 06:39] PoojaKumari05 commented on #975
![favicon](https://user-images.githubusercontent.com/90273880/168225472-ead9dc4a-b5fc-4185-bd57-6a137303c8e1.png)
Hi @bms63 @thomas-neitmann - I have edited from an online site, let me know  your views - if this is what we were expecting, and also the quality.

[2022-05-13 07:13] rossfarrugia commented on #1063
@bundfussr issue now updated accordingly - please do the same for the code.

[2022-05-13 07:16] rossfarrugia commented on #1022
i like your suggestion @bundfussr - will close this issue and update #1063

[2022-05-13 07:16] #1022 closed

[2022-05-13 07:20] rossfarrugia commented on #1063
@bundfussr also updated to add `date_var` and `dataset_source` as discussed in issue 1022.

[2022-05-13 13:30] bms63 commented on #975
This looks promising.  Can you embed into the Readme in a branch so we can take a look at it?

[2022-05-13 15:06] rossfarrugia commented on #697
@bundfussr no reply yet... i spent some time reflecting on this one and i went back and forth in my head of what to propose, and then i opened the actual code and saw it's just a simple `mutate(...case_when(...))` & i thought we're probably spending more time considering this than any user would even take to program it themselves for whatever study-specific condition they needed! plus trying to ma

[2022-05-13 15:37] bundfussr commented on #697
I am not sure if we should spend more time on explaining the function.

I would deprecate it as it is too specific and at Roche use `mutate()` and `case_when()` for both ADCM.ATIREL and ADMH.ATIREL. I see your point that the specific code may be useful as a starting point. But I am concerned that if we start adding specific functions as "examples" to admiral core, it becomes hard for the users to

[2022-05-13 17:56] bms63 opened #1133 "Feature Request: Reproducible scripts for admiral_xxxx datasets"
### Feature Idea

Currently, we have admiral_xxx datasets loosely based off the template scripts.  Some of these datasets are quite large, e.g. advs and adeg.  I was trying to add an additional lab dataset and maxed out the data size for the package.

Can we reduce the size of the datasets but still use them for interesting examples as well as not break any of the current examples, vignetters etc.

[2022-05-16 07:06] rossfarrugia commented on #697
Fine for me @bundfussr - let's deprecate it! if anyone ever asks for it we can point to this line in the updated programming strategy:
`If something needed for ADaM could be achieved simply via an existing tidyverse function, then we do not
wrap this into an admiral function, as that would add an unnecessary extra layer for users.`

[2022-05-16 08:34] thomas-neitmann opened #1136 "Documentation: ADaM datasets no longer displayed on website"
### Please select a category the issue is focused on?

Function Documentation

### Let us know where something needs a refresh or put your idea here!

Following the recent renaming of the ADaM datasets packaged with {admiral} they are no longer listed on the {pkgdown} website. Running `pkgdown::build_site()` gives the following warning:

[code]

[2022-05-16 09:59] bundfussr commented on #697
OK, I'll deprecate it.

[2022-05-16 12:49] thomas-neitmann commented on #697
Are we going to move this function to {admiralroche}?

[2022-05-16 12:53] bundfussr commented on #697
No, it works for ADCM.ATIREL only but not for ADMH.ATIREL. Therefore we think it is easier just to use `mutate()` and `case_when()`.

[2022-05-16 13:02] rossfarrugia commented on #1043
@koegerr @duniek @thomas-neitmann @bundfussr @bms63 @upadhyor today i've been looking into the Programming Strategy vignette around where good/bad examples of function designs could be added, and i've come to the conclusion that i think we only risk drowning out our messaging here by adding even more - it would be very difficult to add examples in a concise way here. the first few paragraphs under

[2022-05-16 13:04] rossfarrugia commented on #697
agree - i cut and paste the `mutate()` and `case_when()` lines from this function into our Roche planned implementation. it will do exactly the same thing, only this simple code won't be hidden away one level deeper for users to need to dig into.

[2022-05-16 14:38] koegerr commented on #1043
Hi Ross,

I had another discussion with Thomas and we thought first we write a guide around the quoting and unquoting. For all other pieces behind that issue we could find existing examples and try to use those.

But I think you raise a good point here, as did @millerg23 already last time. So maybe let us fill the technical gap in the programming strategy (quoting) for now and re-consider after th

[2022-05-16 17:55] bms63 opened #1139 "Community Outsourcing of documenation for devel to main PR"
Thanks for helping us!!
If you choose to review any of the vignettes listed here, please edit the list and **replace "admiral-non-core-dev" with your name**

## General Check List for Each Section Below

- [ ] Free of spelling and grammar mistakes
- [ ] Links Work and directs you to intended place
- [ ] R code returns expected results
- [ ] Deprecated or soon to be deprecated functions are not use

[2022-05-16 20:54] bms63 commented on #879
Sorry I can never make Q/A meetings due to my study meetings

I would think we just keep the same features but make the code more readable and maintainable.

Also, Can we have both?  keep this function in admiral and have a more robust and well-designed function in a separate package.

I'm not looking forward to having admiral, metacore (for suppqual) and then additional pharmadate package (for my

[2022-05-17 04:12] PoojaKumari05 commented on #975
![logo](https://user-images.githubusercontent.com/90273880/168727345-08f2fca1-bf15-42c7-bd0c-695f216c642d.png)

[2022-05-17 07:04] rossfarrugia commented on #879
@bms63 will write up a proposal summarising our discussions and potential solutions and then will run it past you and the others for review. around the dependency package possibility, the idea was still to have the imputation derivation functions in admiral but maybe they just call some utility functions from another package if useful to help better parse the datetimes, just like how we use tidyve

[2022-05-17 09:29] bundfussr commented on #1021
@bms63 , I think it does not fit into the xportr package because the map class is also useful if you are not producing xpt files. The scope is different. The `get_map()` functions creates an object similar to a SAS format but it does not assign it to a column of a dataset.

[2022-05-17 11:53] PoojaKumari05 commented on #975
@rossfarrugia @bms63 @thomas-neitmann - this is the best resolution I could come up with online free tool. It's 600 dpi as per the site guide. Let me know what yours thoughts.

[2022-05-17 12:10] rossfarrugia commented on #975
thanks Pooja - i'm fine to go with this.

[2022-05-17 12:18] bms63 commented on #975
Lets do it!

[2022-05-17 12:36] thomas-neitmann commented on #1139
If you choose to review any of the vignettes listed above, please edit the list and replace "admiral-non-core-dev" with your name.

[2022-05-17 12:47] bms63 commented on #1021
Sorry I did not read the issue thoroughly and misunderstood what this was for.  Thought we were trying to create an actual SAS format .

Feels like a metatools issue to me.

[2022-05-17 12:55] bundfussr commented on #1021
I think it does not fit into metatools either because metatools provides functions using metacore objects as input. But `get_map()` does not use a metacore object.

[2022-05-17 12:58] bms63 commented on #1021
Ummm...we deprecated our suppqual function for metatools::comine_supp function which does not require a metacore object to use.  Exception to the rule I know, but...

Also this just looks like metadata to me...so I'm thinking metatools.

I'm weary of so many packages for the users! :)

[2022-05-17 13:01] pawelru opened #1140 "Documentation: Contribution guideline not as a vignette"
### Please select a category the issue is focused on?

Developer Guides

### Let us know where something needs a refresh or put your idea here!

It's quite unusual to place a contribution guidelines into a vignette. Usually it's living in `CONTRIBUTING.md` file in a root of the project. This is what it's being recommended by GitHub as per [manual](https://docs.github.com/en/communities/setting-up-

[2022-05-17 13:36] bms63 opened #1141 "Documentation: Release Template for devel into main PRs"
### Please select a category the issue is focused on?

Other

### Let us know where something needs a refresh or put your idea here!

Simple checklist for releasing to CRAN with additional post-release clean up tasks #11

[2022-05-18 08:40] thomas-neitmann opened #1145 "Documentation: README on `devel` branch not formatted correctly"
### Please select a category the issue is focused on?

_No response_

### Let us know where something needs a refresh or put your idea here!

![image](https://user-images.githubusercontent.com/11788080/168996532-820dca27-f9b3-459d-b51f-348eaadc5ede.png)

[2022-05-18 08:52] rossfarrugia commented on #1139
i feel bad asking others and then not putting my hand up myself, so i signed up to 4 of the above :)

[2022-05-18 09:20] bundfussr commented on #1079
I wonder if we should export all functions in `dev_utils.R`. Maybe this is easier than exporting them one by one when they are required by an extension package.

@pharmaverse/admiral , what do you think?

[2022-05-18 11:27] dinakar29 commented on #949
Hi all, let me know if and when a barebones repository is available for this template. I will begin adding a centralized/common set of CI/CD workflows.

Also - what is this -> https://github.com/pharmaverse/pharmaverse_templates? Can that be used for admiral extensions? Trying to align efforts here, so we don't reinvent the wheel.

[2022-05-18 12:08] rossfarrugia commented on #949
@dinakar29 you can start using that repo you mentioned above. See the discussion here as FYI https://github.com/pharmaverse/pharmaverse/issues/121. I need to have a think whether this should be renamed to be more admiral specific as then we can put more pieces in that are relevant to admiral package extensions, and any new pharmaverse collaboration could still use this as a starter if beneficial.

[2022-05-18 12:15] bundfussr commented on #949
@dinakar29 , I just notice one issue in admiralonco. For development of admiralonco we use the development version of admiral. Could this be considered in the R-CMD checks? I.e., for pull requests and pushes to `devel` the development version of admiral should be used by the checks. For PRs and pushes to `main` the latest released version of admiral should be used.

I would expect that all extensi

[2022-05-18 12:18] dinakar29 commented on #949
@bundfussr - yes that can be easily done. That's part of the staged.dependencies workstream. Will let you know when that's in place.

@rossfarrugia - Yes let me know when you get to it, we can pair/collab accordingly.

[2022-05-18 12:20] bms63 commented on #949
Hi @dinakar29 That is just something I was playing around with that @rossfarrugia asked me to experiment with.  I was able to use the template and was able to have barebones "admiral" infrastructure set up.  Very cool!  Feel free to throw away, rename or delete.

[2022-05-18 12:35] bms63 commented on #1079
I think exporting them is fine.

I think there is unit tests for them already.

Do we want them to prefix them with something so they are easy to find?  For example, dev_quo_c(), dev_enumerate() or some other prefix

[2022-05-18 12:43] kodesiba commented on #1139
Happy to take the three BDS ones, I can't edit the post so if someone else wants to update that would be awesome

[2022-05-18 12:48] bundfussr commented on #1139
Thanks @kodesiba , I have added your name to the items.

[2022-05-18 13:18] koegerr commented on #977
We won't have this in the latest release

[2022-05-18 14:40] thomas-neitmann commented on #1079
Just an idea: would it be worthwile to have all these development utilities in its own package, e.g. {admiralutils} ot {admiraldev}? I feel that would keep {admiral}itself "cleaner" as it would only contain derivations.

[2022-05-18 14:53] bms63 opened #1147 "Bug: filter_if is falling over in Example on Website"
### What happened?

Examples looks like it is falling over on website

![image](https://user-images.githubusercontent.com/10111024/169068865-0c516cd5-e8fa-49f3-99ce-dda3ba893a3b.png)

### Session Information

Found on website

### Reproducible Example

Unsure on the first one example

If I change filter_if(admiral_vs, rlang::quo(VSTESTCD == "Weight")) to filter_if(admiral_vs, rlang::quo(VSTESTCD =

[2022-05-18 15:00] #1116 closed, assigned to nobody

[2022-05-18 15:12] thomas-neitmann commented on #1147
If I run these examples in the console they produce a result without error (altough the second one returns 0 rows as it should indeed be `"WEIGHT"`):

![image](https://user-images.githubusercontent.com/11788080/169075724-a452cd0f-3798-4a7a-a837-b7d4c7ce56bd.png)

[2022-05-18 15:16] bms63 commented on #1147
Maybe is doesn't like the size of the data that it is being asked to display?

[2022-05-18 17:03] bms63 commented on #1079
Ohh... separate package I like!  Maybe a good one to test the template repo with?

[2022-05-18 17:12] bms63 commented on #1140
Thanks Pawel.   This is my first big open source project so I was not aware of this practice.

Do you have any interest in working on and driving this issue for us?  I believe most of the materials are available - just moving to the CONTRIBUTING.md.

What do others think? @pharmaverse/admiral

Might be a good one for our template repo as well?? @dinakar29

[2022-05-18 17:13] bms63 commented on #1139
I grabbed two

[2022-05-18 17:16] bms63 commented on #1139
@pharmaverse/admiral hi all - the community passion for vignette review seems to be a bit lacking.  hoping we can call upon our core developers to take on these remaining reviews.  Anyone have time to do a quick pass on these?  7 remaining

Also, if anyone is willing to do some random sampling (Elon Musk style) of our Reference pages to check examples/formats that is a another good one to tackle.

[2022-05-18 17:59] dinakar29 commented on #1140
@bms63 - Yes, definitely, we should be adding the contribution guidelines, code of conduct, and issue templates all to the template repository.

[2022-05-18 18:09] bms63 commented on #1140
ooh code of conduct

[2022-05-18 19:44] esimms999-gsk opened #1149 "Documentation: review of "Get Started" from Issue 1139"
### Please select a category the issue is focused on?

User Guides

### Let us know where something needs a refresh or put your idea here!

- When creating the ADSL as per the instructions, the documentation's display of the content of the dataset shows only a few variables instead of all variables. This had me confused for a couple of minutes. The documentation's initial display of the content of

[2022-05-18 20:09] kodesiba commented on #1139
Checked out the BDS ones and all three looked pretty solid.

In bds_Finding, the adeg dataset is used in the section derive_param but the dataset itself was never loaded in from {admiraltest} in the vignette.  Additionally it looks as though the PARAM the example is creating already exists in the adeg test data so it would need to be removed to not trigger `assert_param_does_not_exist()`.  Not sur

[2022-05-18 20:27] #1149 closed

[2022-05-18 20:28] bms63 commented on #1139
From Eric Simms @esimms999-gsk and his Review of Get Started

- When creating the ADSL as per the instructions, the documentation's display of the content of the dataset shows only a few variables instead of all variables. This had me confused for a couple of minutes. The documentation's initial display of the content of ADSL should show all variables. (Note: further down under Computations, only

[2022-05-19 07:01] rossfarrugia commented on #1139
@esimms999-gsk for the last bullet it is correct that ADLB and ADPP templates are available in this release, so the documentation is fine but something up with why `list_all_templates` is not showing those when you run.

[2022-05-19 07:37] pawelru commented on #1140
I am afraid that it's not that easy (at least for me - not a frequent contributor to `admiral`). I can spot few vignettes regarding contribution as a whole - namely: `"contribution_model"`, `"development_process"`, `"programming_strategy"`, `"git_usage"`, `"writing_vignettes"`, `"pr_review_guidance"`, `"unit_test_guidance"`. All of them are very rich in content and very specific to what you are do

[2022-05-19 07:39] rossfarrugia commented on #1139
Date and Time Imputation vignette issues:
- 06-15 example needs a bit more explanation why we included it, otherwise it looks like a repeat of 01-01 example. i.e. update the text as: `If you wanted to achieve a similar result by replacing any missing part of the date with a fixed value `06-15`, this is also possible, but note the difference in days for cases when month is missing:`
- In the first

[2022-05-19 08:21] thomas-neitmann commented on #1139
Thanksa lot for taking such a detailed look @kodesiba! Is this something you would be willing and able to fix today or tomorrow? If not, I can take it on myself.

[2022-05-19 08:37] millerg23 commented on #1139
I can take this on today, thanks so much @kodesiba for reviewing the Vignette, and for highlighting these issues.

[2022-05-19 10:01] rossfarrugia commented on #1139
FAQ vignette looks ok except one link broken: "(see Admiral offers a toolbox of functions to facilitate ADaM. What does that mean?)". I'll fix this now.

[2022-05-19 10:28] rossfarrugia commented on #1139
Development process vignette is fine, but Contribution one has some old Slack links that link to now archived channels which i'll update.

[2022-05-19 10:49] bundfussr commented on #1140
I would just move the contribution_model vignette to CONTRIBUTING.md. I think it provides a good overview and links to the details of contributing. If we put all developer guides into CONTRIBUTING.md, it becomes very large and hard to read.

[2022-05-19 13:15] bms63 commented on #1139
# Programming Strategy

* Links to depracated function
![image](https://user-images.githubusercontent.com/10111024/169299620-c67ebbfc-81d7-4d1a-a1f7-fac9c5698f5a.png)

* Enforece style through lintr and styler package?  not just lintr
![image](https://user-images.githubusercontent.com/10111024/169300404-d352c111-f8c9-4195-8c63-3f055eb1dce2.png)

* Links to assertions examples
![image](https://user

[2022-05-19 13:56] duniek opened #1151 "prepare for admiral hackathon at Roche"
### Background
Roche programmers/data scientists will be invited to work on some admiral core issues over a period of 1 week. People who sign up will potentially organize themselves into little groups.
The draft date is week of June 27th.

### Actions for the admiral team
1) A participation guide: at the minimum a text document indicating how users can contribute to admiral (which branch to use, w

[2022-05-19 14:15] bms63 commented on #1139
@esimms999-gsk

I think this was done so a user can just see the variables that were derived.  Showing the entire dataset means a user has to scroll all the way over to see them.  I can make small note that we are only displaying the derived variables.

This is just an artifact of the RStudio Console.  Not sure if we can address it.

Will update

I think this is okay as it has `haven::read_sas()`

[2022-05-19 14:25] bundfussr commented on #1147
I would try adding
[code]
I could reproduce the error by not loading admrial but loading dplyr.

[2022-05-19 14:29] bundfussr commented on #1139
Example on `impute_dtc()` reference page is not rendered:
![image](https://user-images.githubusercontent.com/80953585/169319950-99ac77a5-7c7a-44dc-8711-b87b33610a9d.png)

[2022-05-19 14:44] bms63 commented on #1147
Works!  @bundfussr Thanks!!

![image](https://user-images.githubusercontent.com/10111024/169324163-840c1a8e-4fdb-423a-98fd-d781e2a5b631.png)

[2022-05-19 15:21] bundfussr commented on #1139
There is a typo on some reference pages referring to `derive_var_dt()` instead of `derive_vars_dt()`:
[code]

[2022-05-19 15:36] bundfussr commented on #1139
The second example for `assert_list_element()` is failing with the wrong error message.

[2022-05-19 15:41] bundfussr commented on #1139
`extract_unit()` is defined in both `dev_utils.R` and `user_utils.R`.

[2022-05-19 15:59] bms63 commented on #1139
Looks like everyhting is inheriting the rmarkdown chunk properly.  I'll put this in my update.

[2022-05-19 16:11] bms63 commented on #1139
I fixed these in my PR - https://github.com/pharmaverse/admiral/pull/1153 .  Assumign `assert_one_to_one()` should have an error.

[2022-05-19 16:19] bms63 commented on #1139
I did a `find /cloud/project/R -type f -exec sed -i 's/derive_var_dt/derive_vars_dt/g' {} \;` and think I got them all.  I put this in the #1153 as well

[2022-05-19 16:29] bms63 commented on #1139
I'm not sure how to fix this one.

[2022-05-19 16:53] PoojaKumari05 commented on #1139
REVIEW comments for ADSL

1. Derive/Impute Numeric Treatment Date/Time and Duration (TRTSDTM, TRTEDTM, TRTDURD)
    -  Along with TRTSDTM & TRTEDTM , TRTSTMF and TRTETMF is also added. The text should be modified to include these two variables.
       ![image](https://user-images.githubusercontent.com/90273880/169354611-76a8db34-3b90-4752-ab36-5d0a83e540f2.png)

2. Disposition Status (e.g. EOSTT)

[2022-05-20 07:38] duniek commented on #1151
@thomas-neitmann @koegerr @rossfarrugia Kieran wanted to confirm the date ASAP. Can you please give a thumbs up (or down) for the week of June 27th?

[2022-05-20 08:32] rossfarrugia commented on #1151
i have holiday 27th june and 1st july so the monday and friday that week but please don't let me be a blocker for this great idea, and happy to help however i can on the tues-thurs.

<3 for whoever came up with this one - really nice way to build wider engagement ahead of admiral getting embedded as our primary ADaM solution!

[2022-05-20 09:30] thomas-neitmann commented on #1151
Works for me.

[2022-05-20 12:17] bms63 opened #1156 "Set up code coverage badge for pharmaverse/admiral"
Pointing to old repo

[2022-05-20 12:20] bms63 opened #1157 "Set up RMD Check badge"
See timber page

[2022-05-20 13:28] bundfussr commented on #1139
@bms63 , I have fixed the `assert_list_element()` example.

[2022-05-20 13:34] thomas-neitmann opened #1158 "Bug: `create_single_dose_dataset()` fails with cryptic error if start and/or end date is missing"
### What happened?

When the input dataset to `create_single_dose_dataset()` contains records with a missing start and/or end date then the function fails with a cryptic error message. Instead the error shoud pinpoint the problematic records and hint at mitigation strategies.

### Session Information

[code]

### Reproducible Example

[code]
[code]

[2022-05-20 15:19] bundfussr opened #1159 "Bug: version of `diffdf` is too old"
### What happened?

We use version 1.0.3 of `diffdf`. This works not well with version 3.0.0 of `tibble`:
[code]
I would suggest updating the version of `diffdf` in `renv.lock` to 1.0.4.

### Session Information

Place the console output here

### Reproducible Example

Please give us as many details as you can! The faster we can recreate the bug, the faster we can get a fix in the works.  Warning,

[2022-05-20 15:52] bms63 commented on #1139
Hey @PoojaKumari05 I updated item 3, but the rest I think we should do for the next release

[2022-05-20 16:07] bms63 commented on #1159
I think there is time for us to get this into the release.  Be nice to start clean for the next set of updates...but i guess it isn't a huge deal as we just branch from devel anyways.

[2022-05-20 16:18] PoojaKumari05 commented on #1139
Hey @bms63 - item 2 is also a minor one, should we update that as well? for rest yes - even I think we can discuss and update in next release if needed. Thanks for updating! :)

[2022-05-20 16:32] bms63 commented on #1139
Sorry I updated item 2 not 3.  whoops!

[2022-05-23 08:37] rossfarrugia commented on #1156
i accepted the "Request to install Codecov in pharmaverse" email and chose admiral and admiralonco repos. let me know if anything else needed from a pharmaverse org admin for this.

[2022-05-23 10:46] rossfarrugia commented on #949
ok guys, i started this today and woah... as i started drafting more and more came out and don't hate me but i've drafted a 21 step guide for review :D here https://exbpbox.ent.box.com/file/961272617425. take a look and add comments any time after the release goes out and @dinakar29 i'll get you access. i'm sure we can evolve and improve this over time as we learn from further package extensions e

[2022-05-23 13:39] #1004 closed

[2022-05-23 13:39] #690 closed

[2022-05-23 13:39] #935 closed

[2022-05-23 14:00] bms63 opened #1164 "Bug: pgkdown website action failing with undeclared references"
### What happened?

![image](https://user-images.githubusercontent.com/10111024/169836429-0e242f41-88a5-4ab9-aa4e-c9b5d4a417a1.png)

### Session Information

_No response_

### Reproducible Example

_No response_

[2022-05-23 15:05] #1164 closed

[2022-05-23 17:35] #1097 closed

[2022-05-23 17:35] #1103 closed, assigned to bms63, thomas-neitmann

[2022-05-23 17:35] #1108 closed

[2022-05-23 17:35] #1129 closed

[2022-05-23 17:35] #1136 closed

[2022-05-23 17:35] #1139 closed

[2022-05-23 17:35] #1141 closed

[2022-05-23 17:35] #1145 closed

[2022-05-23 17:35] #1147 closed

[2022-05-23 17:35] #1158 closed

[2022-05-23 17:35] #1159 closed

[2022-05-23 17:35] #1059 closed

[2022-05-23 17:35] #1063 closed

[2022-05-23 17:35] #1076 closed

[2022-05-23 17:35] #1088 closed

[2022-05-23 17:35] #1090 closed

[2022-05-23 17:36] #1040 closed

[2022-05-23 17:36] #1042 closed

[2022-05-23 17:36] #1045 closed

[2022-05-23 17:36] #1053 closed

[2022-05-23 17:36] #1055 closed

[2022-05-23 17:36] #1028 closed

[2022-05-23 17:36] #1032 closed

[2022-05-23 17:36] #1033 closed

[2022-05-23 17:36] #1034 closed

[2022-05-23 17:36] #1019 closed

[2022-05-23 17:36] #1023 closed

[2022-05-23 17:36] #950 closed

[2022-05-23 17:36] #954 closed

[2022-05-23 17:36] #956 closed

[2022-05-23 17:36] #957 closed

[2022-05-23 17:36] #960 closed

[2022-05-23 17:36] #961 closed

[2022-05-23 17:36] #967 closed

[2022-05-23 17:36] #968 closed

[2022-05-23 17:36] #972 closed

[2022-05-23 17:36] #975 closed

[2022-05-23 17:36] #978 closed

[2022-05-23 17:36] #986 closed

[2022-05-23 17:36] #1000 closed

[2022-05-23 17:36] #1005 closed

[2022-05-23 17:36] #1013 closed

[2022-05-23 17:37] #907 closed

[2022-05-23 17:37] #911 closed

[2022-05-23 17:37] #922 closed

[2022-05-23 17:37] #927 closed

[2022-05-23 17:37] #932 closed

[2022-05-23 17:37] #933 closed

[2022-05-23 17:37] #934 closed

[2022-05-23 17:37] #936 closed

[2022-05-23 17:37] #939 closed

[2022-05-23 17:37] #941 closed

[2022-05-23 17:37] #942 closed

[2022-05-23 17:37] #943 closed

[2022-05-23 17:37] #944 closed

[2022-05-23 17:37] #818 closed

[2022-05-23 17:37] #850 closed

[2022-05-23 17:37] #886 closed

[2022-05-23 17:37] #888 closed

[2022-05-23 17:38] #660 closed

[2022-05-23 17:38] #668 closed

[2022-05-23 17:38] #686 closed

[2022-05-23 17:38] #691 closed

[2022-05-23 17:38] #697 closed

[2022-05-23 17:38] #701 closed

[2022-05-23 17:38] #720 closed

[2022-05-23 17:38] #743 closed

[2022-05-23 17:38] #753 closed

[2022-05-23 17:38] #606 closed

[2022-05-23 17:38] #607 closed

[2022-05-23 17:38] #1016 closed

[2022-05-23 17:38] #1017 closed

[2022-05-23 17:39] #755 closed

[2022-05-23 17:39] #767 closed

[2022-05-23 17:39] #775 closed

[2022-05-23 17:39] #557 closed

[2022-05-23 17:40] #246 closed

[2022-05-23 17:41] #1057 closed

[2022-05-23 17:47] bms63 commented on #1049
Not sure why I can't link the PR, but https://github.com/pharmaverse/admiral/pull/1078 closed this issue

[2022-05-23 17:47] #1049 closed

[2022-05-23 17:48] #1014 closed

[2022-05-23 17:51] bms63 commented on #904
All of these have update examples or have been removed from admiral.  Going to close out.

[2022-05-23 18:32] bms63 opened #1167 "Documentation: Get Started needs some nice flowery words before derive_vars_merged_dtm calls"
### Please select a category the issue is focused on?

User Guides

### Let us know where something needs a refresh or put your idea here!

@pharmaverse/admiral Anyone take this on for this release?

We kind of just throw users into the deep-end with these derive_vars_merged_dtm calls.  I think we should have some nice flowerly language about what we are doing here and then with dtm_to_dt and dura

[2022-05-23 19:26] #1157 closed

[2022-05-24 09:01] bundfussr commented on #977
@bms63 , why did you close it? It seems that it is not merged yet.

[2022-05-24 10:54] bundfussr commented on #880
We decided in the "Questions and Comments" meeting last week that functions requiring dates as input should accept numeric date variables only. I.e., only the functions in `derive_date_vars.R` will accept imputation parameters in the future. Thus we can close this issue.

[2022-05-24 10:54] #880 closed

[2022-05-24 12:08] bms63 commented on #977
done in mistake.  i closed any with linked PRs

[2022-05-24 23:21] wqrena commented on #1167
Maybe it is more clear to add description here:

![image](https://user-images.githubusercontent.com/51412450/170145072-d72f2ff2-035b-4ccc-a028-e9c08ea06da7.png)

with the following description.
"Here is an example of using function calls to create a simple ADSL dataset by adding treatment variables from DM and EX input datasets. The added treatment variables in this example include TRT01P, TRT01A,

[2022-05-25 01:38] bms63 commented on #1167
I think that is great to go in between the library/dataset section and the derive treatment section.

Could we also have something saying like, First we load our libraries and datsets, admiral has available the admiraltest package which has sdtm data from the CDISC pilot study.  Maybe even a link out to it?  Need to wordsmith it.

Can the comments also start with Read...  and Derive...

I'm just t

[2022-05-25 01:40] bms63 commented on #1167
ummm.. should we mention derive_vars_  as well ?
![image](https://user-images.githubusercontent.com/10111024/170160643-2be0a10a-e25d-4e5b-9af4-c8cf19181493.png)

[2022-05-25 11:39] waldemarmiller opened #1171 "Bug: derive_var_extreme_flag() returns dataset with changed order of rows"
### What happened?

I expected that the function preserves the input dataset's row order. Unfortunately, it changes it.

[code]

### Session Information

_No response_

### Reproducible Example

_No response_

[2022-05-25 11:50] bms63 opened #1172 "Onboarding: Syed and Shan"
### Onboarding tasks for Core (Roche-GSK) Team Members

- [x] Given a tour of Github from a Core member
- [x] Understand how to Create Issues and do a Pull Request
- [x] Understand the Programming Strategy
- [x] Read and understand [Developer Guides Articles](https://pharmaverse.github.io/admiral/index.html)
- [x] Invited to all relevant meetings - Stand Ups, Question/Comments, Backlog, Community

[2022-05-25 11:54] bundfussr commented on #1171
admiral functions does not preserve the order of the rows (see https://pharmaverse.github.io/admiral/articles/admiral.html#input-and-output). We decided for this approach because preserving the order would require an additional sort step and this would increase the run-time.

[2022-05-25 11:56] waldemarmiller commented on #1171
Ah, I see @bundfussr. I was surprised as I somewhat assumed that. Thank you for this clarification!

[2022-05-25 11:58] #1171 closed

[2022-05-25 12:00] bms63 commented on #502
We should create/update a programming workflow - https://app.box.com/file/857308976687

[2022-05-25 13:11] rossfarrugia commented on #1128
i'll work with @statasaurus on this

[2022-05-25 13:59] bms63 commented on #742
Feel like above information is sufficient.  Going to close this one out.  @teckla-gsk

[2022-05-25 13:59] #742 closed

[2022-05-25 14:56] rossfarrugia opened #1173 "Update the PR guidance to include closes keyword to auto-close issues"
### Feature Idea

In https://pharmaverse.github.io/admiral/articles/git_usage.html#pull-request add guidance that the PR title must include keyword "closes #_issuenumber_", e.g. see example below:
![image](https://user-images.githubusercontent.com/82581364/170291331-2dd5f0a2-654d-4a10-8177-b77d99778981.png)

so that the issue will auto-close when the PR updates get merged with main later.

A remin

[2022-05-25 21:07] bms63 opened #1177 "Bug: derive_vars_merged Rendering is blank for duplicated messages on website"
### What happened?

[R/derive_merged.R](https://github.com/pharmaverse/admiral/blob/main/R/derive_merged.R)

![image](https://user-images.githubusercontent.com/10111024/170367274-cd551f48-70ae-4a2c-82d2-ca678ab5a081.png)

### Session Information

_No response_

### Reproducible Example

_No response_

[2022-05-26 12:19] rossfarrugia commented on #1126
@PoojaKumari05 FYI https://github.com/pharmaverse/admiraltest/pull/36 i expect should get merged to `devel` early next week, so you'd be able to work on this admiral update from then.

[2022-05-27 09:55] rossfarrugia commented on #1120
@tamarasenior hope you're still ok to pick this one up as discussed as we need it to enable the roche implementation for ADCM

[2022-05-27 09:59] rossfarrugia commented on #1021
i agree with @bms63 - i'm not keen on an extra package for this. we could just include in specs and then use https://pharmaverse.github.io/metatools/reference/create_cat_var.html. or outside of that just use an extra case_when step. i don't believe this justifies adding another piece of complexity for users.

[2022-05-27 11:56] aehmann-gsk opened #1179 "Bug: derive_vars_dtm_to_tm - can't convert"
### What happened?

[code]

This may go back to the original UTC issue we had seen previously on different platforms.  We are getting this error in our production environment at GSK.  I confirmed it does not occur in the admiral cloud development environment.

### Session Information

[code]

### Reproducible Example

_No response_

[2022-05-27 16:09] bms63 commented on #1179
We were able to recreate this issue/bug in GSK's R environment using admiral 0.6.3.  However, we also tested admiral 0.7.0 (not yet released) and found that recent updates have resolved this issue/bug.  GSK is going to investigate a little more next week, but it seems like we are in good standing.

[2022-05-27 18:20] bms63 commented on #1140
Hi @pawelru Please see #1180 .  If you have any suggestions please let us know.

[2022-05-30 07:41] thomas-neitmann commented on #1021
So my take on this is that this kind of functionality **could** be useful for programming ADaM datasets (especially for folks familiar with SAS) but also for more general "data wrangling" tasks. Thus, I feel this should neither live in {admiral} or {metatools} which both solve problem specifally related to ADaM datasets. I certainly think this would be worth its own little package, something line

[2022-05-30 07:46] rossfarrugia commented on #1021
do we need to create that ourselves though under pharmaverse? e.g. see from a very quick google: https://www.pharmasug.org/proceedings/2021/AD/PharmaSUG-2021-AD-175.pdf & https://fmtr.r-sassy.org/index.html. i'm sure this kind of feature must exist in many packages and it's not a pharma-specific need.

[2022-05-30 07:48] thomas-neitmann opened #1183 "Change all references to 'admiraltest' back to 'admiral.test'"
CRAN rejected the name change so we'll stick to {admiral.test}.

[2022-05-30 10:39] rossfarrugia commented on #1126
FYI @PoojaKumari05 - thanks to @Gopi2345 (developer) and @bundfussr (reviewer) we now have the required test data for this available in {admiral.test} `devel` branch. Once you have a PR ready for this feel free to add me as a reviewer.

[2022-05-30 11:01] bundfussr commented on #1021
I agree with Thomas that implementing it in its own package is more suitable.

The `fmtr` package provide something similar but the definition of a format in `fmtr` is not simpler than using `case_when()`. My intention is
- to make the definition simpler and more intuitive and
- automate the documentation of the format.

I would propose implementing a test version and see if it is useful (for exam

[2022-05-30 13:47] rossfarrugia commented on #1021
a test version makes sense and then show it to admiral core dev team to see what they think. could just use an admiral branch off devel to work up a test version, then it could move to its own package later if everyone agrees. i can't visualise the value at the moment that justifies this and surprised this wouldn't already exist, so i'd probably need to see more to help understand.

[2022-05-30 14:32] rossfarrugia commented on #1128
updates made for admiral sections and will close this issue now as i'll work with @statasaurus offline to get this vignette on the pharmaverse site to share with the community for input

[2022-05-30 14:32] #1128 closed

[2022-05-30 22:24] #1156 closed

[2022-05-30 22:24] #996 closed

[2022-05-30 22:24] #1173 closed

[2022-05-30 22:24] #1177 closed

[2022-05-30 22:24] #1183 closed

[2022-05-30 22:25] #1167 closed

[2022-05-31 11:58] bms63 opened #1186 "General Issue: dataset_add being seen as grouped dataframe rather than arugment"
### Background Information

![image](https://user-images.githubusercontent.com/10111024/171167913-6da44685-1561-4d74-b423-eec5b2fbc457.png)

### Definition of Done

_No response_

[2022-05-31 12:04] bundfussr commented on #1186
I think it is not an admiral issue but an admiral.test issue. There is an `ungroup()` missing at line 54 of [inst/data_scripts/update_ds.R](https://github.com/pharmaverse/admiral.test/blob/devel/inst/data_scripts/update_ds.R)

[2022-05-31 12:09] bundfussr commented on #1186
I think if you install locally the latest devel version of admiral.test, the local check should fail as well.

[2022-05-31 12:10] bms63 commented on #1186
haha i was just arriving at that so the workflows use devel

[2022-05-31 12:13] bms63 commented on #1186
wait that change is in devel

[2022-05-31 12:14] thomas-neitmann commented on #1186
Oh, that's great then we don't need to re-submit 🥳

[2022-05-31 12:17] bundfussr commented on #1186
Yes, makes sense.

[2022-05-31 12:24] thomas-neitmann commented on #1186
Closing as this is being fixed in https://github.com/pharmaverse/admiral.test/pull/48.

[2022-05-31 12:24] #1186 closed

[2022-05-31 12:25] thomas-neitmann opened #1188 "Install {admiral.test} from main branch when R CMD check runs on main"

[2022-05-31 13:05] rossfarrugia commented on #949
See https://github.com/pharmaverse/admiraltemplate/blob/main/README.md for this guidance.

@bundfussr are you able to help with the [github template](https://github.com/pharmaverse/admiraltemplate) set-up as per the instructions linked above in the README file?

There's a list in this README file of all the pieces we expect to have a consistent set-up to admiral for, but please question from your

[2022-05-31 13:54] #1140 closed

[2022-05-31 14:31] #1188 closed

[2022-05-31 15:00] thomas-neitmann opened #1191 "Documentation: Update links in ADPP man page"
### Please select a category the issue is focused on?

Function Documentation

### Let us know where something needs a refresh or put your idea here!

![image](https://user-images.githubusercontent.com/11788080/171205492-39053043-e765-44bc-9bb6-36a64f6bc0c6.png)

[2022-05-31 16:12] #1191 closed

[2022-05-31 18:49] bms63 commented on #929
Hey @rossfarrugia Do we want to combine this into #949.

It seems like some of the original concerns I had are being addressed in the templates repo.

mostly addressed in template repo

Not addressed (but I still think critical)

probably something to just put onto main pharmaverse website

mostly addressed in template repo

could be addressed in template repo

mostly addressed in template repo

I

[2022-05-31 18:57] dinakar29 commented on #929
I think this is a good idea - setting up the template so that it encompasses a generic format from battle tested packages and repos so that the exact same best practices can be applied to all other packages is the most efficient way to do this. Bootstrapping new projects would be a breeze with the template.

[2022-06-01 16:35] bms63 opened #1196 "General Issue: Changelog and Description Update for 0.8.0"
### Background Information

Starting off with fresh changelog is really helpful for keeping tracking of our changes.  @pharmaverse/admiral what are you thoughts?  Same structure as previous?

Also was going to increment the package description number from 0.7.0 to 0.8.0

Proposed new Changelog.

# admiral 0.8.0

## New Features

## Updates of Existing Functions

## Breaking Changes

## Documentati

[2022-06-01 17:01] bundfussr commented on #949
If we need to create folders, I would rather add a `README.md` file than a dummy `ad_adXX.R` file. Then it does not need to be removed or renamed and the `README.md` file could be used to describe the purpose of the folder.

I wonder how we keep admiraltemplate up to date. Maybe admiraltemplate could provide a `synchronize()` function which copies workflows, templates, renv.lock file, ... directly

[2022-06-02 01:48] bms63 commented on #1179
GSK internal meeting was cancelled as bug has been resolved

[2022-06-02 01:48] #1179 closed

[2022-06-03 00:23] yangc71 commented on #502
Hi @pharmaverse/admiral ,

I started the draft ADMH script under branch 502_admh_script, but realized I'm only able to put together a very basic one (i.e. only containing analysis start date variables). The challenges for the rest of the variables are:

1. The current "admiral_mh" in admiral.test is missing `MHENDTC`, so variables involving `MHENDTC` cannot be derived. Including: `AENDT`, `AENDTM`

[2022-06-03 09:12] kabis-ops commented on #502
Hi @yangc71 ,
My 2 cents on bullet 3
We usually derive SMQ/CQs for AEs, but it can also be useful for medical history. Imagine you want to know all patients having Cardiac Failure SMQ prior to the start of the trt.
The query datasets in admiral.test could indeed not be used, Hence, it may be good to show in the vignette how to build the query datasets for MH (it should be just a matter of changing

[2022-06-03 10:25] bundfussr commented on #949
Response from @rossfarrugia :

Fine by me! Nice way to help new devs get up to speed with what goes where.

I was thinking the same thing earlier today! I’m sure there must be an automation solution for this like you suggest as this must be a common challenge.

My thinking is admiral package extensions will only ever depend on admiral and admiral.test from the admiral family, along with the other

[2022-06-03 12:09] bms63 commented on #502
Let's add this one in - we have modified other sdtm datasets to get what we need.

Let's add that one too!  Again we can just show how to derive the an01fl using mhoccur and say this is just an example

Defer to expert Samia!

We use `AHIST` as Assign "Past" if `MHENRF='BEFORE' `and Assign "Current" if  `MHENRF="DURING/AFTER"`. Assign "Not Assessed" if `MHSTAT="Not Done"`.  What do you all use?  W

[2022-06-03 13:52] wqrena opened #1198 "Onboarding: Jayashree Neetu Songu Vikram"
### Onboarding tasks for Core (Roche-GSK) Team Members

- [ ] Given a tour of Github from a Core member
- [ ] Understand how to Create Issues and do a Pull Request
- [ ] Understand the Programming Strategy
- [ ] Read and understand [Developer Guides Articles](https://pharmaverse.github.io/admiral/index.html)
- [ ] Invited to all relevant meetings - Stand Ups, Question/Comments, Backlog, Community

[2022-06-03 14:01] bms63 commented on #949
`I wonder how we keep admiraltemplate up to date. Maybe admiraltemplate could provide a synchronize() function which copies workflows, templates, renv.lock file, ... directly from the admiral core repo.`

@dinakar29 is there magic for synchronizing repos?

[2022-06-03 14:12] dinakar29 commented on #949
@bms63 - yes it is possible to add a synchronizer where we can have a centralized location of these files and then sync them to other repos. We can add the synchronizer to the template package itself.

[2022-06-03 14:57] wqrena commented on #885
@bundfussr, this function is used in ADSL creation. However, usually we does not expect screen failure patients in the input dataset `DS`. As far as I know, screen failure patients are not mapped to SDTM domains. For tester who encountered this issues, we need to understand how screen failure patients are mapped to the `DS` before we can tackle this issue.

[2022-06-03 15:10] bundfussr commented on #949
For `renv.lock` we would need more than a simple synchronize. It should synchronize with admiral core but take admiral extension package specific packages into account. For example in admiralroche we use the `renv.lock` from admiral but add `ROracle` package. If `renv.lock` in admiral is updated, the `renv.lock` in admiralroche should be updated without removing the `ROracle` package.

[2022-06-03 16:38] bms63 commented on #949
ummm... could admiral-core just have `ROracle` in its `renv.lock` file for simplicity and any others needed for extension packages?  I can't imagine we would diverge that much from each other.  There are lots of dependency packages in the lock file that I'm fuzzy on for admiral-core so having a few others wouldn't hurt anyone...I think.

[2022-06-03 22:58] wqrena commented on #885
@bundfussr, I will be OOO next week, and will follow up with you on this on the week of Jun13. Thanks!

[2022-06-04 00:25] yangc71 commented on #502
Thanks @bms63! Did we previously modify datasets from within admiral.test? If so, should a separate issue be opened in admiral.test first before this can proceed?

Thanks @kabis-ops! The OCCDS already provides an example of using queries dataset for ADAE, and it may not make sense to create a separate query dataset within the ADMH script because likely users will leverage their own queries dataset

[2022-06-06 11:28] PoojaKumari05 commented on #1172
@sm519479 - Onboarding completed

[2022-06-06 12:27] bms63 commented on #502
@yangc71 Yes we can modify the `mh` dataset in `admiral. test` to help with our efforts.  I think we should decide on which new variables are needed  https://github.com/pharmaverse/admiral.test/issues/51

I think we should set up another queries example dataset - maybe that should become a separate issue?

Probably okay to have company specific variables if they are simple to describe (ANL01FL and

[2022-06-06 13:09] bms63 commented on #502
The OCCDS guide has some admh examples.  I was comparing our mh dataset with theirs and added a few suggested variables. https://github.com/pharmaverse/admiral.test/issues/51

[ADaM_OCCDS_Implementation_Guide v1.1.pdf](https://github.com/pharmaverse/admiral/files/8844673/ADaM_OCCDS_Implementation_Guide.v1.1.pdf)

[2022-06-06 13:15] bms63 commented on #1172
@fshanlee I wasn't sure where Teckla left you with onboarding.  Do we need to cover any of this stuff above?

[2022-06-06 14:28] millerg23 commented on #502
Hi,
We put together a ADMH workflow in Box a while back, and also found there wasn't much to do for ADMH, ie no new modules. Script really just creates date type variables for start and end, and also showing how SMQ baskets can be used.
Even ATIREL is not a CDISC derivation, and I think is being deprecated in {admiral} (Ross posted something), we would probably have ATIREL handled in admiralroche,

[2022-06-07 08:22] rossfarrugia commented on #1079
@statasaurus had a similar suggestion previously about the ADaM templates, so I've added a topic on our sponsors/lead meeting tomorrow to discuss "compartmentalising admiral into more dedicated packages".

In the meantime if anyone from @pharmaverse/admiral or @pharmaverse/admiralonco-dev could pick up this issue and implement it in {admiral} for now it would be of great help for our {admiralonco}

[2022-06-07 09:24] bundfussr commented on #1079
I am not sure if it is worth to put the dev_utils functions into a separate package. It would require some work to setup a new repository and package. It would complicate the development process because if an issue in admiral requires an update of `dev_util.R`, you would need to work on two repositories admiral and admiralutil and use two PRs. Also the release process would be more time-consuming.

[2022-06-07 12:44] bms63 commented on #949
Does the lock files diverge that greatly between `admiralroche` and `admiral`?   I don't see  `admiralroche` on GH so can't compare.

Only a few differences for renv files between admiralonco and admiral-core:

[code]

[2022-06-07 16:14] bms63 commented on #421
I don; think we need this for ADLB stuff

[2022-06-07 16:14] #421 closed

[2022-06-07 16:40] bms63 commented on #945
Starting small with a subset of tests.  Start off with a pseudo function that does a couple of tests and push out to slack channel for discussion.

[2022-06-07 16:48] bms63 commented on #945
Should someone be able to override our spreadsheet of metadata or should they be able to override small sections of code?

[2022-06-07 16:55] bms63 commented on #945
@millerg23 Be sure to link out the spec document you were sharing in our meeting.

[2022-06-07 17:01] bms63 opened #1202 "Documentation: Update adlb script with wbc function once admiral.test is updated"
### Please select a category the issue is focused on?

Other

### Let us know where something needs a refresh or put your idea here!

We could not include https://github.com/pharmaverse/admiral/blob/main/R/derive_param_wbc_abs.R function in our lab script as our test data does not have anything in it for this function.

Once this issue is updated:  https://github.com/pharmaverse/admiral.test/issue

[2022-06-07 17:11] bms63 commented on #1041
@millerg23 @yangc71 here are the adlbhy specs, vml and computational methods from gsk.

[2022-06-07 17:33] bms63 commented on #1041
I made the skeleton for the ADLBHY workflow as well.  https://app.box.com/file/968108766329

[2022-06-07 18:31] bms63 commented on #1079
I don't think the tempaltes take up that much room and shouldn't be moved out of admiral.  Makes it easier to keep them in sync with our functions as well.

I'd be more interested in "compartmentalising" the admiral adam datasets as they are too large and starting to really fill up the package.

[2022-06-08 07:02] rossfarrugia commented on #1079
@bms63 we could move those to a sub-folder in {admiral.test} if people would prefer?

[2022-06-08 08:13] thomas-neitmann opened #1204 "Add minimum required version of dependency packages to DESCRIPTION file"
### Background Information

Currently there is no minimum required version for {admiral.test} indicated in our DESCRIPTION file. However, the latest release only works with version 0.2.0 of {admiral.test}. If you already have {admiral.test} installed and install the latest version of {admiral} then {admiral.test} won't get updated automatically. This will lead to errors when running examples.

I t

[2022-06-08 12:12] bms63 commented on #1204
I think a mini-release makes sense.  The `admiral_` update will haunt us for a while...

[2022-06-08 12:13] thomas-neitmann commented on #1204
@bms63 Also something we should add to our release check list.

[2022-06-08 12:13] thomas-neitmann commented on #1204
Alright, I'll go ahead make this change and create a new release.

[2022-06-08 12:30] thomas-neitmann commented on #1204
Actually I just discoverd that {admiral.test} is **not** automatically installed when running `install.packages("admiral")` because it's listed in "Suggests" rather than "Imports" in the DESCRIPTION file. I think the rationale was that {admiral.test} is not really required to **use** {admiral} but only to run the examples. However, being able to run the examples does seem like quite an important p

[2022-06-08 12:36] bundfussr commented on #1204
Moving admiral.test to "Imports" is fine with me.

[2022-06-08 13:22] #735 closed

[2022-06-08 13:31] #432 closed

[2022-06-08 13:33] #578 closed

[2022-06-08 13:39] thomas-neitmann commented on #728
Closing as out of scope of admiral.

[2022-06-08 13:39] #728 closed

[2022-06-08 13:53] thomas-neitmann commented on #1074
@jtvrdon Are you still eager to work on this?

[2022-06-09 09:36] thomas-neitmann opened #1205 "Feature Request: Allow using and listing template from {admiral} extension packages"
### Feature Idea

We need a way for `list_all_templates()` and `use_ad_template()` to specify in which package to look for the templates. Right now it's restricted to templates that ship with {admiral} itself which is not sufficient going forward as extension packages will contain their own templates.

### Relevant Input

_No response_

### Relevant Output

_No response_

### Reproducible Example/

[2022-06-09 11:12] rossfarrugia commented on #949
hi all, can we get the template repo ready for admiralophtha to try out by end of next week please? i have the following as being involved here and i granted you all write access:
- @jj1994 (Julian) - will add the project board (as he's scrum master for onco and ophtha)
- @dinakar29 - could add any CI/CD and workflow pieces & look into any option to auto-sync pieces with the core repo
- @bms63 & @

[2022-06-09 12:31] thomas-neitmann opened #1206 "Bug: Not able to rename variables with `derive_vars_last_dose()`"
### What happened?

`derive_vars_last_dose()` returns an error when using the `new_vars` parameter to rename variables.

### Session Information

[code]

### Reproducible Example

[code]
[code]

[2022-06-09 13:14] bms63 commented on #949
Okay made a bunch of random issues for us to tackle.

I think the end goals should be:

Template Repo when copied and with minimum changes:
- Can successfully build package locally
- Pkgdown site successfully builds locally
- A PR successfully runs all workflow checks (R-CMD, lintr, tests, spelling, man)
- gh-pages site builds
- Others??

I think the minimal changes would be updating description f

[2022-06-09 14:09] LucyW39 opened #1207 "General Issue: Unit presented on all rows when new_var_unit is specified in derive_vars_duration"
### Background Information

When using function **derive_vars_duration** and the **new_var_unit** is specified, the unit variable created is populated on all rows of the dataframe, even when the duration variable is missing (i.e. due to missing dates). This causes issues for certain Unit variables (e.g. ADURU, ARELTMU, DOSECUMU) which are P21 validation errors.

![image](https://user-images.github

[2022-06-09 14:21] thomas-neitmann commented on #1207
Thanks a lot for reporting this @LucyW39! Would you be interested and willing to contribute to {admiral} by fixing this issue?

[2022-06-09 14:31] bms63 commented on #949
Steps so far:

1)  Click Use this Template and name your package extension repo
2)  Download Repo to RStudio and run` renv::restore()` - you will see a prompt and this will take a few minutes
3)  Update `DESCRIPTION` file with your package name, authors, etc
4)  Run `devtools::load_all()`  - debug
5)  Run `devtools::check()` - debug
6)  Run `pkgdown::build_site()`

Some success so far with minimal

[2022-06-10 10:14] bundfussr commented on #949
I would add a list of all files which need to be renamed and/or updated. For examples `tests/testthat.R` needs to be updated and `R/admiralext-package.R` needs to be renamed and updated.

I would also shorten the imports in the `DESCRIPTION` and `admiralext-package.R` file and only import very basic functions like `%>%`, `mutate()`, `select()`. And we should add admiral to both files.

Adding `R/g

[2022-06-10 10:21] LucyW39 commented on #1207
Hi @thomas-neitmann, I would love to contribute to this but currently do not have the time (with DBF today). If the issue still hasn't been picked up in the next few weeks I can check back in and assign myself.
@bms63, certainly! Again, no time for this today but I can try and add in a reproducible example next week using the admiral data.

[2022-06-10 12:23] rossfarrugia commented on #1205
i like that idea @thomas-neitmann !

[2022-06-10 14:05] thomas-neitmann commented on #1205
This suggestion would require people to specify the package in which to look for templates rather than listing all templates across admiral and its extension packages. Does that fit what you had in mind @rossfarrugia?

[2022-06-10 14:20] bundfussr commented on #1205
Could we have options for
- listing all templates provided by the loaded packages
- listing all templates provided by the installed packages
- listing all templates provided by public admiral packages?

I also wonder if we should add a short description to each template and add the option to list all templates where the description matches a search pattern. I think datasets like ADAE, ADLB, ADSL,

[2022-06-10 14:54] bundfussr commented on #945
- Do we need the "VAR CHECK" column? Couldn't we use `extract_vars()` to extract the variables from the condition in the "ADMIRAL IMPLEMENTATION" column?
- For user specific updates: Would it be possible that the user provides a spreadsheet/dataset which contains only the user specific terms and the functions combines the standard definitions and user definitions (user definition is taken for term

[2022-06-10 15:04] rossfarrugia commented on #1205
Personally I'm ok with keeping this one simple as with Thomas's proposal above, as people would have to know which ext packages they're installing/loading anyway and then they'd check the site (Get Started guide & vignettes) for each which would show what's on offer. It was more the `use_ad_template` i was concerned with rather than the `list_all_templates` which is more of a nice to have as just

[2022-06-10 15:10] millerg23 commented on #945
Yes good idea regarding `extract_vars()` I wasn't aware of this. Although maybe it adds transparency to user to see what vars are required in the metadata itself. I was thinking the metadata would also be the source of any documentation as well, so vars required could be surfaced in documentation using `extract_vars()`.
Regarding, user-specific updates: yes this could be an option, does add a leve

[2022-06-10 19:42] bms63 commented on #949
Hi all,

* I added `R/globals.R` and put in a short blurb about what it is
* Made  A Quick Start Guide on what to update and what to run
* Added a TOC to readme
* Brought over pharmaverse logo and appended to readme and for the site
* Updated R-CMD workflow
* I tried making a gh-pages for us to showcase the template to those inrested but not rendering correctly (@dinakar29) do you mind looking int

[2022-06-10 19:47] bms63 commented on #949
Ha!  It worked.

![image](https://user-images.githubusercontent.com/10111024/173139415-44e567a5-f194-4622-92ac-bc91240d7074.png)

[2022-06-10 20:47] #1172 closed

[2022-06-10 21:14] yangc71 commented on #945
Hi @millerg23, thank you for sharing the documents.
1. I'm not too clear on the first step of mapping PARAMCD with TERM: are ATOXDSCL/H coming from the user-defined lookup table (i.e. in the lookup table users would define which PARAMCD corresponds to e.g. ATOXDESCL = Anemia)? Maybe we should also briefly define what a lookup table should look like to be used as an input.
2. We could also add a co

[2022-06-12 13:12] rossfarrugia commented on #949
great stuff @bms63!! <3

[2022-06-13 09:08] PoojaKumari05 commented on #1126
Sure, will take this up this week.

[2022-06-13 18:23] bms63 opened #1211 "General Issue: Content for Release 0.8.0"
### Background Information

Hi all,

We need to decide upon enhancements, updates, vignettes, scripts that we would like to see go into `admiral 0.8.0`

- [ ] Lab Grading Function
- [ ] Framingham Function
- [ ] admh script - https://github.com/pharmaverse/admiral/issues/502
- [ ] adlbhy script - https://github.com/pharmaverse/admiral/issues/1041
- [ ] Vignette for merge functions
- [ ] adnca scri

[2022-06-13 18:48] bms63 commented on #1198
Is this completed? @neetusan

[2022-06-13 18:48] bms63 commented on #1074
Hey @JMcGavigan32 I think we can assume that you can take this one over.

[2022-06-14 07:37] rossfarrugia commented on #1211
Sharing summary of ideas from last sponsor/leads call:

- partial dates refactor - https://github.com/pharmaverse/admiral/issues/879 & see proposal at https://exbpbox.ent.box.com/file/958836772299
- package extensions guidance/repo template - https://github.com/pharmaverse/admiral/issues/949
- training materials – internal issue for Roche which @koegerr will share once available to see if useful t

[2022-06-14 09:15] bundfussr opened #1212 "Feature Request: Enable specifying the package for `list_tte_source_objects()`"
### Feature Idea

The `package` parameter should be added to `list_tte_source_objects()` to specify from which package the ``tte_source` object should be listed.

### Relevant Input

[code]
should list all `tte_source` objects defined by the admiralonco package.

### Relevant Output

_No response_

### Reproducible Example/Pseudo Code

_No response_

[2022-06-14 10:21] oreillb1 opened #1213 "Include create_single_dose_dataset processing in derive_var_last_dose_date"
### Feature Idea

In ADaM datasets e.g. ADAE, function derive_var_last_dose_date has single_dose_condition that cannot be met when a single EX row covers multiple doses [EX.EXENDTC] greater than [EX.EXSTDTC]. Could function create_single_dose_dataset processing be included in function derive_var_last_dose_date either instead of single_dose_condition or within single_dose_condition? Or is there a b

[2022-06-14 11:14] bundfussr commented on #1213
@oreillb1 , thanks for creating this issue.

We discussed this topic before in the development team and decided not to integrate the creation of the single dose dataset into the `derive_var_last_dose_*()` functions. The reasons are:
- The single dose dataset may be required by more than one derivation. In this case it is more efficient to derive it once.
- The derivation is hard to review if the s

[2022-06-14 12:10] kabis-ops opened #1214 "Bug: derive_param_first_event() - AVALN"
### What happened?

The function derive AVALN instead of AVAL

### Session Information

R version 3.6.3 (2020-02-29)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Red Hat Enterprise Linux

Matrix products: default
BLAS/LAPACK: /usr/lib64/libopenblas-r0.2.20.so

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C               LC_TIME=en_US.UTF-8
 [4] LC_COLLATE=en_US.UTF-8     LC_MONETARY

[2022-06-14 12:11] kabis-ops commented on #1214
@bundfussr , @bms63: FYI

[2022-06-14 12:37] bundfussr commented on #1214
Good catch, @kabis-ops .

@bms63 , @thomas-neitmann , does this justify a bug fix release?

[2022-06-14 13:03] thomas-neitmann commented on #1214
@bms63 This is taken straight from our website. Here's the code:

[code]

[2022-06-14 13:04] thomas-neitmann commented on #1214
@bundfussr I would tend to say yes. What do you think?

[2022-06-14 13:07] thomas-neitmann commented on #1212
I'm happy to take this on as it's more or less the same as what I did in #1210.

[2022-06-14 13:09] bms63 commented on #1214
Should we fix those other bugs as well if we are doing a bug fix release?

[2022-06-14 13:10] thomas-neitmann commented on #1214
I'd say so. Which are the other ones?

[2022-06-14 13:12] bms63 commented on #1214
#1206 and #1207 ?

[2022-06-14 13:27] bundfussr opened #1215 "Bug: Fix lintr workflow"
### What happened?

A new version of lintr was released causing the lintr workflow to fail.

Workflow should be updated such that the lintr version from `renv.lock` is used.

### Session Information

_No response_

### Reproducible Example

_No response_

[2022-06-14 13:28] thomas-neitmann commented on #1214
That makes a lot of sense @bundfussr! The only thing I'd suggest how about we call it `hotfix` rather than the more "generic" `release`?

[2022-06-14 13:40] bundfussr commented on #1214
I suggested `release` because we could also use it for normal releases. This would avoid that something is merged in while we are testing the release candidate.

[2022-06-14 14:36] bms63 commented on #1214
What will be the version number of our `hotfix/release`? I guess since it it a patch we should do `0.7.1`

https://semver.org/

[2022-06-14 14:43] bundfussr commented on #1214
Yes, `0.7.1` makes sense to me.

Should we create a "Release Strategy" vignette to write down our strategy for patch releases and normal releases? (Of course, the vignette would not be part of the patch but part of admiral 0.8.0.)

[2022-06-14 14:48] bms63 commented on #1214
YEs we definitely need to write this down.

Can this be part of the template for CRAN releases?

I guess a vignette would be handy for other admiral extension project on how to handle this issue.

[2022-06-14 15:20] bundfussr commented on #1214
Should we add a hotfix label to the issues to be released in the bug fix release?

[2022-06-14 15:31] thomas-neitmann commented on #1214
@bundfussr Yes 👍

[2022-06-14 16:36] oreillb1 opened #1217 "derive_vars_merged_dtm, define EX record for ADSL TRTSDTM"
### Feature Idea

derive_vars_merged_dtm takes first EX record for derivation of [ADSL.TRTSDTM] but in multiple study drug studies we might need to define a reference drug dose record not necessarily the first administered by [EX.EXSTDTC].  Could we have a function to specify a priority order which EX records are considered for [ADSL.TRTSDTM]?

### Relevant Input

_No response_

### Relevant Outpu

[2022-06-15 07:44] rossfarrugia commented on #1212
@thomas-neitmann if you take this on could you also look at the documentation for this please as https://pharmaverse.github.io/admiral/reference/tte_source_objects.html looks a bit bare and confusing currently

[2022-06-15 07:59] thomas-neitmann commented on #1212
That man page looks horrible indeed...

[2022-06-15 08:01] thomas-neitmann commented on #1212
I'll start working on this now.

[2022-06-15 08:08] thomas-neitmann commented on #1212
I just noticed that `list_tte_source_objects()` is **not** an exported function and hence not available to users. Will change that.

[2022-06-15 09:17] bundfussr commented on #1217
@oreillb1 , thanks for creating an issue.

Could you provide an example? I am not sure what you need. Do you want to restrict the EX records to one of the study drugs or do you want to consider the study drug in the sort order, e.g., select the first record with respect to `EXTRT`, `EXSTDTC`?

[2022-06-15 10:35] bundfussr commented on #1211
@rossfarrugia , I have added two comments to the imputation document in box.

[2022-06-15 11:30] rossfarrugia commented on #1105
i wonder if there's any way to separate the more generic functions here vs those targeted and only specific to one single derivation? or might not even be a good idea - but i just wonder how best to get people familiar with the generic functions like the *merged* ones which they can re-use for many study-specific purposes.

[2022-06-15 11:31] rossfarrugia commented on #1211
i would also add https://github.com/pharmaverse/admiral/issues/1105 to the priority list for next release

[2022-06-15 12:45] gg106046 commented on #502
AOCCFL, AOCCPFL, AOCPFL, AOCPSFL, AOCPPFL are some of the general variables in the GSK spec. (AOCCFL and AOCCPFL are present in ADaM IG as well). These have been added in the "ADMH-Programming Functional Workflow" and the proposed function to derive this is 'derive_extreme_flag'. Should this be a function that should be created in a separate issue?

[2022-06-15 12:50] gg106046 commented on #502
AOCCFL, AOCCPFL, AOCPFL, AOCPSFL, AOCPPFL are variables in the GSK ADMH spec (AOCCFL and AOCCPFL are present in the ADaM IG as well). The 'ADMH-Programming Functional Workflow' in Box has a proposed function to derive these variables - 'derive_extreme_flag'. Should this be a function that should be created in a separate issue?

[2022-06-15 12:52] thomas-neitmann commented on #502
@gg106046 `derive_extreme_flag()` is the old name of the existing function `derive_var_extreme_flag()`. So no need to create it.

[2022-06-15 12:55] gg106046 commented on #502
Alright.

[2022-06-15 12:55] bms63 commented on #502
@gg106046 Do we need any additional variables for the `mh `dataset to derive these variables?

[2022-06-15 12:58] gg106046 commented on #502
I don't think so. I'll double check on it.

[2022-06-15 13:10] #1198 closed

[2022-06-15 13:39] kabis-ops commented on #1214
Hi @bms63 , @thomas-neitmann @bundfussr

In addition to the AVALN issue,

We are planning to use `derive_param_first_event` in our admiralonco functions.
In admiralonco some conventions have been made regarding the adsl variables to populate when we create a new record/PARAMCD (see the discussion [here](https://github.com/pharmaverse/admiralonco/issues/24)):
- We keep all variables from the input

[2022-06-15 13:58] bms63 commented on #375
@pharmaverse/admiral  shall we close this as it is such a board and study-specific topic?  Also....it is almost a year old topic now.

[2022-06-15 14:34] bms63 opened #1219 "Documentation: Update GitHub Vignette with Release Strategy"
### Please select a category the issue is focused on?

Developer Guides

### Let us know where something needs a refresh or put your idea here!

Update for https://github.com/pharmaverse/admiral/blob/main/vignettes/git_usage.Rmd

New Section of vignette that adds in Guidance on how we do a Release of admiral for **major releases** as well as for **patch releases**.   This would involve some of the