[2022-10-17 15:33] bms63 commented on #1496
@zdz2101 any resolution?  If not, you might want to talk to Eli Miller from Atorus.  He is familiar with pkgdown

[2022-10-17 19:11] jeffreyad opened #1516 "Feature Request: Add Function to Find Next Dose"
### Feature Idea

For ADNCA and ADPC the PRE-DOSE concentration records have time variables that refer to the upcoming dose rather than the prior dose.  Adding a new function `derive_vars_next_dose()` which is a modified version of `derive_vars_last_dose()` would accomplish this.  For example ARRLT will be the relative time to the upcoming dose e.g. ARRLT = -0.5 if PRE-DOSE sample is at 11:50 and

[2022-10-17 20:01] #1500 closed

[2022-10-18 09:05] bundfussr commented on #1516
@jeffreyad , thanks for creating this issue. Could you have a look at https://github.com/pharmaverse/admiral/issues/1448? I think the functionality you need is covered by `derive_vars_joined()`.

[2022-10-18 14:07] rossfarrugia commented on #1338
@bms63 @thomas-neitmann see the edited issue now and please update further if needed. We can discuss with the core dev team tomorrow

[2022-10-18 14:11] bms63 commented on #1338
Looks good to me.

[2022-10-18 14:19] bms63 opened #1518 "General Issue: Upversion `renv.lock` file and relevant files"
### Background Information

Upversion `renv.lock` file and relevant files

### Definition of Done

_No response_

[2022-10-18 14:55] bundfussr commented on #1338
@rossfarrugia , I do not understand "The way we plan to achieve this would be to make a new admiral function to set the subject key option using `getOption("admiral_subject_keys", vars(STUDYID, USUBJID))`.".
Why is `getOption()` used if the function should *set* the option?
How is the default for `admiral_subject_keys` set if the user does not call the new function?

[2022-10-18 22:27] jeffreyad commented on #1516
Hi @bundfussr, Yes! `derive_vars_joined()` works for this, and better still it also handles the same situation I need to be able to compare nominal times with prior nominal dose time and next nominal dose time.  Thanks!

[2022-10-19 05:50] rossfarrugia commented on #1338
@bundfussr probably my bad wording... we need a new admiral function here to ensure it gets its own Roxygen2 section and documentation page, but we should be able to make use of getOption R function as part of it.

Good question on how to set the default - ideally we'd want this option set to `vars(STUDYID, USUBJID)` always as default unless they specifically set it otherwise. @thomas-neitmann @bm

[2022-10-19 06:24] thomas-neitmann commented on #1338
Basically we'd have a `set_subjects_key()` and `get_subject_keys()` function which would both live on the same help page. Upon loading admiral `set_subject_keys()` would be called to set our default, `set_subject_keys(vars(STUDYID, USUBJID))` and all our functions would have `get_subject_keys()` as default.

One could implement these function using R's `options()` and `getOption()` functionality b

[2022-10-19 06:30] rossfarrugia commented on #1338
thanks @thomas-neitmann - can you edit the issue above please to explain this better than i did? :)

[2022-10-19 09:38] rossfarrugia commented on #1041
@yangc71 @millerg23 FYI that Hinal mentioned @oreillb1 (Barbara) had been looking into Hy's Law extensively on her molecule recently and comparing Roche implementation vs industry guidelines. May be worth running our workflow past her for consideration, given she's very familiar with admiral as one of our explorers.

[2022-10-19 11:13] bundfussr commented on #1338
Thanks, I understand now what you want to do.

However, the approach does not look convincing to me.

- Why do we add new functions just for writing documentation? Why do we not use `options()` and `getOptions()` and write a vignette describing the admiral options or document them like the datasets in `data.R`?
- How would this work for the other use cases? Would we add another two functions for e

[2022-10-19 12:22] rossfarrugia commented on #1338
Good discussion topics for the call today! We were trying to avoid an extra vignette just for this (as we couldn't see anywhere it fit in the current site pages) and we don't see this being extended to any other areas of usage, but agree not sure it's the most elegant solution so open to other ideas.

[2022-10-19 12:55] thomas-neitmann opened #1520 "Documentation: BDS TTE vignette outdated"
### Please select a category the issue is focused on?

User Guides

### Let us know where something needs a refresh or put your idea here!

This is **not** true, because `--DTC` variables won't be accepted anymore.

[2022-10-19 12:58] rossfarrugia commented on #1317
hi @sophie-gem, how's it going with this one?

[2022-10-19 14:03] rossfarrugia opened #1521 "Documentation: Explain subject_keys option in programming strategy"
### Please select a category the issue is focused on?

Developer Guides

### Let us know where something needs a refresh or put your idea here!

In admiraldev programming strategy vignette add a sentence to cover the decisions from https://github.com/pharmaverse/admiral/issues/1338 so that anyone creating a new function knows to follow this convention.

[2022-10-19 14:05] rossfarrugia commented on #1338
FYI @zdz2101 and @sadchla-codes as discussed and please one of you take this on and unassign the other, whenever you're ready.

[2022-10-19 14:08] rossfarrugia commented on #1338
Also whoever takes on please assign yourself for: https://github.com/pharmaverse/admiralonco/issues/175 - i just sent you an invite for write access to this repo too.

[2022-10-19 14:12] rossfarrugia opened #1522 "Functions clean up - for consistency and to reduce duplication now we have Generic Functions"
For release 0.10.0 (maybe 1.0.0) in March 2023, let's re-visit discussions from https://github.com/pharmaverse/admiral/pull/1484 and look at which functions may need to be re-named/deprecated in favour of having cleaner sets of consistent functions like "merged" and "joined". Ross and Stefan to collate a list and bring to the core dev team for discussion. Then the changes should be reflected in th

[2022-10-19 15:05] jeffreyad commented on #1448
This will be useful for ADNCA/ADPC for finding the next upcoming dose for PRE-DOSE records.  This could be used both for actual relative times (ARRLT) and nominal relative times (NRRLT).

Find next dose:

[code]

Find previous nominal dose time:

[code]

Find next nominal dose time:

[code]

This would replace the need for #1516

[2022-10-19 15:09] rossfarrugia commented on #1448
Thanks @jeffreyad - feel free to try out the function and add any review comments to the PR: https://github.com/pharmaverse/admiral/pull/1468. We're hoping to merge this one to `devel` soon.

[2022-10-19 15:10] rossfarrugia commented on #1516
We can close this one then and glad to see another usage for the new joined function :)

[2022-10-19 15:10] #1516 closed

[2022-10-19 15:15] rossfarrugia commented on #1520
good spot - i'll quickly fix this one now.

[2022-10-19 20:57] zdz2101 commented on #1338
Is this only for `subject_keys` input? Or a matter of wherever `vars(STUDYID, USUBJID)` is being used which would include many of the `by_vars` instances as well? Screenshot of the find in files below:

![image](https://user-images.githubusercontent.com/43018762/196802081-5c538b87-41ff-4d88-8074-80ee1db89260.png)

[2022-10-19 21:08] thomas-neitmann commented on #1338
Only for `subject_keys`.

[2022-10-20 07:05] rossfarrugia commented on #1338
@bms63 shouldn't the `derive_var_last_dose*` functions that Zelos found above have a blank default for `by_vars` like all the other functions? I saw you were the author. That would solve this potential confusion for users, as they may ask why we don't set these as default to `"admiral_subject_keys"` also. It could be something we clean up all in one go as part of this issue if you agree?

[2022-10-20 14:40] zdz2101 commented on #1338
As for the solution implementation, it seems what's been discussed so far would be either:

1. The use of R's options functions: `options(admiral_subject_keys = ...)` and `getOption("admiral_subject_keys")`
2. Creating the separate `set_subjects_keys()` and `get_subject_keys()` functions.

Although we should advise to use sparingly is there a scenario one day where other inputs or a future input m

[2022-10-21 07:12] thomas-neitmann commented on #1338
@zdz2101 I like your suggestion! I would store the `admiral_options` list in our package environment, i.e. not using `options()`, and set default values there. Both the `set` and `get` function can check whether the specified option actually is part of `admiral_options` and if not throw an error.

[2022-10-21 15:13] bundfussr opened #1527 "Documentation: Move metadata to top level on reference page"
### Please select a category the issue is focused on?

Function Documentation

### Let us know where something needs a refresh or put your idea here!

On the reference page:

- [x] The "Metadata" section should be moved from "Advanced Functions" to top level (before "Advanced Functions")
- [x] A description should be added to the "Metadata" section about what we mean by metadata.
- [x] The `atoxgr

[2022-10-24 14:50] zdz2101 opened #1529 "Documentation: Adding an RStudio style cheatsheet"
### Please select a category the issue is focused on?

User Guides

### Let us know where something needs a refresh or put your idea here!

Would be interesting to create an RStudio-style cheatsheet for admiral, especially popularly used functions/family of functions:

https://github.com/rstudio/cheatsheets/blob/main/README.md

[2022-10-24 14:54] bms63 commented on #1529
Love it!  @pharmaverse/admiral

[2022-10-24 15:00] bundfussr commented on #1529
Yes, great idea. I would propose to do it for the 1.0.0 release because https://github.com/pharmaverse/admiral/issues/1522 will cause a lot of changes and after the clean up it should be easier to create the cheatsheet.

[2022-10-24 16:49] sadchla-codes opened #1530 "Documentation: update R version in User Guides"
### Please select a category the issue is focused on?

User Guides

### Let us know where something needs a refresh or put your idea here!

Update R versions (everywhere applicable), starting with  [vignettes/faq.Rmd](https://github.com/pharmaverse/admiral/blob/main/vignettes/faq.Rmd)

[2022-10-24 18:35] esimms999-gsk opened #1532 "Remove library(tibble) from test-derive_joined.R and use tibble::tribble in function calls"
### Please select a category the issue is focused on?

Other

### Let us know where something needs a refresh or put your idea here!

![image](https://user-images.githubusercontent.com/85294667/197600086-9583c35c-f088-409d-a93f-1d649072d0c1.png)

[2022-10-25 12:57] esimms999-gsk opened #1538 "General Issue: convert to testthat3e"
### Background Information

Slack conversation and link: https://testthat.r-lib.org/articles/third-edition.html

![image](https://user-images.githubusercontent.com/85294667/197778213-76e6d225-ab3f-401a-a164-8cff43ce1ffe.png)

### Definition of Done

_No response_

[2022-10-25 18:14] #1532 closed

[2022-10-26 12:27] thomas-neitmann opened #1540 "Bug: `ADT` is set to `NA` when `start_date` is missing"
### What happened?

When using `derive_param_tte()` the `ADT` variable is set to `NA` if `start_date` is missing for that subject even though there is an event with a valid date.

### Session Information

[code]

### Reproducible Example

[code]

[code]

[2022-10-26 12:35] thomas-neitmann commented on #1540
The issue is that we call `pmax()` without setting `na.rm = FALSE`:

https://github.com/pharmaverse/admiral/blob/5129b2e655aad7de63d596c0d290fb891fbdc1a1/R/derive_param_tte.R#L378-L380

[2022-10-26 15:00] bms63 commented on #1540
Can this wait till the release, or do you want us to fix it now?

[2022-10-26 15:06] bms63 commented on #1456
So I think this has been completed by @sadchla-codes ??

[2022-10-26 15:11] bms63 commented on #1297
Closing as no feedback has been given

[2022-10-26 15:11] #1297 closed

[2022-10-28 15:26] bundfussr commented on #1522
Also consider MDIS parameter derivations in admiralroche ADRS template.

[2022-10-31 15:56] sophie-gem commented on #1317
Hi, in terms of unit tests for the updated function: do I only update those tests that were written for the deprecated function? Or would it be wise to add in another test for `mode = 'last'` (as due to the nature of the deprecated function each of the two tests are based just on `mode = 'first'`)? Or is this ok, as the parameter `mode` is passed onto `filter_extreme` which should have its own set

[2022-10-31 16:18] rossfarrugia commented on #1317
i would add extra tests to check the new feature `mode = 'first'`, and also please follow https://pharmaverse.github.io/admiraldev/devel/articles/programming_strategy.html#deprecation guidance for deprecation. @bundfussr may be able to add deeper details.

[2022-10-31 17:55] sophie-gem commented on #1317
**Status update**: `derive_param_first_event` has been deprecated with warning (as has the associated `date_var` parameter within `derive_param_extreme_event`). Function `derive_param_extreme_event` has been created (adapting and generalising as requested in issue definition). Tests have been writing to check for warnings in deprecation and for the new function with `mode` equal to both 'first' an

[2022-10-31 18:09] bundfussr commented on #1317
Deprecating `date_var` in `derive_param_extreme_event()` looks strange to me because the function was not available before. So user should not have old code calling `derive_param_extreme_event()` with the `date_var` argument. I would deprecate `derive_param_first_event()` only and mention in the deprecation message that `derive_param_extreme_event()` should be used now with the `order` argument in

[2022-11-01 08:10] sophie-gem commented on #1317
Thanks both - I will make that alteration then!

[2022-11-01 12:39] #1373 closed

[2022-11-01 12:42] thomas-neitmann commented on #652
@sadchla-codes @zdz2101 Can either of you take this on? It's been in a backlog for quite a while now and we don't like having stale issue 🙂

[2022-11-01 12:43] thomas-neitmann commented on #627
Is there still interest in implementing something for `RELREC`? If not, we'll close this issue.

[2022-11-01 12:45] thomas-neitmann commented on #692
@zdz2101 @sadchla-codes Another interesting issue you might want to tackle.

[2022-11-01 12:45] bms63 commented on #627
There is from GSK side

[2022-11-01 12:45] thomas-neitmann commented on #971
Closing as out of scope for {admiral}.

[2022-11-01 12:45] #971 closed

[2022-11-01 12:46] thomas-neitmann commented on #1001
@bundfussr @rossfarrugia Has this been addressed as part of the date imputation refactor?

[2022-11-01 12:47] #1213 closed

[2022-11-01 12:48] thomas-neitmann commented on #1242
@sadchla-codes @zdz2101 Yet another issue to look into.

[2022-11-01 12:49] thomas-neitmann commented on #1319
This would be a great enhamcement @sadchla-codes @zdz2101.

[2022-11-01 12:50] thomas-neitmann commented on #627
Do we have someone to take this on?

[2022-11-01 13:04] bms63 commented on #627
We don't and honestly probably can just create a new issue when someone gets interested again.  So lets close it!!

[2022-11-01 13:04] #627 closed

[2022-11-01 20:06] zdz2101 commented on #692
It seems `get_duplicates_dataset()` is directly tied to `signal_duplicates_dataset()` and the end goal is to prevent the confusion involved from running `get_duplicates_dataset()` randomly or pre-emptively before `signal_duplicates_dataset()`. My proposal would be a warning message if they run `get_duplicates_dataset()` without calling `signal_duplicates_dataset()` as a command right before/prior.

[2022-11-01 21:21] jcabercrombie commented on #1540
Hi @thomas-neitmann ! I see that the na.rm = TRUE component was already added to line 379. In that case, is there any other fix needed for this issue? I ran it in R and found that the output included an ADT date for the sample data.

[2022-11-02 08:44] thomas-neitmann commented on #1540
@jcabercrombie Yes I created a branch and played around with it. There's still some things left to do: most importantly we should add a unit test that would fail when `na.rm = TRUE` is *not* set (i.e. highlight the bug reported here). Also the `NEWS.md` file should be updated. Would be great if you could take that on!

[2022-11-02 08:48] sophie-gem commented on #1317
Just one final question - should I change the file name from `derive_param_first_event.R` to `derive_param_extreme_event.R` (and then the same for the test file) or is it recommended to leave these as is?

[2022-11-02 09:09] rossfarrugia commented on #1317
Use extreme @sophie-gem - then it will match the other "extreme" functions.

[2022-11-02 09:50] sophie-gem commented on #1317
Hi (me again, sorry), I was going to put the explanation in the 'New Features' section of the `NEWs.md` file, but then I was wondering if it would be more appropriate to go in 'Updates of Existing Functions' section. Any preferences?

[2022-11-02 09:53] rossfarrugia commented on #1317
'Updates of Existing Functions' & 'Breaking Changes' i think - but shout anyone if you disagree!

[2022-11-02 10:19] rossfarrugia commented on #1001
i just double-checked and i think the documentation across the function page and the vignette look pretty solid now so will close this issue

[2022-11-02 10:19] #1001 closed

[2022-11-02 10:24] rossfarrugia commented on #1529
agree great idea for 1.0.0 release. @yangc71 created a great poster for admiral to share internally here recently which could be a starting point when the time comes for this one - it will need updating to go deeper into the deeper functional level to act as a cheat sheet but there might be some re-use.

[2022-11-02 11:18] thomas-neitmann commented on #692
I'm not sure this approach would work in practice. `signal_duplicate_records()` is usually not called at the top-level as in your example but inside a function (which again might be called fro within another function and so forth). So how would you restrict `get_duplicates_dataset()` to solely work directly after `signal_duplicate_records()` is called?

[2022-11-02 11:39] sophie-gem commented on #1242
Hi @bundfussr / @rossfarrugia, is this something else you want me to incorporate into #1317 ? (As I know you are eagerly awaiting this completion in order to make updates further down the line). I'm happy to do this - it would just take me a bit longer (otherwise the PR is pretty much ready to go)? [FYI - ADT is now only provided if you give it in the `set_values_to`. It is now only AVAL and AVALC

[2022-11-02 11:43] DeclanHodges opened #1548 "Bug: Depreciated function derive_var_agegr_fda displaying incorrect depreciation warning message"
### What happened?

When using the `derive_var_agegr_fda()` function, which has been depreciated, the warning message produced refers to the wrong function (see screenshot below).
![image](https://user-images.githubusercontent.com/113363343/199481089-ada06a5d-bca5-49ab-a5ab-efa2173733d9.png)

### Session Information

_No response_

### Reproducible Example

test_dset <- admiral_adsl %>%
  derive_v

[2022-11-02 11:48] sophie-gem commented on #1242
I may be able to fit it in - but realistically, if I did it would not be ready until the end of this Sunday...does that work?

[2022-11-02 11:58] bundfussr commented on #692
I think we can not automate resetting the duplicates dataset or issue a warning or error if it is out of date because we do not know when the user has fixed the program and rerun it.
So we could provide a function for resetting the duplicates dataset but the user would need to call it manually.

[2022-11-02 12:03] rossfarrugia commented on #1242
ok by me Sophie, if you're happy to. appreciate it!

[2022-11-02 12:48] thomas-neitmann commented on #1242
I think that's still very much OK 🙂

[2022-11-02 12:50] sophie-gem commented on #1242
Right ok, thanks both. I'll keep you posted on progress. Do I link this issue to the same PR (does that work)?

[2022-11-02 12:53] thomas-neitmann commented on #1242
Yes, that should work on the right side of the PR.

[2022-11-02 13:16] zdz2101 commented on #692
Within the `get_duplicates_dataset()` I was playing around and added an `if (interactive())` statement that grabs the .Rhistory whenever the function is called, which does a string search for "signal_duplicate_records" from the command prior to the `get_duplicates_dataset()` call. See [lines 38 - 49](https://github.com/pharmaverse/admiral/blob/692_enhancements_to_get_duplicates_dataset/R/duplicate

[2022-11-02 14:42] esimms999-gsk opened #1551 "Documentation: create GitHub Action to throw error if library() statement found in testthat"
### Please select a category the issue is focused on?

Other

### Let us know where something needs a refresh or put your idea here!

While working on #1381, we decided that there should not be any library calls in any of the unit tests, e.g. in testthat. Instead, we should call a function directly if it is already available in the environment, i.e. mentioned in NAMESPACE importFrom() statement. O

[2022-11-02 14:45] esimms999-gsk commented on #1551
Thomas suggested this could be a customized lintr test.

[2022-11-02 14:51] esimms999-gsk commented on #1380
02Nov2022: confirmed in our standup meeting that we want Roxygen examples to use library(pkgname) and function() instead of pkgname::function() in Roxygen examples. Note that this is the opposite of what is needed in unit tests (testthat folder).

[2022-11-02 14:54] thomas-neitmann commented on #1396
Decisision:

- Document main function and `source()` function **separately**
- Add examples to all `source()` functions

[2022-11-02 15:01] thomas-neitmann opened #1552 "Documentation: "See also" section for `source` objects list wrong stuff"
### Please select a category the issue is focused on?

User Guides

### Let us know where something needs a refresh or put your idea here!

Much of what is displayed after "Source specifications" is not a `source` object. This is confusing and should be updated.

<img width="766" alt="image" src="https://user-images.githubusercontent.com/11788080/199524548-80ea6050-2525-4e3f-981f-dc50e44c909c.png"

[2022-11-02 15:06] thomas-neitmann commented on #692
User should never run `signal_duplicates_dataset()` themselves. That is always called from inside a `derive_*()` function when something is off to make the user aware of it. Then we tell them to use `get_duplicates_datasets()` to see the records which caused the issue.

[2022-11-02 17:42] jcabercrombie commented on #1540
Makes total sense, Thomas! Thanks for the comment and for giving me these pointers, as this will be my first time contributing. I will look into the things left to do for this issue.

[2022-11-02 17:44] thomas-neitmann commented on #1540
Great, thanks @jcabercrombie! If you need support let me know 🙂

[2022-11-02 20:19] zdz2101 opened #1556 "General Issue: Update news for removing 3.6 workflow"
### Background Information

We have removed the 3.6 check in favor of the 3 most recent versions of R. (4.0, 4.1 and 4.2)

### Definition of Done

Update to news to include this for version 9.

[2022-11-02 20:25] zdz2101 commented on #1490
See #1556

[2022-11-03 02:07] esimms999-gsk opened #1558 "Documentation: Remove_pkgname::function() synatax from Roxygen examples"
### Please select a category the issue is focused on?

Other

### Let us know where something needs a refresh or put your idea here!

The work done for Issue #1380 was limited to tibble:: and stringr:: and lubridate:: syntax. There are other pkgname::function() instances in the R directory but these require additional discussion. Are rlang::, admiraldev:: and utils:: to be treated the same way? Wh

[2022-11-03 10:57] rossfarrugia commented on #734
FYI @yohannomnes & @sgorm123 this one is now completed - thanks for all your efforts on this!!

[2022-11-03 12:46] bms63 opened #1559 "Feature Request: `derive_vars_kamilia_duniec()`"
### Feature Idea

This function will do the following:

-  Heap eternal gratitude onto Kamila
-  Bring her free coffee whenever it is used by an `admiral` user
-  Resolve conflicts on every scale
-  Immortalize Kamilia into the project

### Relevant Input

Gratitude

### Relevant Output

Gratitude

### Reproducible Example/Pseudo Code

_No response_

[2022-11-03 16:08] bms63 commented on #1558
I think we should be consistent and remove the `::` calls from any roxygen examples.

[2022-11-03 16:55] thomas-neitmann commented on #1558
Agree, either all or nothing. SO let's drop the `pkg::function()` syntax for all instances in the docs.

[2022-11-03 17:17] bundfussr commented on #1558
I would propose to close this issue and do the change in #1380.

[2022-11-03 19:12] esimms999-gsk commented on #1558
All or nothing? OK, let's go for all. I was breaking it up into two issues in the hope that I could avoid taking too long and having 1000 conflicts. :(

Looking at the few that are left:

The remaining lines found with :: (two colons) in the Roxygen example blocks are:

create_query_data.R:#'   get_smq_fun = admiral.test:::get_smq_terms,
create_query_data.R:#'   get_sdg_fun = admiral.test:::get_sd

[2022-11-03 20:42] esimms999-gsk commented on #1558
Changes made in #1380 branch and done with PR #1555.

[2022-11-03 20:42] #1558 closed

[2022-11-04 00:52] bms63 commented on #1380
@esimms999-gsk Triple colons allow you to access objects in a package that are not exported to the Namespace.  https://stat.ethz.ch/R-manual/R-devel/library/base/html/ns-dblcolon.html

[2022-11-04 01:43] kaz462 opened #1561 "Documentation: potential updates for derive_var_obs_number() example"
### Please select a category the issue is focused on?

Function Documentation

### Let us know where something needs a refresh or put your idea here!

To illustrate the default order of derive_var_obs_number() is ascending, could we add **desc**(VSTPTNUM) in the order parameter of its example? when deriving ASEQ, it happens a lot to have both descending and ascending order of variables

Also, the

[2022-11-04 07:00] rossfarrugia opened #1562 "Store our package data as rds"
@bms63 @thomas-neitmann  After updating https://github.com/pharmaverse/admiral/issues/1501, shouldn't our example datasets like ADSL in `data/` now be stored as `.rds` instead of `.rda` too? from ophtha team (@millerg23) we also heard this causes R errors and `.rds` then need to be stored in `inst/` instead of `data/`.

Hadley's guide talks of storing `.rda` in `data/` though so maybe the way we h

[2022-11-04 07:06] thomas-neitmann commented on #1562
Any datasets that ship with the package in the `data` folder have to be stored as `.rda`.

[2022-11-04 07:06] #1562 closed

[2022-11-04 10:36] bundfussr commented on #1558
@esimms999-gsk , makes sense. We used the triple colon for `get_smq_terms()` to point out that it is just a dummy function for the example and that the users have to replace it by their own function which reads the terms from the company database.

[2022-11-04 15:17] bundfussr opened #1564 "Feature Request: Implement `derive_var_merged_summary()`"
### Feature Idea

Implement
[code]
The function does the same as `derive_summary_records()` but it does not add new observations to the dataset. Instead the summarized values are added as a new variable to the input dataset.

### Relevant Input

_No response_

### Relevant Output

_No response_

### Reproducible Example/Pseudo Code

[code]
add the variable `MEANVIS` to `adeg` and sets it to the me

[2022-11-04 16:03] rossfarrugia opened #1565 "Documentation: FAQ vignette update R version section"
### Please select a category the issue is focused on?

User Guides

### Let us know where something needs a refresh or put your idea here!

In the FAQ section (https://pharmaverse.github.io/admiral/articles/faq.html) I noticed earlier it says sentences like:

`We currently work in R Version 3.6.3 `

`Currently we test `{admiral}` against R Version 3.6.3 with a CRAN package snapshot from 2020-02-29

[2022-11-04 16:06] zdz2101 commented on #1565
Great catch!

[2022-11-05 20:07] bms63 commented on #1561
Thank you for the feedback @kaz462 and the proposed updated example.  Would like to make this update for us?  It would be much appreciated!! :) Let us know if you need any assistance with working on it if you choose to do so.

[2022-11-05 20:11] bms63 commented on #1380
We close these issues after a release.  Just so people know it was worked on and updated.

[2022-11-06 16:10] sophie-gem commented on #1242
Ok, so my current thoughts on how to approach this are:

- Add three more arguments to the function call:
  - `new_var_event` (default `AVALC`) which states the name of the variable which indicates whether an event happened or not
  - `value_had_event` (default `Y`) which states the value `new_var_event` should have if the event occurred
  - `value_no_event` (default `N`) which states the value `n

[2022-11-06 16:20] bms63 opened #1566 "General Issue: v9 release video"
### Background Information

We created a release video for v8 and would like to continue with this trend.  Is it possible for one of you two to work on this?  It does not have to be a work of art!!  I set the bar pretty low in v8 https://www.youtube.com/watch?v=vFJww0R87wI :)

* It only has to be 5-10 (max) minutes
* Highlight all the features that have been developed
* Highlight new vignettes and

[2022-11-06 16:21] bms63 commented on #1566
This can be done after the release (December 5th), but good to start getting familiar with the changelog to see what to highlight.

[2022-11-06 17:23] sophie-gem commented on #1242
Thinking again, another potential option is that we instead add another two `set_values_to` arguments, one specific for those records that have an event, and another one specific for those records that don't have the event. So something like:

- `set_values_to_with_event` which will be the name-value pairs for those records which have the event
- `set_values_to_no_event` which will be the name-val

[2022-11-06 17:43] sadchla-codes commented on #1566
@bms63 @zdz2101 I can work on that

[2022-11-07 08:03] rossfarrugia commented on #1242
@bundfussr what do you think of Sophie's proposal? i don't know the full background on this but I'm starting to wonder if we're over-complicating this function by adding extra arguments? i don't remember seeing such flexibility on the other `derive_param_*` functions. on reflection i'm feeling like we shouldn't add this but then i wasn't part of the earlier discussions so i may be missing somethin

[2022-11-07 08:14] rossfarrugia commented on #1315
@bundfussr FYI {parttime} is now on CRAN https://cran.r-project.org/web/packages/parttime/index.html - please can you discuss at the core team meet Weds around whether this will be incorporated as an admiral dependency during this release or next?

[2022-11-07 11:18] bundfussr commented on #1242
@sophie-gem , @rossfarrugia , I would use the first proposal but rename the arguments such that they are in line with similar functions:
- `new_var` (default `AVALC`) which states the name of the variable which indicates whether an event happened or not
- `true_value` (default `"Y"`) which states the value `new_var` should have if the event occurred
- `false_value` (default `"N"`) which states the

[2022-11-07 12:24] bundfussr commented on #1315
@rossfarrugia , I have added it to the agenda.

[2022-11-07 14:29] sophie-gem commented on #1242
Many thanks @bundfussr , @rossfarrugia - I will work on implementing it this evening / tomorrow morning!

[2022-11-08 17:51] DeclanHodges commented on #1499
Also found this related issue:

### What happened?

When using the `derive_var_agegr_fda()` function, which has been depreciated, the warning message produced refers to the wrong function (see screenshot below).
![image](https://user-images.githubusercontent.com/113363343/199481089-ada06a5d-bca5-49ab-a5ab-efa2173733d9.png)

### Session Information

_No response_

### Reproducible Example

test_dse

[2022-11-08 17:53] DeclanHodges commented on #1548
Closing this issue, as this has been added to related issue #1499 .

[2022-11-08 17:54] #1548 closed

[2022-11-09 09:03] sophie-gem commented on #1242
Within the function, I'm thinking that we need to assert that both `true_value` and `false_value` are scalar (length 1) and that they are both of the same 'type' using `class` or `typeof`. Are there any other assertions I should be checking for in the function?

[2022-11-09 10:07] bundfussr commented on #1242
@sophie-gem , we do not have an assertion for such a requirement. I would suggest to implement `asssert_same_type(...)` (in admiraldev). It could be useful for other functions as well, for example `derive_var_merged_exist_flag()`, where three arguments (`true_value`, `false_value`, and `missing_value`) must be of the same type.

[2022-11-09 14:36] thomas-neitmann opened #1572 "Feature Request: Create only a single environment for admiral in a separate file"
### Feature Idea

Right now environments are created in multiple files and are not documented.

### Relevant Input

_No response_

### Relevant Output

_No response_

### Reproducible Example/Pseudo Code

_No response_

[2022-11-09 15:56] kaz462 commented on #1561
Thank you for your response @bms63  I'm happy to update.
I want to check another trivial issue we faced related to **derive_var_obs_number**:

Issue:
My colleague @bmei1 is trying to validate our internal ADaM (developed in SAS) by using admiral-generated ADaM. While ordering variables to derive ASEQ, he found NA is at the beginning of ascending order column in the SAS data. But with derive_var_ob

[2022-11-09 18:17] bundfussr commented on #1572
I would prefer a meaning full name, e.g., `admiral_environment.R` instead of `aaa.R`. We could use the `@include` tag if a file needs the environment when loading. There shouldn't many such files if at all.

[2022-11-09 18:18] bms63 commented on #1572
I like `admiral_environment.R` - much more meaningful.

[2022-11-09 23:15] bms63 opened #1574 "Documentation: adsl example dataset got added to function section"
### What happened?

![image](https://user-images.githubusercontent.com/10111024/200962231-775204e7-8a29-420c-a1ab-c2c8416f163f.png)

Looks like the `admiral_adsl` got moved somehow to the function section.  It should live in the Example dataset section.

[2022-11-10 07:41] PatrickRWright opened #1575 "Documentation: filter_if exported both from admiral and admiraldev"
### Please select a category the issue is focused on?

Function Documentation

### Let us know where something needs a refresh or put your idea here!

Presumably this is a straggler in `admiral`. Is that so?

https://github.com/pharmaverse/admiral/blob/main/NAMESPACE#L124
https://github.com/pharmaverse/admiraldev/blob/main/NAMESPACE#L39

[2022-11-10 11:54] bundfussr commented on #1575
@PatrickRWright , yes, you are right. Thanks for raising this.

We have already an issue for this (https://github.com/pharmaverse/admiral/issues/1450). So I'll close this one.

[2022-11-10 11:54] #1575 closed

[2022-11-10 14:41] bundfussr opened #1576 "Feature Request: `derive_param_tte()` should not create observations for subjects not in ADSL"
### Feature Idea

Currently `derive_param_tte()` creates observations for subjects which have an event or are censored but who are not in ADSL. For those `STARTDT` is `NA`, which implies that `AVAL` is `NA` as well. So these observations are useless for time-to-event analyses.

`derive_param_tte()` should be updated such that such observations are not created.

Additionally the documentation shoul

[2022-11-11 01:32] bms63 commented on #1458
Hey @jeffreyad  we keep these open till we merge everything into main

[2022-11-11 15:31] bundfussr opened #1577 "Bug: `print.source` does not work for unnamed lists"
### What happened?

`print.source` does not work for unnamed lists.

### Session Information

_No response_

### Reproducible Example

[code]
The `definition` field is not printed because it is an unnamed list.

[2022-11-11 19:25] sadchla-codes commented on #1466
@thomas-neitmann is `print.duplicate()` intended to be part of the `signal_duplicate_records()` or its own function?

[2022-11-12 23:14] bms63 commented on #1574
ACtually...it looks like the all the functions are being placed into the BDS-specific section.  Unsure of the root cause
![image](https://user-images.githubusercontent.com/10111024/201498201-f105a3e4-5bbc-4cb6-83a5-4b35b017bb8b.png)

[2022-11-14 16:23] bms63 commented on #1540
@jcabercrombie Just seeing how this is progressing along?

[2022-11-14 16:51] bms63 commented on #1408
Hi @oreillb1 do you still have time to create this vignette?

[2022-11-14 16:54] bms63 commented on #747
Hi @hmanek24 do you still have time to work on this issue.  We need this done in the next 14ish days.

[2022-11-14 17:04] hmanek24 commented on #747
Hi @bms63 sorry, I won't be able to get to it in the next couple of weeks.

[2022-11-14 19:11] fshanlee opened #1582 "Bug: compute_duration() calls is_date(), which is not in NAMESPACE"
### What happened?

A testthat script failed, I think because compute_duration() calls is_date(), which is not in the NAMESPACE:

[code]
I found an is_date() function in a package called "GGally", but it's not exported from that package:

[code]
I did not previously see this error whilst running the same testthat script, so I'm wondering what's changed. Was there previously an `is_date()` function

[2022-11-14 19:17] bms63 commented on #1582
Hey @sadchla-codes do you have time to look into this?

[2022-11-14 19:19] sadchla-codes commented on #1582
Yes, I'll look into it

[2022-11-14 19:21] fshanlee commented on #1582
Hi @bms63 and @sadchla-codes , I just took a look at the **Main** branch of {admiraldev} and answered my own question: `is_date()` was defined in _is.R_.

[2022-11-14 19:22] bms63 commented on #1582
We also just did someone updates around the `is.R` file - so take a look at `devel` as well.

[2022-11-14 19:26] fshanlee commented on #1582
`is_date()` isn't defined in _is.R_ in the **devel** branch.

[2022-11-14 19:31] sadchla-codes commented on #1582
@fshanlee `is_date()` has been replaced with `assert_date_vector()` in devel

[2022-11-14 19:42] fshanlee commented on #1582
@bms63 , may I create a new pull request to amend `compute_duration() `to call `assert_date_vector()` instead of `is_date()`, and link the new pull request to this issue?

[2022-11-14 19:50] bms63 commented on #1582
that would be awesome.  Can you also scan the code to see if `is_Date()` is used anywhere else?  I thought we got them all!!

[2022-11-14 21:03] fshanlee commented on #1582
My bad for not pulling the latest {admiral} _devel_ branch from GitHub before running _testthat_: the calls to `is_date()` have already been replaced by calls to `assert_date_vector()` in compute_duration.R. However, I did a scan of all code as suggested, and `is_date()` is still called once in derive_date_vars.R, so I will still create a pull request to change it to `assert_date_vector()`.

[code

[2022-11-14 21:05] zdz2101 commented on #747
`admiraldev::get_source_vars()` looks to be like a wrapper that would just call `assert_varval_list(traceability_vars, optional = TRUE)` which are already both in `dthcaus_source()` and `date_source()` respectively. Considering time when issue was first raised, I think this may already be addressed? @thomas-neitmann @bms63 @bundfussr

[2022-11-15 07:16] oreillb1 commented on #1408
Yes I have the code already and just need to tidy it up a little and maybe add a couple of comments. Should be ready this week.

[2022-11-15 08:56] bundfussr commented on #747
@zdz2101 , I think it isn't addressed yet. You are right that the validity of `traceability_vars` is checked. But it is not checked if the variables required to create the traceability variables are in the source dataset. I.e., `assert_data_frame(source_dataset, required_vars = get_source_vars(traceability_vars))` should be added.

[2022-11-15 09:45] rossfarrugia commented on #1574
@thomas-neitmann @bundfussr @sadchla-codes @zdz2101 any ideas on this one?? i took a look but i couldn't find the issue and i recreated the site in devel on my side and got the same as Ben sees. we really need this one fixed before the upcoming release.

[2022-11-15 11:13] bundfussr commented on #1582
@fshanlee , at this place `is_date()` should be replaced with `is.instant()` because it should not issue an error if it is not a date. I have already updated it in https://github.com/pharmaverse/admiral/pull/1583.

[2022-11-15 11:23] bundfussr commented on #1574
It seems to be a bug in pkgdown.
We have
[code]
but we do not use the `der_bds_gen` keyword. Instead of adding nothing for `has_keyword("der_bds_gen")` pkgdown adds all.

[2022-11-15 11:53] rossfarrugia commented on #1574
thanks @bundfussr - can you double check admiralonco is not impacted by this too please

[2022-11-15 11:57] bundfussr commented on #1574
@rossfarrugia , admiralonco is fine. All `contents:` fields have only one item there.

[2022-11-15 16:52] bms63 commented on #1408
Fabulous!!

[2022-11-15 17:02] bms63 commented on #1574
@esimms999-gsk This has been completed FYI

[2022-11-15 18:01] zdz2101 opened #1586 "General Issue: Add new contributors to Description file"
### Background Information

Equivalent to https://github.com/pharmaverse/admiraldev/issues/158 but for admiral repo

Add @sadchla-codes, @zdz2101, @jeffreyad and @AniaGolab to Description file.

### Definition of Done

Names added

[2022-11-15 22:36] jcabercrombie commented on #1540
Hi @bms63 ! I've since chatted Thomas offline for help, so sorry there haven't been updates on this issue's thread. I'm currently working on the unit test. Will reach out if I need assistance! Thanks for checking in.

[2022-11-16 14:13] rossfarrugia commented on #1315
@billdenney @dgkf we plan to bring the {parttime} dependency in from the release after this one - so during q1 next year as fyi

[2022-11-16 14:37] billdenney commented on #1315
That sounds great!

[2022-11-16 15:10] rossfarrugia opened #1589 "New function: convert_na_to_blanks()"
See discussion at https://github.com/atorus-research/xportr/issues/63

We need a reverse function to `convert_blanks_to_na()` (https://pharmaverse.github.io/admiral/reference/convert_blanks_to_na.html) that now converts NA values back to blanks.

[2022-11-16 17:13] bundfussr opened #1590 "General Issue: Implement a roxygen roclet to improve documentation"
### Background Information

A roxygen roclet defines how the roxygen tags in the function header are processed and how the man pages are generated. By implementing our own roclet we could achieve the following:
- Define a `@default` tag. If the tag occurs after a `@param` tag, the value is displayed at the end of the parameter description. If it does not occur and the parameter has a default value

[2022-11-16 19:26] zdz2101 opened #1591 "General Issue: What are we reexporting and why"
### Background Information

Related to https://github.com/pharmaverse/admiraldev/issues/83 , we should not be reexporting admiraldev functions in admiral, if they are user-facing they should exist within admiral, affects:

- `vars2chr()`
- `filter_if()`
- `negate_vars()`

Ideally remove `reexports.R` entirely, if possible, depending on conclusion for the two dplyr function reexports.

### Definiti

[2022-11-17 03:29] yangc71 commented on #1041
Hy’s Law Criteria (FDA Guidance https://www.fda.gov/media/116737/download):
(1) Alanine aminotransferase (ALT) or aspartate aminotransferase (AST) elevation of >3× the upper limit of normal (ULN).
(2) Among trial subjects showing such ALT/AST elevations, also show elevation of serum bilirubin (TBL) elevation of >2× ULN without initial findings of cholestasis (ie, absence of elevation of alkaline p

[2022-11-17 03:33] yangc71 commented on #1041
Thank you Ross! We can certainly discuss more with Barbara later (I think Gordon may have already been talking with her).
@millerg23 I started to populate the workflow document, but mostly I think we can use mutate() to derive the new variables (though it can be a lot of conditions to specify manually)? We can discuss more on the approach during our meeting next week too.

[2022-11-17 08:11] rossfarrugia commented on #1041
Thanks @yangc71 - i took the release tag off this one as Gordon mentioned more time will be needed, but appreciate if ADHY could be covered in next release for March. If you need dev support then this would be a good area for @zdz2101 and @sadchla-codes to help with after we make the Dec release.

[2022-11-17 10:19] millerg23 commented on #1041
@yangc71 the information from FDA is a great start for us, and could form the initial template that @bms63 discussed.
We can build up these parameters, maybe using a function where you pass in condition, and name of PARAMCD to be created??
I think in Roche (and GSK), we look at different mulitples of ULN, so if we can get a nice way of creating the PARAMCDs described in FDA, then we can extend to

[2022-11-17 14:27] bundfussr commented on #1242
@sophie-gem , I have implemented `assert_same_type()` in admiraldev (see https://github.com/pharmaverse/admiraldev/pull/177).

[2022-11-17 14:39] sophie-gem commented on #1242
Great, thanks @bundfussr! Will check it out now.

[2022-11-17 19:42] esimms999-gsk commented on #1266
I think this issue is related to Issue #374 ?

While I have heard of COSA (CDISC Open-Source Alliance), I don't think I have heard of CORE (CDISC Open Rules Engine) before. There was mention of it, wrt a PharmaSUG 2022 presentation having to do with QRS (Questionnaires, Ratings, and Scales) at a GSK meeting this morning. I will try to find more info.

[2022-11-17 20:01] esimms999-gsk commented on #1266
I have been pointed towards:

- https://www.cdisc.org/core
- https://www.cdisc.org/standards/foundational/qrs

The PharmaSUG presentations were made by CDISC members and are not made available on the PharmaSUG website. But much of the content of the presentations can be found in the above links.

I do not know if we are still searching for a license-free questionnaire for our ADQS work in admiral

[2022-11-17 21:27] zdz2101 commented on #1572
Looks like we create new environment objects in three places:

1. `admiral_options.R` - used to house the default values for `subject_keys`
2. `derive_merged.R` - used for `get_not_mapped()`
3. `duplicates.R` - used for `get_dupllicates_dataset()`

Should we also unify the three environment objects into one object calling it `admiral_environment` . Then within it, it can call

1. `admiral_environm

[2022-11-17 21:55] esimms999-gsk commented on #1444
@bundfussr @bms63

Looking at an example, occds.Rmd has a couple of links to our admiral files (ad_adae.R and ad_adcm.R):

![image](https://user-images.githubusercontent.com/85294667/202565034-2e2a32fb-c276-422c-9877-7510b72b2e34.png)

My understanding: If we want to add a new link, e.g. to a template for ad_adzz.R, we need to point to the same github location as the other two links, but for ad_ad

[2022-11-18 06:41] rossfarrugia commented on #1266
thanks Eric! @koegerr please can you check the above options with PCOR and let us know a decision on which to use? Can you do this before next release early Dec, as I'd like to put ADQS on the list for the March release then.

[2022-11-18 11:17] bundfussr commented on #1572
Makes sense to me.

Should we use the same approach in admiraldev and add `admiraldev_environment.R` which creates the environment `admiraldev_environment` instead of `.datasets` in `datasets.R`?

[2022-11-18 14:09] zdz2101 commented on #1572
Yes and while parsing that out in admiraldev, can also add a line or two in the programming strategy describing if the developer needs to use a separate environment to fulfill some sort of purpose for their function, the respective `xxx_environment.R` is the appropriate location for it

[2022-11-18 14:17] bundfussr commented on #1572
Yes, good idea.
We should also add to the programming strategy that all objects which are stored in the environment must be documented in `admiral_environment.R`. Then it is easier to see which objects are already used.

[2022-11-18 17:57] bms63 commented on #1572
Ah I see you are already on @zdz2101 for the programming strategy!!

[2022-11-18 18:18] zdz2101 commented on #1572
Perhaps we should push the admiraldev one first to make sure everything is fine and dandy?

[2022-11-18 19:09] bms63 commented on #1572
Haha yeah this new environment stuff scares me a little...

[2022-11-18 20:56] zdz2101 opened #1596 "Bug: get_many_to_one() and get_one_to_many() examples aren't displaying correctly"
### What happened?

This is what is currently live on the admiral website:

![image](https://user-images.githubusercontent.com/43018762/202800804-645420d0-e1ca-4da7-93a8-522052643ebb.png)

### Session Information

_No response_

### Reproducible Example

_No response_

[2022-11-18 20:59] bms63 commented on #1596
Umm...I wonder if `admiraldev` should be in the example

[2022-11-18 21:05] bms63 commented on #1596
Also...wonder how that doesn't fall over in the `check()`

[2022-11-18 21:31] zdz2101 commented on #1596
I think the `try()` wrapper lets us get through with error, but this was an unexpected error.

I stumbled upon it when investigating the implications of https://github.com/pharmaverse/admiral/issues/1572 and https://github.com/pharmaverse/admiraldev/issues/179 . There's actually chain of functions:

derive_param_tte >> assert_one_to_one >> set_dataset
get_many_to_one >> get_dataset
get_one_to_many

[2022-11-21 10:16] oreillb1 commented on #1408
There is an unexpected  problem with my code using admiral version 0.9.0 because the create_single_dose function running my code now shows
Error in `assert_data_frame()`:
! Required variables `ASTDT`, `ASTDTM`, `AENDT` and `AENDTM` are missing.
According to the create_single_dose function documentation these are the default values - not mandatory values so something has apparently changed with thi

[2022-11-21 10:37] oreillb1 opened #1598 "Bug: create_single_dose_dataset expects mandatory values that documentation says are defaults, related to issue #1408"
### What happened?

create_single_dose_dataset function documentation describes ASTDT, ASTDTM, AENDT and AENDTM as function default values but running with admiral version 0.9.0 ASTDT, ASTDTM, AENDT and AENDTM are now apparently mandatory variables.  I expected to define my own variable names (as below) in the function as done previously and create a ex_single dataframe to use in ad_adae.R.
  star

[2022-11-21 10:48] bundfussr commented on #1598
@oreillb1 , thanks for reporting this bug.

It is caused by the default value of `keep_source_vars`. It is hard-coded to `vars(USUBJID, EXDOSFRQ, ASTDT, ASTDTM, AENDT, AENDTM)` but should depend on the `start_*` and `end_*` arguments.

For now you need to specify the `keep_source_vars` argument. In your case `keep_source_vars = vars(USUBJID, EXDOSFREQ, EXSTDT, EXSTDTM, EXENDT, EXENDTM)`.

[2022-11-21 10:51] bundfussr commented on #1408
See https://github.com/pharmaverse/admiral/issues/1598

[2022-11-21 11:08] oreillb1 commented on #1598
Since multiple treatments can be given at the same time I believe EXTRT needs to be included in the keep_source_vars = vars(USUBJID, EXTRT, EXDOSFRQ, EXSTDT, EXSTDTM, EXENDT, EXENDTM) but there continues to be an error
Error in `filter()`:
! Problem while computing `..1 = is.na(EXSTDT) | is.na(EXENDT) | is.na(ASTDTM) | ...`.
Caused by error:
! object 'ASTDTM' not found

[2022-11-21 12:54] oreillb1 commented on #1598
Having made changes and setting up ex_mod using admiral test data, I now see this error
Error in `mutate()`:
! Problem while computing `dose_periods = case_when(...)`.
Caused by error in `if_else()`:
! `false` must have class `Date`, not class `POSIXct/POSIXt`.
when running this code
ex_single <-
  create_single_dose_dataset(
    ex_mod,
    dose_freq = EXDOSFRQ,
    start_datetime = EXSTDTM,

[2022-11-21 14:22] oreillb1 commented on #1598
This part of the code is causing trouble because TRTEDTM does not have class = Date so I'm not able to replace NA values.
EXENDTM = if_else (is.na(EXENDTM) & is.na(DTHDT), DCUTDT, EXENDTM)

[2022-11-21 17:16] bundfussr commented on #1444
We submit to CRAN from `pre-release` instead of `main` because we want to minimize the time where the `main` branch and website is not in sync with CRAN. If a release is accepted by CRAN, we can update the `main` branch and website in a few minutes.  If we update `main` and website first and submit to CRAN from `main`, it takes a few days until the new version is available on CRAN. During these da

[2022-11-21 18:51] zdz2101 commented on #1450
Was done alongside with https://github.com/pharmaverse/admiral/pull/1592

[2022-11-22 06:10] yangc71 commented on #1041
Thanks Gordon! Yes the ULN cutoffs are different across companies, so I'm not sure if `mutate()` would be the easiest to keep things flexible, but we can discuss more in the meeting. For the question on PARAMCD vs. MCRITx, it seems to me PARAMCD is derived when the condition depends on multiple parameters (e.g. ALT > 3xULN and BIL >= 2xULN and ALP < 2xULN), but MCRITx is derived when condition onl

[2022-11-22 10:39] bundfussr commented on #1041
It seems that the situation for ADHY is similar to ADTR in admiralonco. I.e., all companies derive something similar but how the endpoints are derived and how the datasets are structured (one vs two datasets, parameter vs variables) is very different. In admiralonco we plan to create a vignette first where we show for each step some options how it could be done. It is not clear yet if and how we c

[2022-11-23 16:21] bundfussr commented on #1317
@sophie-gem , unfortunately, I found a bug in `derive_param_first_event()`.
There the following call is used.
[code]
The `mutate()` call derives `AVAL` for all records but it should derive it for the new records only.

Do you have time to fix it?

[2022-11-23 16:26] zdz2101 commented on #1591
Still not reexporting any admiraldev functions, guidance is that if it is user facing it is to be included in admiral.
Adding magrittr's pipe operator as a reexport
Cleaning up roxygen examples as necessary

[2022-11-23 16:29] sophie-gem commented on #1317
@bundfussr  Ah, I'm sorry - should've seen this! When do you need it by - if I fixed it tomorrow morning would that work? Also, is the feature branch still available or should I create a new one?

[2022-11-23 16:52] bundfussr commented on #1317
@sophie-gem , thanks for the quick reply. Yes, tomorrow morning is fine.

The feature branch was removed when the PR was merged but you can restore it. There is a "Restore branch" button at the end of the pull request.

[2022-11-24 09:30] sophie-gem commented on #1317
@bundfussr I will need to open a new PR, is that correct?

[2022-11-24 12:56] bundfussr commented on #1522
`vars()` is superseded.

[2022-11-24 17:16] bms63 opened #1605 "Documentation: Description file needs update for admiral dev and admiral.test"
### Please select a category the issue is focused on?

Other

### Let us know where something needs a refresh or put your idea here!

Since admiral.test and admiraldev have breaking changes for previous admirals should the v9 admiral have admiral dev >= 0.2 and admiral.test >= 0.4??  so this prompts update of packages??

@thomas-neitmann @bundfussr

[2022-11-24 17:43] thomas-neitmann commented on #1605
Yes!

[2022-11-24 17:43] thomas-neitmann commented on #1605
Good catch! Should be part of our release check list.

[2022-11-25 12:20] bundfussr commented on #1336
@bms63 , @thomas-neitmann , I wonder how we should deprecate the arguments and objects for this issue. The usual approach of transforming the values of the old arguments to the new arguments could be tricky as some of the arguments expect functions and also the arguments of the passed function has been changed.
I think if we want to deprecate the arguments we would need to keep the old code and us

[2022-11-25 13:40] oreillb1 commented on #1408
Issues are resolved and derive_single_dose_fillin.Rmd file is ready

[2022-11-25 17:23] fshanlee commented on #1582
I just scanned `derive_date_vars.R` for `is_date()` and it is no longer there, so I assume it has been amended since this issue was raised. Therefore, this issue is now resolved, and I am closing it.

[2022-11-25 17:23] #1582 closed

[2022-11-25 18:07] bundfussr commented on #1444
I did some investigations but I do not see a clean solution. Here is a summary of the issues and some options and questions:

The links should work in the following situations:
- local build of the documentation during development
- build of devel version on github pages
- build of main version on github pages
- build of older version (0.8.4, 0.7.1, 0.6.3, …) on github pages
- when a new version i

[2022-11-25 20:53] fshanlee commented on #1459
Hi @bms63 , I'm not sure whether it's possible to create a testthat script for the red gap area: this code opens a text editor and does not appear to hand control back to R until the editor is closed, which requires someone to click _Save_ or _Cancel_.
I will be unable to attend Monday's stand-up meeting--if you will be attending, then please could you ask whether anyone has any suggestions?

[2022-11-28 01:50] bms63 commented on #1444
I think figuring this out should be a priority issue for `0.10.0` release.

I'm very eager for the different admiral version package down sites to be available and think this will dovetail nicely.

@cicdguy We need your power - please help us in our time of need.

![image](https://user-images.githubusercontent.com/10111024/204174878-e8b594bc-c614-4b12-8104-38e5296b6128.png)

[2022-11-28 13:11] #1450 closed

[2022-11-28 14:37] thomas-neitmann commented on #1459
I agree with @fshanlee, the highlighted code does not lend itself to unit testing as it required user interaction.

[2022-11-28 15:39] bundfussr commented on #1408
@oreillb1 , could you create a pull request for merging your feature branch into `devel`?

[2022-11-28 16:48] bms63 opened #1609 "General Issue: Update release schedule in Readme"
### Background Information

Update release schedule in Readme with the new dates for v0.10.0

### Definition of Done

_No response_

[2022-11-28 22:16] bms63 commented on #1459
Then we shall close this issue.

[2022-11-28 22:16] #1459 closed

[2022-11-29 08:21] thomas-neitmann opened #1611 "Indicate minimum required versions of {amdiraldev} and {admiral.test} in DESCRIPTION"
For {admiraldev} `>= 0.2.0` and for {admiral.test} `>= 0.4.0`.

[2022-11-29 10:46] rossfarrugia commented on #1337
@tamarasenior hope ok i moved this to done now on the project board as the PRs look to be merged

[2022-11-29 14:32] thomas-neitmann opened #1612 "Prepare "Introduction to R for SAS Programmers" workshop for {admiral} hackathon"

[2022-11-29 14:41] SHAESEN2 opened #1613 "Argument `filter_ds` is missing, with no default"
### What happened?

I tried to add disposition data to ADSL but the DS data was prefiltered. This means I dont need to have filter_ds argument when adding variables

[code]

### Session Information

R version 4.2.1 (2022-06-23)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 20.04.5 LTS

Matrix products: default
BLAS:   /usr/lib/x86_64-linux-gnu/atlas/libblas.so.3.10.3
LAPACK: /usr/li

[2022-11-29 14:59] thomas-neitmann commented on #1613
Interesting, we hadn't anticipated that. What you can do is input a dummy filter. Just `filter_ds = TRUE` or `filter_ds = TRUE == TRUE` shoudl do the trick.

[2022-11-29 16:35] zdz2101 commented on #1605
Looks like closing #1611 would close this as well

[2022-11-29 17:01] thomas-neitmann opened #1614 "Find or create SDTM datasets for admiral hackathon"
Might be worth looking at the PHUSE Open Data Repository.

[2022-11-29 19:11] SHAESEN2 commented on #1613
That is what I did ik the end. Will this issue be adressed? We often work with huge data that we prefer to filter upfront only once 🤓 Perhaps the dummy filter can be the default? I used !(is.na(USUBJID))

[2022-11-30 07:31] thomas-neitmann commented on #1613
I think we can set the default to be `NULL` to indicate that setting this parameter is optional. Then we'd only filter in case an actual filter expression is passed.

[2022-11-30 07:31] thomas-neitmann commented on #1613
fyi @pharmaverse/admiral

[2022-11-30 11:01] bundfussr commented on #1613
Making `filter_ds` optional would be in line with other functions, e.g., `derive_vars_merged()`.

However, for admiral 0.10.0 (or 1.0.0) we want to do a clean-up. I think `derive_var_disposition_status()` is a candidate for being removed. So I would not update `derive_var_disposition_status()` before we have agreed on the clean-up.

[2022-11-30 13:24] SHAESEN2 opened #1616 "Feature Request: derive_vars_duration rounding"
### Feature Idea

derive_vars_duration should include a rounding argument so we dont need an additional mutate step.

### Relevant Input

_No response_

### Relevant Output

_No response_

### Reproducible Example/Pseudo Code

adsl06 <- adsl05 %>%
  dplyr::left_join(visit1dt, by = c("STUDYID", "USUBJID")) %>%
  dplyr::left_join(visnumen, by = c("STUDYID", "USUBJID")) %>%
  dplyr::left_join(disonsd

[2022-11-30 13:35] thomas-neitmann commented on #1616
Why would you already round values in the dataset itself? Feels like something you'd do when creating your TLGs.

[2022-11-30 14:50] rossfarrugia opened #1617 "Define the scope of release 0.10.0"
**Background Information**
Create a list of features that would be part of the next release in March 2023 (release 0.10.0 - or maybe even 1.0.0!).
Highlight which would be the highest priority.

**Definition of Done**
List of desired features/ updates available

Timeline: A new release will occur in early March 2022 (release Q1-2023).
Theme: Pushing the package closer towards a stable state
Synops

[2022-11-30 14:52] #1374 closed

[2022-11-30 17:40] esimms999-gsk opened #1618 "General: evaluate the use of GitHub Codespaces to provide a standard environment for admiral development"
### Background Information

GitHub has recently offered something called Codespaces.  I think it may be very helpful in a number of different package development initiatives, including admiral.

My understanding: as part of a repository, you can attach a development environment which is perfectly tailored for that specific project. This could be useful for setting up a training class or for ensuri