[2022-06-15 14:43] bms63 opened #1220 "Documentation: Update README with Release Schedule"
### Please select a category the issue is focused on?

Other

### Let us know where something needs a refresh or put your idea here!

Update:  https://github.com/pharmaverse/admiral/blob/main/README.md

I think this should go in the Installation section of the Readme file with a subheading: **Release Schedule**

![image](https://user-images.githubusercontent.com/10111024/173854758-25e2d08b-8228-4e

[2022-06-15 14:46] bms63 opened #1221 "General Issue: Add Project Board to Issue Templates"
### Background Information

The Issue templates can auto add labels and I have seen other repos that can automatically add people and Project Board.  I am assuming that we can also auto-add the Project Board with the backlog to the issue.  This will cut down on us having to remember to add the project board to the issue.

### Definition of Done

All Issue Templates automatically add the Project Bo

[2022-06-15 15:30] rossfarrugia commented on #1214
RE: "Release Strategy" vignette - consider whether it needs to be a vignette on admiral site (as most users may not need such detail) vs including it somewhere like https://github.com/pharmaverse/admiraltemplate/blob/main/README.md ?? just a thought!

[2022-06-15 15:35] bms63 commented on #375
I'm going to close this out now.

[2022-06-15 15:35] #375 closed

[2022-06-15 15:52] duniek commented on #375
As Stephan (I think?) suggested in our meeting earlier today, we should then inform users, i.e. document in a vignette, that visit windowing is not going to be covered and they need to program it themselves.
@bms63 would you kindly create an issue for it? :)

[2022-06-15 15:55] bms63 commented on #949
Hey @rossfarrugia.  Since we have a repo which contains all these issues and can capture the discussion there, can we just close this one out?

[2022-06-15 16:01] bms63 opened #1223 "Documentation: Update relevant documentation on Visit Windowing as Out of Scope"
### Please select a category the issue is focused on?

User Guides

### Let us know where something needs a refresh or put your idea here!

It has been determined (for now) that Visit Windowing is out of scope for admiral. Therefore, relevant materials should include a note on users needing to do their own visit windowing based on their Study SAP and that admiral has not developed any functions ar

[2022-06-15 16:03] bms63 commented on #1211
I have added two comments as well to the box document.

[2022-06-15 16:08] bundfussr commented on #1223
Once we have implemented https://github.com/pharmaverse/admiral/issues/1021, this would be a convenient way for visit windowing based on study day.

[2022-06-15 17:47] #949 closed

[2022-06-15 17:49] rossfarrugia commented on #1214
yeh sorry if it confused, was replying to Stefan's point around "Should we create a "Release Strategy" vignette....", but it is a tangential discussion that would warrant its own issue or thread on our slack.

[2022-06-16 07:02] morrishj opened #1224 "create_single_dose_dataset() - incorrectly deriving ASTDTM and AENDTM"
### What happened?

The create_single_dose_dataset() function is correctly deriving dates for ASTDT and AENDT but not for ASTDTM and AENDTM. The function should split diary card data (where each record covers a range of dates) into one line per date. It does this correctly for ASTDT and AENDT, but it keeps the earliest recorded date for ASTDTM and AENDTM. Please see screenshot attached for example

[2022-06-16 07:36] rossfarrugia commented on #1126
@PoojaKumari05 how are you getting on with this? i'd be able to do PR review tomorrow if it could be ready by then?

[2022-06-16 07:42] PoojaKumari05 commented on #1126
Hi @rossfarrugia  - have just started with this today. Will push the updates today by EOB for review.

[2022-06-16 07:47] thomas-neitmann commented on #1224
Thanks a lot for reporting this @morrishj! I've removed the example you provided which contain calls to accessing Roche data for a little reproducible example that shows the same problem.

@pharmaverse/admiral (especially @amsmith214 & @bundfussr) I feel like not only the `--DT` variables but also `--DTM` variables should be populated with calculated values. I'm also not sure how I feel about the

[2022-06-16 10:32] PoojaKumari05 commented on #1126
Hi @rossfarrugia - I have a very quick query. I made the updates and noticed that the latest DS updates are present in the devel branch of admiral.test. Could you guide me how to load the data from devel branch?  I tried the following commandline and then loaded the library but its not giving me the latest data. Kindly let me know if I am missing something. Thanks.
`remotes::install_github("pharma

[2022-06-16 10:48] rossfarrugia commented on #1126
@thomas-neitmann do you know if the above issue Pooja found is because `https://github.com/pharmaverse/admiral.test/blob/devel/R/data.R` doesn't include admiral_ds? if so i can make an issue to add, and will make the README more clear

[2022-06-16 10:53] rossfarrugia commented on #1126
looks like @bms63 took care of it via https://github.com/pharmaverse/admiral.test/pull/57/files actually. will try get that reviewed and merged so that you can try again @PoojaKumari05

[2022-06-16 11:03] rossfarrugia commented on #1126
try again now @PoojaKumari05 with the updated admiral.test devel

[2022-06-16 11:49] PoojaKumari05 commented on #1126
no luck :(

[2022-06-16 12:11] Gopi2345 commented on #1126
Can you try this?

remove.packages ("admiral.test")

<Restart R session>

remotes::install_github("pharmaverse/admiral.test", ref = "devel", force = TRUE)

[2022-06-16 12:11] Gopi2345 commented on #1126
Please restart R session after removing admiral.test package

[2022-06-16 12:24] rossfarrugia commented on #1126
excellent, thanks Gopi! i was playing around with https://github.com/pharmaverse/admiral.test/pull/59 but it made no impact :) just a tidy up in the end.

[2022-06-16 12:24] PoojaKumari05 commented on #1126
This worked! Thanks @rossfarrugia and @Gopi2345  :)

[2022-06-16 17:27] wqrena commented on #885
@bundfussr,
It seems that not many companies/users have screening-failure patients mapped to SDTM.DS. After asking around in SLACK, only one user claimed that screening-failure patients are mapped to SDTM for some of her studies. In her case, screening patients are mapped as DSDECOD = 'SCREEN FAILURE' and DSCAT = 'DISPOSITION EVENT'. She mentioned that the purpose of this mapping in her studies is

[2022-06-16 17:34] bms63 commented on #885
We do this at GSK

[2022-06-16 17:37] wqrena commented on #885
Hi Ben, good to know this. So in GSK, how do you assign EOSSTT for screening-failure patients?

[2022-06-17 19:47] bms63 commented on #1204
I made this issue more generic as we need this or tidyr, rlang and diffdf now.  Others?

[2022-06-20 12:31] bundfussr commented on #1214
@rossfarrugia , we have discussed it last Wednesday and decided to add it to the README (release schedule) and the git usage vignette (technical details). See https://github.com/pharmaverse/admiral/issues/1220 and https://github.com/pharmaverse/admiral/issues/1219.

[2022-06-20 15:15] bundfussr commented on #1105
@rossfarrugia , I think it is a good idea. But it is not so easy to implement because it is not clear which functions are generic and which are targeted, e.g., how would you classify functions like `derive_vars_dy()`, `derive_vars_duraton()`, or `derive_var_last_dose_date()`?

[2022-06-20 16:08] rossfarrugia commented on #1105
yes you're right, might become subjective! i guess the vignettes and ADaM templates are always going to be the key then to helping people learn all our functions, as we cant expect everyone to read through all the reference page as part of their training/onboarding.

[2022-06-20 16:46] wqrena commented on #885
@bundfussr This makes sense and is a very good suggestion! Instead of asking users to define themselves, the new default covers all the scenarios without conflict.
Once @bms63 let us know how GSK assign the standard term of EOSSTT for screen failure patients, I will go ahead and update it.

[2022-06-21 07:18] rossfarrugia opened #1226 "Add styler to PR template"
### Background Information

Add reminder: . Run `styler::style_file()` to style R and Rmd files

### Definition of Done

_No response_

[2022-06-21 08:19] bundfussr commented on #1105
I did not mean that we shouldn't try to restructure the page such that the generic functions are easier to find. I just wanted to say that is is not obvious and we need some time to define clear classes of functions which enables the users to find quickly what they need. One class could be functions which add variables versus functions which create, add, or return observations.

I think the vignet

[2022-06-21 08:24] rossfarrugia commented on #1105
yep agree, it definitely still needs a restructure but not how i was suggesting with specific vs generic functions. i like that idea about adding a variable vs adding/editing a record (which would include parameter functions). maybe we just need to try out a few ways to categorise these and throw it past our team for a sanity check. there's probably no perfect way, but i like your angle of thinkin

[2022-06-21 12:42] bms63 commented on #885
I sent a query to our ADaM Focus Group.  Hoping to hear back soon!

[2022-06-21 12:53] bms63 commented on #1105
How about categorizing by how many times they appear across typical specs.  For example, ADY appears across many different datasets, but R2ANRLO only appears in ADLB.

So...specific versus generic would still be helpful.  Maybe instead of generic there would a tag like `common-add vars` and `common-add obs` and then a `specific-add vars` and `specific-add vars`

`common-add vars` - Variable deriva

[2022-06-21 13:07] rossfarrugia commented on #1105
hmm... you'd lose the benefit then of having them alphabetised which is actually really useful when you know the function name you're looking for and just want to scroll down to it. i'm personally more in favour of Stefan's proposal of categorising by similar behaviour (and then alphabetising). probably a good discussion for our call tomorrow!

[2022-06-21 13:09] chengwei88 opened #1228 "Feature Request: Produce BMI records for more visits with derive_param_bmi()"
### Feature Idea

I expect `derive_param_bmi` to generate BMI records for each weight records of USUBJID, VISITNUM, ADT, and VSTPT in ADVS. However, it only generate the BMI records correponding to the height records. Taking the admiral_advs dataset in the admiral package (0.7.0) as an example, I expect to see 4309 BMI records, just like WEIGHT, not 508 records as HEIGHT. Thanks

### Relevant Inpu

[2022-06-21 13:17] bms63 commented on #1105
I end up using the search bar or doing a control+f to search for finding functions, but yes we would lose the alphabetised reference if we go my way.

However, I'm a bit more interested in this as I have yet to use `derive_derive_param` (first function on the current list), but have used `derive_var_ady`, `derive_vars_merged_dtm` across multiple datasets.  I would imagine these would be typical de

[2022-06-21 13:24] thomas-neitmann commented on #1228
@chengwei88 Please take a look at the second example from the [`derive_derived_param()`](https://pharmaverse.github.io/admiral/reference/derive_derived_param.html?q=derive_derived#ref-examples) reference page. Does that fullfill your needs?

[2022-06-21 13:25] thomas-neitmann opened #1229 "Rename `derive_derived_param()`"
Given our naming convention this function should be called `derive_param_derived()`.

[2022-06-21 13:55] thomas-neitmann commented on #1229
Agree the current name isn't all that telling... I'm struggling with finding something better myself, though. Any thoughts @pharmaverse/admiral?

[2022-06-21 14:00] bundfussr commented on #1228
It seems that `derive_param_bmi()` is not well designed. I think for non pediatric studies usually height is measured only once because it is unlikely to change. So maybe we should update the code.

We could

- update `derive_param_bmi()` such that it assumes that height is measured only once,
- update `derive_param_bmi()` such that it covers both cases height is measure only once and height is me

[2022-06-21 15:05] thomas-neitmann commented on #1228
@bundfussr I would prefer option number 2. Might be a good issue for our hackRthon.

[2022-06-21 15:17] bundfussr commented on #1228
Fine with me.

I think we would need to add some more details for hackR.

[2022-06-21 20:42] bms63 commented on #885
Okay.  So gsk does not do this screen failure stuff with EOSSTT - I was mistaken.  We use a different variable to help with summarizing information on Screen Failures.   Stefan's suggestion looks good to me!

[2022-06-21 21:49] bms63 commented on #1211
@pharmaverse/admiral Any other priorities we would like to see included in this v8 release?

[2022-06-21 22:54] wqrena commented on #885
OK. So I will update the default to assign EOSSTT as "NOT STARTED" for screen failure patients as shown in Stefan's suggestion. Thanks for the discussion.

[2022-06-22 05:21] gg106046 commented on #1229
How about `derive_param_computed()` ? Since we're computing the new parameter using the analysis value of other parameters.

[2022-06-22 07:39] wqrena commented on #885
I was about to update the function. Then I noticed that our ADSL template has already addressed screen failure patients with a user-defined value for EOSSTT.
[code]
It seems to be a good solution as well because users can assign EOSSTT values for screen failure patients that is specific for their studies. Just wanted to call your attention on this... to see if most of you still prefer to update th

[2022-06-22 09:24] thomas-neitmann commented on #1074
@JMcGavigan32 Did you start working on this issue? If not, would it be OK if we reserve the issue for Roche's hackRthon next week?

[2022-06-22 13:30] rossfarrugia opened #1231 "Move out developer utilities into a separate dependency package - {admiraldev}"
### Background Information

development utilities: we agreed that this makes sense to move out into a separate package, so that users don't need to see all these util functions on the reference page (which is already so long!), and we can make admiral documentation more user-focused over time. reason being only a minority of these will ever become developers.

**timing: probably not for release 0.

[2022-06-22 14:59] bms63 opened #1232 "Documentation: Create a Standardized Roxygen Template for Developer Vignettes"
### Please select a category the issue is focused on?

Developer Guides

### Let us know where something needs a refresh or put your idea here!

It has been observed that our roxygen headers are not standardized across the admiral code-base.  For example, some headers have @author or @values in different places in the header

In order to standarized all of our headers, we first need to create a Te

[2022-06-22 15:26] bms63 commented on #1232
@pharmaverse/admiral Hi all.  Is this sufficient for standardizing the Roxygen templates?

[2022-06-22 15:38] bms63 opened #1234 "General Issue: Remove all admiral_adxx datasets except admiral_adsl"
### Background Information

We have decided to only keep `admiral_adsl` as a permanent dataset in the `data` folder.  All other datasets will be removed from the `data` folder.  Users wishing to have access to these datasets can just run the scripts available in the template script.

This will reduce the size of the `data` and the overall package.

I believe only `admiral_adsl` is used in our exam

[2022-06-22 15:38] bms63 commented on #1133
We have decided to only keep `admiral_adsl` as a permanent dataset in the `data` folder.  All other datasets will be removed from the `data` folder.  Users wishing to create these datasets can just run the scripts available in the template folder.

This issue will be closed as it is no longer needed.

[2022-06-22 15:38] #1133 closed

[2022-06-22 15:54] bms63 opened #1235 "Documentation: Consistent use of library() in examples and Unit Tests"
### Please select a category the issue is focused on?

Developer Guides

### Let us know where something needs a refresh or put your idea here!

There is uses of `pkg_name::function()`  and `library(pkg_name)` within examples and tests.  In order to keep consistency across the code-base we first need to update our developer guides with our recommended practice.

The recommended practice is to just

[2022-06-22 16:28] esimms999-gsk commented on #645
There is an example of LOCF in Chapter 12.5 of the "R for Data Science" book:

_There’s one other important tool that you should know for working with missing values. Sometimes when a data source has primarily been used for data entry, missing values indicate that the previous value should be carried forward:_

[code]

_You can fill in these missing values with fill(). It takes a set of columns wh

[2022-06-22 16:45] esimms999-gsk opened #1236 "Documentation: Admiral/Legal approved platform for recorded videos: training, conference presentations"
### Please select a category the issue is focused on?

User Guides, I have a new documentation idea! Yay!

### Let us know where something needs a refresh or put your idea here!

Instead of having a live demo at GSK on how to create ADAE (following the example in the article "Creating an OCCDS ADaM"), I am working on creating a training video for new users which does not mention me, anyone else, R

[2022-06-22 16:49] esimms999-gsk commented on #645
Does it work with group_by() ?

[2022-06-23 08:04] thomas-neitmann opened #1238 "Bug: Add updated `admiral_adsl` dataset to 'data' folder"
### What happened?

Our ADSL template script has been updated but the updated dataset has not been saved in the `data` folder.

### Session Information

N/A

### Reproducible Example

N/A

[2022-06-23 08:16] bundfussr commented on #645
Great! I tried the same and it failed. I must have done something wrong.

[2022-06-23 08:40] thomas-neitmann commented on #1231
I would say:

- `dev_utils.R`
- `test_helpers.R`
- `assertions.R`

As the file name suggests `user_utils.R` is intended for users not developers.

[2022-06-23 13:05] bms63 commented on #1231
If only we had a template to quickly set up this new package...

[2022-06-23 13:11] bms63 commented on #645
Ohh....and you can go up or down.  Also some other options within `.direction` argument

[code]

[code]

[2022-06-23 14:35] kabis-ops opened #1242 "derive_param_first_event() - Variables to outputs"
### Feature Idea

Currently `derive_param_first_event()` output a new record where AVALC, AVAL and ADT are populated.
Even if AVAL/ADT does not exist in the input datasets, they will be created in the outputs datasets.
Is that what we really want? Should we allow some flexibility around the date and what variables to output?
See: https://github.com/pharmaverse/admiral/pull/1240

### Relevant Input

[2022-06-24 13:43] bms63 commented on #645
Perhaps some other options are using Lag/Lead functions?  Thanks @aehmann-gsk for the code?

[code]

[2022-06-24 14:08] bundfussr commented on #1231
So the package should include all functions which are not called directly by users with the exception of helper functions used by
a single function only (e.g., `filte_date_sources()` and `extend_source_datasets()` defined in `derive_param_tte.R` remain in admiral core).
Then I guess admiraldev should include
- `assertthat_checks.R`
- `call_user_fun.R`
- `compat_friendly_type.R`
- `dataset_vignette

[2022-06-27 06:27] shahronak47 opened #1248 "Documentation: README : Broken Links in References and Documentation section"
### Please select a category the issue is focused on?

User Guides

### Let us know where something needs a refresh or put your idea here!

The documentation links in `References and Documentation` section in README file is broken and returns a 404 error. These are few of the links -

https://pharmaverse.github.io/admiral/articles/contribution_model.html
https://pharmaverse.github.io/admiral/artic

[2022-06-27 08:01] thomas-neitmann commented on #1248
Thanks a lot for reporting this @shahronak47! We made some changes to our website which broke the links in the README. Would you be interested to contribute to {admiral} by fixing these links? All links should include `/main`, i.e. https://pharmaverse.github.io/admiral/main/articles/contribution_model.html instead of the old https://pharmaverse.github.io/admiral/articles/contribution_model.html.

[2022-06-27 09:16] bundfussr commented on #1248
@thomas-neitmann , I am not sure if this is a good idea. It will fix the issue for the main website but it will make the devel website quite confusing as some of the links are pointing then to the main website.

Could it be an issue for the R hackathon to find a solution for this problem?

[2022-06-27 11:24] bundfussr commented on #374
I had a rough look at the Roche questionnaires specs. There are two main types of questionnaires ADaM datasets:

- Analysis datasets for descriptive statistics
- Time to event analysis datasets

It seems that most of the algorithms for deriving questionnaires parameters are very similar. Common types are:
- *Original items*: SDTM variables are mapped to `AVAL`, `AVALC`, `PARAMCD`. Variables like `

[2022-06-27 11:51] bms63 commented on #858
@thomas-neitmann  @bundfussr  @duniek

Could this one be a good hackR item?  I haven't been able to get back to it.

[2022-06-27 12:31] bms63 commented on #374
I uploaded the adcssrs spec for GSK.  https://exbpbox.box.com/s/8dzxsts0zjdgp9kz6ylz2gltey9vgpwt

[2022-06-27 12:43] esimms999-gsk commented on #374
As @bms63 has shown, GSK still has access to Box. I lost access either because I got a replacement laptop or the maximum length of the GSK exemption to have access to Box (90 days) ran out.

[2022-06-27 14:02] bundfussr commented on #1232
I would use the following
[code]
I have updated the short description and the `@keywords` tag. I have added the `@seealso` tag and moved the `@return` tag.

[2022-06-27 15:56] yli110-stat697 commented on #1074
Hi @thomas-neitmann and @rossfarrugia yes the issue is with `ymd()` function cannot process the time with hour and min. See test code below

[code]
gives the same warning message.

Should I simply replace `ymd` with `ymd_hm`?

[2022-06-27 18:13] thomas-neitmann commented on #1228
Awesone, go HoneybadgerRs 🎉

[2022-06-27 18:14] thomas-neitmann commented on #1074
That looks just right 👍

[2022-06-27 18:20] thomas-neitmann commented on #1232
It would be super cool if we could turn this into an [RStudio addin ](https://statsandr.com/blog/rstudio-addins-or-how-to-make-your-coding-life-easier/).

[2022-06-27 18:29] bms63 commented on #1248
The errors seem to occur outside the Readme as well.  pr_template, News, contributing.md ## Errors per input

[code]

[2022-06-27 18:33] bms63 commented on #1232
So we have a addin for logrx package and it kills our test coverage.  Maybe this admiral roxygen header and logrx addin could live together?  I would imagine there will be more as we go!!

[2022-06-27 18:35] sreeral1 commented on #1228
Hi @thomas-neitmann The link above for `derive_derived_param` seems broken. Can you please update the link and share more details/context for this issue?

Thanks,
Lasya

[2022-06-27 18:39] bms63 commented on #1228
https://pharmaverse.github.io/admiral/main/reference/derive_derived_param.html

[2022-06-27 18:46] dinakar29 commented on #1248
Let's wait till @thomas-neitmann and @bundfussr weigh in on this idea. There might be other unknown consequences to that approach that I might not be aware of.

[2022-06-27 18:59] bms63 commented on #1248
Honestly, I would like to go back to how it was and experiment with this idea on a separate repo.  We just have a lot of things happening this week and broken links doesn't look great for us on our flagship package.  :(

[2022-06-27 18:59] bms63 commented on #1248
@rossfarrugia

[2022-06-27 20:23] bms63 commented on #1231
See #1105 for additional discussion on moving things around.

[2022-06-27 20:33] bms63 opened #1251 "Documentation: Typo in Programming Strategy"
### Please select a category the issue is focused on?

Developer Guides

### Let us know where something needs a refresh or put your idea here!

The Categorization of Functions sections has a typo in it

![image](https://user-images.githubusercontent.com/10111024/176030760-7d2558b6-203a-4126-8641-65713e6bff4f.png)

[2022-06-27 21:07] bms63 commented on #374
So this is a really good summary.  Would it be helpful to develop some pseudo code for each common type and then put out onto admiral slack?  See if we can collect any feedback before we start coding these up?

[2022-06-27 23:19] shahronak47 commented on #1248
Just out of curiosity what exactly would be different in documentation of `master` vs that on `devel` branch? I thought `Getting Started` or `Programming Strategy` would be static and will be the same irrespective of which branch you are on.

[2022-06-28 05:54] gg106046 commented on #502
@yangc71 Hi Anni! Not sure if you were able to see my message on slack. Shall I work on the derivation of occurrence flags on the ADMH example script? I will be using the branch you created for this. Let me know if you're already working on it.

[2022-06-28 06:01] yangc71 commented on #502
Hi @gg106046, thank you for checking. Apologies there are some issues with my slack so I didn't see your message. Sure, I haven't had a chance to add the occurrence flags, so please feel free to use the branch I created. Please push the codes when you finish so others will be able to see the updates. Thank you!

[2022-06-28 06:04] gg106046 commented on #502
Okay sure. Thank you!

[2022-06-28 07:16] rossfarrugia commented on #1248
@shahronak47 - `devel` version has our latest pre-release updates, so sometimes we decide to add to these pages after user feedback or update pieces (like at some stage the {admiralonco} site link will be added). The `main` version only then represents the last released stable version. The reason the links are broken is now we recently enabled both of these versions to be viewed but it adds "/main

[2022-06-28 07:29] rossfarrugia commented on #1231
If you or any of the others have capacity @bms63 but i think fine even for release 0.9.0, as there's lots already on the list for 0.8.0 with higher priority than this one: https://github.com/pharmaverse/admiral/issues/1211

[2022-06-28 07:57] thomas-neitmann commented on #1228
@sreeral1 So, `derive_param_bmi()` and `derive_param_bsa()` have to be updated such that they can handle the case where `HEIGHT` is only measured once but `WEIGHT` at every visit. Basically, `HEIGHT` would have to be retained in all other records. Ideally the functions are able to handle both cases, i.e. `HEIGHT` being measured only once or at every visit. I could think of adding a logical paramet

[2022-06-28 07:57] bundfussr commented on #1232
I like the idea of having a separate addin package. Maybe we could make it customizable. So if a template file is placed somewhere in the project, it is used to generate the roxygen header.

More ideas:
- We could implement a function which extracts the keywords from `_pkgdown.yml`. The result could be displayed for the `@keywords` tag.
- We could add an addin which comments the selected code usin

[2022-06-28 07:58] thomas-neitmann commented on #1232
If we decide to create {admiraldev} then I would put this function there.

[2022-06-28 08:50] bundfussr commented on #1248
In principle the approach in https://github.com/pharmaverse/admiraltemplate/pull/19 could work. We would need to use it for all pages not just README. We also need to check if the approach works when the documentation is generated locally.

[2022-06-28 09:12] bundfussr commented on #1105
Using `@family` and `meta.R` looks promising.

[2022-06-28 09:55] BDB14 commented on #652
HackR - team Ninth Wave will take this!

[2022-06-28 10:00] PuzzledFace opened #1252 "Bug: assert_filter_cond sometimes fails when passed an explicit NULL."
### What happened?

`derive_param_computed()` replaces `derive_derived_param()` [Issue 1229].  To support legacy code, I have replaced the original body of `derive_derived_param()` with a deprecation warning and call to `derive_param_computed()`  as advised by the programming strategy document, passing through all the parameters of `derive_param_computed()` to `derive_derived_param()`.

Both `deri

[2022-06-28 10:07] JunseKim1159 commented on #1234
Programs affected by removal of admiral_adxx datasets

~/R/admiral/vignettes/bds_tte.Rmd - Uses adae dataset
~/R/admiral/R/assertions.R - Uses advs dataset (data(admiral_advs) is in a comment so it's actually not used at the end)
~/R/admiral/man/assert_param_does_not_exist.Rd - Uses advs dataset
~/R/admiral/man/assert_unit.Rd - Uses advs dataset

Myself and Claudia will look at adapting the progra

[2022-06-28 10:08] thomas-neitmann commented on #1229
@PuzzledFace Can you open a pull request such that I can take a look at your changes and see if I have a solution for #1252?

[2022-06-28 10:09] thomas-neitmann commented on #1234
Thanks a lot for taking this on!

[2022-06-28 10:10] ClaudiaCarlucci commented on #1234
Hi Ben/Thomas,

just wondering if you want us to look at making programs  #1, #3 and #4 works without using other datasets or we should delete all other admiral_adxx except for advs, adae and adsl.

Thanks

[2022-06-28 10:16] PuzzledFace commented on #1229
Thomas,

PuzzledFace is me, in case you hadn’t worked it out!

Trying to open a pull request, but I’m having  PAT issues.  bear with me…

Cheers,

John

John Kirkpatrick

Tile Barn
High Haden Road
Glatton PE28 5RU

T: 01487 830377
E: ***@***.***

[2022-06-28 11:36] bundfussr opened #1255 "Bug: `list_tte_source_objects()` does not work correctly if an object is defined in admiral and an admiral extension package"
### What happened?

`list_tte_source_objects()` does not work correctly if an object is defined in both admiral and an admiral extension package

### Session Information

_No response_

### Reproducible Example

_No response_

[2022-06-28 11:39] thomas-neitmann commented on #1255
What exactly happens in that situation? Do you have an example?

[2022-06-28 11:49] bundfussr commented on #1255
It lists the object from `admiral` rather than the one from the extension package. Render the ADTTE vignette in https://github.com/pharmaverse/admiralonco/pull/51 for an example and consider the `death_event` object listed in the vignette.

[2022-06-28 12:23] dinakar29 commented on #1248
Reverted to original state.

[2022-06-28 12:56] bms63 commented on #1231
i was thinking someone from the `admiral_dev` channel so its Roche or GSK.  Happy to be listed as the maintainer

[2022-06-28 14:51] mbytc1 commented on #1232
For standardisation, should I delete the "warn.conflicts=F" param from library loading. It seems to be used for dplyr, but not in all cases? Very rarely used for other packages

[2022-06-28 14:53] esimms999-gsk commented on #1232
From an overly-cautious, frightened programmer: An RStudio add-in? That sounds like it is changing my development environment. Would it only change the environment for that single, current project or would it change globally? Are we going to test it on multiple configurations of RStudio to ensure it will work for everyone: RStudio Server v x.xx, RStudo Desktop v y.yy, different versions of R, etc.

[2022-06-28 14:57] bms63 commented on #1232
I would imagine it would load just like the styler package loads in and makes an Addin for you.  All the checks we currently do would cover this for base R.  I'm not really aware of workflows that check RStudio builds, but I'm sure they exists.

Honestly, I think this is more of reason to create the `admiraldev` package and move stuff like this into it.  So we don't have any trepidations about add

[2022-06-28 14:58] bms63 commented on #1232
@mbytc1 I'm unsure what you are referring to?

[2022-06-28 15:40] thomas-neitmann commented on #1232
@mbytc1 We have the `warn.conflicts = FALSE` call when loading {dplyr} in examples because otherwise a warning is printed about naming conflicts which looks bad on our website. We don't have that issue with other packages so we don't bother to specify this argument there.

[2022-06-28 20:28] bms63 commented on #1105
I've been playing around with the families.  Here are some examples that could appear in our documentation.  You can mess with the meta.R file to make the text a little nicer on the eyes - Hence the :

![image](https://user-images.githubusercontent.com/10111024/176277407-23605c4a-fa5b-4c58-bc01-12f4de6a07b5.png)
![image](https://user-images.githubusercontent.com/10111024/176277545-bded1f1d-bb26-45

[2022-06-28 21:02] tearingmrx1 commented on #652
So we need to update assert_validate_queries(). Cannot locate this program in git?

[2022-06-29 07:00] thomas-neitmann commented on #652
@tearingmrx1 The function you're looking for is called `assert_valid_queries()` and you can find it in the `R/derive_vars_query.R` file starting at line 212.

[2022-06-29 08:02] morrishj opened #1260 "Documentation: typo on derive_vars_dtm page"
### Please select a category the issue is focused on?

_No response_

### Let us know where something needs a refresh or put your idea here!

On the documentation [page ](https://pharmaverse.github.io/admiral/reference/derive_vars_dtm.html) for this function, there is a paragraph that says "..I.e., for new_vars_prefix = "AST" the variables ASTDT, ASTDTF, and ASTTMF are created." I think this is su

[2022-06-29 08:03] morrishj opened #1261 "Documentation: Typo on derive_vars_dtm"
### Please select a category the issue is focused on?

_No response_

### Let us know where something needs a refresh or put your idea here!

On the [documentation page ](https://pharmaverse.github.io/admiral/reference/derive_vars_dtm.html) for this function, there is a an example given: impute_dtc(
"2020-11",
min_dates = list(
 ymd_hms("2020-12-06T12:12:12"),
 ymd_hms("2020-11-11T11:11:11")
),
da

[2022-06-29 08:06] morrishj opened #1262 "Documentation: deprecated functions"
### Please select a category the issue is focused on?

_No response_

### Let us know where something needs a refresh or put your idea here!

On the [reference ](https://pharmaverse.github.io/admiral/reference/index.html)page of ADMIRAL, deprecated functions are still listed alongside active functions. Is it possible to have these listed separately, or more obviously flagged as deprecated?

[2022-06-29 09:03] bundfussr commented on #1261
The `date_imputation` argument is case insensitive. I.e., both `date_imputation = "first"` and `date_imputation = "FIRST"` work.

[2022-06-29 09:07] bundfussr commented on #1105
We should also think about if and how deprecated functions are listed (see https://github.com/pharmaverse/admiral/issues/1262).

[2022-06-29 11:35] thomas-neitmann commented on #1261
While both work I would like to be consistent and use lower-case everywhere.

[2022-06-29 11:57] bms63 commented on #1262
We could just have a keyword deprecated and have their own separate area on the page

[2022-06-29 12:33] Natnassonova commented on #858
Would it be possible to get assigned to this project?

[2022-06-29 12:42] thomas-neitmann commented on #858
Sure :)

[2022-06-29 13:17] thomas-neitmann commented on #1262
I guess if deprecated function only have the "deprecated" keyword but all other ones are removed it should be fine.

[2022-06-29 13:31] rossfarrugia opened #1265 "Filter patients in vignettes so that they render quicker on the site"
### Background Information

See the approach used in https://github.com/pharmaverse/admiral/blob/main/vignettes/bds_finding.Rmd as follows:
[code]

Similar needs to be added to restrict the patients in the main input datasets contributing to the following vignettes as well:
https://github.com/pharmaverse/admiral/blob/main/vignettes/adsl.Rmd
https://github.com/pharmaverse/admiral/blob/main/vignette

[2022-06-29 13:34] thomas-neitmann commented on #1265
I think we discussed at one point to limit the number of patients already in {admiral.test} itself. Looks like a cleaner approach compared to filtering in every single vignette.

[2022-06-29 13:40] thomas-neitmann commented on #1265
Alright, fine with me 👍

[2022-06-29 13:40] thomas-neitmann commented on #1265
Can we use this for the "hackR"?

[2022-06-29 13:45] thomas-neitmann opened #1266 "Find a license free questionnaire usable in ADQS vignette"

[2022-06-29 14:11] esimms999-gsk commented on #1266
VFQ-25: https://www.cdisc.org/standards/foundational/qrs/visual-functioning-questionnaire-25-interviewer-administered

See v 1.1 - 2014 (no changes in 8 years!). Has a section on copyright status. Full SDTM specs for QS and SUPPQS.

[2022-06-29 14:26] esimms999-gsk commented on #1266
https://www.cdisc.org/standards/foundational/qrs

![image](https://user-images.githubusercontent.com/85294667/176461377-b44e415f-23c6-4ea7-941d-bb770feccf40.png)

[2022-06-29 14:46] PuzzledFace commented on #1265
@thomas-neitmann @rossfarrugia Do you want to restrict vignettes to a specific number of participants or to specific patient IDs?

[https://github.com/pharmaverse/admiral/blob/main/vignettes/adsl.Rmd](https://github.com/pharmaverse/admiral/blob/main/vignettes/adsl.Rmd) renders almost instantly when I knit locally and involves only 10 patients and there seems to be an appropriate amount of heteroge

[2022-06-29 15:19] bundfussr opened #1267 "Feature Request: Enable linking from other packages to admiral function documentation"
### Feature Idea

Enable linking from other packages to admiral function documentation (see https://pkgdown.r-lib.org/articles/linking.html#across-packages)

### Relevant Input

_No response_

### Relevant Output

_No response_

### Reproducible Example/Pseudo Code

_No response_

[2022-06-29 15:30] PuzzledFace commented on #1265
After discussion with @rossfarrugia, we agreed NOT to filter example data for [https://github.com/pharmaverse/admiral/blob/main/vignettes/adsl.Rmd](https://github.com/pharmaverse/admiral/blob/main/vignettes/adsl.Rmd).  ADSL is one-record-per-participant, so the vignette renders quickly (sample data frames include only ten observations at most) and filtering removes examples of functional features

[2022-06-29 15:40] morrishj commented on #1262
I think it is still better to have the deprecated functions in their own
section rather than under, for example, "derivations". Not all searching is
done by using keywords and if deprecated functions are kept within the
other sections it can be confusing for new users. For example, I wasn't
aware of the keyword feature when first using the reference page and didn't
realise I was trying to use a de

[2022-06-29 15:51] bms63 commented on #1262
That makes sense to me.  I think we need to have a deprecated keyword so it lists them out nicely in the Reference Tab at the bottom.

 We could even have @family deprecated family so all deprecated functions show up in each function documentation.

[2022-06-29 22:16] bms63 opened #1268 "Documentation: derive_var_disposition_status argument not rendering on website"
### Please select a category the issue is focused on?

Function Documentation

### Let us know where something needs a refresh or put your idea here!

https://pharmaverse.github.io/admiral/reference/derive_var_disposition_status.html

This is not rendering properly on the website.

![image](https://user-images.githubusercontent.com/10111024/176554751-b315c2a5-2c6c-4338-ad28-6a7b413ee588.png)

Usin

[2022-06-29 22:34] sreeral1 commented on #1228
Hi @thomas-neitmann
When retaining `height`, do we just retain the latest `height` value (for pediatric studies this may change every visit) so we can use the `fill` function from `tidyr` to populate all rows with `height` value == NA as the last available height value?

![image](https://user-images.githubusercontent.com/108090381/176556944-3a751200-e04d-4edf-9a88-1b87249427ad.png)

[2022-06-29 22:38] bms63 commented on #1105
Hi all,

I've been coming up with more families.  I'm just flailing in the wind here - so don't hesitate to be critical of my themes.

Thinking that we should split out families for compute and derivations.  For example, compute functions for common bds would be grouped together and derive functions for common bds would be grouped together.  This way a user looking at the function `derive_var_anal

[2022-06-30 06:17] slamao commented on #714
Hi, this issue is ready for a review. I have also added an RStudio Addin. Considering that admiraldev is being created, maybe it would make sense to move this function and the Addin there? Anyway, let me know what you think in the referenced PR. Cheers!

[2022-06-30 08:47] rossfarrugia commented on #1105
Definitely agree to keep compute and derive functions separate in the list @bms63 as its important newcomers understand the different behaviour. we had this question a lot in the external testing.

[2022-06-30 09:02] bundfussr opened #1270 "Bug: Output of `list_all_templates()` is not displayed correctly"
### What happened?

Output of `list_all_templates()` is not displayed correctly:
[code]
`print.adam_templates()` should be exported to fix the issue.

### Session Information

_No response_

### Reproducible Example

_No response_

[2022-06-30 09:22] thomas-neitmann commented on #1228
I would not just carry forward the last observation all the time. In a pedeatric study where "HEIGHT" is missing at one reason I don't think it's approriate to just impute it that way. We should properly discern the two cases: (1) "HEIGHT" only measured once and carried forward for all visits and (2) "HEIGHT" supposed to be measures at each visit. Anything to add @bundfussr @bms63?

[2022-06-30 09:58] bundfussr commented on #1262
I do not think that we should add `@family deprecated` because if you are reading the documentation of a deprecated function, it is unlikely that you are interested in other deprecated functions.

[2022-06-30 11:35] bundfussr commented on #1105
All these families make sense to me. It seems that the families are combinations of existing or not yet existing keywords. For example, the `com_date_time` family includes all functions with keywords `computation` and `timing`.

I am a bit concerned regarding the burden for keeping the families and keywords consistent and up to date.

I wonder if we could automate it partially. For example we coul

[2022-06-30 11:58] bms63 commented on #1105
umpf... @bundfussr sounds amazing but way beyond my paltry skills!

So keywords are for helping with organizing the reference section.  I'm actually learning towards just one keyword per function.  This way we can do `starts_with(computation)` and it only appears once.  However, I think keywords also need an update as it would be nice to separate the reference section with one keywords so `starts_

[2022-06-30 12:04] bundfussr commented on #714
Unfortunately, the description and the unit test guidance differ. In the description we have `derive_vars_aage, test 1` while the unit test guidance require `derive_vars_aage Test 1`. We have some unit tests following the guidance but no unit tests following the description. Should we update the description?

@bms63 , @thomas-neitmann , what do you think?

[2022-06-30 12:28] bms63 commented on #714
I like the Test 1 more than test 1.

[2022-06-30 12:36] bundfussr commented on #714
At the moment the function name is derived from the test file name. But we have test files which test more than one function.

I would propose that we use two levels. The first level is the function and the second one the test. For example
[code]

The function name is derived from the last
[code]
comment.
If there is no such comment, the function name is derived from the test file name and a comme

[2022-06-30 12:41] slamao commented on #714
From my perspective: when a developer sees that a test is failing, it is better to actually show the name derived from the filename - this is easier to navigate - you know immediately in which file the error is.
If the name is derived from the tested function but no such file exists, you would need to find in which file the test actually is.

[2022-06-30 12:57] bundfussr commented on #714
I think the test file name is displayed anyway. For example:
[code]
So if we have the function name in the test description, we have both the test file name and the function name in the error message.

[2022-06-30 12:58] bms63 commented on #714
You beat me to it @bundfussr!

[2022-06-30 13:12] slamao commented on #714
ok I see, then maybe only a test number would be enough? It is unique within the file.

[2022-06-30 13:38] bms63 commented on #1105
Here is deprecated section of the reference page.  These will have to have keywords deprecated and will need to be part of our deprecation guidance .  I will update the programming strategy.

[2022-06-30 13:54] bms63 commented on #1105
Updated Deprecation Guidance in programming strategy

![image](https://user-images.githubusercontent.com/10111024/176693896-462833aa-123e-4f53-8d69-1d8b1bea2b30.png)
![image](https://user-images.githubusercontent.com/10111024/176695261-6e5e743c-ddc1-4182-b846-19b012fcd42e.png)

[2022-06-30 14:04] slamao commented on #714
So this 2 level headers may be much more complex task, compared to the original issue (and probably also very error prone since user-defined headers will get easily mixed with those that are automatically created).
I have fixed the PR and it seems that the current version is working - please have a look and let me know if you find anything else there.
If you would like to change scope of the issue

[2022-06-30 15:51] bundfussr commented on #1105
@bms63 , I am not sure what you mean by "just one keyword per function". Do you want to list all derivations in the "Derivations" section and nowhere else? For example, `derive_param_bmi()` would be listed in "Derivations" but not in "ADVS"?

[2022-06-30 15:56] bms63 commented on #1105
I'm leaning towards that so it  just make the reference page not so verbose.  But im open to suggestions.

[2022-06-30 16:05] bms63 commented on #1105
Here is example of date/time derivations and computations listed directly on reference page as seen on first image.  Once you you click on, for example `derive_vars_dt`, in the **See Also** section you can see similar functions for date/time derivations.

![image](https://user-images.githubusercontent.com/10111024/176723570-dbc8dfac-b027-4ee7-89b6-1bad37e3f9ec.png)

![image](https://user-images.gi

[2022-06-30 18:09] bms63 commented on #1105
@morrishj  I'm working in this branch if you want to see what I've been tweaking https://github.com/pharmaverse/admiral/tree/1105_restructure_docs

[2022-07-01 01:55] bms63 commented on #1105
Okay!  Phew...this is tedious.  Definitely earning my ration of alcohol this weekend.

Got some more themes going on here on the right side of the Reference page.

The `@keywords` make it easy to group functions on the reference page.  I think we should only do one keyword as having it listed multiple times on the same page is confusing - at least for me.  If a user goes to the function docs and d

[2022-07-01 08:56] bundfussr commented on #1105
@bms63 , I am not sure if the new structure works. I think the main issue is that the new sections are not mutually exclusive but each function is listed only once. For example, `derivat_var_trtdur()` is listed in "Derivations for Date/Time Variables", which makes sense. However, it is also a standard ADSL derivation but it is not listed in "Derivations for ADSL". So users may miss it if they look

[2022-07-01 12:06] bundfussr commented on #949
I have added some issues to [admiraltemplate](https://github.com/pharmaverse/admiraltemplate/issues) based on my experience with admiralonco and admiralroche.

[2022-07-01 12:43] bundfussr commented on #1021
@tamarasenior , @reesnj , @MayaD99 , I had a short look at [1021-feature-request-implement-a-map-class-similar-to-sas-formats](https://github.com/pharmaverse/admiral/tree/1021-feature-request-implement-a-map-class-similar-to-sas-formats) and wonder if it is clear what arguments the `get_map()` function should provide. The function should not provide `val` and `val_fmt` but `...` such that calls li

[2022-07-01 12:46] PuzzledFace commented on #1266
I believe the IIEF is license free.  You can find it [here](https://www.pfizerpcoa.com/international-index-erectile-function-iief) and the terms [here](https://www.pfizerpcoa.com/sites/default/files/Term_20AUG2018.pdf)

[2022-07-01 13:04] PuzzledFace commented on #1261
There are several instances of `date_imputation = "FIRST"` in the documentation.  if consistency is required.  These should be changd.  Suggest linking to #1251.

[2022-07-01 13:17] PuzzledFace commented on #1261
Presumably, this applies to `"LAST"` and `"MID"` as well?  And to `time_imputation` as well as `date_imputation`?

Also note that function internals convert to UPPERCASE rather than lowercase, so writing `"first"`, `"mid"` and "last"` in documentation is at least partially inconsistent.

[2022-07-01 13:55] bundfussr opened #1277 "Feature Request: Create Proposal for Deriving ADQS Parameter of Original Items"
### Feature Idea

A proposal for creating the following type of ADQS parameter should be created.

*Original items*: SDTM variables are mapped to `AVAL`, `AVALC`, `PARAMCD`. Variables like `CHG`, `CHGCAT1`, ... are derived.

The proposal should include
- a workflow,
- admiral functions which could be used,
- definition of new functions (name, arguments, description, example calls), and
- metadata

[2022-07-01 13:59] bundfussr opened #1278 "Feature Request: Create Proposal for Deriving ADQS Parameter of Scales"
### Feature Idea

A proposal for creating the following type of ADQS parameter should be created.

*Scales*: The average of certain original items is calculated and normalized, e.g., to the range from 0 to 100. Usually this is derived only if at least 50% of the original items were answered.

The proposal should include

- a workflow,
- admiral functions which could be used,
- definition of new fu

[2022-07-01 14:01] bundfussr opened #1279 "Feature Request: Create Proposal for Deriving ADQS Parameter of Worst Answer"
### Feature Idea

A proposal for creating the following type of ADQS parameter should be created.

*Worst answer*: From certain original items the worst answered with yes is selected.

The proposal should include

- a workflow,
- admiral functions which could be used,
- definition of new functions (name, arguments, description, example calls), and
- metadata supporting the derivation.

See also ht

[2022-07-01 14:03] bundfussr opened #1280 "Feature Request: Create Proposal for Deriving ADQS Parameter of Completion"
### Feature Idea

A proposal for creating the following type of ADQS parameter should be created.

*Completion*: Parameter indicating if at least n questions or p% of all questions were answered.

The proposal should include

- a workflow,
- admiral functions which could be used,
- definition of new functions (name, arguments, description, example calls), and
- metadata supporting the derivation.

[2022-07-01 14:11] bundfussr opened #1281 "Feature Request: Create Proposal for Deriving ADQS Parameter of Time to Deterioration"
### Feature Idea

A proposal for creating the following type of ADQS parameter should be created.

*Time to deterioration*: results worsened compared to baseline by a certain amount

The proposal should include

- a workflow,
- admiral functions which could be used,
- definition of new functions (name, arguments, description, example calls), and
- metadata supporting the derivation.

See also http

[2022-07-01 14:13] bundfussr opened #1282 "Feature Request: Create Proposal for Deriving ADQS Parameter of Time to Confirmed Deterioration"
### Feature Idea

A proposal for creating the following type of ADQS parameter should be created.

*Time to confirmed deterioration*: results worsened compared to baseline by a certain amount for at least two consecutive assessments.

The proposal should include

- a workflow,
- admiral functions which could be used,
- definition of new functions (name, arguments, description, example calls), and

[2022-07-01 14:15] bundfussr opened #1283 "Feature Request: Create Proposal for Deriving ADQS Parameter of Time to Definitive Deterioration"
### Feature Idea

A proposal for creating the following type of ADQS parameter should be created.

*Time to definitive deterioration*: results worsened compared to baseline by a certain amount for all following assessments.

The proposal should include

- a workflow,
- admiral functions which could be used,
- definition of new functions (name, arguments, description, example calls), and
- metadata

[2022-07-01 14:20] bundfussr commented on #374
I have created issues for the proposals for the ADQS parameter types: https://github.com/pharmaverse/admiral/issues/1277, https://github.com/pharmaverse/admiral/issues/1278, https://github.com/pharmaverse/admiral/issues/1279, https://github.com/pharmaverse/admiral/issues/1280, https://github.com/pharmaverse/admiral/issues/1281, https://github.com/pharmaverse/admiral/issues/1282, https://github.com

[2022-07-01 14:39] esimms999-gsk commented on #374
Additional feedback from GSK group responsible for ADaM specs:

- There is an oncology PRO working group which is also questionnaire-based data. I believe their work should also be taken into consideration when developing a standard ADQS specs.
- We should try to have one PRO dataset (if possible), at least that’s what we will aim for in Oncology. However, this may not be possible given different

[2022-07-01 14:46] bundfussr commented on #374
@esimms999-gsk , does the GSK PRO working group define standard datasets or parameters? In the affirmative, could you share the specs?

As admiral has a modular approach, it does not matter if you create a single PRO dataset or seperate PRO datasets for each questionnaire. Once we have the functions for the parameters, it should be easy to create both.

[2022-07-01 15:11] reesnj commented on #1021
Hi @bundfussr,

Myself, @tamarasenior, @MayaD99 took a look into this issue as part of HackR this week. We reviewed the issue from a user perspective and attempted to test the concept you outlined above. We didn’t have time to fully replicate the function you requested but have created an initial function to outline how get_map() could work using character vectors, val and val_fmt as inputs - see

[2022-07-01 15:56] mbytc1 commented on #1232
Do I need to update the NEWS.md file for this wehn putting in a pull request?
NB in the edits I have not added @family tag or changed @keywords; ive only rearranged everything to the order provided in the oriringal issue

[2022-07-01 16:00] bms63 commented on #1232
This does not need a news entry as it isn't user-facing.  I think this will be brought over to `admiraldev`

I updated outline with `@family`

[2022-07-01 17:26] bms63 commented on #1265
Hi @PuzzledFace We leave issues open until a release is pushed out.  If you PR title has close #1273 in it then it will auto-close the issue once devel is merged into main

[2022-07-01 17:27] bms63 commented on #1229
Hi @PuzzledFace We leave issues open until a release is pushed out. If you PR title has close #1229 in it then it will auto-close the issue once devel is merged into main

[2022-07-02 14:40] bms63 commented on #1105
HI all.  I managed to fork admiral and republish the website on my own repository.  Hoping this can help to spur discussion on rework of the reference page.

Lots of mis-spellings and unfurnished pieces but nice to have something to look at and try out.  It is actually kind of cool as I can work in admiral branch `1105_restrucutre_docs` and then fetch my updates in my repo and republish the site f

[2022-07-04 07:42] rossfarrugia commented on #1021
thanks HackR team for thoroughly exploring this one! with @thomas-neitmann / @bms63 permission I'd personally vote we close this one now and leave users to either use case_when or fmtr themselves (or over time someone could develop an improved package). i don't believe we need to solve this in admiral and we already have a growing list of pieces we need to focus on, especially when you consider th

[2022-07-04 07:43] rossfarrugia commented on #949
@bms63 & @dinakar29 - appreciate if you could take a look over the new issues Stefan added: https://github.com/pharmaverse/admiraltemplate/issues/21

[2022-07-04 08:20] rossfarrugia commented on #1105
Thanks @bms63 - helps to have something to play around with and explore. I like the new direction, but here would be my suggested simpler wordings with any new categories in bold. Generally I feel like less is more with sub-categories as the more we add the harder it will be to maintain and you'd have difficult decisions like I could put this function in multiple (to Stefan's point above)

- Deriv

[2022-07-04 08:29] bundfussr commented on #1021
@reesnj , the idea of `get_map()` is that you can define functions like `age_group2` or `region_def` just by specifying the left hand and right hand values. You would not need to think about how to translate the left hand values into conditions and if you should use `case_when()`, `if_else()` or something else. This is handled by `get_map()`. Furthermore, you would not need to write unit tests or

[2022-07-04 09:49] gg106046 commented on #502
Hi all, the variables 'MHENRF' and 'MHSTAT' are missing in the latest SDTM MH dataset which is required to derive the 'AHIST' variable. Since 'AHIST' is a GSK specific variable , should we be adding them to the MH dataset or are we handling that in admiralgsk?

[2022-07-04 11:13] tearingmrx1 commented on #652
I have updated the program and in process of testing. There are other functions called by this function. How can I ensure that all functions required can be accessed and called? I am getting errors regarding functions it cannot find. I initially copied and pasted these functions into my program but obviously this is cumbersome. Apologies for this obvious question.

[2022-07-04 11:32] JunseKim1159 commented on #1234
Hi @thomas-neitmann! With the file ~/R/admiral/R/data.R what is the purpose of this file exactly and will we need to delete it if we are deleting all of the admiral datasets from data? We have tried to delete the admiral data and the error that pops up is Error: 'admiral_adex' is not an exported object from 'namespace:admiral'

[2022-07-04 11:56] thomas-neitmann commented on #1234
@JunseKim1159 This file includes the documentation for the various datasets. For each dataset in the `data` folder you would have to delete the corresponding entry in that file. Also, as I indicated on the PR please make sure to only delete the datasets but keep the template scripts that created them.

[2022-07-04 11:57] thomas-neitmann commented on #652
When you're in R you can run `devtools::load_all()` to load all functions that ship with admirall.

[2022-07-04 14:59] rossfarrugia commented on #1231
@bms63 from the chat i think you said you'll work on this so i assigned your name in case anyone else starts it. i think it makes sense for you given all the past admiraltemplate experience etc, but if anyone else volunteers along the way it could be a good learning experience for them working with you on this

[2022-07-04 17:14] esimms999-gsk commented on #502
@gg106046 My view is the derivation of company-specific variables should be handled in the company-specific package, e.g. admiralgsk.

[2022-07-04 18:58] bms63 commented on #502
I would say we should add them to SDTM data and derive AHIST.  This script is really short already and just have a caveat that this is a company-derived variables and not say it is GSK.

If we don't want to have examples of using admiral functions with company-specific variables for admh then I say we just not make a admiral script for admh as it sees pretty skimpy already.

[2022-07-05 10:05] ClaudiaCarlucci commented on #1234
Hi, we unassigned ourselves to this issue as we are not able to work on this anymore this week. If nobody else will be assigned to this until next week, we will give a look to it again

[2022-07-05 14:45] chebonday opened #1288 "There is a typo in one of the document code snippets that leads to an error when you copy the code and attempt to run"
### Please select a category the issue is focused on?

User Guides

### Let us know where something needs a refresh or put your idea here!

![Admiral documentation code error](https://user-images.githubusercontent.com/33558936/177354550-bce7de73-ad9d-4db5-a69d-95e7d6dcc0bb.jpg)

the function name needs to be corrected or the call needs to match the name of the function which is format_dctreas not

[2022-07-05 15:41] bundfussr commented on #645
I think we could implement a function like
[code]
with the following workflow.
1. Split input dataset into observations with non-missing `AVAL` and missing `AVAL`.
2. For the non-missing part add for each by group the observations from `dataset_expected_obs` if they are not present. Set `DTYPE = "LOCF"` for the added observations.
3. Use `group_by(by_vars)`, `arrange(order)` and `fill("AVAL")` to

[2022-07-06 10:26] bundfussr opened #1292 "Feature Request: Move `admiralonco::filter_confirmation()` to admiral"
### Feature Idea

Move `admiralonco::filter_confirmation()` to admiral.

A non ADRS example should be added, e.g., an example using ADAE.

### Relevant Input

_No response_

### Relevant Output

_No response_

### Reproducible Example/Pseudo Code

_No response_

[2022-07-06 10:32] koegerr commented on #1277
Is that not something that is covered already by BDS datasets in general?

[2022-07-06 10:35] bundfussr opened #1293 "Feature Request: Implement `derive_var_confirmation_flag()`"
### Feature Idea

Implementing the following function.
[code]

The parameters are the same as for `filter_confirmation()` (see https://github.com/pharmaverse/admiral/issues/1292) except the additional parameter `new_var`.
The function calls `filter_confirmation()` and then flaga all observations of the input dataset which are returned by the `filter_confirmation()` call.

### Relevant Input

_No r

[2022-07-06 10:36] bundfussr commented on #1293
Implementing this issue requires https://github.com/pharmaverse/admiral/issues/1292.

[2022-07-06 12:23] koegerr commented on #374
Thanks a lot for your proposal Stefan. I didn't had time to look at them in detail yet but I spoke with various people around the general questionnaire topic and there is a strong feeling that this needs a bit more discussion. Some points raised so far:

- The provisional specs should not necessarily be used yet to create any functions.
- Metadata should not be stored and maintained by admiral, it

[2022-07-06 13:19] #684 closed

[2022-07-06 15:55] bms63 commented on #851
See #602 for previous discussion

[2022-07-06 15:56] bms63 commented on #849
See #602 for previous discussion

[2022-07-06 15:56] bms63 commented on #602
Since we have issues created for adnca and adpc I am going to close this out.  I linked this in those two issues as well in case this discussion is relevant.

[2022-07-06 15:56] #602 closed

[2022-07-06 15:57] bms63 commented on #645
I like this!  Could I set this up as a Feature Request, link this issue and close this one out?

[2022-07-06 16:13] bms63 opened #1295 "Documentation: Examples of when to use Default and Permitted Values"
### Please select a category the issue is focused on?

Function Documentation

### Let us know where something needs a refresh or put your idea here!

A good part of our function documentation have default and permitted values listed in the function arguments.  However, this is not completely adopted  across `admiral`.

To remedy this:

- [ ] We should first update the Programming Strategy to have

[2022-07-06 16:18] bms63 opened #1296 "Documentation: Using Comment blocks in functions"
### Please select a category the issue is focused on?

Function Documentation

### Let us know where something needs a refresh or put your idea here!

It could be advantageous for developers to have commented blocks of code for future developers making updates.  These comment blocks could point out salient features of the code and/or give a more detailed explanation of how the code works/processes

[2022-07-06 16:19] bms63 opened #1297 "debug_list()"
@sgorm123 hey Stephen.  Thought it would be great to have a discussion thread on your debug idea.  Do you mind putting your example code in here for all to see?

[2022-07-06 22:00] bms63 commented on #1211
All this stuff is being tracked so closing it out.

[2022-07-07 10:34] rossfarrugia opened #1299 "Partial Date Imputation derivations should only be done by derive_vars_dt/dtm functions"
### Feature Idea

**Problem:** We have some downstream functions which rely on a date input and we end up repeating the imputation arguments to allow for DTC inputs. There is a risk they may not always be consistently added, so that different functions could include different imputation arguments. It also makes maintenance challenging, as any change to the underlying imputation function impacts ma

[2022-07-07 10:37] rossfarrugia commented on #1299
@bms63 @thomas-neitmann @bundfussr - this is the first of the partial date refactor issues - please can you sanity check!

[2022-07-07 10:51] rossfarrugia opened #1300 "Partial Date Imputation refactor"
### Feature Idea

**Problem:** We need to reduce the cyclometric complexity of `derive_date_vars.R` and increase readability (#879), whilst also enabling further enhancements and features (as detailed below) to meet all the requests from the external testers.
Allow to impute up to day only and not months (#1020) or up to any highest part of the datetime, e.g. could be everything up to years or onl

[2022-07-07 10:54] rossfarrugia commented on #1020
now superseded by https://github.com/pharmaverse/admiral/issues/1300 so will close

[2022-07-07 10:54] #1020 closed

[2022-07-07 10:56] rossfarrugia commented on #1300
Whoever takes this on also makes sense to take https://github.com/pharmaverse/admiral/issues/1001

[2022-07-07 11:07] bundfussr commented on #1300
I am not sure if we can separate the imputation update into two issues. I think if we have two issues, we would need to update many files twice. If we do this issue first, we would need to add the new `highest_imputation` parameter in all calls of `derive_vars_dt(m)()` in all functions which use imputation. When we implement the second issue (https://github.com/pharmaverse/admiral/issues/1299) we

[2022-07-07 11:10] rossfarrugia commented on #1300
@bundfussr i prefer 2 issues but maybe fine to tackle both in one branch by one person as you suggest. having all this in one massive issue i felt would be more difficult for our community to follow.

[2022-07-08 05:32] yangc71 commented on #940
Hi all, I tried to move forward with this issue and linked a pull request (#1298). Currently the function optionally outputs a message showing a table of unique `by_vars` values that are not mapped. Could you please take a look and let me know if it's the right approach? Thanks.

[2022-07-08 08:32] rossfarrugia opened #1301 "Documentation: Minor deletion in Programming Strategy vignette"
### Please select a category the issue is focused on?

Developer Guides

### Let us know where something needs a refresh or put your idea here!

At https://pharmaverse.github.io/admiral/articles/programming_strategy.html#categorization-of-functions, I would delete the highlighted bits below as they're no longer really relevant given this will all be covered in package extensions:

![image](https:/

[2022-07-08 15:45] traceyxw commented on #688
Sorry I have not had much progress on this one. I will take myself out and let someone else pick it up.

[2022-07-08 15:58] bms63 opened #1303 "General Issue: Move function yn_to_numeric() to user_utils"
### Background Information

In the `derive_param_exist_flag.R` there is a `yn_to_numeric` function that I feel should get moved to the `user_utils` file.  @bundfussr what do you think?

![image](https://user-images.githubusercontent.com/10111024/178028043-d6c506fe-0dcd-4983-817e-2a02456d885b.png)

### Definition of Done

Move function to `user_utils` file and update relevant tests

[2022-07-08 17:33] bms63 commented on #1248
This is a strange one.  We introduced this bug and then reverted back to original state.  Going to close

[2022-07-11 09:02] bundfussr commented on #1303
Fine with me

[2022-07-11 10:12] thomas-neitmann commented on #1047
We put all vignettes that are listed in the "Developer Guides" section on the website into `.Rbuildignore`. As this one is meant for user please do **not** add it.

[2022-07-11 12:35] bms63 commented on #1105
Not purposeful.  will update

[2022-07-11 15:25] bms63 commented on #1105
I think this is a good idea.  I would like to link out to vignettes that deal with these functions as they are slightly mysterious to me as well!!

Users have reported confusion around these derivation and compute functions being together in the past and not knowing which one to use.  I think keeping them separate should be the way forward.

I put a blurb in about assertion and other functions mov

[2022-07-11 17:29] bms63 commented on #1105
Hi all,

So I'm making an editorial decision here.

I want the `@keywords` and `@family` to be **identical** and for there only to be **one** entry for both.   This makes development and maintenance way simpler and makes it so our developers don't use multiple keywords for a function that sometimes don't make sense (or make up their own!)

I've updated the https://bms63.github.io/admiral/main/arti

[2022-07-11 18:37] bms63 commented on #1105
Also,

I extracted all the keyword/family combos and placed in Extraction July-11 if if you are interested in the keyword/family combos for each function.

https://exbpbox.box.com/s/aj6t1c2tokoxs0g2a7in1yu7ioy136gk

![image](https://user-images.githubusercontent.com/10111024/178334523-ac26f530-5267-48f6-9aa0-43b91a07c4a6.png)

[2022-07-12 12:54] bms63 opened #1306 "Documentation: Workflow/Actions Guidance in Developer Guide: PR Guidance"
### Please select a category the issue is focused on?

Developer Guides

### Let us know where something needs a refresh or put your idea here!

We would like to have explanations on the specific workflow/actions that trigger when a developer does a PR into `devel` .  New developers are often confused on what these workflows are doing and how to diagnose and fix errors from these workflows.

These

[2022-07-12 14:14] bms63 commented on #1105
See #688

[2022-07-12 14:53] oreillb1 opened #1307 "General Issue: derive_vars_dt, date_imputation keywords case difference"
### Background Information

Case of keywords in derive_vars_dt, date_imputation in reference are  "FIRST", "MID", "LAST" but are used in lowercase in some vignettes, e.g. ADRS.  Unsure if documentation or vignette codes need updating.
adrs <- adrs %>%
  derive_vars_dt(
    dtc = RSDTC,
    new_vars_prefix = "A",
    date_imputation = "last")

### Definition of Done

_No response_

[2022-07-12 14:59] thomas-neitmann commented on #1307
Keywords are **not** case-sensitive but @PuzzledFace already made sure that we use lowercase consistently in #1286.

[2022-07-12 16:59] rossfarrugia opened #1309 "Bug: slice_derivation() fails when there is no records that meet the filter criteria"
### What happened?

`slice_derivation()` fails when there is no records that meet the filter criteria - discussed with @bundfussr and we think its a bug.

### Session Information

_No response_

### Reproducible Example

[code]

gives `Error in dataset_split$data[[obsnr]] :
  attempt to select less than one element in get1index`

looks like because there are no serious AEs in the 2nd condition.

[2022-07-12 19:05] billdenney commented on #1300
My opinion is that we need a partial date-time object that we can then layer imputation on top of.  I think that a partial date-time object (including partial date objects and partial time objects) would reduce a lot of the complexity.  With a partial date-time object, `"FIRST"`, `"MID"`, and `"LAST"` imputation could become very simple, in general with `min()`, `median()`, or `max()`  (and `pmin(

[2022-07-13 07:23] rossfarrugia commented on #1300
@billdenney we're careful with the scope of admiral to cover majority of industry needs for ADaM, but accepting that we'll never cover all. The imputation you mention is such a rare scenario that we would leave that to companies to solve in their own extension package, as it is uncommon and overly complex. If my study clinical scientist were to request this then I would negotiate against, as the a

[2022-07-13 07:34] morrishj commented on #688
I will take a look at using roxygen2 tags to implement this, as per Thomas' comment above.

[2022-07-13 09:07] thomas-neitmann commented on #1206
Upon further inspection the error is not related to the renaming itsef. That works as expected. However, if a renamed variable is specified in `dose_date` as per the example above then the `assert_data_frame()` call errors because that renames variable is not **yet** in the dataset.

[2022-07-13 10:54] oreillb1 opened #1313 "Feature Request: derive_vars_dt enhancement to include processing same date different visit names"
### Feature Idea

derive_vars_dt needs additional option code so that it can process valid duplicates, same date but different visit names, as this can be expected for some domains. For example [RS.RSDTC] can be identical e.g. when [RS.VISIT] = 'Tumor Assessment Week' and [RS.VISIT] ='Treatment Discontinuation'

### Relevant Input

_No response_

### Relevant Output

_No response_

### Reproducibl

[2022-07-13 11:00] oreillb1 commented on #1313
Could use the domain sequence number to find first or last

[2022-07-13 11:41] bundfussr commented on #1313
Thanks for creating the issue.

I am not sure what you want to add to `derive_vars_dt()`. Could you provide an example?

Do you want to use different values for the imputation arguments depending on `VISIT`? Could `slice_derivation()` solve the issue (see [Using More Than One Imputation Rule for a Variable](https://pharmaverse.github.io/admiral/articles/imputation.html#using-more-than-one-imputati

[2022-07-13 11:55] oreillb1 commented on #1313
Thanks I will explore using slice_derivation() possibly including VISITNUM to identify first or last correctly

[2022-07-13 14:25] bundfussr commented on #1313
@oreillb1 , could you provide an example call of the enhanced function and the expected output? Also the specification of the variable you want to derive would be helpful.

It is still not clear to me which functionality you need.

[2022-07-13 15:34] billdenney opened #1315 "Feature Request: Partial Date-Time objects"
The purpose of this issue is to discuss the needs of the partial date-time object from both a user perspective (where the users for the object would be focused on `admiral` developers-- not `admiral` users) and from a developer perspective (where the developers would be developers of the partial date-time object code).

(This didn't seem to fit within the other issue templates.  It's similar to a

[2022-07-13 15:37] bms63 opened #1316 "Feature Request: derive_locf_records"
### Feature Idea

Implement a Last observation carried forward derviation function called `derive_locf_records`.  This is based on discussion from #645

### Relevant Input

_No response_

### Relevant Output

_No response_

### Reproducible Example/Pseudo Code

[code]

Proposed workflow:

1. Split input dataset into observations with non-missing `AVAL` and missing `AVAL`.
1. For the non-missing pa

[2022-07-13 15:38] bms63 commented on #645
Closing as it has been re-created as a A Feature Request #1316

[2022-07-13 15:38] #645 closed

[2022-07-13 16:42] dgkf commented on #1315
Thanks for the tag, @billdenney

I think `parttime` would address almost all of these requirements.

I haven't benchmarked the performance, but I was very conscious of trying to make it vectorized in all cases - it's held up to some pretty large datasets. Also, as you highlighted, it does not handle missing-in-the-middle scenarios (some quick tests below). For imputation alone, I think missing-in-

[2022-07-13 18:45] billdenney commented on #1315
@dgkf Thanks!

I had a typo in my example date.  SDTM requires a dash (`-`) for missing date-time parts.  So the example I gave would be `2022---13` (with another dash indicating the missing month in the middle).

I would not expect parttime to support the nonstandard CDISC format as its core method.  having a `format` argument added would make sense to me.

Does `parttime` support dates and times

[2022-07-13 19:48] dgkf commented on #1315
### Date types

Dates are considered a subset of datetimes - just a datetime where the time components are missing. This has a bit of overhead because a matrix is still allocated which just contains `NA`s for all the time components. Practically, I imagine this overhead is pretty inconsequential, but please let me know if there's situations where having a lighter-weight date-only structure would b

[2022-07-13 20:49] dgkf commented on #1315
I see - I think my preference would still be to try to wrangle this into the more general case. One mechanism might be to offer an imputation function that only imputes maximums to a specific resolution (in this case only to the "date") field, and make a specialized `impute_date_max` function.

But I think we might be going off on a tangent here. I filed a separate issue https://github.com/dgkf/pa

[2022-07-13 21:19] billdenney commented on #1315
That partial imputation would align well with the `highest_imputation` argument proposed in #1300.

[2022-07-13 22:16] dgkf commented on #1300
Seeing this after it was linked from #1315

A lot of these features are already implemented or would be rather simple additions to [`parttime`](https://github.com/dgkf/parttime).

The package has been a bit underloved and could use a bit of polish, but it aims to solve a lot of these exact challenges. It parses iso8601 (largely borrowed from the `parsedate` package) already has `impute_time_max`,

[2022-07-14 12:23] bundfussr opened #1317 "Feature Request: Enhance `derive_param_first_event()`"
### Feature Idea

`derive_param_first_event()` should be enhanced such that the order can be specified and the last instead of the first event can be derived. I.e.,
- the `date_var` argument should be replaced by the `order` argument and
- the function should be renamed to `derive_param_extreme_event()` and the `mode` argument should be added.

### Relevant Input

_No response_

### Relevant Outpu

[2022-07-14 14:15] bundfussr commented on #1315
For admiral we need a `partialdate` and a `partialdatetime` object. A `partialtime` object is not required because a time variable  is usually derived from the imputed datetime but not from the DTC variable.

For both objects we need getters and setters for each component and a method which returns the object as ISO8601 character string. I think these are the minimum requirements for working on ht

[2022-07-14 15:03] thomas-neitmann commented on #1317
@sophie-gem volunteered to work on this.

[2022-07-15 08:53] #1074 closed

[2022-07-15 08:53] #1207 closed

[2022-07-15 08:53] #1214 closed

[2022-07-15 08:53] #1206 closed

[2022-07-15 08:53] #1309 closed

[2022-07-15 09:04] oreillb1 opened #1318 "General Issue: ADVS vignette code text header for BMI section incorrect"
### Background Information

ADVS vignette code repeated above incorrect code section
# Derive Body Surface Area header is used above section derive_param_bmi
Should read
# Derive Body Mass Index
above section derive_param_bmi

### Definition of Done

_No response_

[2022-07-15 15:54] iqis opened #1319 "Feature Request: conditions should be classed"
### Feature Idea

If the function signals a condition I want to know its class, so I can tell it apart from other conditions, and selectively handle them from a higher level.

### Relevant Input

N/A

### Relevant Output

N/A

### Reproducible Example/Pseudo Code

e.g.

`warn_if_something_bad()`  should throw a condition that has classes `warning`, `admiral.warning` and `admiral.warning.something_

[2022-07-16 16:23] bms63 commented on #1220
December 5th 2022

March 6th 2023

June 5th 2023

September 4th 2023

December 4th 2023

[2022-07-16 17:02] bms63 commented on #1220
## Release Schedule

Releases are done at the end of every of quarter on the last Monday.  Pull Requests will be frozen the week before a release.
The `admiral` family has several downstream and upstream dependencies and so this release shall be done in three
Phases.

* Phase 1 is for `admiraldev` and `admiral.test`, which feed into all `admiral` packages
* Phase 2 is only for core `admiral`
* Pha

[2022-07-18 09:19] thomas-neitmann opened #1320 "Documentation: Website should be published on release, not push to main"
### Please select a category the issue is focused on?

Other

### Let us know where something needs a refresh or put your idea here!

Currently the website is updated when something is pushed to `main`. This lead to v0.7.1 being visile on the website since last Friday although we haven't formally released it, yet. Thus, I propose that we only publish the website when a new release is made.

Fyi @b

[2022-07-18 09:34] thomas-neitmann commented on #1320
We only make the GitHub release after the package has been accepted to CRAN. Thus, there'a a lack between the push to `main` and the release.

[2022-07-18 09:38] thomas-neitmann commented on #1320
We could circumvent that by having a `pre-release` branch off which we submit to CRAN and once we get accepted we merge that branch into `main`.

[2022-07-18 09:45] bundfussr commented on #1320
I like the `pre-release` branch idea. Seems a clean solution.

Pushing to `main` without any announcement and without publishing the website could cause confusion because the workflows for extension packages install admiral from `main`.

[2022-07-18 10:07] bundfussr commented on #1320
By the way, why is the CRAN date not displayed on the Changelog page? Is this intentional?

[2022-07-18 10:10] thomas-neitmann commented on #1320
Certainly **not** intentional. Please open a separate issue.

[2022-07-18 10:17] bundfussr opened #1321 "Documentation: Display CRAN Date on Changelog Page"
### Please select a category the issue is focused on?

Other

### Let us know where something needs a refresh or put your idea here!

The CRAN release date should be displayed on the Changelog page. (Update `_pkgdown.yml`:
[code]
)

[2022-07-18 10:17] bundfussr commented on #1320
Done: https://github.com/pharmaverse/admiral/issues/1321

[2022-07-18 11:18] oreillb1 commented on #1318
Yes I would be happy to make this straightforward change.

[2022-07-18 11:25] thomas-neitmann commented on #1318
Excellent, thanks a lot @oreillb1! Please refer to [this document](https://pharmaverse.github.io/admiral/articles/git_usage.html) for information regarding `git` usage.

[2022-07-18 14:38] thomas-neitmann commented on #1313
Closing as underlying issue is #1317.

[2022-07-18 14:38] #1313 closed

[2022-07-18 15:06] bms63 commented on #1321
I guess one of the updates snuck into `devel`  from 0.7.1
![image](https://user-images.githubusercontent.com/10111024/179542300-756a87d7-6bea-4095-8560-ce7528edad98.png)

[2022-07-18 15:48] #1079 closed

[2022-07-18 15:48] #1093 closed

[2022-07-18 15:48] #1126 closed

[2022-07-18 15:48] #1270 closed

[2022-07-19 12:27] bms63 opened #1325 "@bms63 , we need the `docs` folder and the `pkgdown.yml` file to enable linking across different admiral packages. For example, if we have `admiral::derive_vars_merged()` in the admiralonco documentation, it will link to the admiral documentation."
@bms63 , we need the `docs` folder and the `pkgdown.yml` file to enable linking across different admiral packages. For example, if we have `admiral::derive_vars_merged()` in the admiralonco documentation, it will link to the admiral documentation.

So please do not remove it.

_Originally posted by @bundfussr in https://github.com/pharmaverse/admiral/issues/1298#issuecomment-1188731853_

[2022-07-19 13:46] bms63 opened #1326 "common workflows live here?"
@dinakar29 , I think the reusable workflows are great. I wonder if we should move the workflows to a separate repository and keep only `common.yml` in admiraltemplate. Otherwise, all the workflows will be copied if a new repository is created based on admiraltemplate.

_Originally posted by @bundfussr in https://github.com/pharmaverse/admiraltemplate/issues/27#issuecomment-1181647179_

[2022-07-20 22:26] bms63 commented on #1320
This topic is capture in the release vignette update.  Shall we close or link?

[2022-07-20 22:37] bms63 opened #1331 "Documentation: Update PR Checklist Template (Edge Unit Tests and keywords/families)"
### Please select a category the issue is focused on?

Other

### Let us know where something needs a refresh or put your idea here!

PR checklist should include a nudge towards developers looking at edge cases in their tests, e.g. empty datasets, errors, etc.

PR checklist should also include a link to the list of approved keywords and families allowed in an admiral function.  Developers and revi

[2022-07-21 04:59] rossfarrugia commented on #1315
Sharing summary of discussions over meeting:

- Doug is open to having contributors from our community join the {parttime} effort and help to get this more to a production state - as the use case it was created for never ended up needing it to be at this level, and so there likely will be gaps and areas to improve
- We agreed to focus on the use cases and functionality needed for admiral first - a

[2022-07-21 09:38] bundfussr commented on #1320
I think we can close it because using the `pre-release` branch does no longer require an update of the workflow.

[2022-07-21 09:41] #1320 closed

[2022-07-21 11:36] bundfussr commented on #1299
I assume "remove date/time_imputation parameters from any `derive_`/`_source` functions" means we remove these parameters but do not deprecate them.

@rossfarrugia , @thomas-neitmann , @bms63 , do you agree?

[2022-07-21 11:43] rossfarrugia commented on #1299
Personally i'm happy to just remove the arguments and accept the backward compatibility break given such a major change anyway, or otherwise will be a lot more work for you to try and update everywhere given the partial date re-factor connected update. @thomas-neitmann @bms63 feel free to over-rule me if a strong preference.

[2022-07-21 11:57] thomas-neitmann commented on #1299
I would not want to follow our usual practice of first deprecating the arguments with a warning but still keeping the functionality working. Rather, I'd opt for keeping the arguments for the moment but using `deprecate_stop()` to issue an error and let users know what to do. If we just remove the arguments all together then people will get a cryptic error telling them that argument xyz does not ex

[2022-07-21 12:22] rossfarrugia commented on #1307
I think this one can be closed given it's addressed in the PR above - and I checked ADRS vignette in admiralonco and that uses lowercase too so we should be all good. @oreillb1 do shout if i'm missing anything though and we could re-open.

[2022-07-21 12:22] #1307 closed

[2022-07-21 12:31] rossfarrugia commented on #1217
@oreillb1 wouldn't you use `filter_add `argument here to pass something like `EXTRT == "DRUG X"` ?

[2022-07-21 14:10] bundfussr commented on #1299
Makes sense to me, too. So I'm going to use `deprecate_stop()`.

[2022-07-21 15:27] oreillb1 commented on #1217
We need more than filtering alone to select the required exposure records due to CRF design. Our priority 1 CRF record for drug A that defines treatment cycles requires substitution with an alternative drug B or C record from CRF log line PK timepoint records that have time collected, when our priority 1 record has time missing or Time Unknown ticked in the CRF.

[2022-07-21 18:13] bms63 opened #1332 "General Issue: Action to synch main/pre-release branch to patch branch"
### Background Information

To keep the `patch` branch up to date with the `main/pre-release` branch we should use a GH action to automate this step.

The `patch` branch will hopefully be used infrequently, but we want it to be ready  if needed in a pinch.  Having to trouble shoot and update the `patch` branch might get tedious as it could be severely outdated.  To remedy this an action should be

[2022-07-21 19:44] bms63 opened #1333 "Deprecation: `derive_var_agegr_fda` and `derive_var_agegr_ema`"
These two functions need to be deprecated following our deprecation strategy.  https://pharmaverse.github.io/admiral/articles/programming_strategy.html#deprecation

[2022-07-22 07:33] bundfussr commented on #1333
We decided that the `derive_var_agegr_*()` functions should be deprecated (see https://github.com/pharmaverse/admiral/issues/856). Apparently we missed to do it. We could use this issue for the deprecation or create a new one.

[2022-07-22 10:30] bundfussr opened #1336 "Feature Request: Replace `smq_select()` and `sdg_select()` with `basket_select()`"
### Feature Idea

[code]
should be implemented replacing `smq_select()` and `sdg_select()`. The `type` argument expects a character scalar. It is passed to the company specific `get_terms()` function such that the function can determine which sort of basket is requested, SMQ, SDG, or something else like AEGT at Roche. The `scope` argument should accept `"BROAD"`, `"NARROW"`, and `NA_character_`.

[2022-07-22 10:34] bundfussr opened #1337 "Feature Request: Store Version in Queries Dataset"
### Feature Idea

A new variable (`VERSION`) should be added to the queries dataset. It should be set to the version passed to `create_query_data()`.

As the arguments of `create_query_data()` are changed in https://github.com/pharmaverse/admiral/issues/1336, it would make sense to implement https://github.com/pharmaverse/admiral/issues/1336 first.

### Relevant Input

_No response_

### Relevant

[2022-07-22 10:35] bundfussr commented on #1337
@millerg23 , is the description clear or did I miss something?

[2022-07-22 10:35] bundfussr commented on #1336
@millerg23 , is the description clear or did I miss something?

[2022-07-22 10:54] rossfarrugia opened #1338 "Feature Request: Global option program to save maintaining things in many programs"
### Feature Idea

Summarizing the below thread of discussions with an agreement from myself, Ben and Thomas over a call:

We intend here to allow for the subject key variables (only) to be controlled by an option that a user could pass once for their study/reporting event etc and it would impact all function calls. Default option would still be `vars(STUDYID, USUBJID)` so we have no breaking chang

[2022-07-22 11:01] bundfussr commented on #1338
Another example is the `preserve` argument of the imputation functions. If a company or study does not want to use the default, the argument needs to be specified in each imputation function call. Obviously this is tedious and error-prone.

[2022-07-22 11:14] bundfussr commented on #1217
This sounds quite study specific. However, I am not sure how the derivation should work in details.

Could you provide the specifications of the derivation?

[2022-07-22 11:29] rossfarrugia commented on #1217
i'm wondering if the issue could be around expectations here too, as @oreillb1 we tried to explain at https://pharmaverse.github.io/admiral/index.html how admiral will never cover all eventualities of ADaM requirements. and if we were to make arguments for every single possible study-level option then our functions would become overly complex to use, maintain and test. the challenge is figuring ou

[2022-07-22 12:27] oreillb1 commented on #1217
A study-specific solution will probably be needed whenever EX records have to be explicitly defined for [ADSL.TRTSDTM], or in ADEX parameters e.g. for Cycles and we expect to apply solutions for these at the project or molecule level. Thank you for looking into this issue and responses.

[2022-07-22 12:30] rossfarrugia commented on #1217
Yes agree, we've not yet got to periods/phases/cycles but in reality difficult to ever solve too much at industry level for these pieces. will close this issue and thanks for the continued feedback and testing!

[2022-07-22 12:30] #1217 closed

[2022-07-22 15:38] millerg23 commented on #1338
Do we have subject identifiers hard-coded into the functions? Aren't most of the variables passed in as input parameters? Perhaps there are a few default values with subject IDs, but don't we have things like PARAMCD and AVAL also hard-coded.

[2022-07-22 15:47] bundfussr commented on #1338
I hope we do not have subject identifiers hard-coded in the function. Functions which derive by subject should have a `subject_keys` parameter which is defaulted to `vars(STUDYID, USUBJID)`.

[2022-07-22 15:53] bms63 commented on #1338
In logrx package we have ability to write a list of approved and unapproved packages and functions.  https://atorus-research.github.io/logrx/articles/approved.html.  When logrx is executed and this is declared in options as something the user wants, then a new section of the log is written with approved and unapproved functions.

Maybe there is a way to adopt this for a list of approved variables

[2022-07-25 08:05] oreillb1 opened #1339 "General Issue: derive_param_tte appears to be missing a set up for AVALU"
### Background Information

derive_param_tte appears to be missing a setup for AVALU, which can be different depending on the domain data.

### Definition of Done

_No response_

[2022-07-25 08:11] thomas-neitmann commented on #1339
Could you elaborate a bit more @oreillb1? `derive_param_tte()` returns the time to event in **days**. Are you looking for functionality to output the result in other units, e.g. "weeks"? Or is this just about setting the `AVALU` variable? In that case you can use the `set_values_to` parameter, e.g. `set_values_to = vars(AVALU = "DAYS")`.

[2022-07-25 08:17] bundfussr commented on #1339
`derive_param_tte()` derives `ADT` or `ADTM` only. `AVAL` (and `AVALU`) is derived in a separate step for all parameters together:
[code]
You can specify the `new_var_unit` argument to add a variable for the unit.

[2022-07-25 08:35] oreillb1 commented on #1339
AVALU is in our ADaM specifications for ADTTE so it will always be missing from the dataset unless deliberately included in derive_vars_duration. Could AVALU be created null by default in ADTTE and then it would be up to the programmer to define?

[2022-07-25 08:43] bundfussr commented on #1339
`AVALU` is a Roche specific variable. Thus I would not add it to the general admiral vignette. If we provide a template script for ADTTE in admiralroche, it will create `AVALU`.

[2022-07-25 09:16] oreillb1 commented on #1339
Many thanks for the clarification

[2022-07-25 09:24] #1339 closed

[2022-07-25 12:52] rossfarrugia commented on #1338
i think that's a similar thinking from what I understand of your reply @bms63. it's just a case of storing global defaults in one central program, so that if for whatever reason a user needed to use STUDYID USUBJID**2** then they'd only update this default in one place for their study and it would work for all their function calls. i'm open to the best way technically to achieve this, but hope it

[2022-07-25 13:01] thomas-neitmann commented on #1338
This is fairly straightforward to achieve. Let's take the `subject_vars` parameter as an example. Currently, by default it is set to `vars(STUDYID, USUBJID)` in several functions. Instead, we could set it to `getOption("admiral_subject_keys", vars(STUDYID, USUBJID))`. This basically means, use the global option `"admiral_subject_keys"` if it has been set by the user using `options(admiral_subject_

[2022-07-25 14:35] bms63 commented on #1338
When would a user/users want to do this?   Does this make sense to have these types of examples in admiral?

I'm starting to feel like this would be a great bookend for the e2e examples?   Like an advance use-case of how to use the options to make your code re-usable across the life of a study

[2022-07-25 14:55] thomas-neitmann commented on #1338
I'd imagine this to be set either at the top of an individual script or if there is some sort of pipeline tool involved to run all scripts in a batch then inside a little "config" file that is run first.

That would certainly a good place to highlight this functionality.

Very valid point!

[2022-07-26 10:07] bundfussr commented on #1315
- The most important bit is the update of the parser to allow missings in the middle. There is already an issue for this enhancement in parttime (https://github.com/dgkf/parttime/issues/9).
- For now I am using a work-around for the refactoring of the imputation functions. So there is no need to copy code. We can replace it later with a call to the parttime parser.
- Functions for getting and sett

[2022-07-26 14:06] thomas-neitmann opened #1340 "Documentation: Update branch naming convention"
### Please select a category the issue is focused on?

Developer Guides

### Let us know where something needs a refresh or put your idea here!

We'll be using [{staged.dependencies}](https://github.com/openpharma/staged.dependencies) going forward which requires us to change our branch naming convention from `<issue_number>_<description>` to `<issue_number>_<description>@<target_branch>`, e.g. `3

[2022-07-26 14:36] rossfarrugia commented on #1340
thanks Thomas! please also include in the text the benefit of staged.dependencies around how this enables our admiral family of packages to keep in sync with latest development versions of each admiral dependency package, and maybe link to https://github.com/openpharma/staged.dependencies#branch-naming-convention for those curious to read more.

[2022-07-26 14:47] bms63 commented on #1340
Fun!

[2022-07-27 13:18] millerg23 commented on #729
Unit tests checking now part of QC work in PR. Also possible plug in to automatically convert unit tests to conform to unit test guidance. CLosing this issue.

[2022-07-27 14:41] billdenney commented on #1315
@bundfussr, thanks for the list.  It is helpful.  I brought up invalid strings in dgkf/parttime#32, and I made an initial list of some invalid strings for testing in dgkf/parttime#31.  Additional examples of valid and invalid strings for testing would help, if you think of them.

[2022-07-27 15:07] rossfarrugia commented on #1315
@billdenney just as FYI here's some cases that one of our admiral testers sent to us before that don't work in our current functions: `2003-12-15T-:15:18`, `2003-12-15T13:-:19`, `2020-07--T00:00`. I guess the main thing is just testing these different variations of missing middle segments.

[2022-07-27 16:47] billdenney commented on #1315
@rossfarrugia , I just made a PR for the test cases that you suggested (and some more variants) in dgkf/parttime#33.  The first two are from the SDTMIG and were already in the first PR.

[2022-07-28 08:26] rossfarrugia commented on #1295
This came up in our admiralonco tester feedback:

Comparing for example https://pharmaverse.github.io/admiralonco/test/reference/derive_param_bor.html#arguments with https://pharmaverse.github.io/admiralonco/test/reference/derive_param_confirmed_bor.html#arguments we got the feedback:
the "Arguments" documentation is not same across all functions: for eg "derive_param_bor" had provided if the para

[2022-07-29 02:08] MichaelRimler commented on #1236
@mstackhouse @skalappu @rossfarrugia
I think it's fine - as long as the videos do not contain anything corporate or proprietary. I saw a video @esimms999-gsk created on ADAE creation and it seemed sterilized enough that I think there is no issue.

[2022-07-29 22:43] bms63 opened #1344 "General Issue: Follow deprecation strategy for removing deprecated functions and identify functions to be deprecated in 0.90"
### Background Information

Functions that are deprecated or soon to be deprecated need to follow the deprecation strategy.  @bundfussr has removed a few in his PR, but there might be others.

https://pharmaverse.github.io/admiral/articles/programming_strategy.html#deprecation

### Definition of Done

Functions removed that were deprecated in previous release.

Functions that need to be deprecated

[2022-08-01 13:08] rossfarrugia commented on #1236
Thanks for the input! I'll look to get something set up for this soon and will share it out

[2022-08-02 07:50] thomas-neitmann commented on #1344
Note that rather than removing the functions we should chage `deprecate_warn()` to `deprecate_stop()` inside the deprecated functions' bodies. That way an error is issued but we still let users know what alternative function to use. The finl step thereafter would be to actually remove the function.

The "Deprecation" section in our Programming Strategy lacks a bit of detail which we should add.

[2022-08-02 07:51] thomas-neitmann opened #1346 "Documentation: Add more details to "Deprecation" section in Programming Strategy"
### Please select a category the issue is focused on?

Developer Guides

### Let us know where something needs a refresh or put your idea here!

The section is lacking details of when to use `deprecate_warn()` vs. `deprecate_stop()` vs. finally removing the function alltogether from the package.

[2022-08-02 09:14] thomas-neitmann opened #1347 "General Issue: Setup {staged.dependencies}"
### Background Information

### Definition of Done

`staged_dependencies.yaml` file exists in repo.

[2022-08-02 17:33] bms63 opened #1349 "General Issue: Remove Google Analytics"
### Background Information

I accidently merged in the GA stuff before discussion was completed.  We decided that we should not use this feature for privacy issues.

### Definition of Done

GA removed from pkg yml file.

[2022-08-03 13:46] bms63 commented on #989
See https://github.com/pharmaverse/admiral/pull/842 for other discussion

[2022-08-03 14:01] bms63 commented on #1338
Transferred as an issue to e2e examples. https://github.com/pharmaverse/end_to_end_examples/issues/10

[2022-08-03 15:43] bms63 commented on #1235
Focus on `derive` and `compute` functions.  Anything developer-wise will be moved to `admiraldev`

[2022-08-03 17:30] fshanlee commented on #1235
Hi @bms63 , in the unit_test_guidance.Rmd, I'm assuming you don't want to use `library` when we're instructing the user to type a single command in the Console, so, for example, we can leave `usethis::use_test("all_funcs")`; I'm also assuming we don't need to use `library` for code that the user will not see, such as
[code]

[2022-08-03 17:34] bms63 commented on #1235
are you talking about this one?
![image](https://user-images.githubusercontent.com/10111024/182672621-b29bb8f7-64e7-44ec-8ddf-26fade2d6bf1.png)
yes lets leave things like that alone.

knitr:: can be left alone as well.

[2022-08-03 17:47] fshanlee commented on #1235
Yes, that's the kind of thing I was thinking of. Thanks for confirming--I'll leave things like that and knitr:: alone.

[2022-08-04 09:36] oreillb1 opened #1350 "Feature Request: ADEG vignette, include character-only results processing"
### Feature Idea

ADEG vignette code should include character-only parameters e.g. TWAVE, UWAVE processing including shift from baseline

### Relevant Input

_No response_

### Relevant Output

_No response_

### Reproducible Example/Pseudo Code

_No response_

[2022-08-04 10:08] rossfarrugia commented on #1120
@tamarasenior FYI  we usually leave these open until we make the release just for transparency for our users, or else people may request new issues for things already fixed in `devel`. Also if for future you use "closes #<issue_number>" at the start of your PR title, then github will automaticlaly close these once the changes merge with `main` for the release.

[2022-08-04 10:45] rossfarrugia commented on #1338
@bms63 we absolutely could include an example of this in e2e site which shows an example say where you needed to use a different set of subject identifier variables across all functions in one easy way.... but why would this issue be closed for admiral? As for me it first needs to be implemented in admiral, e.g. creating the file that stores these global options and then updating every function to

[2022-08-04 18:38] bms63 commented on #1338
We were discussing this as a more process-based topic of moving code from one study to a new study/making code re-usable and out of scope for `admiral` for building ADaM datasets.   It seems to open a can of worms of how deep to go with the `Options` and we discussed how it might be confusing for users to see this as an option.

It was thought that this could be developed within the e2e examples a

[2022-08-05 01:52] bms63 commented on #1344
Hey Thomas.  We should keep a list of functions being deprecated and when the start of their cycle began.  Hoping we aren't deprecating too much stuff anymore...but maybe nice to have a list that we update at each release.  Possibly just a excel tracker on box??

[2022-08-05 08:58] rossfarrugia commented on #1338
OK, so the decision is we won't implement this for subject identifier keys in the admiral package (as that would involve updating many admiral functions), and instead we could put an example of this in the e2e examples, e.g. maybe easiest to do this for the ADSL keep list there.

If a user then ever needed to change say `USUBJID` to `USUBJID2`, they would have to set up an option for this at their

[2022-08-05 11:29] SyedMubasheer opened #1353 "Documentation: Clarification on documentation of compute_duration()"
### Please select a category the issue is focused on?

Function Documentation

### Let us know where something needs a refresh or put your idea here!

Kindly wanted to check regarding the note which has to be added for compute_duration(), Should I replace derive_vars_dt() with convert_dtc_to_dt() as I think it makes more sense with the later one as we are just deriving duration so I believe no nee

[2022-08-05 12:23] thomas-neitmann opened #1354 "Bug: Test for demo"
### What happened?

Test.

### Session Information

_No response_

### Reproducible Example

_No response_

[2022-08-05 13:00] thomas-neitmann commented on #1297
@sgorm123 It would be great if you could provide us your code here. I'm very curious!

[2022-08-08 11:28] bundfussr commented on #1338
I completely agree with @rossfarrugia . If it is not implement in admiral, it doesn't help. Furthermore, I already know of some use cases at Roche:
- A group at Roche needs to change the subject identifier variables frequently due to anonymization.
- For date imputation Roche uses `preserve = TRUE`. I.e., in all Roche programs the `preserve` argument needs to be specified.
- The admiralonco functi

[2022-08-08 11:44] bundfussr commented on #1353
Maybe we should mention both functions as it depends on the context which one is more suitable. If I have several `compute_duration()` calls, I would call `derive_vars_dt()` in a pre-processing step. While I would use `convert_dtc_to_dt()` if it is just a single `compute_duration()` call.

@bms63 , @thomas-neitmann , what do you think?

[2022-08-08 13:39] bms63 commented on #1338
Okay....I'm worried this is going to make things more confusing for users, but sounds like we got a lot of interesting use cases to investigate.

[2022-08-08 14:18] duniek commented on #671
Whoever picks this up - check with @thomas-neitmann what has been done so far.

[2022-08-08 14:40] #1211 closed

[2022-08-08 14:47] #1113 closed

[2022-08-08 19:37] #1354 closed

[2022-08-08 19:41] bms63 commented on #1344
https://github.com/pharmaverse/admiraldev/issues/36

[2022-08-08 19:58] bms63 opened #1356 "Documentation: Navbar update, Removal of Dev Vignettes"
### Please select a category the issue is focused on?

Other

### Let us know where something needs a refresh or put your idea here!

* Overhaul of Navbar to have more user friendly language
* Removal of Development Guides from admiral-core

[2022-08-09 07:44] rossfarrugia commented on #1338
thanks @bms63 - i moved this back to priority issues now and fine if this one is picked up as part of release 9 by end of the year, if we don't get around to adding it for upcoming release next month.

[2022-08-09 09:42] morrishj opened #1357 "derive_var_obs_number creating unexpected changes to TRTA and TRTP (ADVS)"
### What happened?

TRTA and TRTP are derived correctly during the first half of the ADVS template, but when I get to the following section of code, both variables are changed and start showing large numbers of NA's. 

advs <- advs %>%
  # Calculate ASEQ
  derive_var_obs_number(
    new_var = ASEQ,
    by_vars = vars(STUDYID, USUBJID),
    order = vars(PARAMCD, ADT, AVISITN, VISITNUM, VSSEQ),
   

[2022-08-09 12:04] gg106046 commented on #1316
@bms63 Can I take this up?

[2022-08-09 13:05] bms63 commented on #1316
That sounds great!  Did you finish the admh script?

[2022-08-09 13:32] gg106046 commented on #1316
Yes admh script is done. I've pushed the latest code into GitHub

[2022-08-09 16:16] w316liu opened #1358 "Bug: derive_vars_aage() was not working correctly"
### What happened?

derive_vars_aage() function derives ADSL.AAGE and AAGEU. However, in calculation of AAGE, a "+1" is needed (or at least optional). This function does not have "+1" as default setting and did not provide the parameter either. In the example below, it caused a discrepancy.

### Session Information

_No response_

### Reproducible Example

data <- tibble::tribble(
  ~BRTHDT, ~RAND

[2022-08-09 16:39] thomas-neitmann commented on #1358
I don't think this is an issue. The `+1` rule is required for study day computation but age is a simple duration. If you'd `+1` then someone being randomized on their birth date would have an age of 1 rather than 0...

Which CDISC specs are you citing here @w316liu?

[2022-08-10 11:13] paltusplintus opened #1359 "Feature Request: Machine-readable way to identify the type of a function output"
### Feature Idea

It would be very helpful to have a machine-readable way to identify the type of each function's output, including types of newly derived columns in a dataframe if the function returns a dataframe. (e.g. by parsing vignettes or some other way)

We are running some experiments to automate creation of derived datasets by chaining procedures together in a metadata-driven way. We use

[2022-08-10 12:18] paltusplintus commented on #1359
FYI my GSK email address is alexey.k.kuznetsov@gsk.com

[2022-08-10 13:47] w316liu commented on #1358
In CDISC spec, there are "+1" for the aage calculation. I also checked the STREAM code and it also has the plus one.
![image](https://user-images.githubusercontent.com/93725674/183917364-c9ac40a2-2e54-46ac-96cd-29aa856468df.png)
[ADaM_1.1.xls](https://github.com/pharmaverse/admiral/files/9300551/ADaM_1.1.xls)

[2022-08-10 16:09] thomas-neitmann commented on #1358
@millerg23 @bundfussr Any thoughts on the above?

[2022-08-10 16:24] bundfussr commented on #1358
The example results in 51 years. I think this is correct because the randomization day is the day _before_ the 52nd birthday.

Using SAS and the Roche standard specs results in 52 years. So I think the Roche specs are wrong.

[2022-08-10 19:27] millerg23 commented on #1358
I don't recall the rationale for the spec, but within a normal (non-leap) year, there are 365 days so if you divide by 365.25, you will get <1, so will be 0 when you take the integer part. If you add 1 day, then you get age 1.
The spec will only be incorrect when the difference between the 2 dates is divisible by 4 years. (ie. 52 years), so on these occasions it is 1 day out (they get a birthday a

[2022-08-10 20:08] w316liu commented on #1358
I just looked at the code. The final number (in years) was calculated by _lubridate::time_length()_ function. I believe this function calculate the actual age with considering the extra day every four years. It makes more sense with regards to the actual age. However, it does have discrepancy when comparing to the CDISC spec, especially when doing double programming QC and the QC was done by manua

[2022-08-11 08:52] thomas-neitmann commented on #1359
@paltusplintus I'd be eager to learn a bit more what you are up to. If OK with you I'd like to schedule a meeting with you and interested devs from the {admiral} team. @pharmaverse/admiral Please let me know if you'd like to participate.

[2022-08-11 09:04] thomas-neitmann commented on #1357
@pharmaverse/admiral Can someone please take a closer look at this?

[2022-08-11 09:41] millerg23 commented on #1357
I think the issue is in the creation of "Create End of Treatment Record" when you do a union back with ADVS
`union_all(advs) %>%`.
The ADVS here, is from before TRTA and TRTP are created, so the only records with TRTA and TRTP populated, are for the records with AVISIT = "End of Treatment".
If you move the creation of TRTA and TRTP to after the creation of "Create End of Treatment Record", it shou

[2022-08-11 12:21] bms63 commented on #1359
I'm intrigued, but OOO for the next week so don't let me hold anything up.

[2022-08-11 12:46] thomas-neitmann commented on #1357
Nice spot @millerg23! Indeed while in the `mutate()` both `TRT` variables are populated for all records, they are subsequently filtered and the unioned back with the ADVS from the chunk before wherethe `TRT` variables have not been created, yet. So @morrishj I don't think the issue is the `derive_var_obs_number()` step but rather what @millerg23 described. Anyhow, this is an error in our template

[2022-08-11 13:00] bms63 commented on #1357
Shall we get this done for the release?

[2022-08-11 13:12] thomas-neitmann commented on #1357
Ideally, yes!

[2022-08-11 13:20] bms63 commented on #1357
@morrishj want to take this one on?

[2022-08-11 13:28] bundfussr commented on #1359
I'm interested as well but on vacation the next two weeks. So don't wait for me.

[2022-08-11 13:39] morrishj commented on #1357
Yep I can do this one!

On Thu, 11 Aug 2022 at 14:20, Ben Straub ***@***.***> wrote:

[2022-08-12 12:06] paltusplintus commented on #1359
Happy to meet @thomas-neitmann and anyone else interested. Could do next week Tue, Thu or Fri at 16:00 CET - feel free to setup, or let me know your email address and preferred time.
Ojesh Upadhyay <ojesh.r.upadhyay@gsk.com> would like to join the call as well, please include him.

[2022-08-15 09:55] morrishj opened #1363 "Union_all creates duplicates in ad_advs template"
### What happened?

_union_all(advs)_ in advs template (line 261) appears to be creating duplicates of any rows where EOTFL = "Y" by joining the filtered rows [line 263: _filter(EOTFL == "Y"_) ] back to the advs dataset. Adding
_arrange(., EOTFL) %>%
distinct(., USUBJID, VSSEQ, VISITNUM, .keep_all = TRUE)_
after union_all  resolves this.

### Session Information

R version 4.1.3 (2022-03-10)
Platf

[2022-08-15 12:28] thomas-neitmann commented on #1363
@morrishj Could you add a fix for this to your open PR #1362? WHile your solution using `distinct()` certainly does the job I wonder if we should just use `union_all(filter(advs, EOTFL != "Y" | is.na(EOTFL))` instead to be more explicit of what's actually going on.

[2022-08-15 16:12] w316liu commented on #693
@thomas-neitmann can you provide an example how this help page should look like?

[2022-08-15 19:37] esimms999-gsk commented on #1204
Summary of discussion between Eric and Thomas on Slack:

**Eric:** Any hints as to how I determine the minimum version of a dependency, e.g. how would I figure out the minimum version of stringr which needs to be available for admiral to run without problems?
Looking at NAMESPACE, I can see all the importFrom statements. Looking at just the tidyr ones:
importFrom(tidyr,drop_na)
importFrom(tidyr,ne

[2022-08-15 19:45] esimms999-gsk commented on #1204
![image](https://user-images.githubusercontent.com/85294667/184706234-ac746bf9-3df7-4c52-b6aa-b9c69385d789.png)

[2022-08-15 19:51] esimms999-gsk commented on #1204
From DESCRIPTION file:

![image](https://user-images.githubusercontent.com/85294667/184707044-9c8409ab-7764-445d-b154-723567952d27.png)

[2022-08-15 20:16] w316liu opened #1364 "Bug: derive_var_last_dose_date() does not handle time part properly"
### What happened?

When deriving ADAE.LDOSEDTM using derive_var_last_dose_date(), the time part from source variable EX.EXSTDTC or EX.EXENDTC cannot be passed to LDOSEDTM.

### Session Information

[code]

### Reproducible Example

[code]

[2022-08-16 06:25] thomas-neitmann commented on #1204
Of note, please focus on the packages listed on "Imports". These are the "actual" hard dependencies that {admiral} does not work without. "Suggests" are mainly packages we use during development but which have no impact on the package's functionality from a user's perspective.

[2022-08-16 06:47] thomas-neitmann commented on #693
I don't have an example at hand but you want to use the `@describeIn` roxygen2 tag to put a function's documentation onto the help page of another.

[2022-08-16 08:17] thomas-neitmann commented on #1364
If you first convert the `--DTC` variables in `ex_single` into proper datetimes then it seems to work.

[code]
[code]

[2022-08-16 14:04] w316liu commented on #1364
Great! An easy quick way to solve the problem. Would you like to add a note in the [documentation ](https://pharmaverse.github.io/admiral/reference/derive_var_last_dose_date.html)? Under the "Details" section, we can add "If the input dose_date is ISO8601 format, then only the date part would be used. If the time part is expected, then the input variable should be in Date or Datetime format"?

[2022-08-16 14:08] thomas-neitmann commented on #1364
Actually I think we should ensure only proper date or datetime variables are passed to `dose_date` and `analysis_date`. That actually what the documentation says: "A date or date-time object is expected". However, apparently this is not enforced. Hence, you didn't get an error in your example.

[2022-08-16 14:13] w316liu commented on #1364
sounds good.

[2022-08-16 14:13] #1364 closed

[2022-08-16 14:22] thomas-neitmann commented on #1364
@w316liu Could you create a new issue to implement these checks?

[2022-08-16 14:35] w316liu opened #1365 "Feature Request: Check input date format in derive_var_last_dose_date()"
### Feature Idea

Need to add a check to check the format of the input date in derive_var_last_dose_date() - dose_date , analysis_date.
Some context:
derive_var_last_dose_date() currently allows input date in both ISO8601 and datetime format. However, if input date is in ISO8601 format, the time part cannot be processed and the function would not issue a warning.

### Relevant Input

_No response_

[2022-08-16 14:35] w316liu commented on #1365
#1364 1364

[2022-08-16 14:36] w316liu commented on #1364
New Issue #1365 added

[2022-08-16 16:12] esimms999-gsk commented on #1204
I do not know if this is a problem or not: NAMESPACE and renv.lock have package "utils", but it is not mentioned in DESCRIPTION.

[2022-08-17 18:39] w316liu commented on #693
Combined documentation for dthcaus_source() and derive_var_dthcaus().
Didn't do for lstalvdt_source() and derive_var_lstalvt() since these two functions were deprecated.

[2022-08-18 08:38] millerg23 opened #1369 "Documentation: Vignette for ADLB Grading"
### Please select a category the issue is focused on?

User Guides

### Let us know where something needs a refresh or put your idea here!

Create a Vignette on ADLB grading, how to create grades using new admiral functions, and describe metadata approach to hold grading information.

[2022-08-18 09:21] thomas-neitmann commented on #1363
As mentioned by @oreillb1 this behavior of duplicating records for the end of treatment visit is intentional.

[2022-08-18 09:21] #1363 closed

[2022-08-18 09:34] millerg23 opened #1370 "Documentation: Update ADLB script for ADLB grading (ATOXGRL, ATOXGRH, ATOXGR)"
### Please select a category the issue is focused on?

User Guides

### Let us know where something needs a refresh or put your idea here!

Update ADLB script to add in functoins that create ADLB grading - new functions `derive_var_atoxgr_dir` and `derive_var_atoxgr`.

[2022-08-18 15:01] esimms999-gsk commented on #1204
![image](https://user-images.githubusercontent.com/85294667/185427310-a6cc319a-d141-487a-a4da-a06aea13b533.png)

Things did not go as smoothly as I wanted while working on this. It came down to a lot of guessing, trial and error ... hopefully due to my lack of knowledge about packages; maybe an automated solution is available and I am just unaware of it.

R v3.6.3 (our minimum permitted) was relea

[2022-08-18 15:30] thomas-neitmann commented on #1204
Thanks a lot @esimms999-gsk!

Minimum version for developers is out of scope. As a develoepr you would just run `renv::restore()` to get the same packages installed as every other user. For users only the packages listed under "Imports" are of interest plus {admiral.test} for some of the examples.

[2022-08-18 15:35] thomas-neitmann commented on #1204
I jsut checked out branch `1204_eric_minimum_version_of_packages`, run `renv::restore()` and then `devtools::check()`. All examples and tests pass so this set of package version does seem to be a suitable set of minimum versions.

[2022-08-18 15:39] thomas-neitmann commented on #1204
Just check with {magrittr} v1.5 and `devtools::check()` again runs smoothly.

[2022-08-18 16:14] esimms999-gsk commented on #1204
@thomas-neitmann  My understanding is that you are testing this out as a developer, correct? And magrittr v1.5 is ok? I'll try this out.

How about when you test it as a user?

[2022-08-18 16:18] thomas-neitmann commented on #1204
No I'm testing from a user's perspective. From a dev's perspective {magrittr} v1.5 wouldn't suffice because we also use {styler} in development but that doesn't concern a user.

[2022-08-18 16:21] thomas-neitmann commented on #1204
If `devtools::check()` works with an installed version we can be almost 100% sure that it wouldn't ever cause any issues for a user who has that particular version installed.

[2022-08-18 20:46] w316liu commented on #1358
Updates to documentation completed. Issue closed.

[2022-08-19 07:09] thomas-neitmann commented on #1358
@w316liu Please do **not** close issues which have a pulll request manually. They'll get automatically closed once your PR makes in onto the `main` branch. By keeping them open until the fix makes it to the `main` branch we strive for transparanecy for users, i.e. while that fix didn't make it to a release, yet, they can see the issue does have a correpsonding PR.

[2022-08-19 08:39] VincentBuchheit commented on #602
Hi everyone - joining the PK task force :-)
ADPC and ADNCA are for me the same, i.e. input dataset for Pharmacokinetic analysis

Regarding ADPP, I propose that we don't try to create PP in Admiral. There are already great tools/packages (PKNCA, Phoenix....) for this purpose. We should aim to create ADPP from the existing PP SDTM dataset.

[2022-08-19 19:15] w316liu commented on #1365
Noticed this feature request been resolved via Merge request #1343

[2022-08-19 19:24] thomas-neitmann commented on #1365
Thanks @w316liu, I didn't realize that.

[2022-08-19 19:24] #1365 closed

[2022-08-22 10:16] oreillb1 commented on #1213
Please would you provide an example of the complete section code?

[2022-08-22 14:10] #1353 closed

[2022-08-23 16:19] w316liu commented on #1350
@oreillb1 can I work on this?

[2022-08-23 16:35] oreillb1 commented on #1350
Happy for anyone who has time to set up character results processing, especially looking for shift values

[2022-08-23 17:13] esimms999-gsk commented on #1235
I have made changes for tibble::, dplyr::, lubridate:: and maybe a couple of others. I have not touched any rlang::, knitr::, pkgdown::, admiral:::, etc.
Getting through devtools::document(), devtools::check(), devtools::test() without errors.

[2022-08-23 17:14] w316liu commented on #1350
Just wanna clarify, the "ADEG vignette code" is the template script under _inst/templates/ad_adeg.R_?

[2022-08-23 17:17] esimms999-gsk commented on #1235
@fshanlee There are four chackboxes at the top of the Issue; I have checked the "examples and tests using pkg_name::function() are updated with library(pkg_name)". Did you already complete the first three items?

[2022-08-23 17:24] bms63 commented on #1235
Hey Eric, I would go ahead and put a PR in.  Then we can compare and contrast a little easier.

[2022-08-23 19:06] fshanlee commented on #1235
Hi Eric, I think I completed the first two items.

[2022-08-24 13:23] rossfarrugia commented on #1236
YouTube channel now available: https://www.youtube.com/channel/UCxQFEv8HNqM01DXzdQLCy6Q

Reminder @thomas-neitmann or @bms63 to add this link to our README please and then it would be fine to close this issue.

[2022-08-24 13:45] duniek opened #1373 "Organize admiral Training Sessions"
### Background Information

To drive usage of admiral, how about organizing a series of hands-on workshops on how to do specific ADaM datasets or specific derivations? Please comment below.

### Definition of Done

1) Go or No-Go decision
2) If "go" - Meetings planned, invitations sent out, presenters identified

[2022-08-24 13:47] duniek opened #1374 "Define the scope of release 0.9.0"
### Background Information

Create a list of features that would be part of the next release in December.
Highlight which would be the highest priority.

### Definition of Done

List of desired features/ updates available

**Timeline:**  A new release will occur in early December 2022 (release Q4-2022).
**Theme:** Developer and Adoption Focus
**Synopsis:**

A two prong strategy is adopted.  As adm

[2022-08-24 14:42] oreillb1 opened #1375 "Bug: create_single_dose_dataset processing error, function code update required"
### What happened?
Error in `create_single_dose_dataset()`:
! The following values of EXDOSFRQ in ex_single_palb do not appear in dose_freq_lookup:
ONCE" This error was seen only once

### Session Information

_No response_

### Reproducible Example

_No response_

[2022-08-24 15:39] w316liu commented on #1350
@oreillb1 the test data EG does not have TWAVE and UWAVE tests. The shift from baseline is not a generic variable in ADEG either. I'd kind of question the necessity of adding these two parameters to the template code. @rossfarrugia @millerg23 any thought?

[2022-08-24 16:09] millerg23 commented on #1350
Hi,
The BDS Finding vignette shows character variables and creates `BASEC` and `AVALC`, it also shows `SHIFT1` being created from `ANRIND` and `BNRIND`, so replacing with `AVALC` and 'BASEC` is simple enough for users.
As already stated we don't have TWAVE and UWAVE in the test data, so wouldn't include in the template. The template is just a guide on how a study could use {admiral}, it won't cove

[2022-08-24 16:43] oreillb1 commented on #1350
I'm going to re-visit the test data again and compare the shift variables we would normally produce for character ECG results

[2022-08-24 18:47] w316liu commented on #1350
Thank you @millerg23 for the clarification.
@oreillb1 I will unassign myself.

[2022-08-25 08:18] rossfarrugia commented on #1350
I'm going to close this issue for now, as we'll also have the admiralroche template coming here, and @oreillb1 please feel free to re-open later if you still feel we should add to admiral core package.

[2022-08-25 08:32] thomas-neitmann opened #1376 "Bug: ADLB template script failin after latest {admiral.test} updates"
### What happened?

Running the ADLB script on the `devel` branch after installing the latest `devel` version of {admiral.test} fails with:

[code]

I first spotted this in #1199 but it's unrelated to the changes made there.

@millerg23 @yangc71 I think you made the changes in {admiral.test}? Please take a look and fix. Thank you!

### Session Information

[code]

### Reproducible Example

[code]

[2022-08-25 08:38] oreillb1 commented on #1350
In admiral_eg we have [EG.EGTESTCD] = "ECGINT" that has only character results that are excluded in the ADEG processing.

[2022-08-25 08:46] millerg23 commented on #1376
Hi @thomas-neitmann
I can fix today, we need to update the script to handle the new lab tests added, so they get a PARAMCD value (update lookup table). These lab tests were added so we can demonstrate converting % or fraction differentials to absolute values.

Will do it this morning.

[2022-08-25 08:50] thomas-neitmann commented on #1376
Thanks a lot @millerg23!

[2022-08-25 09:38] rossfarrugia commented on #1350
@millerg23 please can you check Barbara's comment?

[2022-08-25 12:32] oreillb1 commented on #1375
Although it now seems 'ONCE' is the default and therefore an expected single_dose_condition used in derive_var_last_dose_date, it seems impossible to find a single_dose_condition that does not report errors like this. My EX data have CRF single day records and diary card records that cover a range of dates. Preprocessed EX input data have the correct number of original and derived records.
Error i

[2022-08-25 20:13] bms63 opened #1379 "Documentation: Update dev guidance on using library(pkg_name) versus pkg_name::function"
### Please select a category the issue is focused on?

Developer Guides

### Let us know where something needs a refresh or put your idea here!

 - [ ] https://pharmaverse.github.io/admiral/articles/unit_test_guidance.html#writing-unit-tests-in-admiral-
 - [ ] https://pharmaverse.github.io/admiral/articles/programming_strategy.html#function-header-documentation

 See #1235 for additional discussio

[2022-08-25 20:18] bms63 opened #1380 "Documentation: Update Roxygen Examples with library(pkg_name) rather than pkgname::function()"
### Please select a category the issue is focused on?

Function Documentation

### Let us know where something needs a refresh or put your idea here!

Update all functions with roxygen examples using the pkgname::function() way.

See #1235 for additional guidance and discussion,

[2022-08-25 20:19] bms63 opened #1381 "Documentation: Update tests on using library(pkg_name) versus pkg_name::function"
### Please select a category the issue is focused on?

Function Documentation

### Let us know where something needs a refresh or put your idea here!

See #1235 for additional discussion and guidance.

[2022-08-26 08:58] rossfarrugia commented on #1374
@bms63 @thomas-neitmann @millerg23 FYI here's some early ones to add to the list that we'd appreciate consideration to be prioritised for next release from a Roche selfish perspective...

- https://github.com/pharmaverse/admiral/issues/1338
- https://github.com/pharmaverse/admiral/issues/989 (TRTEMFL) _- i was speaking to Gordon and we were thinking maybe best for @bundfussr to pick this one up as

[2022-08-26 09:01] rossfarrugia commented on #858
@Natnassonova are you still interested in contributing to this issue?

[2022-08-26 10:57] Natnassonova commented on #858
@rossfarrugia I would like to stop contributing for now if that's ok

[2022-08-26 11:04] rossfarrugia commented on #858
no problem, thanks for confirming! i unassigned you and put this back to the backlog for someone else to pick up later

[2022-08-26 13:24] bms63 commented on #1374
* Creating another demo video for the youtube channel should be added
* Merger Vignette #734
* Bring boards together from admiral.test, admiraci, admiraldev and admiral core

[2022-08-26 13:31] bms63 opened #1383 "General Issue: Add in authors to Description"
### Background Information

No matter how small the contribution we want folks to be recognized for their contribution to admiral.

### Definition of Done

Add in Shan Lee @fshanlee , Bill Denney, Jack McGavin @JMcGavigan32

@pharmaverse/admiral Is there anyone else that we need to add in to the author list for this release?

[2022-08-26 13:35] bms63 commented on #1383
Add in Syed @SyedMubasheer

[2022-08-26 15:11] bms63 commented on #1383
Add in Wendy @w316liu

[2022-08-26 15:15] rossfarrugia commented on #1383
Dinakar Kulkarni, Tamara Senior, Jordanna Morrish, Anthony Howard, Barbara O'Reilly, John Kirkpatrick, James Black, Leena Khatri

any more from our side @koegerr @thomas-neitmann??

[2022-08-26 15:23] bms63 opened #1384 "Insert pharmaverse YouTube channel link into README"
YouTube channel now available: https://www.youtube.com/channel/UCxQFEv8HNqM01DXzdQLCy6Q

Reminder @thomas-neitmann or @bms63 to add this link to our README please and then it would be fine to close this issue.

_Originally posted by @rossfarrugia in https://github.com/pharmaverse/admiral/issues/1236#issuecomment-1225721529_

[2022-08-26 17:56] rossfarrugia commented on #1236
thanks @bms63 - we can close this one then as you made a new issue

[2022-08-26 17:56] #1236 closed

[2022-08-26 18:41] w316liu commented on #1383
Just a minor note, my name is "Wenyi Liu", Not Wendy lol

[2022-08-26 18:42] esimms999-gsk commented on #1383
Thanks Wenyi!

[2022-08-29 16:50] bms63 commented on #1235
This has been split into separate issues.  Closing

[2022-08-29 16:50] #1235 closed

[2022-08-29 18:53] bms63 opened #1391 "Documentation: Update Release Schedule for 2023-Q1"
### Please select a category the issue is focused on?

User Guides

### Let us know where something needs a refresh or put your idea here!

We should just remove the Q3-2022 and update with 2023-Q1 since it is already getting out of date.

![image](https://user-images.githubusercontent.com/10111024/187276313-ba55e064-ae70-45c8-9c63-e91f5dadfefd.png)

[2022-08-29 19:13] bms63 commented on #1374
#1235 Address 2 issues created around `library(pkg_name)` and `pkg_name::function()`

[2022-08-30 10:24] thomas-neitmann opened #1392 "Remove {assertthat} dependency"
### Background Information

After mocing the `assert_*()` functions to {admiraldev}, {assertthat} is no longer required as a dependency.

### Definition of Done

{assertthat} is not listed in DESCRIPTION anymore and all imports defined in `R/admiral-package.R` have been removed.

[2022-08-30 10:25] thomas-neitmann opened #1393 "Move {readxl} to "Depends""
### Background Information

{readxl) is used in the creation of the `atoxgr_criteria_ctcv4` object. As this is created when the package is build but **not** when installed by a user, {readxl} is not a hard-dependency and can thus be moved to "Depends".

### Definition of Done

{readxl} listed in "Depends".

[2022-08-30 10:46] thomas-neitmann opened #1395 "Bug: ADLB script fails on `devel` branch"
### What happened?

The script fails with an error at the `derive_param_wbc_abs()` step:

![image](https://user-images.githubusercontent.com/11788080/187417225-5ff1b84a-4169-43eb-b03d-e9ac683d4c1a.png)

### Session Information

[code]

### Reproducible Example

[code]

[2022-08-30 10:57] millerg23 commented on #1395
yeah no bother, do you know if this is running on admiral.test `devel`  branch?

[2022-08-30 12:43] bms63 opened #1396 "Documentation: Align "join" documentation to be consistent across functions"
If we go ahead with this approach, we should at least be consistent and update `derive_var_extreme_dt()`, `derive_var_extreme_dtm()`, `derive_param_tte()`, and `create_query_data()` as well.

_Originally posted by @bundfussr in https://github.com/pharmaverse/admiral/issues/1367#issuecomment-1231392264_

[2022-08-30 12:44] bms63 commented on #1396
@bundfussr  I made a new issue for your suggestion.  I don't think we have time to update this and I honestly don't really like how it is presented.  However, I haven't seen a better alternative! :(  But I think you are right that we should be consistent.

[2022-08-30 14:15] bundfussr commented on #1396
Maybe we can extend roxygen such that helper objects like `dthcaus_source` are displayed in a separate section. It seems possible to extend roxygen (see https://roxygen2.r-lib.org/articles/extending.html) but it requires some investigation to find out what is possible. If we find a solution, we could also ask for including it as core roxygen functionality. I think it would be useful for other non

[2022-08-30 16:00] thomas-neitmann commented on #1395
Yes, I ran this locally and installed admiral.test@devel.

[2022-08-31 09:28] bundfussr commented on #1231
There are a lot of broken links in README.md and NEWS.md due to moving the developer vignettes to admiraldev.

@bms63 , could you fix it?

[2022-08-31 11:02] millerg23 opened #1399 "Bug: Remove read_xl package and use read.csv instead (ADLB grading)"
### What happened?

loading read_xl package is causing sporadic issue in testing. Remove the package from {admiral} and update R program `atocgr_sources` to use `read.csv` instead.  Also, turn excel file that is read in, into a csv file.

### Session Information

_No response_

### Reproducible Example

_No response_

[2022-08-31 14:14] rossfarrugia opened #1400 "Documentation: Use Reference instead of Functions for site"
### Please select a category the issue is focused on?

Other

### Let us know where something needs a refresh or put your idea here!

Use Reference instead of Functions for site top bar - to be consistent with tidyverse and because more than just functions are contained there, e.g. objects and datasets

[2022-08-31 14:21] rossfarrugia opened #1401 "Idea for future: Any way to automate adding default argument values in roxygen headers?"
We'd like a way to take this info directly from the Usage box rather than manually repeating the info:

![image](https://user-images.githubusercontent.com/82581364/187701587-775b8cd2-a711-4e56-9a26-c8fcb0e76adb.png)

Any clever ideas from the admiral community for this?? For now we're going to remove the repeated default values under the arguments section as it's difficult to maintain and subject

[2022-08-31 14:25] bms63 commented on #1401
I think this issue should live in `admiraldev`

[2022-08-31 14:27] rossfarrugia commented on #1295
See summary of discussions https://github.com/pharmaverse/admiralonco/issues/130 as these updates from admiralonco will also be needed across admiral functions. @bms63 will summarize these in the programming strategy so we have a clear guide to follow: https://github.com/pharmaverse/admiraldev/issues/64

[2022-08-31 14:33] rossfarrugia opened #1402 "Documentation: Explore better way to show default arguments where some internal derivation needed"
Related to https://github.com/pharmaverse/admiraldev/issues/72 & https://github.com/pharmaverse/admiraldev/issues/64, for default argument values where we have `NULL` shown in Usage section but then some derived field is shown below, explore whether there's a better way to show this.

For example showing the derived part in Usage section, or use of "auto" instead of NULL.

Example:
![image](https:

[2022-08-31 14:40] rossfarrugia commented on #1401
can we leave it here for now and move it later? as i feel we might be more likely to catch attention from some of the admiral community here? i agree if some nice utility gets built for this it likely lives in admiraldev though. i leave it to you to decide though and move accordingly now if you prefer

[2022-08-31 14:42] bms63 commented on #1401
Sure no problem.  Any @pharmaverse/admiral ideas?

[2022-08-31 14:45] bundfussr commented on #1401
I think https://roxygen2.r-lib.org/articles/extending.html is a good starting point.

[2022-08-31 15:46] thomas-neitmann commented on #1399
I saved the `atoxgr` object in a similar manner to our datasets.

[2022-08-31 15:46] thomas-neitmann commented on #1399
Closing in favor of #1393.

[2022-08-31 16:12] rossfarrugia commented on #1374
and https://github.com/pharmaverse/admiral/issues/1295 on similar note

[2022-08-31 17:37] esimms999-gsk commented on #1204
Code used to test minimum packages:

install.packages("remotes")
install.packages("devtools")

# Install minimum versions of package dependencies.
devtools::install_version("assertthat", version = "0.2.1", upgrade = "never", repos = "http://cran.us.r-project.org")
devtools::install_version("dplyr", version = "1.0.0", upgrade = "never", repos = "http://cran.us.r-project.org")
devtools::install_vers

[2022-08-31 20:25] bms63 opened #1405 "Documentation: broken links in README.md and NEWS.md due to moving the developer vignettes to admiraldev."
There are a lot of broken links in README.md and NEWS.md due to moving the developer vignettes to admiraldev.

@bms63 , could you fix it?

_Originally posted by @bundfussr in https://github.com/pharmaverse/admiral/issues/1231#issuecomment-1232697349_

[2022-08-31 21:15] bms63 commented on #1344
@millerg23 Here is list of deprecated functions from the pkgdown version 0.8.0 site.  I think verifying these will be a good start.

![image](https://user-images.githubusercontent.com/10111024/187784957-bcd252a7-5f65-4021-985f-52830bbc5321.png)

The one with the x was deprecated in version 0.7.0 I think?  Anyways good place to good started.

[2022-09-01 11:50] millerg23 commented on #1344
**Updates for Release 0.8:**
Currently WARNING:
`derive_var_ady()` (derive_var_ady.R)
`derive_var_aendy()` (derive_var_aendy.R)
`derive_var_astdy()` (derive_var_astdy.R)
`derive_var_atirel()` (derive_var_atirel.R)
`derive_var_extreme_flag()` (derive_var_extreme_flag.R)
`derive_var_worst_flag()` (derive_var_extreme_flag.R)
Currently STOP:
`derive_vars_suppqual()` (derive_vars_suppqual.R)

**Updates

[2022-09-01 12:16] bms63 commented on #1344
Should this be 0.7 and 0.8?

[2022-09-01 12:31] thomas-neitmann opened #1408 "Documentation: Write vignette on EX processing and last dose date derivation"
### Please select a category the issue is focused on?

User Guides

### Let us know where something needs a refresh or put your idea here!

We're looking for a real world example of how one would have to pre-process EX data to derive the last dose date before an adverse event. @oreillb1 kindly volunteered to turn her study data into an example that can be showcased on our website.

[2022-09-01 12:45] millerg23 commented on #1344
Sorry if its confusing, I was putting it under the Release where it would be updated. SO for this Release 0.8, we need to make the updates to:
derive_var_ady() (derive_var_ady.R)
derive_var_aendy() (derive_var_aendy.R)
derive_var_astdy() (derive_var_astdy.R)
derive_var_atirel() (derive_var_atirel.R)
derive_var_extreme_flag() (derive_var_extreme_flag.R)
derive_var_worst_flag() (derive_var_extreme_f

[2022-09-01 12:59] bms63 commented on #1344
derive_var_ady() (derive_var_ady.R)
derive_var_aendy() (derive_var_aendy.R)
derive_var_astdy() (derive_var_astdy.R)
derive_var_atirel() (derive_var_atirel.R)
derive_var_extreme_flag() (derive_var_extreme_flag.R)
derive_var_worst_flag() (derive_var_extreme_flag.R)
derive_vars_suppqual() (derive_vars_suppqual.R)

So these all get removed from `admiral` or do we do add a `deprecate_stop`?

[2022-09-01 14:41] millerg23 commented on #1344
Change from `deprecate_warn` to `deprecate_stop` for all those except `derive_vars_suppqual()` that is already at `deprecate_stop`, I think this needs completely removed. We can discuss on related pull request.

[2022-09-01 16:00] millerg23 commented on #1344
New list for 0.9 deprecation updates

Currently at WARNING (at 0.8) -> should be moved from WARNING to STOP in 0.9 release
derive_vars_merged_dt() (derive_merged.R)
derive_vars_merged_dtm() (derive_merged.R)
derive_derived_param() (derive_computed_param.R)
derive_var_agegr_fda() (derive_vars_aage.R)
derive_var_agegr_ema() (derive_vars_aage.R)

Currently at STOP (at 0.8) -> should be removed in 0.9

[2022-09-02 12:19] thomas-neitmann opened #1412 "Bug: Something is not working"
### What happened?

An error occured.

### Session Information

_No response_

### Reproducible Example

_No response_

[2022-09-02 14:35] bms63 opened #1414 "Documentation: Update derive_extreme_records() and derive_summary_records() to use correct keyword/family"
### Please select a category the issue is focused on?

Function Documentation

### Let us know where something needs a refresh or put your idea here!

Update derive_extreme_records() and derive_summary_records() to use correct keyword/family

[2022-09-02 14:40] bundfussr commented on #1414
`derive_param_rr()` is classified wrong as well.

[2022-09-02 14:52] bms63 commented on #1414
Should this be Derivations for Adding Parameters/Records ?

![image](https://user-images.githubusercontent.com/10111024/188176011-e9a5aa9b-0b43-4c9f-9220-ac3c14ed696f.png)

[2022-09-02 14:57] bundfussr commented on #1414
Yes, sounds good.

[2022-09-06 07:20] #1318 closed

[2022-09-06 07:20] #1047 closed

[2022-09-06 07:20] #1301 closed

[2022-09-06 07:20] #1293 closed

[2022-09-06 07:20] #1303 closed

[2022-09-06 07:20] #1321 closed

[2022-09-06 07:20] #1105 closed

[2022-09-06 07:20] #1340 closed

[2022-09-06 07:20] #1346 closed

[2022-09-06 07:20] #671 closed

[2022-09-06 07:20] #1300 closed

[2022-09-06 07:20] #1358 closed

[2022-09-06 07:20] #885 closed

[2022-09-06 07:20] #1202 closed

[2022-09-06 07:20] #1333 closed

[2022-09-06 07:20] #945 closed

[2022-09-06 07:20] #977 closed

[2022-09-06 07:20] #525 closed

[2022-09-06 07:20] #822 closed

[2022-09-06 07:20] #1357 closed

[2022-09-06 07:20] #693 closed

[2022-09-06 07:20] #724 closed

[2022-09-06 07:20] #1384 closed

[2022-09-06 07:20] #1231 closed

[2022-09-06 07:20] #1349 closed

[2022-09-06 07:20] #1356 closed

[2022-09-06 07:20] #502 closed

[2022-09-06 07:20] #1224 closed

[2022-09-06 07:20] #1393 closed

[2022-09-06 07:20] #1204 closed

[2022-09-06 07:20] #1344 closed

[2022-09-06 07:20] #1405 closed

[2022-09-06 07:20] #1414 closed

[2022-09-06 14:59] thomas-neitmann commented on #1381
@esimms999-gsk Please go ahead and take this on.

[2022-09-06 17:01] #1292 closed

[2022-09-06 17:01] #1299 closed

[2022-09-06 17:01] #1383 closed

[2022-09-06 17:02] #1391 closed

[2022-09-06 17:02] #1400 closed

[2022-09-06 17:02] bms63 commented on #1412
Assuming this was for the demo

[2022-09-06 17:02] #1412 closed

[2022-09-06 17:04] bms63 commented on #1370
Close as part of version 8 release

[2022-09-06 17:04] #1370 closed

[2022-09-06 17:04] bms63 commented on #1395
Close as part of version 8 release

[2022-09-06 17:04] #1395 closed

[2022-09-06 17:05] bms63 commented on #1306
Close as part of version 8 release

[2022-09-06 17:05] #1306 closed

[2022-09-06 17:06] #1196 closed

[2022-09-06 17:06] #1205 closed

[2022-09-06 17:06] #1215 closed

[2022-09-06 17:06] #1219 closed

[2022-09-06 17:06] #1220 closed

[2022-09-06 17:06] #1226 closed

[2022-09-06 17:06] bms63 commented on #1288
Close as part of version 8 release

[2022-09-06 17:06] #1288 closed

[2022-09-06 17:07] bms63 commented on #1369
Close as part of version 8 release

[2022-09-06 17:08] bms63 commented on #889
Close as part of version 8 release

[2022-09-06 17:08] #889 closed

[2022-09-06 17:09] bms63 commented on #1268
Close as part of version 8 release

[2022-09-06 17:09] #1268 closed

[2022-09-06 17:10] #940 closed

[2022-09-06 17:10] #976 closed

[2022-09-06 17:10] #1120 closed

[2022-09-06 17:10] #1212 closed

[2022-09-06 17:10] #1229 closed

[2022-09-06 17:10] #1234 closed

[2022-09-06 17:10] #1238 closed

[2022-09-06 17:10] #1251 closed

[2022-09-06 17:10] #1255 closed

[2022-09-06 17:10] #1260 closed

[2022-09-06 17:10] #1261 closed

[2022-09-06 17:10] #1262 closed

[2022-09-06 17:10] #1265 closed

[2022-09-06 17:10] #1267 closed

[2022-09-06 17:16] bms63 commented on #1297
@sgorm123 Do you have a chance to write up any code or ideas you have around a debug_list.  If not, no problem, we can close this issue out.  I'm sure this idea/topic will circle back at a later time.

[2022-09-06 17:17] bms63 commented on #1408
Here is some guidance we have created for writing vignettes.
 https://pharmaverse.github.io/admiraldev/main/articles/writing_vignettes.html.  @oreillb1 can we put this on the 0.9.0 release track?

[2022-09-06 17:20] #1376 closed

[2022-09-06 17:22] bms63 commented on #1295
Moving this to admiraldev

[2022-09-06 17:49] bms63 opened #1418 "General Issue: Testing new board"
### Background Information

Testing new board

### Definition of Done

Testing new board

[2022-09-07 08:47] rossfarrugia opened #1419 "issue with date_source objects for last known alive date calculation"
If I use the following and I have the case where any AE end dates are NA it means that all the records get excluded from my subsequent `derive_var_extreme_dt()` call:
[code]

whereas the following works:
[code]

i think we need to update `date_source()` as ignoring NA dates here should be implicitly done without the user having to filter out.

[2022-09-07 13:00] esimms999-gsk opened #1420 "Video Documentation: closed captions"
### Please select a category the issue is focused on?

Other

### Let us know where something needs a refresh or put your idea here!

We need to have closed captions on our videos, e.g. the ADAE demo video on the YouTube Pharmaverse channel. At this time, we concentrate on providing this in English; the possibility of offering this, as well as the written admiral documentation, in other languages

[2022-09-07 13:39] duniek commented on #1374
Note from our meeting:
general theme: development focus
some issues are needed for admiralRoche
issues needed for ADLB
admiral dev code coverage boost up to 80%
admiral.dev
PK - potentially a separate extension package

push on adoption side - event/hackathon across industry
additional videos: admiral intro, how to build additional datasets

[2022-09-07 13:59] duniek opened #1421 "Documentation: Update links for News and Readme for developer vignettes"
Ben will provide the details

[2022-09-07 14:03] millerg23 opened #1422 "Feature Request: Create NCICTCAEv5 metadata (similar to NCICTCAEv4 implementation)"
### Feature Idea

We released Lab grading in release 0.9, implementing NCICTCAEv4. We should now implement NCICTCAEv5, using same metadata structure.

### Relevant Input

See website for NCICTCAEv5 grading: https://ctep.cancer.gov/protocoldevelopment/electronic_applications/ctc.htm

### Relevant Output

Same structure as data("atoxgr_criteria_ctcv4")

### Reproducible Example/Pseudo Code

_No resp

[2022-09-07 14:08] bms63 commented on #1421
I think this created in error #1405 addressed this

[2022-09-07 14:08] #1421 closed

[2022-09-07 18:01] bms63 commented on #1043
Moving this to admiraldev

[2022-09-07 19:07] esimms999-gsk commented on #1374
Have a discussion wrt translating documentation to other languages. If this is something we eventually want done, then attempt to translate one portion of the documentation (ReadMe?) from English to another language and figure out how that and subsequent translations can be managed.

[2022-09-07 19:10] cicdguy commented on #1374
Does Google Translate help here? One can easily embed translation features into the pkgdown docs.

[2022-09-08 07:31] rossfarrugia commented on #1374
Maybe one more for down the line? I'd personally still say we have plenty of common template/function gaps I'd prefer us cover above this like hy's law, questionnaires, what to do with crossover/periods, etc.

[2022-09-08 14:53] #1418 closed, assigned to nobody

[2022-09-08 15:00] w316liu opened #1423 "Feature Request: Automate assigning variable labels"
### Feature Idea

In current template code, the newly created variables do not have labels assigned to them. Bearing in mind the esub-readiness principle, this should be added to the template code. Moreover, instead of manually assigning labels, there should be a way to automate this process by directly reading spec.

### Relevant Input

_No response_

### Relevant Output

_No response_

### Repro

[2022-09-08 15:01] bms63 opened #1424 "Documentation: Youtube Video Walkthrough of Vignette"
### Please select a category the issue is focused on?

Other

### Let us know where something needs a refresh or put your idea here!

We should release a new video with each new release onto the youtube channel.  Eric did the adae and we should pick another dataset.

[2022-09-08 15:08] bms63 commented on #1423
Labels are brought up quite a bit and are covered in the e2e examples.  However, a user might not be aware of the e2e examples and so maybe we should start applying them in our templates and vignettes.

We could leverage metacore/metatools or the xportr package to take in spec and apply the labels.  I don't think a spec file would take up too much space in our package.  Or maybe we could store the

[2022-09-08 15:40] bundfussr commented on #1374
I tried to translate the admiral page to German with google translate. Most of the text is readable but I would prefer reading the original version. (Some parts are funny but not helpful, e.g., google tries to translate the argument names on the function documentation pages.)

I agree with @rossfarrugia that there are more important topics. I think the main question is if we have resources to work

[2022-09-08 16:00] bundfussr commented on #1423
We could add a section to the "Get Started" page, which refers to the e2e example page.

Creating specs and adding the metacore, metatool, xportr calls to all the vignettes and templates looks like a lot of initial and maintenance work to me.

[2022-09-08 16:23] rossfarrugia commented on #1374
Still working on new resources... trying to bring 2.5 more devs our way over next month or 2 🤞

[2022-09-08 17:25] thomas-neitmann commented on #1423
So far we refrained from adding this to our vignettes because that would make {admiral} depend on the other packages mentioned. Thus, I'd much rather point users to the e2e example (ideally also directly towards the end of the templates in a comment.

[2022-09-08 18:10] yangc71 opened #1425 "General Issue: Poster for admiral/pharmaverse"
### Background Information

Create a poster for admiral /pharmaverse packages
Deadline: Oct 7th

### Definition of Done

_No response_

[2022-09-08 19:12] thomas-neitmann commented on #1374
As for resources, there are apparently 5 new hires out of SSF that are keen to contribute to our next gen tools. I'd like to get them involved with writing unit tests for {admiraldev} first. Once they get the hang of our process I'm sure they'd be eager to contribute to issues within {admiral}. I'll keep ypu posted on updates.

[2022-09-09 11:39] bundfussr opened #1427 "Bug: The FAQ vignette was removed accidentally"
### What happened?

The FAQ vignette was removed accidentally. It should be restored.

### Session Information

_No response_

### Reproducible Example

_No response_

[2022-09-09 14:02] pk505289 opened #1429 "General Issue: Hyperlinks are not working"
### Background Information

In this URL 'https://pharmaverse.github.io/admiral/articles/contribution_model.html' none of the Hyperlinks are working. For Example Under Section Basics --> If i click the '[programming' strategy]' . The page is not redirecting instead i'm getting a message as 'PAGE NOT FOUND'. Similar issues for the other pages.

### Definition of Done

_No response_

[2022-09-09 23:52] rjzollinger commented on #788
I apologize for having left this for so long. Does this issue still need to be addressed? The branch I created seems to have been pruned due to inactivity.

[2022-09-11 17:26] thomas-neitmann commented on #788
We'd still very much value your contribution @rjzollinger! However, please note that everything realted to assertions has been moved to [{admiraldev}](https://github.com/pharmaverse/admiraldev). So you would need to create a new branch over there.

[2022-09-11 19:36] bms63 commented on #1423
I think pointing to e2e examples is the best way forward to minimize work and dependencies like you all suggested.   @w316liu do you mind making this change to our vignettes?

[2022-09-12 12:07] bms63 opened #1431 "Documentation: DESCRIPTION file should be: Clinical Data Interchange Standards Consortium"
just noted we got the ordering wrong - it should be: Clinical Data Interchange Standards Consortium

_Originally posted by @rossfarrugia in https://github.com/pharmaverse/admiralonco/pull/156#discussion_r968138500_

[2022-09-12 12:08] bms63 commented on #1431
![image](https://user-images.githubusercontent.com/10111024/189649444-46a015f6-03e4-4169-a521-20714bbe1b5e.png)

[2022-09-12 16:31] esimms999-gsk commented on #1381
I spoke with Ellis Hughes at GSK about this. His take on it:

_In your package code, you should be using the importFrom tags for your functions to identify
which functions from your various libraries to make available internally. However, the functions
needed for testing may not be the same as you need for making your package work, which is why you
put them in the “suggests” of your DESCRIPTION fi

[2022-09-12 17:25] bms63 commented on #1381
Many thanks Eric for chasing this.

# Tests

Welll...it is pretty explicit on not using library calls in tests!  Good to know

![image](https://user-images.githubusercontent.com/10111024/189717678-c829c499-4cfd-4230-8359-d073d798c6d5.png)

So if we have the packages in depends/suggest (i.e. tibble and admiral.test) then our tests should just run with no issues?  I just tried this out and it works

[2022-09-12 17:26] bms63 commented on #1381
Any thoughts @pharmaverse/admiral on testing design?

[2022-09-13 13:19] esimms999-gsk commented on #1381
@bms63 Thanks for digging up the documentation.

A nice explanation, with an example, from Christina Fillmore at GSK:

_You don’t want to make library calls in your tests cause it will change the environment the tests are run in. So lets say you just used dplyr::mutate() in the package and you never put in an import statement. Then in your tests you called library(dplyr). There wouldn’t be any iss

[2022-09-13 15:14] bms63 commented on #1396
Shall we transfer this to admiraldev?  This will impact several others functions and we should document when we should be doing this.

[2022-09-13 15:15] bundfussr commented on #1402
We should keep this issue because `derive_vars_merged()` is in admiral. If we have function in admiraldev with such default values, we should create an additional ticket there.

[2022-09-13 15:19] bundfussr commented on #1396
We could move the roxygen2 extension part to admiraldev. But we still need this ticket for updating the admiral functions.

[2022-09-13 15:30] bms63 commented on #1252
Umm... @thomas-neitmann is this still an open issue.  I see you closed it on July 11, but I reopened.  It seems like ancient times!

[2022-09-13 15:49] bms63 opened #1434 "General Issue: Badges need to be updated with replacement badges for admiralci workflows"
### Background Information

Badges need to be updated with replacement badges for admiralci workflows

### Definition of Done

Badges updated

[2022-09-14 07:58] sophie-gem commented on #1317
Firstly, apologies it has taken me so long to find time to contribute to admiral again!

I just wanted to confirm, as the entire function is changing (so following the function depreciation method) do I need to follow the parameter depreciation function for `date_var` which is changing to `order` or not? (I am thinking not, but just wanted to check)

[2022-09-14 08:29] thomas-neitmann commented on #1317
That's an interesting case we didn't have before, i.e. both function name and one parameter name changing. My gut feeling is that we should properly deprecate both the old function and the old parameter.

[2022-09-14 08:40] sophie-gem commented on #1317
Right ok, thanks @thomas-neitmann, I will give that a go.

[2022-09-14 08:45] thomas-neitmann commented on #1317
Awesome, thanks a lot @sophie-gem!

[2022-09-14 08:56] sophie-gem commented on #1317
Do we remove deprecated parameter descriptions? Or do we just add in the ```*Deprecated*, please use `order` instead.``` above the initial description?

[2022-09-14 08:57] thomas-neitmann commented on #1317
I think we remove the original description.

[2022-09-14 09:11] sophie-gem commented on #1317
The programming vignette states that we remove the `@family` roxygen tag from the documentation however in other deprecated function programs they've set the `@family` roxygen tag to `deprecated`. Which should I follow?

[2022-09-14 09:13] sophie-gem commented on #1317
Also, am I correct in thinking that the next release will be version `0.9.0`?

[2022-09-14 10:27] thomas-neitmann commented on #1317
The latter. And could you open an issue to fix this discrepancy?

That's right!

[2022-09-14 12:16] bms63 opened #1436 "Documentation: Update DESCRIPTION and Changelog for version 0.9.0 release"
### Please select a category the issue is focused on?

_No response_

### Let us know where something needs a refresh or put your idea here!

Nice to set this up early.

Upversion the description and put in the changelog structure needed for 0.9.0

[2022-09-14 14:23] bundfussr opened #1437 "Feature Request: Update assertion calls due to unifying default values"
### Feature Idea

Calls of `assert_s3_class()` and `assert_list_of()` need to be updated due to the change of the default value of the `optional` argument (see https://github.com/pharmaverse/admiraldev/issues/87).

### Relevant Input

_No response_

### Relevant Output

_No response_

### Reproducible Example/Pseudo Code

_No response_

[2022-09-14 16:28] bms63 opened #1438 "Documentation: Update admiral hex to be transparent"
### Please select a category the issue is focused on?

Other

### Let us know where something needs a refresh or put your idea here!

The current logo for admiral-core is not transparent.  This is reflected in the tab icon and is noticeably different when comparing different admiral website together.

![image](https://user-images.githubusercontent.com/10111024/190210033-2164657c-866b-41f7-9a4f-451

[2022-09-15 08:03] sophie-gem commented on #1317
Thinking about it, don't we need the `date_var` argument as well as the `order` argument, as they need to indicate what `ADT` is set to for the new observations?

See block of code below:
[code]

[2022-09-15 10:00] thomas-neitmann commented on #1317
@bundfussr @bms63 What do you think?

[2022-09-15 10:26] bundfussr commented on #1317
If we want to keep `ADT` hard-coded, we need the `date_var` argument.

However, I am not sure if that's the right way for a general admiral function. The function was implemented for oncology, where it is fine to use `ADT` (and not `ADTM`). Maybe we should remove `ADT = !!date_var` and use `set_values_to` to define variables like `ADT` or `ADTM`?

[2022-09-15 10:33] sophie-gem commented on #1317
I think your second suggestion is the best way around this - thanks @bundfussr! I'll insert some additional documentation to make it clear that programmers are required to provide what is needed as the date for the new rows.

[2022-09-15 20:11] #729 closed

[2022-09-20 06:36] thomas-neitmann opened #1443 "CRAN submission failed due to broken links"
URL: https://pharmaverse.github.io/admiral/articles/faq.html
      From: README.md
            NEWS.md
      Status: 404
      Message: Not Found
    URL: https://pharmaverse.github.io/admiral/articles/faq.html#why-do-we-use-a-certain-r-version-and-package-versions-for-development
      From: README.md
      Status: 404
      Message: Not Found

@bms63 The FAQ has been re-added in your recent PR b

[2022-09-20 07:27] bundfussr commented on #1443
The links caused similar issues for the admiralonco release. I think we need to find a better way of creating links. Ideally we should use relative links for targets within the project. But this may not work with the R help pages.

@bms63 , @thomas-neitmann , what do you think? Should we create an issue for finding a better solution?

[2022-09-20 07:55] thomas-neitmann commented on #1443
I'm always in favor of finding better solutions 👍

[2022-09-20 08:00] thomas-neitmann commented on #1443
For the moment I'd suggest we remove these links and re-submit the package.

[2022-09-20 09:55] bundfussr opened #1444 "General Issue: Find better solution for internal links in documentation"
### Background Information

Absolute links in the documentation causes issues when submitting admiral packages to CRAN (see https://github.com/pharmaverse/admiral/issues/1443)
We want to find a better way of creating internal links. Ideally we should use relative links for targets within the project. But this may not work with the R help pages.

### Definition of Done

- [ ] Create proposal of how

[2022-09-20 12:08] bms63 commented on #1443
Can we just merge in the faqs into the main branch so the site is redeployed with them?

[2022-09-20 13:44] #1443 closed

[2022-09-20 15:44] bundfussr opened #1448 "Feature Request: Implement `derive_vars_joined()`"
### Feature Idea

Implement a function to add a variable like the lowest value of AVAL before the current observation (NADIR in oncology) or the lowest grade before treatment start from FAAE to each AE.

[code]

### Flow

1. `dataset_add` is restricted by `filter_add`.
2. `dataset` and the restricted `dataset_add` are joined by `by_vars` (from `dataset_add` only `by_vars`, `new_vars`, and `join_va

[2022-09-20 16:06] rossfarrugia commented on #1448
@HinalPat FYI for ADTR for onco - this one will come in useful!

[2022-09-20 16:09] rossfarrugia commented on #1438
I think someone just needs to run build_favicons and commit all the updated files it delivers here, as the original logo was fixed via https://github.com/pharmaverse/admiral/pull/1143

[2022-09-20 16:13] rossfarrugia commented on #1424
Happy to take this one on - was thinking of doing one for ADSL as it has some complexities around source objects and partial date imputations that are worth calling out.

One maybe out of the box idea though... what if i show the admiralroche template here instead and talk through as an example of how a company has done the final bit of effort to extend admiral to their company-specific needs? i w

[2022-09-20 18:10] esimms999-gsk commented on #1424
@rossfarrugia I think it makes sense to show this for one or two _simple_ company-specific items.

[2022-09-20 18:13] bms63 commented on #1424
Sounds awesome!

[2022-09-21 05:46] thomas-neitmann commented on #1448
The name of the function is quite confusing. The difference between `derive_vars_merged()` and `derive_vars_joined()` is not clear at all. Sounds like the exact same thing...

[2022-09-21 07:43] rossfarrugia commented on #1448
yeh agree - why not call it `derive_vars_nadir()`? that's not solely a term used in onco.

[2022-09-21 09:20] bundfussr commented on #1448
I agree that the name is not very descriptive. If you have a better one, please let me know.

The difference between `derive_vars_merged()` and `derive_vars_joined()` is that the former one selects the relevant observations from `dataset_add` first and then adds them to the input dataset while the later one joins `dataset_add` and the input dataset first and then selects the relevant observations.

[2022-09-21 10:19] rossfarrugia commented on #1424
thanks both - will see what the others think and if they agree will pick this up in the next couple of weeks. working on something similar for Roche training anyway

[2022-09-21 10:36] millerg23 commented on #1424
Sounds good @rossfarrugia , as already been said would keep the company-specific ones fairly simple, ie. updating a source object.

[2022-09-21 10:46] bundfussr commented on #1424
@rossfarrugia makes sense.

I think the issue with the source objects is that their benefit is not obvious from the template scripts. If you just look at one script, it looks overcomplicated. You have to look at several scripts (of the same dataset) to see why it makes sense.

[2022-09-21 10:54] bundfussr commented on #1448
I just got another use case from an early explorer team:
[code]

[2022-09-21 12:03] rossfarrugia commented on #1424
agree @bundfussr i was thinking of showing an example of the flexibility this gives, but won't go too deep here. it's probably an area users won't like at first but will grow to appreciate over time.

[2022-09-21 12:09] bms63 commented on #1448
What about `derive_vars_lash` .  :) That way we have a nautical themed function in `admiral`.

![image](https://user-images.githubusercontent.com/10111024/191499901-5e895658-af03-45a0-874b-0979d88752a3.png)

[2022-09-21 14:26] PoojaKumari05 opened #1450 "General Issue: Remove `assertions.R` from {admiral}"
### Background Information

Once [(https://github.com/pharmaverse/admiraldev/issues/62)](url) is merged,  `assertions.R` from {admiral} should be removed.

### Definition of Done

`assertions.R` from {admiral} is removed.

[2022-09-21 15:05] bms63 opened #1451 "General Issue: Increase test coverage for `derive_param_expsure.R`"
### Background Information

Increase test coverage for `derive_param_exposure.R`

This section of the function does not have any test coverage.  You can get this report by running `devtools::test_coverage()`

![image](https://user-images.githubusercontent.com/10111024/191540280-22c36136-6aa4-4536-8b99-67f8d7b8bdd0.png)

### Definition of Done

A new test is written in `test-derive_param_expsure.R`

[2022-09-21 16:03] #1419 closed

[2022-09-21 16:03] #1427 closed

[2022-09-21 16:03] #1429 closed

[2022-09-21 16:03] #1431 closed

[2022-09-21 16:03] #1434 closed

[2022-09-21 16:03] #1436 closed

[2022-09-21 18:24] bms63 commented on #1448
Ohhh...how about `derive_vars_conjoin()`.

https://ell.stackexchange.com/questions/46282/conjoin-vs-join

@pharmaverse/admiral  Anyone want to help name a function!?!

[2022-09-22 07:56] rossfarrugia commented on #1448
I'm not sure any naming would truly easily explain Stefan's explanation to a new user without them having to delve deeper - i even had to read it a couple of times to understand, so my main 2 cents on this are that whatever we name it i definitely think it has to be well explained as part of the new merge functions vignette: https://github.com/pharmaverse/admiral/issues/734. I would include Stefan

[2022-09-22 14:09] rossfarrugia commented on #1317
@sophie-gem firstly, thanks for picking this up! we wanted to ask if you think this one will be ok to update in the next month or so? reason being with this update we found we could deprecate a function in {admiralonco} so would be good to have both updates in the next release in Dec. tagging @sgorm123 as FYI as he's on that respective onco issue.

[2022-09-22 14:13] sophie-gem commented on #1317
Hi @rossfarrugia @sgorm123 , yes of course - I plan on finishing off this issue in the next couple of weeks. Will that work for you?

[2022-09-22 14:16] rossfarrugia commented on #1317
Absolutely, thanks! 🌟

[2022-09-22 14:33] bundfussr opened #1453 "Feature Request: Implement `derive_var_relative_flag`"
### Feature Idea

The `derive_var_relative_flag()` function should have the same arguments as `filter_relative()` and additionally a `new_var` argument. The function should flag the observations which would we returned by `filter_relative()`.

### Relevant Input

_No response_

### Relevant Output

_No response_

### Reproducible Example/Pseudo Code

Flag observations up to first PD for each patie

[2022-09-22 15:28] thomas-neitmann opened #1454 "Documentation: Installation instruction for development version outdated"
### Please select a category the issue is focused on?

Other

### Let us know where something needs a refresh or put your idea here!

The instructions are missing a call to install {admiraldev}.

[2022-09-23 08:32] rossfarrugia commented on #1453
@bundfussr how would we use this to achieve ANL02FL as both up to/incl PD **& on/after randomization date**? As there's no `filter` argument I guess we could add the `ADT>=RANDDT` anywhere here?

[2022-09-23 09:19] bundfussr commented on #1453
@rossfarrugia , if you want to exclude observations before randomization from flagging, you can use `restrict_derivation()`.

[2022-09-23 12:06] bms63 commented on #1438
@thomas-neitmann do you mind uploading to box into the hex-stickers folder?

[2022-09-23 12:29] thomas-neitmann commented on #1438
Done 👍

[2022-09-23 15:03] bms63 opened #1457 "Documentation: Deprecation Explanation in Reference Tab"
### Please select a category the issue is focused on?

Function Documentation

### Let us know where something needs a refresh or put your idea here!

I think some text should go below the Deprecation Topic that explains the process and/or links out to how we deprecate functions.

![image](https://user-images.githubusercontent.com/10111024/191991445-7ec7b7dc-ca6b-4c49-b293-db701aa9dda0.png)

@phar

[2022-09-23 15:09] bms63 opened #1458 "General Issue: Increase test coverage for `derive_param_exist_flag.R`"
### Background Information

We need to increase test coverage for our functions. The below screenshot has the function and gap in test coverage that we need to write additional unit tests for derive_param_exist_flag.

![image](https://user-images.githubusercontent.com/10111024/191992972-df6f49ed-c5b8-447a-b32f-0467c4cf6345.png)

### Definition of Done

New tests written that covers the red gap are

[2022-09-23 15:11] bms63 opened #1459 "General Issue: Increase Test Coverage for `user_helpers.R`"
### Background Information

We need to increase test coverage for our functions. The below screenshot has the function and gap in test coverage that we need to write additional unit tests `user_helpers.R`.

![image](https://user-images.githubusercontent.com/10111024/191993303-ee6bfc23-4a3c-42f9-85e5-7d980bfd2484.png)

### Definition of Done

New tests written that covers the red gap area for user_

[2022-09-23 15:16] bms63 opened #1460 "General Issue: Increase Test Coverage for `derived_merged.R`"
### Background Information

We need to increase test coverage for our functions. The below screenshot has the function and gap in test coverage that we need to write additional unit tests for `derived_merged.R`.  Additional gaps in coverage not shown

![image](https://user-images.githubusercontent.com/10111024/191994190-d23ac334-34e8-49d7-9be7-7d1e9a7a89db.png)

### Definition of Done

New tests w

[2022-09-23 15:18] bms63 opened #1461 "General Issue: Increase Test coverage for `create_single_dose_dataset.R`"
### Background Information

We need to increase test coverage for our functions. The below screenshot has the function and gap in test coverage that we need to write additional unit tests for `create_single_dose_dataset.R`.

![image](https://user-images.githubusercontent.com/10111024/191995181-31a2c7df-69f8-49be-99f3-ff96006ddd2b.png)

### Definition of Done

New tests written that covers the red

[2022-09-23 15:22] bms63 opened #1462 "General Issue: Increase test coverage for `derive_param_tte.R`"
### Background Information

We need to increase test coverage for our functions. The below screenshot has the function and gap in test coverage that we need to write additional unit tests for `derive_param_tte.R`.

![image](https://user-images.githubusercontent.com/10111024/191995780-328e792f-5b50-449b-810c-f7a3b51aadc0.png)

### Definition of Done

New tests written that covers the red gap area f

[2022-09-23 15:24] bms63 opened #1463 "General Issue: Increase test coverage for `call_derivation.R`"
### Background Information

We need to increase test coverage for our functions. The below screenshot has the function and gap in test coverage that we need to write additional unit tests for call_derivation.R.

![image](https://user-images.githubusercontent.com/10111024/191996323-bdcc3a17-ac00-4f09-8ad4-004d5b311b82.png)

### Definition of Done

New tests written that covers the red gap area for

[2022-09-23 15:26] bms63 opened #1464 "General Issue: Increase test coverage for `derive_vars_aage.R`"
### Background Information

We need to increase test coverage for our functions. The below screenshot has the function and gap in test coverage that we need to write additional unit tests derive_vars_aage.  Two functions in the file are deprecated and do not need tests.

![image](https://user-images.githubusercontent.com/10111024/191996642-f6b49261-0cb0-4322-afd2-da2562af482e.png)

### Definition

[2022-09-23 15:28] bms63 opened #1465 "General Issue: Increase Test Coverage for `derive_param_exposure.R`"
### Background Information

We need to increase test coverage for our functions. The below screenshot has the function and gap in test coverage that we need to write additional unit tests derive_param_exposure.

![image](https://user-images.githubusercontent.com/10111024/191997202-4981f1f2-e4d7-4acc-a7b5-88fd26840fbf.png)

### Definition of Done

New tests written that covers the red gap area for

[2022-09-23 17:54] bms63 opened #1466 "General Issue: Increase Test Coverage for `duplicates.R`"
### Background Information

We need to increase test coverage for our functions. The below screenshot has the function and gap in test coverage that we need to write additional unit tests for  `duplicates.R`

![image](https://user-images.githubusercontent.com/10111024/192027947-75e86341-f1c3-417b-a44f-a945c6b89e2c.png)

### Definition of Done

New tests written that covers the red gap area for dup

[2022-09-26 10:29] thomas-neitmann commented on #1456
That's 2 separate issues for me. First create the new function in {admiraldev} and then make the update in {admiral}.

[2022-09-26 14:06] rossfarrugia commented on #734
Hi @yohannomnes @sgorm123 how's it going with this vignette? Let us know when you have a first draft you're happy with. The reason i message is that we've been discussing in the core team maybe extending the purpose of this vignette to help findability of some of our other more generic functions, as it's not always easy in admiral to know which function is the right tool for the job when you're cr

[2022-09-26 14:15] thomas-neitmann commented on #734
@rossfarrugia First draft is available in PR https://github.com/pharmaverse/admiral/pull/1407.

[2022-09-26 14:19] rossfarrugia commented on #734
awesome - i missed that! @pharmaverse/admiral if anyone wants to add their name and help extend this vignette as we've been discussing then please do, otherwise i could take this on in a couple of weeks time when get time.

[2022-09-27 04:13] esimms999-gsk commented on #1381
Modified ~12 files to replace library(packagename) with packagename::function(). These are in PR.

Two left to do, both with library(admiral.test):
test-call_derivation.R
test-deprecation.R (also has library(rlang) and library(tribble). Note that tests are currently failing.

[2022-09-27 07:24] yohannomnes commented on #734
Hi @rossfarrugia, the vignette is ready for your review. Please let us know if you need anything else. Best, Yohann

[2022-09-27 07:30] rossfarrugia commented on #734
Appreciate your support Yohann! I'll try and get on to this next week,

[2022-09-27 12:23] #1248 closed

[2022-09-27 12:28] bms63 commented on #1221
https://github.com/marketplace/actions/assign-to-one-project

[2022-09-28 07:47] thomas-neitmann opened #1469 "URGENT: Need to update admiral to avoid getting removed from CRAN"
I received this mail today:

Here's the part that throws an error:

[code]

[2022-09-28 12:04] bms63 commented on #1469
So they don't like these bullet points?
![image](https://user-images.githubusercontent.com/10111024/192774284-f6aa392d-5126-4a4d-80b9-823dd3ea4096.png)

[2022-09-28 12:15] bms63 commented on #1469
Simplest solution is we just remove the bullet points

![image](https://user-images.githubusercontent.com/10111024/192776109-eecedadc-376f-4a1f-930c-503b782e17e7.png)

[2022-09-28 12:23] thomas-neitmann commented on #1469
At least with that specific encoding it leads to strange errors...

Let's at least add a `-` instead of the bullet point.

[2022-09-28 12:36] bms63 opened #1471 "General Issue: Remove tests for `derive_var_agegr_fda` and `derive_var_agegrp_ema`"
### Background Information

These tests for the above functions were not removed and are causing small issues in the tests checking.

![image](https://user-images.githubusercontent.com/10111024/192609416-305702c6-1e9e-4703-a4ad-af4bfefa4f95.png)

Functions being deprecated should have their tests removed.

![image](https://user-images.githubusercontent.com/10111024/192779804-0f7e4837-8ce1-4bcd-80c

[2022-09-28 12:50] bms63 commented on #1469
Umm....so the test has the actual bullet point in it rather than the code that makes it
![image](https://user-images.githubusercontent.com/10111024/192782823-7085d664-ae6f-4964-9cbc-1087f921de37.png)

[2022-09-28 13:04] thomas-neitmann commented on #1469
Then I'd try to use the code instead.

[2022-09-28 13:35] thomas-neitmann opened #1473 "Malformatted error message thrown by `derive_vars_merged()`"
As you can see in the error message below there's a space missing in front and after the the list of variables.

![image](https://user-images.githubusercontent.com/11788080/192791319-302f180c-80da-4a1d-a9de-54f03df07731.png)

[2022-09-28 13:51] thomas-neitmann commented on #1473
@huangr25 @nkr821 @AniaGolab Either of you interested in picking this up as a first issue?

[2022-09-28 13:53] thomas-neitmann commented on #1471
@huangr25 @nkr821 @AniaGolab Either of you interested in picking this up as a first issue?

[2022-09-28 14:03] AniaGolab commented on #1471
sure @thomas-neitmann  I can take it :)

[2022-09-28 14:09] thomas-neitmann commented on #1471
Wesone, thanks a lot @AniaGolab!

[2022-09-28 15:24] bms63 commented on #1469
@cicdguy So we just got dinged from CRAN for this locale issue.  Is there a way for us to check if the package installs with `Linux using LANG=en_US.iso88591 (see the debian-clang results)`?   Thinking this might go along with our Windows and Mac release check once we get those set up.

[2022-09-28 15:48] cicdguy commented on #1469
To really get close to CRAN-like testing is to emulate tests on all their compute systems: https://cran.r-project.org/web/checks/check_flavors.html

The first one on the list, which is where the error occurs, is a Debian 11 instance with the locale set to `en_US.iso88591` (see the `LC_TYPE` config).

So not only would you need a Debian 11 instance, but you'll also need to install the `en_US` langu

[2022-09-28 15:51] cicdguy commented on #1469
Bottomline - let the CRAN maintainers do their thing with their machines. This feedback loop from CRAN is imminent as they have compute systems that aren't necessarily cheap, nor easy to acquire.

[2022-09-28 16:22] esimms999-gsk commented on #1469
@bms63 Wow! Gotta love that list!

So ... is there a way to do a "draft" trigger of all of those CRAN tests and get the feedback? Kind of like we can do a draft PR to trigger our own GitHub tests without submitting the PR?

[2022-09-28 16:23] cicdguy commented on #1469
Good question. There should be a way to do this for release candidates, right @thomas-neitmann?

[2022-09-28 17:05] cicdguy commented on #1469
Ok, so this could mean that CRAN is changing something on their side, system-wise, and it could lead to some issues for packages on the new/updated system?

[2022-09-28 17:21] esimms999-gsk commented on #1469
I mentioned my concerns to @rossfarrugia about CRAN having the ability to de-platform admiral to enforce fixes which may not fit our support schedule and available resources. He thinks it may not be a problem due to companies storing admiral locally vs on CRAN.

It still makes me nervous. What if CRAN sends out a similar email on Dec 5 with a cutoff date of Dec 19 for fixes to be made? And, due to

[2022-09-28 17:35] cicdguy commented on #1469
They should be able to install directly from GitHub (since the `main` branch has the current stable version) if it gets thrown out of CRAN.

[2022-09-28 17:43] bundfussr commented on #1469
There is definitely a risk. Especially because there is only one maintainer. If he is on vacation when the CRAN sends the e-mail, nobody notice the issue until the the package is archived. Unfortunately, CRAN requires a single maintainer.

However, as Dinakar pointed out, users can install the package from other sources.

Maybe we should extend the installation instructions to "The package is avai

[2022-09-28 18:09] bms63 commented on #1469
GSK would not have this issue of not being able to use `admiral` as we have RStudio Package Managers that has a snapshots of the packages taken almost everyday.

I think `remotes::install_github("pharmaverse/admiral", ref = "main")` is a nice suggestion if folks can access CRAN for some reason.  However, I feel like if a person can't access CRAN then they probably can't access GitHub either.

[2022-09-29 07:42] rossfarrugia commented on #1469
I think most pharma companies will have similar setups over time Ben so at worst this might be a minor inconvenience for some individual users who have to install from github for a time instead of CRAN. Not much else we can do besides adding the github installation instructions to README as Stefan suggested, and then when we do get such hotfixes requested we prioritise them. Every package on CRAN

[2022-09-29 08:13] thomas-neitmann commented on #1469
I think we should **not** exagerate the impact of this problem. As mentioned already even in case the package would get kicked off CRAN (which is **very** unlikely given how many people are involved with this project) there's more than one alternative way to install the package. I agree that we should mention these alternative installation methods in the README.

The only real issue I see is that

[2022-09-29 08:24] bundfussr commented on #1469
@thomas-neitmann , I like the idea of the github action. Could we add it to admiralci? Then it is available for all admiral packages.

[2022-09-29 08:32] thomas-neitmann commented on #1469
@bundfussr Yes, this should be part of admiralci!

The code to get this working is suprisingly simple.

[code]

@cicdguy We'd just need a way to dynamically populate the `pkg` variable inside the workflow and add some magic to open an issue if an error is thrown.

[2022-09-29 09:31] bundfussr opened #1477 "Feature Request: Implement `create_period_dataset()`"
### Feature Idea

Implement
[code]
- `dataset` expects an ADSL dataset
- `new_vars` expects a named list of variables, e.g., `new_vars = vars(APERSDT = APxxSDT, APEREDT = APxxEDT, TRTA = TRTxxA)` or `new_vars = vars(PHSDTM = PHwSDTM, PHEDTM = PHwEDTM, APHASE = APHASEw)`

The function creates a dataset with one observation per subject and phase/period/subperiod and the variables specified by `new_v

[2022-09-29 09:34] bundfussr commented on #1477
The last example for `derive_vars_joined()` should be updated such that it uses the new function.

[2022-09-29 09:42] bundfussr opened #1478 "Documentation: Create a new vignette on visit and phase/period/subperiod assignment"
### Please select a category the issue is focused on?

User Guides

### Let us know where something needs a refresh or put your idea here!

- [x] A new vignette on visit and phase/period/subperiod assignment should be created. It should show how variables like `AVISIT`, `AVISITN`, `AWLO`, `AWHI`, `APHASE`, `APERIOD`, `ASPER`, `TRTA`, `TRTP`, ... can be derived. The functions `derive_vars_joined()`

[2022-09-29 10:01] bundfussr opened #1479 "Feature Request: Implement `consolidate_lookup_tables()`"
### Feature Idea

Implement
[code]
- `datasets` expects a named list of dataset, e.g., `datasets = list(company = global_adlb_params, study = adlb_params)`
- `key_vars` expects a list of variables, e.g., `key_vars = vars(LBTESTCD, LBSPEC, LBMETHOD)`

The function returns a dataset with one observation per key occurirng in any of the specified dataset. If a key occurs in more than one dataset, the

[2022-09-29 12:23] bms63 commented on #1477
I see we have `create` and `consolidate` as the start of the function names for these new features.  Shall we consider a new class of functions that start with these verbs and update the dev document.

Or  use `derive`.  I sort of like not having `derive` in everything, but then what is the difference between `create` and `derive`?

Sorry just musing a bit.  @pharmaverse/admiral  Any thoughts?

ht

[2022-09-29 12:26] bundfussr commented on #1477
The `derive_*()` functions add variables or observations to the input dataset. The `create_*()` or `consolidate_*()` functions create a dataset without keeping the source observations.

[2022-09-29 13:07] bms63 commented on #1477
| Function name prefix                         | Description                                                                                         |
|----------------------------------------------|-----------------------------------------------------------------------------------------------------|
| `assert_` / `warn_` / `is_`                  | Functions that check other functions’ inputs

[2022-09-29 13:26] bundfussr commented on #1477
I would remove the `derive_merge_` prefix because we have `derive_vars_merged()` and `derive_var_merge_*()` and not all functions which match to the description have the suffix, e.g., `derive_var_base()`. Otherwise we would need much more explanation to avoid confusion.

[2022-09-29 13:29] bms63 commented on #1477
Hey Stefan I made a new issue for this so not to derail your feature request

[2022-09-29 23:29] AniaGolab commented on #1471
Hi @thomas-neitmann - should I close this issue ? thank you!

[2022-09-30 09:46] rossfarrugia commented on #734
FYI @yohannomnes - i'm going to be picking this up on Monday. hope ok if i take your branch and make further commits to extend the scope of your vignette so far, and then will share the PR with some core dev team members to review all in one go.

[2022-10-03 08:08] yohannomnes commented on #734
Yes sure, thanks Ross.

[2022-10-04 17:11] thomas-neitmann opened #1486 "Urgent: {admiral} fails on R-devel"
After recent updates in R-devel the following test cases fail:

[code]

[2022-10-04 19:43] bms63 commented on #1465
This appears to have been fixed in another PR.  Going to close as not relevant anymore

[2022-10-04 19:43] #1465 closed

[2022-10-05 12:28] bms63 opened #1490 "General Issue: Update news for removing 3.6 workflow"
### Background Information

We have removed the 3.6 check in favor of the 3 most recent versions of R. (4.0, 4.1 and 4.2)

### Definition of Done

Update to news to include this for version 9.

[2022-10-05 13:32] bms63 commented on #1454
@thomas-neitmann  lets include this in the hotfix

[2022-10-05 13:36] thomas-neitmann commented on #1454
Sounds good 👍

[2022-10-07 07:57] rossfarrugia opened #1494 "Documentation: OCCDS vignette update TRTEMFL section"
### Please select a category the issue is focused on?

User Guides

### Let us know where something needs a refresh or put your idea here!

We now have `derive_var_trtemfl()` function available in `devel` so we should use this in the OCCDS vignette that shows an ADAE example: https://pharmaverse.github.io/admiral/articles/occds.html#trtflag

FYI @bundfussr

[2022-10-07 08:20] rossfarrugia opened #1495 "Website - option to switch to previous releases"
In a future release, let's add the option in the site to be able to view the site pages from previous releases via multi-version docs, which as discussed at the core dev team we feel will be even more useful in practice than enabling to switch between devel/main. Will be relevant for package exts too.

FYI @thomas-neitmann @bms63 and @cicdguy - tracking here so discussion not missed.

[2022-10-07 09:47] rossfarrugia opened #1496 "Documentation: Update baseline function examples"
### Please select a category the issue is focused on?

Function Documentation

### Let us know where something needs a refresh or put your idea here!

See https://pharmaverse.github.io/admiral/reference/derive_var_base.html bottom example:

![image](https://user-images.githubusercontent.com/82581364/194525023-1dbfe800-1a25-46ae-b5d1-2e3e4df58c1c.png)

If we add `ANRIND` to the test data tibble the

[2022-10-07 09:48] bundfussr commented on #1494
@rossfarrugia , I think I updated the vignette and the template in https://github.com/pharmaverse/admiral/pull/1445. Or did I miss something?

[2022-10-07 09:57] rossfarrugia commented on #1494
yes you did sorry - i was looking in the wrong branch 👍

[2022-10-07 09:57] #1494 closed

[2022-10-07 10:31] bundfussr commented on #1495
@cicdguy , did you find a solution to control the order of the entries in the "Versions" menu? For example in admiralonco we have "pre-release", "devel", "main" but I would prefer "main", "pre-release", "devel".

[2022-10-07 10:37] bundfussr commented on #1495
@rossfarrugia , @thomas-neitmann , @bms63 , we should update the release_strategy vignette. It should be added when and how a new version is added. I would not add a version for each hotfix release but just the latest, i.e., 0.8.3, 0.7.1, 0.6.3, 0.5.0, ...

[2022-10-07 10:38] rossfarrugia commented on #1495
agree @bundfussr on the release strategy and yes @cicdguy and his team added an option for ordering! glad this is all on the horizon - just creating this issue to remind and to mention that we discussed most value here being for releases, as we don't anticipate users to often be looking at devel once admiral becomes more stable.

[2022-10-07 12:09] bms63 commented on #1495
So I will close the similar [issue](https://github.com/pharmaverse/admiralci/issues/220 on admiralci.  I think the release strategy updates will live in `admiraldev` and we will have a separate issue to enable multi-versions for admiral?

[2022-10-07 12:10] bms63 commented on #1495
Agree on only major releases should be showcased

[2022-10-07 12:20] rossfarrugia commented on #1495
thanks @bms63, agree - sorry i missed that this got added there, still getting used to the new project board and finding issues across the repos

[2022-10-08 15:42] bms63 opened #1499 "Bug: Remove deprecated function from adsl template"
### What happened?

Still using fda age group function when it has been deprecated

![image](https://user-images.githubusercontent.com/10111024/194715729-8abcf9af-1e38-4785-ab14-07cf1b3246f0.png)

### Session Information

R version 4.2.1 (2022-06-23)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 20.04.5 LTS

Matrix products: default
BLAS:   /usr/lib/x86_64-linux-gnu/atlas/libblas.so

[2022-10-10 06:40] thomas-neitmann opened #1500 "Urgent: Unit test fail after recent {lifecycle} update"
Following an upgrade of the {lifecycle} package on 2022-10-07 some of our unit tests checking deprecated functions fail.

You can reproduce this locally by installing the latest version of {lifecycle} from CRAN using `install.packages("lifecycle")`, restart your R session and then run `devtools::test()`.

As the errors below suggest the formatting of the error message we're checking against seems

[2022-10-10 07:57] thomas-neitmann opened #1501 "Save datasets in templates as `.rds` files"
Currently we save the datasets generated within our templates as `.rda` files. This has histroical reasons: we used to run the templates to generate the ADaM datasets that used to be part of {admiral}. However, that's no longer the case. `.rda` files have the disadvantage that they write their contents directly to the global environment without the user having control over the name of the create v

[2022-10-10 08:36] rossfarrugia commented on #1424
Now done and shared on youtube: https://www.youtube.com/watch?v=eKLV2tdwXU8

[2022-10-10 08:36] #1424 closed

[2022-10-10 19:46] bms63 commented on #1454
Didn't close with newest release.   Manually closing

[2022-10-10 19:46] #1454 closed

[2022-10-10 19:46] bms63 commented on #1469
This is fixed with latest release - although we have more headaches to chase...

[2022-10-10 19:46] #1469 closed

[2022-10-10 19:47] bms63 commented on #1486
Fixed with latest release.

[2022-10-10 19:47] #1486 closed

[2022-10-10 20:04] bms63 commented on #1500
Should we bump the lockfile up for `lifecylce` to 1.0.3 as well?

[2022-10-11 07:06] neetusan commented on #1198
Yes, Ben. We are good so far.

On Mon, Jun 13, 2022 at 2:48 PM Ben Straub ***@***.***> wrote:

--
Warm regards,
Neetu

[2022-10-11 07:38] thomas-neitmann commented on #1500
I don't think that's necessary.

[2022-10-11 16:46] bms63 commented on #1460
Nice Catch @DeclanHodges.  I think we can ignore writing tests for the functions on the path of deprecation.  Please write a test for `derive_vars_merged_lookup` and  `get_not_mapped `

[2022-10-13 08:13] DeclanHodges commented on #1460
Thanks Ben, I'll start working on unit tests for those.

[2022-10-13 10:49] bundfussr opened #1510 "General Issue: Find Solution for Links in Documentation"
### Background Information

There are several issues regarding links in the admiral documentation:

- Links to vignettes in function documentation do not work when viewed in RStudio help tab consider for example the links in the details section of `?derive_vars_query`
- We can not link to new vignettes on the NEWS page (using absolute links to the not yet release documentation) because our link ch

[2022-10-13 21:07] zdz2101 commented on #1496
![image](https://user-images.githubusercontent.com/43018762/195709347-1c4f7d50-36d1-4c54-a999-71f6c0a2f48d.png)
![image](https://user-images.githubusercontent.com/43018762/195709417-1304be27-dead-4982-8e09-24578619cca2.png)
@rossfarrugia   It all still fits including ANRIND and STUDYID, should it still be removed? Also, I tried to make the ANRIND values be intuitive with low-high cutoffs of 10 & 1

[2022-10-14 07:20] rossfarrugia commented on #1496
@zdz2101 did you run `pkgdown::build_site()` to check if it all renders ok on the site? if so then fine to display all columns. for ANRIND i wouldn't think necessary as that function has its own page where people could look for examples.

thanks for the first contribution!

[2022-10-14 12:49] rossfarrugia commented on #1266
@koegerr as discussed the other day, see possible options above

[2022-10-14 14:56] zdz2101 commented on #1496
@pharmaverse/admiral I was able to render these screenshots using pkgdown::build_reference() so I think it should render fine on the site in theory. But when I use pkgdown::build_site() it seems to break at the Building News portion. Any suggestions?

![Image](https://user-images.githubusercontent.com/43018762/195877396-7f7d9f5b-179b-49db-bc80-458fcdadf85a.png)

[2022-10-14 18:27] bms63 commented on #1396
It doesn't look like we can modify the roxygen header to make it more aesthetically pleasing for the user when two functions are on the same page.

https://community.rstudio.com/t/separate-function-documentation-arguments-for-helper-functions/149882

![image](https://user-images.githubusercontent.com/10111024/195915893-c3eda58a-eb82-4ce1-a523-5227db024363.png)

[2022-10-14 19:33] bms63 commented on #1496
Are you on a company vpn?  These curl issues pop up when I have been on GSK's vpn

[2022-10-14 20:43] zdz2101 commented on #1496
I am not, weirdly enough, not running into any issues building admiraldev though, so must be something inside that news.md file, I'll try and troubleshoot a little more

[2022-10-14 20:45] bms63 commented on #1496
are you using the pkgdown version in the lock file?